<script
  lang="ts"
  setup
>
import Category from '@/ts/api/models/category';
import CategoryChip from '@/ts/components/categories/CategoryChip.vue';

defineProps<{
  category: Category;
  title?: string;
  subtitle?: string;
}>();
</script>

<template>
  <v-list-item
    v-bind="{ ...$attrs, title: undefined }"
  >
    <template #prepend>
      <slot name="prepend" />
    </template>
    <v-list-item-title>
      <category-chip :category="category" />
    </v-list-item-title>
    <v-list-item-subtitle
      v-if="subtitle"
      class="mt-1 ml-3"
    >
      {{ subtitle }}
    </v-list-item-subtitle>
  </v-list-item>
</template>
