<script
  setup
  lang="ts"
>
import Category from '@/ts/api/models/category';
import useReducedColor from '@/ts/composables/accessibility/useReducedColor';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import categoryColor from '@/ts/utilities/colors/categoryColor';
import translate from '@/ts/utilities/lang/translate';
import { computed } from 'vue';

const props = defineProps<{
  category: Category;
}>();

const color = useReducedColor(computed(() => categoryColor(props.category)));
</script>

<template>
  <v-chip
    :color="color"
    class="category-chip"
    v-bind="$attrs"
  >
    <v-icon
      v-if="category.icon"
      :icon="makeSvgIcon(category.icon)"
      start
    />
    {{ translate(category.name) }}
  </v-chip>
</template>

<style
  lang="scss"
  scoped
>
  .category-chip:deep(.v-chip__content) {
    color: rgb(var(--v-theme-on-background)) !important;
  }
</style>
