<script
  lang="ts"
  setup
>
</script>

<template>
  <transition
    name="router-fade"
    mode="out-in"
  >
    <!--eslint-disable vue/require-toggle-inside-transition -->
    <slot />
    <!--eslint-enable -->
  </transition>
</template>

<style
  lang="scss"
  scoped
>
  .router-fade-enter-active, .router-fade-leave-active {
    transition: opacity 0.15s ease;
  }

  .router-fade-enter-from, .router-fade-leave-to {
    opacity: 0;
  }
</style>
