<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import Activity from '@/ts/api/models/activity';
import Category from '@/ts/api/models/category';
import ActivityDateChip from '@/ts/components/activities/ActivityDateChip.vue';
import ArticleCard from '@/ts/components/articles/ArticleCard.vue';
import CategoryChip from '@/ts/components/categories/CategoryChip.vue';
import AppList from '@/ts/components/data/AppList.vue';
import PinnableIndicator
  from '@/ts/components/resources/composables/pinnable/PinnableIndicator.vue';
import ReviewRating from '@/ts/components/reviews/ReviewRating.vue';
import useActivityRoute from '@/ts/composables/activities/useActivityRoute';
import useRouteActivityType from '@/ts/composables/activities/useRouteActivityType';
import last from '@/ts/utilities/arrays/last';
import mainCategories from '@/ts/utilities/categories/mainCategories';
import FeatureName from '@/ts/utilities/features/featureName';
import translate from '@/ts/utilities/lang/translate';
import addressTitles from '@/ts/utilities/places/addresses/addressTitles';
import computeDescription from '@/ts/utilities/strings/computeDescription';
import { Optional } from '@/ts/utilities/types/optional';
import { ModelInstance } from '@foscia/core';
import { mdiArrowRight, mdiMapMarkerOutline } from '@mdi/js';
import { computed, toRef } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';

const emit = defineEmits<{
  (e: 'click:category', category: Category): void;
}>();

const props = defineProps<{
  about?: Optional<ModelInstance>;
  activity: Activity;
}>();

const { mobile } = useDisplay();
const router = useRouter();
const route = useRoute();
const activityTo = useActivityRoute(toRef(props, 'activity'), toRef(props, 'about'));
const activityType = useRouteActivityType();

const categories = computed(() => mainCategories(props.activity.categories ?? []));

const categoryTo = (category: Category) => ({
  path: route.path,
  query: {
    ...route.query,
    page: '1',
    categories: [category.id],
  },
});

const onActivityClick = () => {
  router.push(activityTo.value);
};

const onCategoryClick = (category: Category) => {
  emit('click:category', category);
};
</script>

<template>
  <article-card
    :cover="activity.cover"
    @click="onActivityClick"
  >
    <template #badge>
      <div class="activity__badges position-absolute top-0 pt-12">
        <activity-date-chip
          :activity="activity"
          :size="mobile ? undefined : 'large'"
          class="bg-background"
        />
      </div>
    </template>
    <template #body>
      <v-card-title class="pt-md-8">
        <div class="d-flex flex-column flex-md-row align-start align-md-center">
          <div
            class="font-weight-bold mr-auto"
            role="heading"
            aria-level="2"
          >
            <pinnable-indicator :pinnable="activity" />
            {{ translate(activity.name) }}
          </div>
          <div
            v-if="(
              FeatureName.REVIEWS.check()
              && ActivityTypeCode.ACTIVITIES.is(activityType)
              && activity.reviewsSummary
            )"
            class="text-body-2 ml-0 ml-md-4"
          >
            <review-rating
              :rating="activity.reviewsSummary.rating"
              :total="activity.reviewsSummary.total"
            />
          </div>
        </div>
      </v-card-title>
      <v-card-text
        v-if="categories.length"
        class="flex-grow-0 py-0"
      >
        <app-list :items="categories">
          <template #item="{ item }">
            <category-chip
              :to="categoryTo(item)"
              :category="item"
              @click.stop="onCategoryClick(item)"
            />
          </template>
        </app-list>
      </v-card-text>
      <v-card-text class="flex-grow-0">
        <p class="text-caption text-formatted my-0">
          {{ translate(computeDescription(activity.description, activity.body)) }}
        </p>
      </v-card-text>
    </template>
    <template #actions>
      <v-card-actions class="justify-space-between">
        <span class="text-body-2 text-medium-emphasis pl-2">
          <v-icon
            :title="$t('resources.activities.labels.place')"
            :icon="mdiMapMarkerOutline"
            role="img"
            aria-hidden="false"
            start
          />
          <span v-if="activity.place?.address ?? activity.address">
            {{ last(addressTitles(activity.place?.address ?? activity.address!)) }}
          </span>
          <span v-else>
            {{ $t('resources.activities.states.noPlace') }}
          </span>
        </span>
        <v-btn
          :to="activityTo"
          :title="$t('actions.scoped.read', { name: translate(activity.name) })"
          :append-icon="mdiArrowRight"
          variant="tonal"
          size="large"
        >
          {{ $t('actions.read') }}
        </v-btn>
      </v-card-actions>
    </template>
  </article-card>
</template>

<style
  lang="scss"
  scoped
>
  .activity__badges :deep(.v-chip) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
</style>
