<script
  setup
  lang="ts"
>
import Activity from '@/ts/api/models/activity';
import computeActivityDates from '@/ts/api/utilities/activities/computeActivityDates';
import computeActivityPeriods from '@/ts/api/utilities/activities/computeActivityPeriods';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import DatesRange from '@/ts/components/common/dates/DatesRange.vue';
import OpeningDatesHoursTable from '@/ts/components/common/openingHours/OpeningDatesHoursTable.vue';
import OpeningWeekdaysHoursTable from '@/ts/components/common/openingHours/OpeningWeekdaysHoursTable.vue';
import AppList from '@/ts/components/data/AppList.vue';
import useActivityFeature from '@/ts/composables/activities/useActivityFeature';
import {
  mdiCalendarBlankOutline,
  mdiCalendarMultiselectOutline,
  mdiCalendarRangeOutline,
  mdiChevronDown,
  mdiChevronUp,
  mdiRepeatVariant,
} from '@mdi/js';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref, toRef } from 'vue';

const props = defineProps<{
  activity: Activity;
  past?: boolean;
}>();

const mainFeature = useActivityFeature(toRef(props, 'activity'));

const panelId = ref(`opening-hours-panel-${uuidV4()}`);
const expanded = ref(false);

const activityPeriods = computed(() => computeActivityPeriods(props.activity, props.past));
const activityDates = computed(() => computeActivityDates(props.activity, false, props.past));

const buttonAttrs = computed(() => ({
  appendIcon: expanded.value ? mdiChevronUp : mdiChevronDown,
  'aria-expanded': String(expanded.value),
  'aria-controls': panelId.value,
  role: 'button',
  tabindex: '0',
  onClick: () => {
    expanded.value = !expanded.value;
  },
}));
</script>

<template>
  <div
    role="listitem"
    class="info-list__item info-list__item--main"
  >
    <template
      v-if="activity.openingOnPeriods && (activityPeriods[1].length || !activityPeriods[0].length)"
    >
      <v-list-item v-bind="buttonAttrs">
        <template #prepend>
          <v-icon
            :title="$t('resources.activities.labels.openingPeriods.title')"
            :icon="activityPeriods[1].length ? mdiCalendarRangeOutline : mdiRepeatVariant"
            role="img"
            aria-hidden="false"
            start
          />
        </template>
        <div>
          <app-list
            v-if="activityPeriods[1].length"
            :items="activityPeriods[1]"
            class="flex-grow-1 mt-1"
          >
            <template #item="{ item }">
              <v-chip
                :color="mainFeature.props.color"
                variant="flat"
              >
                <dates-range
                  :start="item.start"
                  :end="item.end"
                />
              </v-chip>
            </template>
          </app-list>
          <span v-else>
            {{ $t('resources.activities.labels.openingPeriods.none') }}
          </span>
        </div>
      </v-list-item>
      <v-expand-transition>
        <div
          v-show="expanded"
          :id="panelId"
          class="info-list__item__inner"
        >
          <opening-weekdays-hours-table
            :hours="activity.openingWeekdaysHours"
            today-first
            today-highlight
          />
        </div>
      </v-expand-transition>
    </template>
    <v-list-item v-else-if="!activity.openingOnPeriods && activityDates[1].length">
      <template #prepend>
        <v-icon
          :title="$t('resources.activities.labels.openingDatesHours.label')"
          :icon="mdiCalendarMultiselectOutline"
          role="img"
          aria-hidden="false"
          start
        />
      </template>
      <opening-dates-hours-table
        :hours="activityDates[1]"
        :open24-label="$t('common.openingHours.labels.openFullDay')"
      >
        <template #label="{ label }">
          <v-chip
            :color="mainFeature.props.color"
            variant="flat"
          >
            {{ label }}
          </v-chip>
        </template>
      </opening-dates-hours-table>
    </v-list-item>
    <template v-else-if="!past">
      <v-list-item :prepend-icon="mdiCalendarBlankOutline">
        <v-chip
          color="error"
          class="ma-1"
        >
          {{ $t('resources.activities.states.noDateSoon') }}
        </v-chip>
      </v-list-item>
      <activity-opening-info-list-group
        :activity="activity"
        class="mt-n4"
        past
      />
    </template>
    <app-divider
      v-if="!past"
      class="mx-4"
    />
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .activity-periods-opening-hours {
    --indent-padding: 0px;
  }
</style>
