<script
  setup
  lang="ts"
>
import Activity from '@/ts/api/models/activity';
import computeActivityDates from '@/ts/api/utilities/activities/computeActivityDates';
import computeActivityPeriods from '@/ts/api/utilities/activities/computeActivityPeriods';
import DatesList from '@/ts/components/common/dates/DatesList.vue';
import DatesRange from '@/ts/components/common/dates/DatesRange.vue';
import useActivityFeature from '@/ts/composables/activities/useActivityFeature';
import { mdiCalendarBlankOutline, mdiCalendarRangeOutline, mdiRepeatVariant } from '@mdi/js';
import { computed, toRef } from 'vue';

const props = defineProps<{
  activity: Activity;
  past?: boolean;
}>();

const mainFeature = useActivityFeature(toRef(props, 'activity'));
const activityPeriods = computed(() => computeActivityPeriods(props.activity, props.past));
const activityDates = computed(() => computeActivityDates(props.activity, true, props.past));
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <template
    v-if="activity.openingOnPeriods && (activityPeriods[1].length || !activityPeriods[0].length)"
  >
    <v-chip
      v-if="activityPeriods[1].length"
      :color="mainFeature.props.color"
      variant="flat"
      v-bind="$attrs"
    >
      <template #prepend>
        <v-icon
          :title="$t('resources.activities.states.nextOpening.period')"
          :icon="mdiCalendarRangeOutline"
          role="img"
          aria-hidden="false"
          start
        />
      </template>
      <dates-range
        :start="activityPeriods[1][0].start"
        :end="activityPeriods[1][0].end"
      />
    </v-chip>
    <v-chip
      v-else
      :color="mainFeature.props.color"
      variant="flat"
      v-bind="$attrs"
    >
      <template #prepend>
        <v-icon
          :title="$t('resources.activities.states.nextOpening.period')"
          :icon="mdiRepeatVariant"
          role="img"
          aria-hidden="false"
          start
        />
      </template>
      {{ $t('resources.activities.labels.openingPeriods.none') }}
    </v-chip>
  </template>
  <v-chip
    v-else-if="!activity.openingOnPeriods && activityDates[1].length"
    :color="mainFeature.props.color"
    variant="flat"
    v-bind="$attrs"
  >
    <template #prepend>
      <v-icon
        :title="$t('resources.activities.states.nextOpening.dates')"
        :icon="mdiCalendarRangeOutline"
        role="img"
        aria-hidden="false"
        start
      />
    </template>
    <dates-list :dates="activityDates[1].map((d) => d.date)" />
  </v-chip>
  <div v-else-if="!past">
    <div>
      <v-chip
        :prepend-icon="mdiCalendarBlankOutline"
        color="error"
        v-bind="$attrs"
      >
        {{ $t('resources.activities.states.noDateSoon') }}
      </v-chip>
    </div>
    <div class="mt-2">
      <activity-date-chip
        :activity="activity"
        past
      />
    </div>
  </div>
</template>
