<script
  setup
  lang="ts"
>
import Activity from '@/ts/api/models/activity';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import ReviewCreateDialog from '@/ts/components/reviews/ReviewCreateDialog.vue';
import ReviewRatingSummary from '@/ts/components/reviews/ReviewRatingSummary.vue';
import ReviewsList from '@/ts/components/reviews/ReviewsList.vue';
import translate from '@/ts/utilities/lang/translate';
import { ref } from 'vue';

const emit = defineEmits<{
  (e: 'reviews-update'): void;
}>();

defineProps<{
  activity: Activity;
  updateKey: number;
}>();

const scrollViewRef = window.document;

const reviewed = ref(true);
const createdKey = ref(0);

const onReviewed = (alreadyReviewed: boolean) => {
  reviewed.value = alreadyReviewed;
};

const onReviewCreated = () => {
  createdKey.value += 1;
  reviewed.value = true;
  emit('reviews-update');
};

const onReviewUpdated = () => {
  reviewed.value = true;
  emit('reviews-update');
};
</script>

<template>
  <v-card>
    <v-card-title
      role="heading"
      aria-level="2"
    >
      {{ $t('reviews.scoped.over', { name: translate(activity.name) }) }}
    </v-card-title>
    <app-divider />
    <v-card-text :key="`summary-${updateKey}`">
      <review-rating-summary
        v-if="activity.reviewsSummary"
        :summary="activity.reviewsSummary"
        :class="{ 'mb-3': !reviewed }"
      />
      <v-expand-transition>
        <div
          v-if="!reviewed || !activity.reviewsSummary"
          class="text-center"
        >
          <review-create-dialog
            :reviewable="activity"
            :reviewed="reviewed && !!activity.reviewsSummary"
            @created="onReviewCreated"
          />
        </div>
      </v-expand-transition>
    </v-card-text>
    <app-divider />
    <v-card-title
      id="reviews-list-elements-description"
      :key="`heading-${updateKey}`"
      role="heading"
      aria-level="3"
    >
      {{ $t('reviews.scoped.count', { n: activity.reviewsSummary?.total ?? 0 }) }}
    </v-card-title>
    <div
      id="reviews-list-behavior-description"
      class="d-sr-only"
    >
      {{ $t('states.list.loadOnScroll') }}
    </div>
    <reviews-list
      v-if="activity.reviewsSummary"
      :key="createdKey"
      :reviewable="activity"
      :scroll-view="scrollViewRef"
      aria-labelledby="map-card-title"
      aria-describedby="reviews-list-elements-description reviews-list-behavior-description"
      large
      @reviewed="onReviewed"
      @updated="onReviewUpdated"
    />
  </v-card>
</template>
