<script
  lang="ts"
  setup
>
import useSize from '@/ts/composables/common/useSize';
import { SizeName } from '@/ts/utilities/common/sizes';
import { computed } from 'vue';

const props = defineProps<{
  main?: boolean;
  size?: SizeName;
  fluid?: boolean;
}>();

const { size: sizeValue } = useSize(props.size);

const classes = computed(() => ({
  'py-8': props.main,
  'py-sm-14': props.main,
}));

const styles = computed(() => ({
  'max-width': !props.fluid && props.size
    ? `${sizeValue.value}px !important`
    : undefined,
}));
</script>

<template>
  <v-container
    :fluid="fluid"
    :style="styles"
    :class="classes"
    class="app-container px-3 px-sm-4"
  >
    <slot />
  </v-container>
</template>

<style
  lang="scss"
  scoped
>
  @media screen and (min-width: 1920px) {
    .app-container:not(.v-container--fluid) {
      max-width: 1264px;
    }
  }
</style>
