<script
  lang="ts"
  setup
>
import AppHeading from '@/ts/components/common/AppHeading.vue';
import AppContainer from '@/ts/components/layouts/AppContainer.vue';
import useAnnouncer from '@/ts/composables/pages/useAnnouncer';
import { SizeName } from '@/ts/utilities/common/sizes';

const props = defineProps<{
  title: string;
  size?: SizeName;
  fluid?: boolean;
  noAnnounce?: boolean;
}>();

if (!props.noAnnounce) {
  useAnnouncer().announceOnMounted({ title: props.title });
}
</script>

<template>
  <app-container
    :size="size"
    :fluid="fluid"
    main
  >
    <slot name="prepend" />
    <app-heading
      level="1"
      class="d-flex align-center text-primary"
    >
      <slot name="icon" />
      {{ title }}
    </app-heading>
    <slot />
  </app-container>
</template>
