<script
  setup
  lang="ts"
>
import AppTooltipBtn from '@/ts/components/common/AppTooltipBtn.vue';
import MglMapMarker from '@/ts/components/places/map/mgl/MglMapMarker.vue';
import MapObstacleDialog from '@/ts/components/places/obstacles/MapObstacleDialog.vue';
import useThemeVariant from '@/ts/composables/themes/useThemeVariant';
import foregroundColor from '@/ts/utilities/colors/foregroundColor';
import toMglCoordinates from '@/ts/utilities/places/map/mgl/toMglCoordinates';
import Obstacle from '@/ts/utilities/places/obstacles/obstacle';
import { mdiTrafficCone } from '@mdi/js';
import { Map } from 'maplibre-gl';
import { computed } from 'vue';
import { useTheme } from 'vuetify';

const props = defineProps<{
  map: Map;
  obstacle: Obstacle;
  hide?: boolean;
}>();

const theme = useTheme();
const lightVariant = useThemeVariant(false);

const fgColor = computed(() => foregroundColor(
  theme.themes.value[lightVariant.value].colors.warning,
));

const onFocus = () => {
  props.map.flyTo({ center: toMglCoordinates(props.obstacle.point), animate: false });
};
</script>

<template>
  <mgl-map-marker
    :map="map"
    :coordinates="obstacle.point"
    pitch-alignment="map"
    anchor="center"
    minor
  >
    <map-obstacle-dialog
      :map="map"
      :obstacle="obstacle"
      @close="onFocus"
    >
      <template #activator="{ props: activatorProps }">
        <app-tooltip-btn
          :theme="lightVariant"
          :title="obstacle.name || $t('map.map.obstacles.description.noTitle')"
          :class="{ 'd-none': hide }"
          location="top"
          color="warning"
          density="comfortable"
          size="small"
          icon
          v-bind="activatorProps"
          @focus="onFocus"
        >
          <v-icon
            :icon="mdiTrafficCone"
            :color="fgColor"
          />
        </app-tooltip-btn>
      </template>
    </map-obstacle-dialog>
  </mgl-map-marker>
</template>
