<script
  setup
  lang="ts"
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppImg from '@/ts/components/common/AppImg.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import { useLangStore } from '@/ts/stores/lang';
import formatDate from '@/ts/utilities/dates/formatDate';
import Obstacle from '@/ts/utilities/places/obstacles/obstacle';
import { ref, watch } from 'vue';

defineProps<{
  obstacle: Obstacle;
}>();

const emit = defineEmits<{
  (e: 'close'): void;
}>();

const lang = useLangStore();

const dialog = ref(false);

watch(dialog, (value) => {
  if (value) {
    emit('close');
  }
});
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="obstacle.name || $t('map.map.obstacles.description.noTitle')"
    :subtitle="$t('map.map.obstacles.description.reportedOn', {
      date: formatDate(obstacle.reportedAt, lang.locale),
    })"
    size="large"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row>
        <v-col
          v-if="obstacle.image"
          cols="12"
          class="obstacle-image-container text-center"
        >
          <app-img
            :src="obstacle.image"
            class="obstacle-image rounded-lg"
          />
        </v-col>
        <v-col cols="12">
          <p
            :class="{ 'text-center': !obstacle.description }"
            class="text-formatted my-0"
          >
            {{ obstacle.description ?? $t('map.map.obstacles.description.noDetails') }}
          </p>
        </v-col>
      </v-row>
    </v-card-text>
  </app-dialog>
</template>

<style
  lang="scss"
  scoped
>
  .obstacle-image-container {
    max-height: 30vh;
    @media(min-width: 960px) {
      max-height: 50vh;
    }
  }

  .obstacle-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
  }
</style>
