<script
  setup
  lang="ts"
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import MapObstacleDialog from '@/ts/components/places/obstacles/MapObstacleDialog.vue';
import { useLangStore } from '@/ts/stores/lang';
import formatDate from '@/ts/utilities/dates/formatDate';
import Obstacle from '@/ts/utilities/places/obstacles/obstacle';
import { ref } from 'vue';

defineProps<{
  obstacles: Obstacle[];
}>();

const lang = useLangStore();

const dialog = ref(false);
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="$t('map.map.obstacles.title')"
    :subtitle="$t('map.map.obstacles.count', { n: obstacles.length })"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text
      role="list"
      class="px-0 py-2"
    >
      <div
        v-for="obstacle in (obstacles ?? [])"
        :key="`obstacles-${obstacle.id}`"
        role="listitem"
      >
        <map-obstacle-dialog :obstacle="obstacle">
          <template #activator="{ props: activatorProps }">
            <v-list-item
              :prepend-avatar="obstacle.image ?? undefined"
              :title="obstacle.name || $t('map.map.obstacles.description.noTitle')"
              :subtitle="$t('map.map.obstacles.description.reportedOn', {
                date: formatDate(obstacle.reportedAt, lang.locale),
              })"
              role="button"
              class="rounded-lg"
              v-bind="activatorProps"
            />
          </template>
        </map-obstacle-dialog>
      </div>
    </v-card-text>
  </app-dialog>
</template>

<style
  lang="scss"
  scoped
>
  .obstacle-image-container {
    max-height: 30vh;
    @media(min-width: 960px) {
      max-height: 50vh;
    }
  }

  .obstacle-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
  }
</style>
