<script
  lang="ts"
  setup
>
import Media from '@/ts/api/models/media';
import AppImg from '@/ts/components/common/AppImg.vue';
import AppImgDialog from '@/ts/components/common/AppImgDialog.vue';
import useManyMediaImg from '@/ts/composables/media/useManyMediaImg';
import useMediaImg from '@/ts/composables/media/useMediaImg';
import useThemeVariant from '@/ts/composables/themes/useThemeVariant';
import wrap from '@/ts/utilities/arrays/wrap';
import isNone from '@/ts/utilities/common/isNone';
import { Arrayable } from '@/ts/utilities/types/arrayable';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiImageMultipleOutline } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  media?: Arrayable<Optional<Media>>;
  height?: string | number;
  maxHeight?: string | number;
  full?: boolean;
  noDialog?: boolean;
}>();

const themeLight = useThemeVariant(false);

const cover = useMediaImg(computed(() => wrap(props.media)[0]));
const images = useManyMediaImg(computed(() => wrap(props.media)));

const coverStyles = computed(() => ({
  height: isNone(props.height) ? undefined : `${props.height}px`,
  'max-height': isNone(props.maxHeight) ? undefined : `${props.maxHeight}px`,
}));
</script>

<template>
  <div v-if="cover">
    <div
      :class="`v-theme--${themeLight}`"
      class="d-flex position-relative rounded-xl bg-image-primary-underlay"
    >
      <app-img
        :style="coverStyles"
        :class="{ 'media-cover--full': full }"
        class="media-cover"
        cover
        v-bind="cover"
      />
      <template v-if="full">
        <div class="media-image__underlay position-absolute position--fill" />
        <div class="media-image__wrapper d-flex position-absolute position--fill">
          <app-img
            class="media-image ma-auto"
            v-bind="cover"
          />
        </div>
      </template>
      <app-img-dialog
        v-if="!noDialog"
        :images="images"
      >
        <template #activator="{ props: activatorProps }">
          <div class="position-absolute bottom-0 left-0 right-0 text-center pa-2">
            <v-btn
              :prepend-icon="mdiImageMultipleOutline"
              variant="tonal"
              class="bg-surface"
              v-bind="activatorProps"
            >
              {{ $t('forms.media.library.photos', { n: images.length }) }}
            </v-btn>
          </div>
        </template>
      </app-img-dialog>
    </div>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .media-cover {
    width: 100%;
    border-radius: inherit;
  }

  .media-cover--full {
    opacity: 0.25;
  }

  .media-image__underlay {
    backdrop-filter: blur(16px);
    border-radius: inherit;
  }

  .media-image__wrapper {
    border-radius: inherit;
    overflow: hidden;
  }

  .media-image {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: contain;
  }
</style>
