<script
  lang="ts"
  setup
>
import Media from '@/ts/api/models/media';
import MediaLibraryListItem from '@/ts/components/media/MediaLibraryListItem.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import removeOne from '@/ts/utilities/arrays/removeOne';
import wrap from '@/ts/utilities/arrays/wrap';
import { Optional } from '@/ts/utilities/types/optional';
import { computed, PropType, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value: Optional<Media | Media[]>): void;
}>();

const props = defineProps({
  media: {
    type: Array as PropType<Media[]>,
    default: () => [],
  },
  modelValue: {
    type: [Object, Array] as PropType<Optional<Media[] | Media>>,
    default: () => undefined,
  },
  selectable: Boolean,
  multiple: Boolean,
  density: {
    type: String,
    default: undefined,
  },
});

const lazyValue = useLazyValue(computed(() => wrap(props.modelValue)));

const colAttrs = computed(() => ({
  default: { cols: '6', md: '4' },
  comfortable: { cols: '6', sm: '4', md: '3', lg: '2' },
}[props.density ?? 'default']));

const isSelected = (media: Media) => lazyValue.value.some((m) => m.id === media.id);

const select = (media: Media) => {
  const selected = isSelected(media);
  if (props.multiple) {
    if (selected) {
      removeOne(lazyValue.value, media);
    } else {
      lazyValue.value.push(media);
    }
  } else {
    lazyValue.value = selected ? [] : [media];
  }
};

const mediaItemProps = (media: Media) => (props.selectable ? {
  selected: isSelected(media),
  ariaChecked: String(isSelected(media)),
  role: 'checkbox',
  tabindex: 0,
  onClick: () => select(media),
} : { selected: null });

watch(lazyValue, (value) => {
  emit('update:model-value', props.multiple ? value : value[0]);
});
</script>

<template>
  <v-row
    role="list"
    dense
  >
    <v-col
      v-for="m in media"
      :key="m.id"
      v-bind="colAttrs"
    >
      <media-library-list-item
        :media="m"
        class="h-100"
        v-bind="mediaItemProps(m)"
      >
        <template #actions="actionsProps">
          <slot
            name="actions"
            v-bind="actionsProps"
          />
        </template>
      </media-library-list-item>
    </v-col>
  </v-row>
</template>
