<script
  lang="ts"
  setup
>
import Media from '@/ts/api/models/media';
import useClickListener from '@/ts/composables/dom/useClickListener';
import useMediaImg from '@/ts/composables/media/useMediaImg';
import isNil from '@/ts/utilities/common/isNil';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiCheckCircleOutline, mdiCircleOutline, mdiEyeOffOutline } from '@mdi/js';
import { computed, toRef } from 'vue';

const props = defineProps<{
  media: Media;
  selected?: Optional<boolean>;
  onClick?: (e: Event) => void;
}>();

const image = useMediaImg(toRef(props, 'media'));
const isSelectable = computed(() => !isNil(props.selected));
const isPrivate = computed(() => props.media.visibility !== 'public');

const itemIcon = computed(() => (
  props.selected ? mdiCheckCircleOutline : mdiCircleOutline
));
const itemColor = computed(() => (
  props.selected ? 'on-primary' : 'on-surface'
));

const cardAttrs = useClickListener(props.onClick);
</script>

<template>
  <v-card
    :class="{ 'media--selected text-primary': selected, 'text-on-surface': !selected }"
    class="media outline--custom position-relative"
    elevation="0"
    v-bind="{ ...$attrs, ...cardAttrs }"
  >
    <div class="media__underlay position-absolute position--fill" />
    <v-img
      v-if="image"
      aspect-ratio="1"
      sizes="350px"
      alt=""
      cover
      v-bind="image"
    />
    <v-responsive
      v-else
      aspect-ratio="1"
      content-class="d-flex align-center justify-center"
    >
      <v-icon
        :icon="media.mediaType.props.icon"
        class="media__text"
        size="36"
      />
    </v-responsive>
    <div class="media__overlay media__label position-absolute right-0 bottom-0 left-0">
      <div class="d-flex align-center justify-space-between pl-2">
        <div
          :title="media.name"
          class="text-truncate text-caption"
        >
          {{ media.name }}
        </div>
        <slot
          name="actions"
          :item="media"
          :item-color="itemColor"
        />
      </div>
    </div>
    <div
      v-if="isSelectable"
      class="media__overlay media__selection position-absolute top-0 left-0"
    >
      <v-icon
        :icon="itemIcon"
        :color="itemColor"
        class="ma-2"
      />
    </div>
    <div
      v-if="isPrivate"
      class="media__overlay media__visibility position-absolute top-0 right-0"
    >
      <v-icon
        :title="$t('forms.media.library.details.private')"
        :icon="mdiEyeOffOutline"
        :color="itemColor"
        role="img"
        aria-hidden="false"
        class="ma-2"
      />
    </div>
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  .media {
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
    outline-offset: 1px;
    outline-width: 2px;
    outline-color: auto;

    :deep(img) {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

    &:after {
      border-width: 4px !important;
    }

    &__underlay {
      background: rgb(var(--v-theme-on-surface), 0.32);
      border-radius: inherit;
    }

    &__text {
      color: rgb(var(--v-theme-on-surface), 0.80);
    }

    &__overlay {
      background: rgb(var(--v-theme-on-surface), 0.80);
      color: rgb(var(--v-theme-surface));
    }

    &__label {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;

      &, > div {
        min-height: 48px;
      }
    }

    &__selection {
      border-top-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    &__visibility {
      border-top-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    &--selected {
      .media__text {
        color: rgb(var(--v-theme-primary), 0.80);
      }

      .media__overlay {
        background: rgb(var(--v-theme-primary), 0.80);
        color: rgb(var(--v-theme-on-primary));
      }
    }
  }
</style>
