<script
  lang="ts"
  setup
>
import Media, { MediaVisibility } from '@/ts/api/models/media';
import RequiresVerifiedEmailAlert from '@/ts/components/account/RequiresVerifiedEmailAlert.vue';
import AppResponsiveBtn from '@/ts/components/common/AppResponsiveBtn.vue';
import MediaDragOverlay from '@/ts/components/media/MediaDragOverlay.vue';
import MediaLibraryContent from '@/ts/components/media/MediaLibraryContent.vue';
import useAsync from '@/ts/composables/common/useAsync';
import usePickFiles from '@/ts/composables/forms/usePickFiles';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import orderBy from '@/ts/utilities/arrays/orderBy';
import verified from '@/ts/utilities/authorizations/verified';
import ExceededUploadSizeError from '@/ts/utilities/media/uploads/exceededUploadSizeError';
import OnlyImagesAllowedError from '@/ts/utilities/media/uploads/onlyImagesAllowedError';
import OnlyVideosAllowedError from '@/ts/utilities/media/uploads/onlyVideosAllowedError';
import uploadMedia from '@/ts/utilities/media/uploads/uploadMedia';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiTrayArrowUp } from '@mdi/js';
import { computed, PropType, ref } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: Optional<Media | Media[]>): void;
}>();

const props = defineProps({
  modelValue: {
    type: [Object, Array] as PropType<Optional<Media[] | Media>>,
    default: () => undefined,
  },
  only: {
    type: String as PropType<'image' | 'video'>,
    default: () => undefined,
  },
  visibility: {
    type: String as PropType<MediaVisibility>,
    default: () => undefined,
  },
  selectable: Boolean,
  multiple: Boolean,
  contentClass: {
    type: String,
    default: undefined,
  },
  contentStyle: {
    type: String,
    default: undefined,
  },
});

const i18n = useI18n();
const snackbar = useSnackbarStore();
const {
  loading,
  btnLoading,
  asyncRun,
} = useAsync();

const mediaLibraryContentRef = ref<typeof MediaLibraryContent | null>(null);
const uploadProgress = ref(null as number | null);

const canUpload = computed(() => verified());

const {
  dragging,
  onChoose,
  onDragAndDrop,
} = usePickFiles({
  loading,
  accept: {
    image: 'image/*',
    video: 'video/*',
    any: undefined,
  }[props.only ?? 'any'],
  multiple: true,
  onInput: (files) => asyncRun(async () => {
    if (!canUpload.value) {
      return;
    }

    if (files.length > 5) {
      snackbar.toast({
        message: i18n.t('forms.media.library.toasts.countExceeded', { n: 5 }),
        icon: '$info',
      });

      return;
    }

    try {
      const media = await uploadMedia(files, {
        visibility: props.visibility ?? 'public',
        only: props.only,
        progressCallback: (value) => {
          uploadProgress.value = value;
        },
      });

      await mediaLibraryContentRef.value!.onAdd(orderBy(media, 'createdAt', 'desc'));

      snackbar.toast(i18n.t('forms.media.library.toasts.uploaded', { n: media.length }));

      uploadProgress.value = null;
    } catch (error) {
      uploadProgress.value = null;

      if (error instanceof OnlyImagesAllowedError) {
        snackbar.toast({
          message: i18n.t('forms.media.library.toasts.onlyImage'),
          icon: '$info',
        });

        return;
      }

      if (error instanceof OnlyVideosAllowedError) {
        snackbar.toast({
          message: i18n.t('forms.media.library.toasts.onlyVideo'),
          icon: '$info',
        });

        return;
      }

      if (error instanceof ExceededUploadSizeError) {
        snackbar.toast({
          message: i18n.t('forms.media.library.toasts.sizeExceeded'),
          icon: '$error',
        });

        return;
      }

      throw error;
    }
  }),
});
</script>

<template>
  <div
    v-bind="canUpload ? onDragAndDrop : {}"
    :class="contentClass"
    :style="contentStyle"
  >
    <media-library-content
      ref="mediaLibraryContentRef"
      :model-value="modelValue"
      :selectable="selectable"
      :multiple="multiple"
      :only="only"
      :visibility="visibility"
      :upload-progress="uploadProgress"
      @update:model-value="emit('update:model-value', $event)"
    >
      <template #title-append>
        <v-spacer />
        <app-responsive-btn
          :title="$t('actions.add')"
          :icon="mdiTrayArrowUp"
          :disabled="!canUpload"
          v-bind="btnLoading"
          @click="onChoose"
        />
      </template>
      <template
        #list-prepend
      >
        <v-row dense>
          <v-col cols="12">
            <requires-verified-email-alert
              v-if="!canUpload"
              :message="$t('forms.media.library.alerts.needVerifiedEmail')"
              immediate
            />
            <div
              v-else
              class="text-body-2 text-medium-emphasis text-center"
            >
              {{ $t('forms.media.library.hint.drop') }}
            </div>
          </v-col>
        </v-row>
      </template>
    </media-library-content>
  </div>
  <media-drag-overlay :active="dragging" />
</template>
