<script
  lang="ts"
  setup
>
import { mdiTrayArrowUp } from '@mdi/js';

defineProps<{
  active: boolean
}>();
</script>

<template>
  <v-fade-transition>
    <div
      v-show="active"
      class="media-drag-overlay position-absolute position--fill z-index-1"
    >
      <v-icon
        :icon="mdiTrayArrowUp"
        color="primary"
        size="128"
      />
    </div>
  </v-fade-transition>
</template>

<style
  lang="scss"
  scoped
>
  .media-drag-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    border-width: 4px;
    border-style: dashed;
    border-color: rgb(var(--v-theme-primary));
    background: rgb(var(--v-theme-on-surface), 0.12);

    &, & * {
      pointer-events: none;
      user-select: none;
    }
  }
</style>
