<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppPagination from '@/ts/components/common/AppPagination.vue';
import makeTableHeader, { TableHeader } from '@/ts/components/data/makeTableHeader';
import AppTable from '@/ts/components/data/tables/AppTable.vue';
import AppTableResponsiveCell from '@/ts/components/data/tables/AppTableResponsiveCell.vue';
import AppTableResponsiveRow from '@/ts/components/data/tables/AppTableResponsiveRow.vue';
import ManyActivatorsList from '@/ts/components/resources/core/activators/many/ManyActivatorsList.vue';
import OneActivatorsList from '@/ts/components/resources/core/activators/one/OneActivatorsList.vue';
import ResourceLayout from '@/ts/components/resources/core/layouts/ResourceLayout.vue';
import { Input } from '@/ts/composables/forms/useInput';
import { ManyActivatorsFactory, OneActivatorsFactory } from '@/ts/composables/resources/composables/core/types';
import useCoreManyActivators from '@/ts/composables/resources/composables/core/useCoreManyActivators';
import useCoreOneActivators from '@/ts/composables/resources/composables/core/useCoreOneActivators';
import useResourceHeaders from '@/ts/composables/resources/core/useResourceHeaders';
import useResourceInstances from '@/ts/composables/resources/core/useResourceInstances';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import last from '@/ts/utilities/arrays/last';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import { computed, ref, toRef } from 'vue';
import { useDisplay } from 'vuetify';

const { xs } = useDisplay();

const props = defineProps<{
  headers: TableHeader[];
  defaultHeaders?: Optional<string[]>;
  filters?: readonly Input[];
  filtersTransformers?: ((filters: Dictionary) => Dictionary)[];
  translatable?: boolean;
  manyActivators?: ManyActivatorsFactory;
  oneActivators?: OneActivatorsFactory;
}>();

const type = useResourceType();
const meta = useResourceMeta(type);
const {
  loading, title, sorts, data, fetch, onSubmit, onPage, onSort,
} = useResourceInstances<any, readonly Input[]>(type, {
  headers: props.headers,
  filters: props.filters,
  filtersTransformers: props.filtersTransformers,
});

const onlyHeaders = ref(props.defaultHeaders ?? []);

const allResourceHeaders = useResourceHeaders(toRef(props, 'headers'), [], true);
const resourceHeaders = useResourceHeaders(allResourceHeaders, onlyHeaders);
const actionHeader = makeTableHeader('actions', { classes: 'actions-column' });
const allHeaders = computed(() => [
  actionHeader,
  ...resourceHeaders.value,
]);

const refresh = () => fetch();
const invalidate = () => fetch();

const slotData = computed(() => ({
  invalidate,
  refresh,
}));

const viewManyActivators = props.manyActivators ?? useCoreManyActivators();
const viewOneActivators = props.oneActivators ?? useCoreOneActivators();
</script>

<template>
  <resource-layout
    :translatable="translatable"
    :title="title"
    :icon="meta.icon"
    :color="meta.color"
  >
    <slot name="prepend" />
    <v-col cols="12">
      <slot
        name="many-actions"
        v-bind="{ ...slotData, type }"
      >
        <many-activators-list
          :activators="viewManyActivators"
          :type="type"
          :refresh="refresh"
          :invalidate="invalidate"
        />
      </slot>
    </v-col>
    <slot name="prepend-table" />
    <v-col
      v-if="$slots.filters"
      cols="12"
    >
      <v-form
        :aria-label="$t('accessibility.forms.search.labels.page')"
        :aria-description="$t('accessibility.forms.search.descriptions.table')"
        role="search"
        @submit="onSubmit"
      >
        <v-row dense>
          <slot name="filters" />
        </v-row>
      </v-form>
    </v-col>
    <v-col cols="12">
      <app-table
        :caption="last(title)"
        :sorts="sorts"
        :headers="allHeaders"
        :empty="data.instances.length === 0"
        :loading="loading"
        responsive
        @update:sorts="onSort"
      >
        <app-table-responsive-row
          v-for="instance in data.instances"
          :key="instance.id"
        >
          <app-table-responsive-cell
            :title="actionHeader.label"
            class="actions-column"
          >
            <slot
              name="item:actions"
              v-bind="{ ...slotData, instance, actionHeader }"
            >
              <one-activators-list
                :activators="viewOneActivators"
                :instance="instance"
                :refresh="refresh"
                :invalidate="invalidate"
              />
            </slot>
          </app-table-responsive-cell>
          <slot
            name="data"
            v-bind="{ ...slotData, instance, onlyHeaders }"
          />
        </app-table-responsive-row>
        <template #append>
          <app-divider />
          <app-pagination
            :model-value="data.page.current"
            :length="data.page.last"
            :total-visible="xs ? 1 : 4"
            @update:model-value="onPage"
          />
        </template>
      </app-table>
    </v-col>
  </resource-layout>
</template>

<style
  lang="scss"
  scoped
>
  :deep(.actions-column) {
    padding-left: 8px !important;
    padding-right: 8px !important;
    min-width: 140px;

    @media screen and (min-width: 960px) {
      min-width: 275px;
    }
  }
</style>
