<script
  lang="ts"
  setup
>
import { cache } from '@/ts/api/action';
import AppTable from '@/ts/components/data/tables/AppTable.vue';
import OneActivatorsList from '@/ts/components/resources/core/activators/one/OneActivatorsList.vue';
import ResourceLayout from '@/ts/components/resources/core/layouts/ResourceLayout.vue';
import ResourceBack from '@/ts/components/resources/core/navigation/ResourceBack.vue';
import { OneActivatorsFactory } from '@/ts/composables/resources/composables/core/types';
import useCoreOneActivators from '@/ts/composables/resources/composables/core/useCoreOneActivators';
import useResourceInstance from '@/ts/composables/resources/core/useResourceInstance';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useResourcesStore } from '@/ts/stores/resources';

const props = defineProps<{
  translatable?: boolean;
  activators?: OneActivatorsFactory;
}>();

const resources = useResourcesStore();

const type = useResourceType();
const meta = useResourceMeta(type);
const { loading, title, instance, fetch } = useResourceInstance<any>(type);

const forgetInstance = async () => {
  const currentInstance = instance.value;
  if (currentInstance) {
    await cache.forget(currentInstance.$model.$type, currentInstance.id);
  }
};
const refresh = async () => {
  await forgetInstance();
  await fetch();
};
const invalidate = async () => {
  await forgetInstance();
  await resources.invalidateResource(type)();
};

const oneActivators = props.activators ?? useCoreOneActivators();
</script>

<template>
  <resource-layout
    :translatable="translatable"
    :loading="loading"
    :title="title"
    :icon="meta.icon"
    :color="meta.color"
    announce
  >
    <template #prepend>
      <v-col cols="12">
        <resource-back :raw-context="type" />
      </v-col>
    </template>
    <v-slide-y-transition>
      <v-col
        v-if="!loading && instance"
        cols="12"
      >
        <v-row class="v-row--hide-empty">
          <v-col cols="12">
            <slot
              name="actions"
              :instance="instance"
              :refresh="refresh"
              :invalidate="invalidate"
            >
              <one-activators-list
                :activators="oneActivators"
                :instance="instance"
                :refresh="refresh"
                :invalidate="invalidate"
                on-single
              />
            </slot>
          </v-col>
          <slot
            name="prepend-table"
            :instance="instance"
            :refresh="refresh"
            :invalidate="invalidate"
          />
          <slot
            name="table"
            :instance="instance"
            :refresh="refresh"
            :invalidate="invalidate"
          >
            <v-col cols="12">
              <app-table
                :caption="$t('views.resources.one.table.caption')"
                no-overflow
              >
                <slot
                  name="data"
                  :instance="instance"
                  :refresh="refresh"
                  :invalidate="invalidate"
                />
              </app-table>
            </v-col>
          </slot>
          <slot
            name="append-table"
            :instance="instance"
            :refresh="refresh"
            :invalidate="invalidate"
          />
        </v-row>
      </v-col>
    </v-slide-y-transition>
  </resource-layout>
</template>
