<script
  lang="ts"
  setup
>
import fillAndSave from '@/ts/api/utilities/fillAndSave';
import ResourceForm from '@/ts/components/resources/core/forms/ResourceForm.vue';
import ResourceLayout from '@/ts/components/resources/core/layouts/ResourceLayout.vue';
import ResourceBack from '@/ts/components/resources/core/navigation/ResourceBack.vue';
import { FormEvent } from '@/ts/composables/forms/useForm';
import { Input } from '@/ts/composables/forms/useInput';
import useResourceInstance from '@/ts/composables/resources/core/useResourceInstance';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import authorizeGuard from '@/ts/router/guards/authorizeGuard';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { ModelInstance } from '@foscia/core';
import { useI18n } from 'vue-i18n';
import { useRoute, useRouter } from 'vue-router';

type EditProps<I extends ModelInstance> = {
  inputs: readonly Input[] | Dictionary<Input>;
  boot?: (instance: I) => Awaitable<Dictionary | undefined>;
  save?: (instance: I, values: Dictionary) => Awaitable<I>;
  callback?: (instance: I) => Awaitable<void>;
  translatable?: boolean;
};

const props = defineProps<EditProps<any>>();

const route = useRoute();
const router = useRouter();
const i18n = useI18n();
const snackbar = useSnackbarStore();
const type = useResourceType();
const meta = useResourceMeta(type);
const { loading, title, instance } = useResourceInstance<any>(type);

const bootEdit = async () => {
  await authorizeGuard(() => hasPermissionOn('update', instance.value!))(route);

  const values = await props.boot?.(instance.value!);

  return values ?? instance.value!.$values;
};

const onSubmit = async ({ values }: FormEvent<any>) => {
  await (props.save ?? fillAndSave)(instance.value!, values);

  snackbar.toast(i18n.t('actions.toasts.edit', {
    name: meta.title(instance.value!),
  }));

  if (props.callback) {
    await props.callback(instance.value!);
  } else {
    await router.replace(useResourceRouteOne(instance.value!));
  }
};
</script>

<template>
  <resource-layout
    :translatable="translatable"
    :loading="loading"
    :title="title"
    :icon="meta.icon"
    :color="meta.color"
    announce
  >
    <template #prepend>
      <v-col cols="12">
        <resource-back
          v-if="instance"
          :raw-context="instance"
          cancel
        />
      </v-col>
    </template>
    <v-slide-y-transition>
      <v-col
        v-if="!loading && instance"
        cols="12"
      >
        <resource-form
          :inputs="Object.values(inputs)"
          :boot="bootEdit"
          :on-submit="onSubmit"
        >
          <template #default="{ form }">
            <slot
              :instance="instance"
              :form="form"
            />
          </template>
          <template #actions="{ form }">
            <v-btn
              type="submit"
              variant="elevated"
              size="large"
              v-bind="form.btnLoading.value"
            >
              {{ $t('actions.save') }}
            </v-btn>
          </template>
        </resource-form>
      </v-col>
    </v-slide-y-transition>
  </resource-layout>
</template>
