<script
  lang="ts"
  setup
>
import fillAndSave from '@/ts/api/utilities/fillAndSave';
import ResourceForm from '@/ts/components/resources/core/forms/ResourceForm.vue';
import ResourceLayout from '@/ts/components/resources/core/layouts/ResourceLayout.vue';
import ResourceBack from '@/ts/components/resources/core/navigation/ResourceBack.vue';
import { FormEvent } from '@/ts/composables/forms/useForm';
import { Input } from '@/ts/composables/forms/useInput';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceNewInstance from '@/ts/composables/resources/core/useResourceNewInstance';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import useResourceTitle from '@/ts/composables/resources/core/useResourceTitle';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import authorizeGuard from '@/ts/router/guards/authorizeGuard';
import { useResourcesStore } from '@/ts/stores/resources';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { ModelInstance } from '@foscia/core';
import { computed, toRaw } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRoute, useRouter } from 'vue-router';

type CreateProps<I extends ModelInstance> = {
  inputs: readonly Input[] | Dictionary<Input>;
  boot?: (instance: I) => Awaitable<Dictionary | undefined>;
  save?: (instance: I, values: Dictionary) => Awaitable<I>;
  callback?: (instance: I) => Awaitable<void>;
  translatable?: boolean;
};

const props = defineProps<CreateProps<any>>();

const route = useRoute();
const router = useRouter();
const i18n = useI18n();
const snackbar = useSnackbarStore();
const resources = useResourcesStore();
const type = useResourceType();
const meta = useResourceMeta(type);
const title = useResourceTitle(type, 'create');
const { loading, instance, copyInstance } = useResourceNewInstance<any>(type);

const invalidating = computed(() => resources.invalidating(type));

const bootCreate = async () => {
  await authorizeGuard(() => hasPermissionOn(`${meta.policyType}.create`))(route);

  const values = await props.boot?.(instance.value!);

  return {
    ...(copyInstance.value?.$values ?? {}),
    ...(values ?? instance.value!.$values),
  };
};

const onSubmit = async ({ allValues }: FormEvent<any>) => {
  const createdInstance = await (props.save ?? fillAndSave)(toRaw(instance.value!), allValues);

  instance.value = null;

  snackbar.toast(i18n.t('actions.toasts.create', {
    name: meta.title(createdInstance),
  }));

  const invalidateDone = resources.invalidateResource(type);

  if (props.callback) {
    await props.callback(createdInstance);
  } else {
    await router.replace(useResourceRouteOne(createdInstance));
  }

  invalidateDone();
};
</script>

<template>
  <resource-layout
    :translatable="translatable"
    :loading="loading || invalidating"
    :title="title"
    :icon="meta.icon"
    :color="meta.color"
    announce
  >
    <template #prepend>
      <v-col cols="12">
        <resource-back
          :raw-context="type"
          cancel
        />
      </v-col>
    </template>
    <v-slide-y-transition>
      <v-col
        v-if="!loading && instance && !invalidating"
        cols="12"
      >
        <resource-form
          :inputs="Object.values(inputs)"
          :boot="bootCreate"
          :on-submit="onSubmit"
        >
          <template #default="{ form }">
            <slot
              :instance="instance"
              :form="form"
            />
          </template>
          <template #actions="{ form }">
            <v-btn
              type="submit"
              variant="elevated"
              size="large"
              v-bind="form.btnLoading.value"
            >
              {{ $t('actions.create') }}
            </v-btn>
          </template>
        </resource-form>
      </v-col>
    </v-slide-y-transition>
  </resource-layout>
</template>
