<template>
  <i18n-t
    scope="global"
    keypath="accessibility.forms.required"
    tag="p"
    class="required-inputs-hint"
  >
    <template #symbol>
      <span class="text-error">*</span>
    </template>
  </i18n-t>
</template>

<style
  lang="scss"
  scoped
>
  .required-inputs-hint {
    margin: 0;
    font-size: 0.875em;
  }
</style>
