<script
  lang="ts"
  setup
>
import MenuListItemCheck from '@/ts/components/common/menu/MenuListItemCheck.vue';
import VComboboxInput from '@/ts/components/forms/selects/VComboboxInput.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import colors from '@/ts/utilities/colors/colors';
import normalizeColor from '@/ts/utilities/colors/normalizeColor';
import { Optional } from '@/ts/utilities/types/optional';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: string | null): void;
}>();

const props = defineProps<{
  modelValue?: Optional<string>;
}>();

const i18n = useI18n();
const lazyValue = useLazyValue(computed(() => props.modelValue ?? null));

const factory = (search: string) => {
  const value = normalizeColor(search);

  return value ? { value, title: value } : null;
};

const preview = computed(() => normalizeColor(lazyValue.value) ?? 'primary');
const items = computed(() => Object.entries(colors).map(([key, color]) => ({
  value: color,
  title: color,
  props: { subtitle: i18n.t(`forms.color.${key}`) },
})));

watch(lazyValue, (value) => {
  emit('update:model-value', value);
});
</script>

<template>
  <v-combobox-input
    v-model="lazyValue"
    :items="items"
    :factory="factory"
    v-bind="$attrs"
  >
    <template #prepend-inner>
      <v-avatar
        :color="preview"
        size="24"
        aria-hidden="true"
      />
    </template>
    <template #item="{ item, props: itemProps }">
      <v-list-item v-bind="itemProps">
        <template #prepend>
          <menu-list-item-check :item="item" />
          <v-avatar
            :color="item.raw.value"
            size="24"
            aria-hidden="true"
          />
        </template>
      </v-list-item>
    </template>
  </v-combobox-input>
</template>
