<script
  lang="ts"
  setup
>
defineProps<{
  legend?: string;
  nested?: boolean;
  errored?: boolean;
  messagesId?: string;
}>();
</script>

<template>
  <fieldset class="v-fieldset">
    <legend
      :aria-describedby="messagesId"
      :class="{
        'text-subtitle-1': !nested,
        'text-body-2 text-medium-emphasis': nested,
        'text-error': errored,
      }"
      class="mb-2"
    >
      <slot name="legend">
        {{ legend }}
      </slot>
    </legend>
    <slot />
  </fieldset>
</template>

<style
  lang="scss"
  scoped
>
  .v-fieldset {
    border: none;
  }
</style>
