<script
  lang="ts"
  setup
>
import VInputClear from '@/ts/components/forms/VInputClear.vue';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import readFile from '@/ts/utilities/files/readFile';
import toLowerCase from '@/ts/utilities/strings/toLowerCase';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiImageOffOutline } from '@mdi/js';
import { computed, ref, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value: string | null): void;
}>();

const props = defineProps<{
  modelValue?: Optional<string>;
  label: string;
}>();

const lazyValue = ref(null as File | null);

const svgIcon = computed(() => (
  props.modelValue ? makeSvgIcon(props.modelValue) : mdiImageOffOutline
));

const onClear = () => {
  lazyValue.value = null;
};

watch(lazyValue, async (value) => {
  if (value) {
    try {
      const content = await readFile(value);
      if (!content) {
        throw new Error('empty SVG file');
      }

      const parser = new DOMParser();
      const doc = parser.parseFromString(content, 'image/svg+xml');
      if (toLowerCase(doc.documentElement.nodeName) !== 'svg') {
        throw new Error('not an SVG file');
      }

      emit('update:model-value', content);
    } catch (e) {
      lazyValue.value = null;
    }
  } else {
    emit('update:model-value', null);
  }
});

watch(() => props.modelValue, (value) => {
  if (value && !lazyValue.value) {
    lazyValue.value = new File([value], 'icone.svg', {
      type: 'image/svg+xml',
    });
  }
}, { immediate: true });
</script>

<template>
  <v-file-input
    v-model="lazyValue"
    :label="label"
    :clearable="false"
    :prepend-inner-icon="svgIcon"
    accept="image/svg+xml"
    v-bind="$attrs"
  >
    <template #append-inner>
      <v-input-clear
        :active="!!modelValue"
        :label="label"
        @clear="onClear"
      />
    </template>
  </v-file-input>
</template>
