<script
  lang="ts"
  setup
>
import { mdiClose } from '@mdi/js';

defineProps<{
  active: boolean;
  label: string;
  density?: string;
}>();

const emit = defineEmits<{
  (e: 'clear'): void;
}>();

const onClearClick = () => {
  emit('clear');
};
</script>

<template>
  <v-fade-transition>
    <v-btn
      v-if="active"
      :density="density === 'compact' ? 'comfortable' : undefined"
      :title="$t('actions.scoped.clear', { name: label })"
      :icon="mdiClose"
      color="primary"
      variant="text"
      @click.stop="onClearClick"
      @mousedown.stop
    />
  </v-fade-transition>
</template>
