<script
  lang="ts"
  setup
>
import { LinkableLinks } from '@/ts/api/composables/linkable';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import useInput from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import facebookIcon from '@/ts/icons/facebookIcon';
import instagramIcon from '@/ts/icons/instagramIcon';
import linkedinIcon from '@/ts/icons/linkedinIcon';
import youtubeIcon from '@/ts/icons/youtubeIcon';
import valueOr from '@/ts/utilities/functions/valueOr';
import { Arrayable } from '@/ts/utilities/types/arrayable';
import { Optional } from '@/ts/utilities/types/optional';
import { Rule, VuetifyRule } from '@/ts/validation/rule';
import url from '@/ts/validation/rules/url';
import { mdiWeb } from '@mdi/js';
import { watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: LinkableLinks): void;
}>();

const props = defineProps<{
  modelValue?: Optional<LinkableLinks>;
  name?: string;
  required?: boolean;
  label: string;
  rules?: Arrayable<Rule | VuetifyRule>;
  errorMessages?: string[];
}>();

const i18n = useI18n();
const col = useCol();

const facebookInput = useInput({
  name: 'facebook',
  label: i18n.t('forms.links.facebook'),
  value: props.modelValue?.facebook ?? '',
  rules: [url()],
});

const instagramInput = useInput({
  name: 'instagram',
  label: i18n.t('forms.links.instagram'),
  value: props.modelValue?.instagram ?? '',
  rules: [url()],
});

const linkedinInput = useInput({
  name: 'linkedin',
  label: i18n.t('forms.links.linkedin'),
  value: props.modelValue?.linkedin ?? '',
  rules: [url()],
});

const youtubeInput = useInput({
  name: 'youtube',
  label: i18n.t('forms.links.youtube'),
  value: props.modelValue?.youtube ?? '',
  rules: [url()],
});

const websiteInput = useInput({
  name: 'website',
  label: i18n.t('forms.links.website'),
  value: props.modelValue?.website ?? '',
  rules: [url()],
});

watch(() => props.modelValue, (links) => {
  facebookInput.value = links?.facebook ?? '';
  instagramInput.value = links?.instagram ?? '';
  linkedinInput.value = links?.linkedin ?? '';
  youtubeInput.value = links?.youtube ?? '';
  websiteInput.value = links?.website ?? '';
});

watch([
  facebookInput.valueRef,
  instagramInput.valueRef,
  linkedinInput.valueRef,
  youtubeInput.valueRef,
  websiteInput.valueRef,
], () => {
  emit('update:model-value', {
    facebook: valueOr(facebookInput.value, undefined),
    instagram: valueOr(instagramInput.value, undefined),
    linkedin: valueOr(linkedinInput.value, undefined),
    youtube: valueOr(youtubeInput.value, undefined),
    website: valueOr(websiteInput.value, undefined),
  });
});
</script>

<template>
  <v-fieldset :legend="label">
    <v-row dense>
      <v-col v-bind="col">
        <v-text-field
          :prepend-inner-icon="facebookIcon"
          v-bind="facebookInput.props"
        />
      </v-col>
      <v-col v-bind="col">
        <v-text-field
          :prepend-inner-icon="instagramIcon"
          v-bind="instagramInput.props"
        />
      </v-col>
      <v-col v-bind="col">
        <v-text-field
          :prepend-inner-icon="linkedinIcon"
          v-bind="linkedinInput.props"
        />
      </v-col>
      <v-col v-bind="col">
        <v-text-field
          :prepend-inner-icon="youtubeIcon"
          v-bind="youtubeInput.props"
        />
      </v-col>
      <v-col v-bind="col">
        <v-text-field
          :prepend-inner-icon="mdiWeb"
          v-bind="websiteInput.props"
        />
      </v-col>
    </v-row>
  </v-fieldset>
</template>
