<script
  lang="ts"
  setup
>
import Media, { MediaVisibility } from '@/ts/api/models/media';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import MediaLibrary from '@/ts/components/media/MediaLibrary.vue';
import MediaLibraryList from '@/ts/components/media/MediaLibraryList.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import wrap from '@/ts/utilities/arrays/wrap';
import { Optional } from '@/ts/utilities/types/optional';
import {
  mdiFileMultipleOutline,
  mdiFileOutline,
  mdiImageMultipleOutline,
  mdiImageOutline,
  mdiVideoOutline,
} from '@mdi/js';
import { computed, nextTick, PropType, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: Optional<Media | Media[]>): void;
}>();

const props = defineProps({
  modelValue: {
    type: [Object, Array] as PropType<Optional<Media[] | Media>>,
    default: undefined,
  },
  name: {
    type: String,
    default: undefined,
  },
  required: {
    type: Boolean,
    default: undefined,
  },
  label: {
    required: true,
    type: String,
  },
  only: {
    type: String as PropType<'image' | 'video'>,
    default: () => undefined,
  },
  visibility: {
    type: String as PropType<MediaVisibility>,
    default: () => undefined,
  },
  multiple: Boolean,
  density: {
    type: String,
    default: undefined,
  },
});

const copyValue = (value: Optional<Media[] | Media>) => (
  Array.isArray(value) ? [...value] : (value ?? null)
);

const i18n = useI18n();

const dialog = ref(false);
const lazyValue = useLazyValue(computed(() => copyValue(props.modelValue)));

const mediaList = computed(() => wrap(props.modelValue));

const valueLabel = computed(() => i18n.t(`forms.media.input.labels.value.${props.only ?? 'file'}`, {
  n: mediaList.value.length,
}));
const btnLabel = computed(() => i18n.t(
  `forms.media.input.labels.${props.multiple ? 'multiple' : 'singular'}.${props.only ?? 'file'}`,
));
const btnIcon = computed(() => (
  props.multiple
    ? {
      file: mdiFileMultipleOutline,
      image: mdiImageMultipleOutline,
      video: mdiVideoOutline,
    }[props.only ?? 'file']
    : {
      file: mdiFileOutline,
      image: mdiImageOutline,
      video: mdiVideoOutline,
    }[props.only ?? 'file']
));

watch(dialog, async (value) => {
  if (!value) {
    await nextTick();
    lazyValue.value = copyValue(props.modelValue);
  }
});

const onCancel = () => {
  dialog.value = false;
};

const onConfirm = () => {
  emit('update:model-value', copyValue(lazyValue.value));
  dialog.value = false;
};
</script>

<template>
  <v-input
    :model-value="modelValue"
    v-bind="$attrs"
  >
    <template #default="{ id, messagesId, isValid }">
      <app-dialog
        v-model="dialog"
        :title="label"
        size="x-large"
      >
        <template #activator="{ props: activatorProps }">
          <v-row dense>
            <v-col
              :id="`${id.value}-label`"
              cols="12"
            >
              <span
                :class="{ 'text-error': isValid.value === false }"
                class="v-label text-body-2"
              >
                {{ label }}
              </span>
            </v-col>
            <v-col cols="12">
              <v-btn
                :prepend-icon="btnIcon"
                :title="`${btnLabel} (${valueLabel})`"
                :aria-describedby="[
                  `${id.value}-label`,
                  messagesId.value,
                  ...(mediaList.length ? [`${id.value}-values`] : []),
                ].join(' ')"
                variant="tonal"
                class="mb-2"
                v-bind="activatorProps"
              >
                {{ btnLabel }}
              </v-btn>
            </v-col>
            <v-col
              v-if="mediaList.length"
              cols="12"
            >
              <media-library-list
                :id="`${id.value}-values`"
                :media="mediaList"
                :density="density"
              />
            </v-col>
          </v-row>
        </template>
        <app-divider />
        <v-card-text class="position-relative pa-0">
          <media-library
            v-model="lazyValue"
            :only="only"
            :multiple="multiple"
            :visibility="visibility"
            content-class="pa-4"
            content-style="min-height: 60vh;"
            selectable
          />
        </v-card-text>
        <app-divider />
        <v-card-actions class="justify-end">
          <v-btn @click="onCancel">
            {{ $t('actions.cancel') }}
          </v-btn>
          <v-btn
            variant="elevated"
            @click="onConfirm"
          >
            {{ $t('actions.confirm') }}
          </v-btn>
        </v-card-actions>
      </app-dialog>
    </template>
  </v-input>
</template>
