<script
  lang="ts"
  setup
>
import { mdiEyeOffOutline, mdiEyeOutline } from '@mdi/js';
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();

const type = ref('password');

const icon = computed(() => (type.value === 'password' ? mdiEyeOutline : mdiEyeOffOutline));
const title = computed(() => (
  type.value === 'password'
    ? i18n.t('forms.password.see')
    : i18n.t('forms.password.hide')
));

const onToggleType = () => {
  type.value = type.value === 'password' ? 'text' : 'password';
};
</script>

<template>
  <v-text-field :type="type">
    <template #append-inner>
      <v-btn
        :density="$attrs.density === 'compact' ? 'comfortable' : undefined"
        :title="title"
        :icon="icon"
        color="primary"
        variant="text"
        @click.stop="onToggleType"
      />
    </template>
  </v-text-field>
</template>
