<script
  setup
  lang="ts"
>
import ActivityPublicCode from '@/ts/api/enums/activityPublicCode';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import { computed, toRef, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value: string[]): void;
}>();

const props = defineProps<{
  modelValue: string[];
}>();

const lazyValue = useLazyValue(toRef(props, 'modelValue'));

const publicCodesItems = computed(() => [...ActivityPublicCode.all.values()].map((code) => ({
  value: code.value, title: code.label,
})));

watch(lazyValue, (nextValue, prevValue) => {
  const nextAll = nextValue.some((c) => c === ActivityPublicCode.ALL.value);
  const prevAll = prevValue.some((c) => c === ActivityPublicCode.ALL.value);

  if (!prevAll && nextAll && nextValue.length > 1) {
    emit('update:model-value', [ActivityPublicCode.ALL.value]);
  } else if (prevAll && nextAll && nextValue.length > 1) {
    emit('update:model-value', nextValue.filter((c) => c !== ActivityPublicCode.ALL.value));
  } else {
    emit('update:model-value', nextValue);
  }
});
</script>

<template>
  <v-select-input
    v-model="lazyValue"
    :items="publicCodesItems"
    multiple
  >
    <template
      v-if="$slots['append-inner']"
      #append-inner
    >
      <slot name="append-inner" />
    </template>
  </v-select-input>
</template>
