@use "../vuetify/settings";

.text-large {
  font-size: 1.2rem !important;
  line-height: 2rem !important;
  letter-spacing: 0.03125em !important;
}

.text-tiny {
  font-size: 0.70rem !important;
  line-height: 0.95rem !important;
  letter-spacing: 0.02em !important;
}

.text-formatted {
  white-space: pre-wrap;
}

.font-family-body {
  font-family: settings.$app-body-font-family;
}
