<script
  setup
  lang="ts"
>
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import { mdiMagnify } from '@mdi/js';

defineProps<{
  searchInput: Input;
}>();

const col = useCol();
</script>

<template>
  <v-col v-bind="col">
    <v-text-field
      :prepend-inner-icon="mdiMagnify"
      autocomplete="off"
      hide-details
      v-bind="searchInput.props"
    />
  </v-col>
</template>
