<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Review from '@/ts/api/models/review';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import ReportReportableViewBtn from '@/ts/components/resources/reports/ReportReportableViewBtn.vue';
import ReviewsListItem from '@/ts/components/reviews/ReviewsListItem.vue';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { cachedOr, include, ModelInstance, one, query } from '@foscia/core';
import { computed, ref, watch } from 'vue';

const props = defineProps<{
  instance: ModelInstance;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const dialog = ref(false);
const loading = ref(true);

const to = computed(() => useResourceRouteOne(props.instance.reportable));

watch(() => props.instance.reportable, async (reportable) => {
  loading.value = true;

  if (reportable instanceof Review) {
    await action()
      .use(query(reportable))
      .use(include('ownerUser'))
      .run(cachedOr(one()));
  }

  loading.value = false;
}, { immediate: true });
</script>

<template>
  <report-reportable-view-btn
    v-if="loading"
    loading
  />
  <app-dialog
    v-else-if="instance.reportable instanceof Review"
    v-model="dialog"
    :title="$t('resources.reports.actions.visit.content')"
    scroll-strategy="none"
  >
    <template #activator="{ props: activatorProps }">
      <report-reportable-view-btn v-bind="activatorProps" />
    </template>
    <app-divider />
    <v-card-text class="px-2">
      <reviews-list-item
        :review="instance.reportable"
        :role="undefined"
      />
    </v-card-text>
  </app-dialog>
  <report-reportable-view-btn
    v-else
    :to="to"
  />
</template>
