<script
    lang="ts"
    setup
>
import DynamicAnchor from '@/ts/components/routes/DynamicAnchor.vue';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { mdiMagnifyScan } from '@mdi/js';
import { ModelInstance } from '@foscia/core';
import { useDisplay } from 'vuetify';

defineProps<{
  instance: ModelInstance;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const { xs } = useDisplay();
</script>

<template>
  <dynamic-anchor
    :href="instance.url"
    :prepend-icon="mdiMagnifyScan"
    :size="!xs ? 'large' : undefined"
    btn
  >
    {{ $t('resources.reports.actions.visit.page') }}
  </dynamic-anchor>
</template>
