<script
    lang="ts"
    setup
>
import { mdiMagnifyScan } from '@mdi/js';
import { useDisplay } from 'vuetify';

const { xs } = useDisplay();
</script>

<template>
  <v-btn
    :prepend-icon="mdiMagnifyScan"
    :size="!xs ? 'large' : undefined"
    v-bind="$attrs"
  >
    {{ $t('resources.reports.actions.visit.content') }}
  </v-btn>
</template>
