<script
  setup
  lang="ts"
>
import Report from '@/ts/api/models/report';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import SoftDeletableDataProvider
  from '@/ts/components/resources/composables/softDeletable/SoftDeletableDataProvider.vue';
import UserOwnableDataProvider from '@/ts/components/resources/composables/userOwnable/UserOwnableDataProvider.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Report;
}>();
</script>

<template>
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <soft-deletable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <user-ownable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.reportType">
    <resource-instance-value :instance="instance.reportType" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.comment">
    <resource-optional-value
      v-slot="{ value }"
      :value="instance.body"
    >
      <p class="text-formatted">
        {{ value }}
      </p>
    </resource-optional-value>
  </teleport-to-portal>
</template>
