<script
  lang="ts"
  setup
>
import VMediaInput from '@/ts/components/forms/VMediaInput.vue';
import { Input } from '@/ts/composables/forms/useInput';

defineProps<{
  imagesInput: Input;
}>();
</script>

<template>
  <v-col cols="12">
    <v-media-input
      density="comfortable"
      only="image"
      visibility="public"
      multiple
      v-bind="imagesInput.props"
    />
  </v-col>
</template>
