<script
  lang="ts"
  setup
>
import { Imageable } from '@/ts/api/composables/imageable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceMediaListValue from '@/ts/components/resources/core/data/ResourceMediaListValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Imageable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.images">
    <resource-media-list-value :value="instance.images" />
  </teleport-to-portal>
</template>
