<script
  lang="ts"
  setup
>
import AppContainer from '@/ts/components/layouts/AppContainer.vue';
import MediaLibrary from '@/ts/components/media/MediaLibrary.vue';
import ResourceTitle from '@/ts/components/resources/core/layouts/ResourceTitle.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';

const meta = useResourceMeta('media');
</script>

<template>
  <app-container
    class="media-library__container d-flex flex-column"
    fluid
  >
    <resource-title
      :title="$t('views.resources.media.title')"
      :icon="meta.icon"
      :color="meta.color"
      class="mb-6"
      announce
    />
    <v-card class="flex-grow-1 d-flex flex-column position-relative">
      <media-library content-class="flex-grow-1 pa-4" />
    </v-card>
  </app-container>
</template>

<style
  lang="scss"
  scoped
>
  .media-library__container {
    min-height: 100%;
  }
</style>
