<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import { Reactable, ReactionsSummary } from '@/ts/api/composables/reactable';
import ReactionType from '@/ts/api/enums/reactionType';
import Reaction from '@/ts/api/models/reaction';
import useSignInRoute from '@/ts/composables/auth/useSignInRoute';
import useAsync from '@/ts/composables/common/useAsync';
import { useAuthStore } from '@/ts/stores/auth';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { destroy, fill, isSame, none, oneOrCurrent, save } from '@foscia/core';
import { ref, toRef, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  reactable: Reactable;
}>();

const i18n = useI18n();
const auth = useAuthStore();
const snackbar = useSnackbarStore();
const { btnLoading, asyncRun } = useAsync();
const signInRoute = useSignInRoute();

const lazyReaction = ref(null as Reaction | null);
const lazySummary = ref({} as ReactionsSummary);

const onReactableChange = (next: Reactable, prev?: Reactable) => {
  if (isSame(next, prev)) {
    return;
  }

  lazyReaction.value = next.currentReaction ?? null;
  lazySummary.value = next.reactionsSummary ?? {};
};

const onToggleReaction = (reactionType: ReactionType) => asyncRun(async () => {
  if (lazyReaction.value && lazyReaction.value.reaction === reactionType.value) {
    await action()
      .use(destroy(lazyReaction.value))
      .run(none());

    lazyReaction.value = null;
    lazySummary.value[reactionType.value] = lazySummary.value[reactionType.value]
      ? lazySummary.value[reactionType.value] - 1
      : 0;

    return;
  }

  lazyReaction.value = await action()
    .use(save(fill(lazyReaction.value ?? new Reaction(), {
      reactable: props.reactable,
      reaction: reactionType.value,
    })))
    .run(oneOrCurrent());
  lazySummary.value[reactionType.value] = (lazySummary.value[reactionType.value] ?? 0) + 1;
});

const onToggleReactionClick = async (reactionType: ReactionType) => {
  await onToggleReaction(reactionType);

  snackbar.toast(i18n.t('reactions.toasts.reactionUpdated'));
};

watch(toRef(props, 'reactable'), onReactableChange, { immediate: true });

const makeBtnAttrs = (reactionType: ReactionType) => {
  if (auth.guest) {
    return { to: signInRoute.value };
  }

  const active = lazyReaction.value?.reaction === reactionType.value;

  return {
    'aria-pressed': String(active),
    active,
    onClick: () => onToggleReactionClick(reactionType),
  };
};
</script>

<template>
  <v-btn
    :title="ReactionType.LIKE.title(reactable, lazySummary[ReactionType.LIKE.value] ?? 0)"
    :prepend-icon="ReactionType.LIKE.props.icon"
    variant="text"
    v-bind="{ ...btnLoading, ...makeBtnAttrs(ReactionType.LIKE) }"
  >
    <span aria-hidden="true">
      {{ lazySummary[ReactionType.LIKE.value] || ReactionType.LIKE.label(reactable) }}
    </span>
  </v-btn>
</template>
