<script
  lang="ts"
  setup
>
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';
import OrganizationInputs from '@/ts/components/resources/organizations/OrganizationInputs.vue';
import OrganizationInputsProvider from '@/ts/components/resources/organizations/OrganizationInputsProvider.vue';
import useOrganizationSave from '@/ts/composables/resources/organizations/useOrganizationSave';

const saveOrganization = useOrganizationSave();
</script>

<template>
  <div>
    <organization-inputs-provider v-slot="{ boot, ...inputs }">
      <resource-edit-view
        :inputs="inputs"
        :boot="boot"
        :save="saveOrganization"
        translatable
      >
        <organization-inputs v-bind="inputs" />
      </resource-edit-view>
    </organization-inputs-provider>
  </div>
</template>
