<script
  lang="ts"
  setup
>
import Organization from '@/ts/api/models/organization';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppTable from '@/ts/components/data/tables/AppTable.vue';
import OrganizationSwitchableAlerts
  from '@/ts/components/resources/composables/ownable/OrganizationSwitchableAlerts.vue';
import PublishableAlerts
  from '@/ts/components/resources/composables/publishable/PublishableAlerts.vue';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import OrganizationDataProvider
  from '@/ts/components/resources/organizations/OrganizationDataProvider.vue';
import useSwitchActingFor from '@/ts/composables/auth/useSwitchActingFor';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useCoreOneActivators from '@/ts/composables/resources/composables/core/useCoreOneActivators';
import usePublishableOneActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableOneActivators';
import useSourceableOneActivators
  from '@/ts/composables/resources/composables/sourceable/useSourceableOneActivators';
import useResourceRouteMany from '@/ts/composables/resources/core/useResourceRouteMany';
import {
  useOrganizationAdministrativeHeaders,
  useOrganizationInformationHeaders,
} from '@/ts/composables/resources/organizations/useOrganizationHeaders';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import { mdiArrowRight, mdiMapMarkerOutline } from '@mdi/js';
import { computed } from 'vue';

const organizationInformationHeaders = useOrganizationInformationHeaders();
const organizationAdministrativeHeaders = useOrganizationAdministrativeHeaders();

const { actingFor } = useSwitchActingFor();

const ownPlacesRoute = useResourceRouteMany('places');
const canManageOwnPlaces = computed(() => (
  actingFor.value
  && !hasPermissionOn('organizations.admin')
  && hasPermissionOn('places.showAny')
));

const activators = (context: OneActivatorsContext<Organization>) => [
  ...useCoreOneActivators()(context),
  ...usePublishableOneActivators()(context),
  ...useSourceableOneActivators()(context),
];
</script>

<template>
  <resource-one-view
    :activators="activators"
    translatable
  >
    <template #prepend-table="{ instance }">
      <organization-switchable-alerts />
      <v-col
        v-if="canManageOwnPlaces"
        cols="12"
      >
        <app-alert
          :icon="mdiMapMarkerOutline"
          type="info"
          presentation
          always-wrap
        >
          {{ $t('resources.organizations.alerts.onlyAdministrative.message') }}
          <template #append>
            <v-btn
              :append-icon="mdiArrowRight"
              :to="ownPlacesRoute"
              variant="text"
              density="comfortable"
              color="info"
            >
              {{ $t('resources.organizations.alerts.onlyAdministrative.action') }}
            </v-btn>
          </template>
        </app-alert>
      </v-col>
      <publishable-alerts :instance="instance" />
    </template>
    <template #table="{ instance }">
      <v-col cols="12">
        <app-table
          :caption="$t('views.resources.one.table.caption')"
          no-overflow
        >
          <resource-rows-portals
            v-slot="{ portals }"
            :instance="instance"
            :headers="organizationInformationHeaders"
          >
            <organization-data-provider
              :instance="instance"
              :portals="portals"
            />
          </resource-rows-portals>
        </app-table>
      </v-col>
      <v-col cols="12">
        <app-table
          :caption="$t('resources.organizations.labels.administrativeData')"
          no-overflow
        >
          <resource-rows-portals
            v-slot="{ portals }"
            :instance="instance"
            :headers="organizationAdministrativeHeaders"
          >
            <organization-data-provider
              :instance="instance"
              :portals="portals"
            />
          </resource-rows-portals>
        </app-table>
      </v-col>
    </template>
  </resource-one-view>
</template>
