<script
  setup
  lang="ts"
>
import AppMenu from '@/ts/components/common/menu/AppMenu.vue';
import MglMapMarker from '@/ts/components/places/map/mgl/MglMapMarker.vue';
import useMenuWithDialog from '@/ts/composables/dom/useMenuWithDialog';
import focusElement from '@/ts/utilities/dom/focusElement';
import reverseSearchAddress from '@/ts/utilities/places/addresses/reverseSearchAddress';
import directionAdapter from '@/ts/utilities/places/directions/directionAdapter';
import directionFromBase64 from '@/ts/utilities/places/directions/directionFromBase64';
import directionToBase64 from '@/ts/utilities/places/directions/directionToBase64';
import { DirectionValues } from '@/ts/utilities/places/directions/types';
import customToPOI from '@/ts/utilities/places/map/customToPOI';
import toGeoCoordinates from '@/ts/utilities/places/map/mgl/toGeoCoordinates';
import { GeoCoordinates } from '@/ts/utilities/places/map/types';
import { AddressObject } from '@/ts/utilities/places/types';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiDirections, mdiMapMarker } from '@mdi/js';
import { Map, MapMouseEvent } from 'maplibre-gl';
import { computed, nextTick, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRoute } from 'vue-router';

const props = defineProps<{
  map: Optional<Map>;
}>();

const i18n = useI18n();
const route = useRoute();

const { menuRef, dialogActivatorRef } = useMenuWithDialog();

const menu = ref(false);
const menuCoordinates = ref(null as GeoCoordinates | null);
const menuAddress = ref(null as AddressObject | null);

const directionValues = computed(() => ({
  ...directionFromBase64(route.query.t),
}));
const directionPOI = computed(() => (
  menuCoordinates.value ? customToPOI(menuCoordinates.value, menuAddress.value) : null
));
const makeDirectionRoute = (values: Partial<DirectionValues>) => ({
  name: 'places.map',
  params: { view: 'directions' },
  query: {
    t: directionToBase64({
      ...directionValues.value,
      ...values,
    }),
  },
});

const menuItems = computed(() => (directionPOI.value ? [
  {
    title: directionPOI.value.title,
    disabled: true,
    props: {
      subtitle: directionPOI.value.subtitle,
      prependIcon: directionPOI.value.icon,
      active: false,
      ripple: false,
      class: 'map-context-position-item',
    },
  },
  {
    title: i18n.t('views.places.direction.actions.directionFrom'),
    props: {
      prependIcon: mdiDirections,
      active: false,
      to: makeDirectionRoute({
        origin: directionPOI.value,
      }),
    },
  },
  {
    title: i18n.t('views.places.direction.actions.directionTo'),
    props: {
      prependIcon: mdiDirections,
      active: false,
      to: makeDirectionRoute({
        destination: directionPOI.value,
      }),
    },
  },
] : []));

const onOpenMenu = async (event: MapMouseEvent) => {
  menu.value = false;
  await nextTick();
  menuCoordinates.value = toGeoCoordinates(event.lngLat);
  await nextTick();
  menu.value = true;
  await nextTick();
  if (dialogActivatorRef.value) {
    focusElement(dialogActivatorRef.value);
  }
};

watch(menu, (nextMenu, prevMenu) => {
  if (!nextMenu && prevMenu) {
    menuCoordinates.value = null;
  }
});

watch(menuCoordinates, async (nextCoordinates) => {
  if (nextCoordinates) {
    menuAddress.value = await reverseSearchAddress(nextCoordinates);
  } else {
    menuAddress.value = null;
  }
});

watch(() => props.map, (nextMap, prevMap) => {
  if (!directionAdapter) {
    return;
  }

  if (prevMap) {
    prevMap.off('contextmenu', onOpenMenu);
  }

  if (nextMap) {
    nextMap.on('contextmenu', onOpenMenu);
  }
}, { immediate: true });
</script>

<template>
  <mgl-map-marker
    v-if="menuCoordinates"
    :map="map"
    :coordinates="menuCoordinates"
    marker-class="map-context-marker"
  >
    <app-menu
      ref="menuRef"
      v-model:menu="menu"
      :items="menuItems"
      mode="menu"
      width="256"
      close-on-content-click
    >
      <template #activator="{ props: activatorProps }">
        <v-avatar
          size="24"
          color="surface-variant"
          class="elevation-2"
          v-bind="activatorProps"
        >
          <v-icon
            :icon="mdiMapMarker"
            size="16"
          />
        </v-avatar>
      </template>
    </app-menu>
  </mgl-map-marker>
</template>

<style lang="scss">
  .map-context-marker {
    z-index: 6 !important;
  }

  .map-context-position-item {
    pointer-events: none;
  }
</style>
