<script
  lang="ts"
  setup
>
import MainFeature from '@/ts/utilities/features/mainFeature';
import { mdiArrowLeft } from '@mdi/js';
import { RouteLocationRaw } from 'vue-router';

defineProps<{
  backTo?: RouteLocationRaw;
}>();
</script>

<template>
  <v-card-title :class="{ 'pl-2': backTo || $slots.prepend, 'pr-2': $slots.append }">
    <div class="d-flex align-center flex-nowrap">
      <slot name="prepend">
        <v-btn
          v-if="backTo"
          :to="backTo"
          :title="$t('actions.back')"
          :icon="mdiArrowLeft"
          color="on-surface"
          variant="text"
          size="x-large"
          density="compact"
        />
        <v-icon
          v-else
          :icon="MainFeature.PLACES.props.icon"
          :color="MainFeature.PLACES.props.color"
          start
        />
      </slot>
      <div
        id="map-card-title"
        role="heading"
        aria-level="2"
        class="font-weight-bold"
        :class="{ 'ml-2': backTo || $slots.prepend, 'pr-2 mr-auto': $slots.append }"
      >
        <slot />
      </div>
      <slot name="append" />
    </div>
  </v-card-title>
</template>
