<script
  lang="ts"
  setup
>
import MapCardTitle from '@/ts/components/places/map/MapCardTitle.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import { mdiChevronDown, mdiChevronUp } from '@mdi/js';
import { computed, nextTick, toRef, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { RouteLocationRaw } from 'vue-router';

const emit = defineEmits<{
  (e: 'update:model-value', v: boolean): void;
}>();

const props = withDefaults(defineProps<{
  modelValue?: boolean;
  active: boolean;
  backTo?: RouteLocationRaw;
}>(), {
  modelValue: true,
  backTo: undefined,
});

const i18n = useI18n();
const { mapCardOpened } = injectMapData();

const lazyValue = useLazyValue(toRef(props, 'modelValue'));

const title = computed(() => (
  lazyValue.value
    ? i18n.t('views.places.map.common.card.hide')
    : i18n.t('views.places.map.common.card.show')
));

watch(computed(() => lazyValue.value && props.active), (opened) => {
  mapCardOpened.value = opened;
}, { immediate: true });

const onToggleList = async () => {
  await nextTick();
  lazyValue.value = !lazyValue.value;
  emit('update:model-value', lazyValue.value);
};
</script>

<template>
  <map-card-title
    :back-to="backTo"
    :class="{ 'text-medium-emphasis': !lazyValue }"
  >
    <template
      v-if="active"
      #append
    >
      <v-btn
        :title="title"
        :aria-expanded="lazyValue"
        aria-controls="map-card-content"
        color="on-surface"
        variant="text"
        size="x-large"
        density="compact"
        :icon="lazyValue ? mdiChevronUp : mdiChevronDown"
        @click="onToggleList"
      />
    </template>
    <slot name="title" />
  </map-card-title>
  <v-expand-transition>
    <div
      v-show="lazyValue && active"
      id="map-card-content"
    >
      <slot />
    </div>
  </v-expand-transition>
</template>
