<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import OpeningWeekdaysHoursState
  from '@/ts/components/common/openingHours/OpeningWeekdaysHoursState.vue';
import OpeningWeekdaysHoursTable
  from '@/ts/components/common/openingHours/OpeningWeekdaysHoursTable.vue';
import LocalizedInfoList from '@/ts/components/places/LocalizedInfoList.vue';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import { mdiChevronDown, mdiChevronUp, mdiClockOutline } from '@mdi/js';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref, toRef } from 'vue';

const props = defineProps<{
  place: Place;
}>();

const panelId = ref(`opening-hours-panel-${uuidV4()}`);
const expanded = ref(false);
const reviewsTo = useMapPlaceRoute(toRef(props, 'place'), 'reviews');

const buttonAttrs = computed(() => ({
  appendIcon: expanded.value ? mdiChevronUp : mdiChevronDown,
  'aria-expanded': String(expanded.value),
  'aria-controls': panelId.value,
  role: 'button',
  tabindex: '0',
  onClick: () => {
    expanded.value = !expanded.value;
  },
}));
</script>

<template>
  <localized-info-list
    :localized="place"
    :reviews-action-props="{ to: reviewsTo }"
  >
    <template #opening-info>
      <div
        v-if="place.openingHours?.length"
        role="listitem"
        class="info-list__item info-list__item--main"
      >
        <v-list-item
          :prepend-icon="mdiClockOutline"
          v-bind="buttonAttrs"
        >
          <template #prepend>
            <v-icon
              :title="$t('forms.labels.openingHours')"
              :icon="mdiClockOutline"
              role="img"
              aria-hidden="false"
            />
          </template>
          <div>
            <opening-weekdays-hours-state :hours="place.openingHours" />
          </div>
        </v-list-item>
        <v-expand-transition>
          <div
            v-show="expanded"
            :id="panelId"
            class="info-list__item__inner"
          >
            <opening-weekdays-hours-table
              :hours="place.openingHours"
              today-first
              today-highlight
            />
            <p class="text-caption">
              {{ $t('common.openingHours.labels.notice') }}
            </p>
          </div>
        </v-expand-transition>
        <app-divider class="mx-4" />
      </div>
    </template>
  </localized-info-list>
</template>
