<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import OpeningWeekdaysHoursState
  from '@/ts/components/common/openingHours/OpeningWeekdaysHoursState.vue';
import ReviewRating from '@/ts/components/reviews/ReviewRating.vue';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import usePlacePOI from '@/ts/composables/places/map/usePlacePOI';
import FeatureName from '@/ts/utilities/features/featureName';
import { toRef } from 'vue';

const props = defineProps<{
  place: Place;
}>();

const { mapRef, onFocusPlace, onBlurPlace } = injectMapData();

const to = useMapPlaceRoute(toRef(props, 'place'));
const poi = usePlacePOI(toRef(props, 'place'), mapRef.value?.getLocationRef());
</script>

<template>
  <div role="listitem">
    <v-list-item
      :to="to"
      tabindex="0"
      class="py-3"
      @focus="onFocusPlace(place)"
      @blur="onBlurPlace()"
      @mouseover="onFocusPlace(place)"
      @mouseleave="onBlurPlace()"
    >
      <div class="text-subtitle-1">
        {{ poi.title }}
      </div>
      <div
        v-if="FeatureName.REVIEWS.check() && place.reviewsSummary"
        class="text-body-2"
      >
        <review-rating
          :rating="place.reviewsSummary.rating"
          :total="place.reviewsSummary.total"
        />
      </div>
      <div class="text-body-2 text-medium-emphasis">
        {{ poi.subtitle }}
      </div>
      <div
        v-if="place.openingHours?.length"
        class="text-body-2"
      >
        <opening-weekdays-hours-state :hours="place.openingHours" />
      </div>
    </v-list-item>
  </div>
</template>
