<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import AppList from '@/ts/components/data/AppList.vue';
import AppListItem from '@/ts/components/data/AppListItem.vue';
import usePhoneLink from '@/ts/composables/links/usePhoneLink';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import directionAdapter from '@/ts/utilities/places/directions/directionAdapter';
import { MglMapRef } from '@/ts/utilities/places/map/types';
import { mdiDirections, mdiPhone } from '@mdi/js';
import { computed, toRef } from 'vue';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  map: MglMapRef;
  place: Place;
}>();

const { xs } = useDisplay();

const btnSize = computed(() => (xs.value ? undefined : 'large'));
const iconBtnSize = computed(() => (xs.value ? 36 : 44));
const phoneLink = usePhoneLink(
  computed(() => props.place.phone ?? props.place.ownerOrganization?.phone),
);

const directionsTo = useMapPlaceRoute(toRef(props, 'place'), 'directions');
</script>

<template>
  <app-list class="map-place__actions">
    <app-list-item
      v-if="directionAdapter"
      class="map-place__action"
    >
      <v-btn
        :to="directionsTo"
        :prepend-icon="mdiDirections"
        :size="btnSize"
        variant="tonal"
      >
        {{ $t('views.places.direction.title') }}
      </v-btn>
    </app-list-item>
    <app-list-item
      v-if="phoneLink"
      class="map-place__action"
    >
      <v-btn
        :title="phoneLink.ariaLabel"
        :href="phoneLink.href"
        :icon="mdiPhone"
        :size="iconBtnSize"
        variant="tonal"
      />
    </app-list-item>
  </app-list>
</template>

<style
  lang="scss"
  scoped
>
  .map-place__actions {
    padding: 8px 2px;

    @media screen and (min-width: 380px) {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  .map-place__action {
    margin-right: 1px;
    margin-left: 1px;

    @media screen and (min-width: 380px) {
      margin-right: 4px;
      margin-left: 4px;
    }
  }
</style>
