<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import MglMapMarker from '@/ts/components/places/map/mgl/MglMapMarker.vue';
import ReviewRating from '@/ts/components/reviews/ReviewRating.vue';
import useReducedColor from '@/ts/composables/accessibility/useReducedColor';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import usePlacePOI from '@/ts/composables/places/map/usePlacePOI';
import useRatingValue from '@/ts/composables/reviews/useRatingValue';
import useThemeVariant from '@/ts/composables/themes/useThemeVariant';
import isNone from '@/ts/utilities/common/isNone';
import focusElement from '@/ts/utilities/dom/focusElement';
import FeatureName from '@/ts/utilities/features/featureName';
import addressToGeoCoordinates from '@/ts/utilities/places/addresses/addressToGeoCoordinates';
import { MglMapRef } from '@/ts/utilities/places/map/types';
import { mdiCircle, mdiOfficeBuildingOutline } from '@mdi/js';
import { computed, toRef } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRoute } from 'vue-router';

const props = defineProps<{
  map: MglMapRef;
  place: Place;
}>();

const { mapRef, mapRegionRef, mapFocusedPlace } = injectMapData();

const i18n = useI18n();
const route = useRoute();
const darkVariant = useThemeVariant(true);
const to = useMapPlaceRoute(toRef(props, 'place'));
const ratingValue = useRatingValue(computed(() => props.place.reviewsSummary?.rating));

const poi = usePlacePOI(toRef(props, 'place'), mapRef.value?.getLocationRef());
const active = computed(() => {
  if (route.params.place) {
    return route.params.place === props.place.id
      || route.params.place === props.place.slug;
  }

  return mapFocusedPlace.value?.id === props.place.id;
});
const poiColor = useReducedColor(computed(() => poi.value.color ?? 'primary'), { dark: false });
const markerColor = computed(() => (active.value ? 'error' : poiColor.value));
const markerIcon = computed(() => {
  if (active.value) {
    return undefined;
  }

  return poi.value.icon === mdiOfficeBuildingOutline ? mdiCircle : poi.value.icon;
});
const markerReviewsLabel = computed(() => (
  FeatureName.REVIEWS.check() && props.place.reviewsSummary && !isNone(ratingValue.value)
    ? [
      i18n.t('reviews.rating.value', { value: ratingValue.value }),
      i18n.t('reviews.scoped.count', { n: props.place.reviewsSummary.total ?? 0 }),
    ].join(' ')
    : null
));
const markerLabel = computed(() => [
  poi.value.title,
  poi.value.subtitle,
  (markerReviewsLabel.value ? `(${markerReviewsLabel.value})` : null),
].filter((v) => !isNone(v)).join(' '));

const onClick = () => {
  if (mapRegionRef.value) {
    focusElement(mapRegionRef.value.$el);
  }
};

const onFocus = () => {
  props.map?.flyTo(poi.value.coordinates, { animate: false });
};
</script>

<template>
  <mgl-map-marker
    :map="map?.map()"
    :coordinates="addressToGeoCoordinates(place.address)"
    :icon="markerIcon"
    :color="markerColor"
    :to="to"
    :important="active"
    :title="markerLabel"
    @click="onClick"
    @focus="onFocus"
  >
    <template #title>
      <v-list-item
        :theme="darkVariant"
        class="map-place__tooltip px-0"
      >
        <div class="text-subtitle-1">
          {{ poi.title }}
        </div>
        <div
          v-if="FeatureName.REVIEWS.check() && place.reviewsSummary"
          class="text-body-2"
        >
          <review-rating
            :rating="place.reviewsSummary.rating"
            :total="place.reviewsSummary.total"
          />
        </div>
        <div class="text-body-2 text-medium-emphasis">
          {{ poi.subtitle }}
        </div>
      </v-list-item>
    </template>
  </mgl-map-marker>
</template>

<style
  lang="scss"
  scoped
>
  .map-place__tooltip {
    max-width: 300px;
  }
</style>
