<script
  lang="ts"
  setup
>
import cachedCategories from '@/ts/api/cached/cachedCategories';
import Category from '@/ts/api/models/category';
import onlyPublishedCategories from '@/ts/api/utilities/categories/onlyPublishedCategories';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppList from '@/ts/components/data/AppList.vue';
import AppListItem from '@/ts/components/data/AppListItem.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useParsedEnv from '@/ts/composables/env/useParsedEnv';
import env from '@/ts/env';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import orderBy from '@/ts/utilities/arrays/orderBy';
import parseEnvCategories from '@/ts/utilities/env/parseEnvCategories';
import translate from '@/ts/utilities/lang/translate';
import { mdiDotsVertical } from '@mdi/js';
import { ref, watch } from 'vue';

const emit = defineEmits<{
  (e: 'search', category: Category): void
}>();

defineProps<{
  noWrap?: boolean;
}>();

const categories = useParsedEnv(env.services.map.searchableCategories, parseEnvCategories, []);

const dialog = ref(false);
const parents = ref(null as Category[] | null);

watch(dialog, async (value) => {
  if (value && parents.value === null) {
    parents.value = orderBy(
      onlyPublishedCategories(await cachedCategories.value),
      (c) => translate(c.name),
    ).filter((c) => c.isRoot);
  }
});

const getChildren = (category: Category) => onlyPublishedCategories(category.children ?? []);

const onSearch = (category: Category) => {
  dialog.value = false;
  emit('search', category);
};
</script>

<template>
  <div
    v-if="categories.length"
    class="map-search-categories"
  >
    <app-list
      :items="categories"
      :no-wrap="noWrap"
      class="px-2"
    >
      <template #item="{ item }">
        <v-btn
          :prepend-icon="item.icon ? makeSvgIcon(item.icon) : undefined"
          rounded="xl"
          color="surface"
          class="map__tool btn--nowrap"
          @click="onSearch(item)"
        >
          {{ translate(item.name) }}
        </v-btn>
      </template>
      <template #append>
        <app-list-item>
          <app-dialog
            v-model="dialog"
            :title="$t('views.places.map.search.categories.title')"
          >
            <template #activator="{ props: activatorProps }">
              <v-btn
                :prepend-icon="mdiDotsVertical"
                rounded="xl"
                color="surface"
                class="map__tool btn--nowrap"
                v-bind="activatorProps"
              >
                {{ $t('actions.more') }}
              </v-btn>
            </template>
            <app-divider />
            <v-card-text role="list">
              <div
                v-for="parent in parents"
                :key="parent.id"
                role="listitem"
              >
                <v-btn
                  :prepend-icon="parent.icon ? makeSvgIcon(parent.icon) : undefined"
                  variant="text"
                  class="btn--nowrap mb-2"
                  @click="onSearch(parent)"
                >
                  {{ translate(parent.name) }}
                </v-btn>
                <app-list
                  :items="getChildren(parent)"
                  class="ml-4 mb-2"
                >
                  <template #item="{ item }">
                    <v-btn
                      :prepend-icon="item.icon ? makeSvgIcon(item.icon) : undefined"
                      variant="tonal"
                      density="comfortable"
                      class="btn--nowrap"
                      @click="onSearch(item)"
                    >
                      {{ translate(item.name) }}
                    </v-btn>
                  </template>
                </app-list>
              </div>
            </v-card-text>
          </app-dialog>
        </app-list-item>
      </template>
    </app-list>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .map-search-categories {
    width: calc(100% + 16px);
    margin-left: -8px;
  }
</style>
