<script
  setup
  lang="ts"
>
import AppHeading from '@/ts/components/common/AppHeading.vue';
import useFaqSectionTitle from '@/ts/composables/faq/useFaqSectionTitle';
import { toRef } from 'vue';

const props = defineProps<{
  title: string;
}>();

const sectionId = useFaqSectionTitle(toRef(props, 'title'));
</script>

<template>
  <section>
    <app-heading
      :id="sectionId"
      level="2"
      dense
    >
      {{ title }}
    </app-heading>
    <slot />
  </section>
</template>
