<script
  setup
  lang="ts"
>
import focusFaqSection from '@/ts/composables/faq/focusFaqSection';
import useFaqSectionTitle from '@/ts/composables/faq/useFaqSectionTitle';
import { mdiArrowRight } from '@mdi/js';
import { toRef } from 'vue';

const props = defineProps<{
  title: string;
}>();

const sectionId = useFaqSectionTitle(toRef(props, 'title'));

const onSectionClick = () => {
  focusFaqSection(sectionId.value);
};
</script>

<template>
  <li class="py-1">
    <router-link
      :to="`#${sectionId}`"
      class="d-flex align-center"
      @click.stop="onSectionClick"
    >
      <v-icon
        :icon="mdiArrowRight"
        start
      />
      {{ title }}
    </router-link>
  </li>
</template>

<style
  scoped
  lang="scss"
>

</style>
