<script
  lang="ts"
  setup
>
import VLinksInput from '@/ts/components/forms/VLinksInput.vue';
import { Input } from '@/ts/composables/forms/useInput';

defineProps<{
  linksInput: Input;
}>();
</script>

<template>
  <v-col cols="12">
    <v-links-input v-bind="linksInput.props" />
  </v-col>
</template>
