<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useIntended from '@/ts/composables/auth/useIntended';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import toLowerCase from '@/ts/utilities/strings/toLowerCase';
import email from '@/ts/validation/rules/email';
import required from '@/ts/validation/rules/required';
import { raw } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiAt } from '@mdi/js';

const snackbar = useSnackbarStore();
const { toWithIntended } = useIntended();
const col = useCol('full');

const emailInput = useInput({
  name: 'email',
  value: '',
  rules: [required, email],
  transforms: toLowerCase,
});

const { loading, btnLoading, resetDefaults, onSubmit } = useForm([emailInput] as const, {
  onSubmit: async ({ allValues }) => {
    const { data } = await action()
      .use(makePost('/auth/forgot-password', { data: { email: allValues.email } }))
      .run(raw((r) => r.json()));

    snackbar.toast(data.message);
  },
  onSuccess: () => {
    resetDefaults('email');
  },
  onFailure: () => {
    resetDefaults('email');
  },
});
</script>

<template>
  <app-page-layout
    :title="$t('views.auth.forgotPassword.title')"
    size="normal"
  >
    <v-card>
      <v-form
        :readonly="loading"
        @submit="onSubmit"
      >
        <v-card-text class="text-body-1">
          <p class="my-0">
            {{ $t('views.auth.forgotPassword.description') }}
          </p>
        </v-card-text>
        <v-card-text>
          <v-row dense>
            <v-col cols="12">
              <required-inputs-hint />
            </v-col>
            <v-col v-bind="col">
              <v-text-field
                :prepend-inner-icon="mdiAt"
                autocomplete="email"
                type="email"
                v-bind="emailInput.props"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            type="submit"
            class="ml-auto"
            variant="elevated"
            color="primary"
            v-bind="btnLoading"
          >
            {{ $t('views.auth.forgotPassword.submit') }}
          </v-btn>
        </v-card-actions>
      </v-form>
      <app-divider />
      <v-card-actions class="justify-center">
        <v-btn
          :to="toWithIntended({ name: 'auth.sign-in' })"
          color="primary"
          variant="outlined"
        >
          {{ $t('views.auth.forgotPassword.wantToSignIn') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </app-page-layout>
</template>
