<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import OrganizationInvitation from '@/ts/api/models/organizationInvitation';
import OrganizationMember from '@/ts/api/models/organizationMember';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useSwitchActingFor from '@/ts/composables/auth/useSwitchActingFor';
import useAsync from '@/ts/composables/common/useAsync';
import { useAuthStore } from '@/ts/stores/auth';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import translate from '@/ts/utilities/lang/translate';
import { include, none, one, oneOrFail, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { fields } from '@foscia/jsonapi';
import { mdiCheck, mdiClockOutline, mdiClose } from '@mdi/js';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRoute, useRouter } from 'vue-router';

const i18n = useI18n();
const route = useRoute();
const router = useRouter();
const auth = useAuthStore();
const snackbar = useSnackbarStore();
const { switchActingFor } = useSwitchActingFor();

const { btnLoading, asyncRun } = useAsync({ prevent: true });

const invitation = ref(null as OrganizationInvitation | null);

watch(() => route.params.invitation, async (id) => {
  invitation.value = await action().run(
    query(OrganizationInvitation, id as string),
    include('organization', 'role'),
    one(),
  );

  if (!invitation.value) {
    snackbar.toast({
      icon: mdiClockOutline,
      message: i18n.t('views.auth.invitation.toasts.expired'),
    });

    await router.push({ name: 'account.me' });
  }
}, { immediate: true });

const onAccept = () => asyncRun(async () => {
  await action().run(
    query(invitation.value!),
    makePost('-actions/accept'),
    none(),
  );

  const { memberOfOrganizations } = await action().run(
    query(auth.user),
    include('memberOfOrganizations.organization'),
    fields('memberOfOrganizations'),
    oneOrFail(),
  );

  await switchActingFor(
    memberOfOrganizations.find(
      (m) => m.organization.id === invitation.value!.organization.id,
    ) as OrganizationMember,
  );
});

const onRefuse = () => asyncRun(async () => {
  await action().run(
    query(invitation.value!),
    makePost('-actions/refuse'),
    none(),
  );

  snackbar.toast(i18n.t('views.auth.invitation.toasts.refused'));
  await router.push({ name: 'account.me' });
});
</script>

<template>
  <app-page-layout
    v-if="invitation"
    :title="$t('views.auth.invitation.title')"
    size="normal"
  >
    <v-card v-if="invitation">
      <v-card-text class="text-body-1">
        <p class="my-0">
          {{
            $t('views.auth.invitation.description', {
              organization: translate(invitation.organization.name),
              role: translate(invitation.role.name),
            })
          }}
        </p>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
          :prepend-icon="mdiClose"
          variant="elevated"
          color="error"
          v-bind="btnLoading"
          @click="onRefuse"
        >
          {{ $t('views.auth.invitation.refuse') }}
        </v-btn>
        <v-btn
          :prepend-icon="mdiCheck"
          variant="elevated"
          color="primary"
          v-bind="btnLoading"
          @click="onAccept"
        >
          {{ $t('views.auth.invitation.accept') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </app-page-layout>
</template>
