<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import required from '@/ts/validation/rules/required';
import { mdiLockOutline } from '@mdi/js';
import { raw } from '@foscia/core';
import { makePost } from '@foscia/http';
import { useRoute } from 'vue-router';

const route = useRoute();
const snackbar = useSnackbarStore();
const col = useCol('full');

const passwordInput = useInput({
  name: 'password',
  value: '',
  rules: [required],
});

const { loading, btnLoading, resetDefaults, onSubmit } = useForm([passwordInput] as const, {
  onSubmit: async ({ allValues }) => {
    const { data } = await action()
      .use(makePost('/auth/reset-password', {
        data: {
          token: route.params.token,
          email: decodeURIComponent(route.params.email as string),
          password: allValues.password,
        },
      }))
      .run(raw((r) => r.json()));

    snackbar.toast(data.message);
  },
  onSuccess: () => {
    resetDefaults('password');
  },
});
</script>

<template>
  <app-page-layout
    :title="$t('views.auth.resetPassword.title')"
    size="normal"
  >
    <v-card>
      <v-form
        :readonly="loading"
        @submit="onSubmit"
      >
        <v-card-text class="text-body-1">
          <p class="my-0">
            {{ $t('views.auth.resetPassword.description') }}
          </p>
        </v-card-text>
        <v-card-text>
          <v-row dense>
            <v-col cols="12">
              <required-inputs-hint />
            </v-col>
            <v-col v-bind="col">
              <v-password-input
                :prepend-inner-icon="mdiLockOutline"
                autocomplete="new-password"
                v-bind="passwordInput.props"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-btn
            type="submit"
            class="ml-auto"
            variant="elevated"
            color="primary"
            v-bind="btnLoading"
          >
            {{ $t('views.auth.resetPassword.submit') }}
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </app-page-layout>
</template>
