<script
  lang="ts"
  setup
>
import AuthSocialProvidersLinks from '@/ts/components/auth/AuthSocialProvidersLinks.vue';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useIntended from '@/ts/composables/auth/useIntended';
import useLogin from '@/ts/composables/auth/useLogin';
import useSocialAuthProviders from '@/ts/composables/auth/useSocialAuthProviders';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import toLowerCase from '@/ts/utilities/strings/toLowerCase';
import email from '@/ts/validation/rules/email';
import required from '@/ts/validation/rules/required';
import { mdiAt, mdiLockOutline } from '@mdi/js';

const { login } = useLogin();
const { hasIntended, toWithIntended } = useIntended();
const { providers } = useSocialAuthProviders();

const col = useCol('full');

const emailInput = useInput({
  name: 'email',
  value: '',
  rules: [required, email],
  transforms: toLowerCase,
});

const passwordInput = useInput({
  name: 'password',
  value: '',
  rules: [required],
});

const { loading, btnLoading, reset, onSubmit } = useForm([emailInput, passwordInput] as const, {
  onSubmit: async ({ allValues }) => {
    await login(allValues);
  },
  onFailure: () => {
    reset('password');
  },
});
</script>

<template>
  <app-page-layout
    :title="$t('views.auth.signIn.title')"
    size="normal"
  >
    <v-slide-y-transition leave-absolute>
      <app-alert
        v-if="hasIntended"
        type="info"
        class="mb-3"
      >
        {{ $t('views.auth.signIn.intend') }}
      </app-alert>
    </v-slide-y-transition>
    <v-card>
      <v-form
        :readonly="loading"
        @submit="onSubmit"
      >
        <v-card-text>
          <v-row dense>
            <v-col cols="12">
              <required-inputs-hint />
            </v-col>
            <v-col v-bind="col">
              <v-text-field
                :prepend-inner-icon="mdiAt"
                autocomplete="email"
                type="email"
                v-bind="emailInput.props"
              />
            </v-col>
            <v-col v-bind="col">
              <v-password-input
                :prepend-inner-icon="mdiLockOutline"
                autocomplete="current-password"
                v-bind="passwordInput.props"
              />
            </v-col>
            <v-col
              class="text-right"
              v-bind="col"
            >
              <router-link :to="{ name: 'auth.forgot-password' }">
                {{ $t('views.auth.signIn.forgotPassword') }}
              </router-link>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
            type="submit"
            variant="elevated"
            color="primary"
            size="large"
            class="px-6"
            v-bind="btnLoading"
          >
            {{ $t('views.auth.signIn.submit') }}
          </v-btn>
        </v-card-actions>
      </v-form>
      <template v-if="providers.length">
        <app-divider />
        <v-card-text class="text-center">
          <app-heading
            level="2"
            dense
          >
            {{ $t('views.auth.signIn.signInWithSocials') }}
          </app-heading>
          <auth-social-providers-links :providers="providers" />
        </v-card-text>
      </template>
      <app-divider />
      <v-card-actions class="justify-center">
        <v-btn
          :to="toWithIntended({ name: 'auth.sign-up' })"
          color="primary"
          variant="outlined"
        >
          {{ $t('views.auth.signIn.wantToSignUp') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </app-page-layout>
</template>
