<script
  lang="ts"
  setup
>
import AuthAcceptanceInputs from '@/ts/components/auth/AuthAcceptanceInputs.vue';
import AuthSocialProvidersLinks from '@/ts/components/auth/AuthSocialProvidersLinks.vue';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useAuthAcceptanceInputs from '@/ts/composables/auth/useAuthAcceptanceInputs';
import useIntended from '@/ts/composables/auth/useIntended';
import useRegister from '@/ts/composables/auth/useRegister';
import useSocialAuthProviders from '@/ts/composables/auth/useSocialAuthProviders';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import toLowerCase from '@/ts/utilities/strings/toLowerCase';
import toNameCase from '@/ts/utilities/strings/toNameCase';
import email from '@/ts/validation/rules/email';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';
import { mdiAt, mdiLockOutline } from '@mdi/js';

const { register } = useRegister();
const { hasIntended, toWithIntended } = useIntended();
const { providers } = useSocialAuthProviders();

const halfCol = useCol('half');
const fullCol = useCol('full');

const firstNameInput = useInput({
  name: 'firstName',
  value: '',
  rules: [required, max(30)],
  transforms: toNameCase,
});

const lastNameInput = useInput({
  name: 'lastName',
  value: '',
  rules: [required, max(30)],
  transforms: toNameCase,
});

const emailInput = useInput({
  name: 'email',
  value: '',
  rules: [required, email],
  transforms: toLowerCase,
});

const passwordInput = useInput({
  name: 'password',
  value: '',
  rules: [required],
});

const { termsInput } = useAuthAcceptanceInputs();

const { loading, btnLoading, onSubmit } = useForm([
  firstNameInput,
  lastNameInput,
  emailInput,
  passwordInput,
  termsInput,
] as const, {
  onSubmit: async ({ allValues }) => {
    await register(allValues);
  },
});
</script>

<template>
  <app-page-layout
    :title="$t('views.auth.signUp.title')"
    size="normal"
  >
    <v-slide-y-transition leave-absolute>
      <app-alert
        v-if="hasIntended"
        type="info"
        class="mb-3"
      >
        {{ $t('views.auth.signUp.intend') }}
      </app-alert>
    </v-slide-y-transition>
    <v-card>
      <v-form
        :readonly="loading"
        @submit="onSubmit"
      >
        <v-card-text>
          <v-row dense>
            <v-col cols="12">
              <required-inputs-hint />
            </v-col>
            <v-col v-bind="halfCol">
              <v-text-field
                autocomplete="given-name"
                v-bind="firstNameInput.props"
              />
            </v-col>
            <v-col v-bind="halfCol">
              <v-text-field
                autocomplete="family-name"
                v-bind="lastNameInput.props"
              />
            </v-col>
            <v-col v-bind="fullCol">
              <v-text-field
                :prepend-inner-icon="mdiAt"
                autocomplete="email"
                type="email"
                v-bind="emailInput.props"
              />
            </v-col>
            <v-col v-bind="fullCol">
              <v-password-input
                :prepend-inner-icon="mdiLockOutline"
                autocomplete="new-password"
                v-bind="passwordInput.props"
              />
            </v-col>
            <auth-acceptance-inputs :terms-input="termsInput" />
          </v-row>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
            type="submit"
            variant="elevated"
            color="primary"
            size="large"
            class="px-6"
            v-bind="btnLoading"
          >
            {{ $t('views.auth.signUp.submit') }}
          </v-btn>
        </v-card-actions>
      </v-form>
      <template v-if="providers.length">
        <app-divider />
        <v-card-text class="text-center">
          <app-heading
            level="2"
            dense
          >
            {{ $t('views.auth.signUp.signUpWithSocials') }}
          </app-heading>
          <auth-social-providers-links :providers="providers" />
        </v-card-text>
      </template>
      <app-divider />
      <v-card-actions class="justify-center">
        <v-btn
          :to="toWithIntended({ name: 'auth.sign-in' })"
          color="primary"
          variant="outlined"
        >
          {{ $t('views.auth.signUp.wantToSignIn') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </app-page-layout>
</template>
