<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useAsync from '@/ts/composables/common/useAsync';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { raw } from '@foscia/core';
import { makePost } from '@foscia/http';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const snackbar = useSnackbarStore();

const immediate = route.query.immediate === '1';

const successMessage = ref(null as string | null);
const { btnLoading, asyncRun } = useAsync({ currently: immediate });

const onRequest = () => asyncRun(async () => {
  successMessage.value = null;

  const { data } = await action()
    .use(makePost('/auth/email/verification-notification'))
    .run(raw((r) => r.json()));

  successMessage.value = data.message;

  snackbar.toast(data.message);
});

onMounted(() => {
  if (immediate) {
    onRequest();
  }
});
</script>

<template>
  <app-page-layout
    :title="$t('views.auth.verification.title')"
    size="normal"
  >
    <v-card>
      <v-card-text class="text-body-1">
        <v-fade-transition mode="out-in">
          <app-alert
            v-if="successMessage"
            type="success"
            presentation
          >
            {{ successMessage }}
          </app-alert>
          <p
            v-else-if="!immediate || !btnLoading"
            class="my-0"
          >
            {{ $t('views.auth.verification.description') }}
          </p>
        </v-fade-transition>
      </v-card-text>
      <v-card-actions>
        <v-btn
          class="ml-auto"
          variant="elevated"
          color="primary"
          v-bind="btnLoading"
          @click="onRequest"
        >
          {{ $t('views.auth.verification.submit') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </app-page-layout>
</template>
