<script
  lang="ts"
  setup
>
import AddressPreviewDialog from '@/ts/components/places/AddressPreviewDialog.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import addressLabel from '@/ts/utilities/places/addresses/addressLabel';
import { AddressObject } from '@/ts/utilities/places/types';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiMapOutline } from '@mdi/js';

defineProps<{
  address: Optional<AddressObject>;
}>();
</script>

<template>
  <resource-optional-value
    v-slot="{ value }"
    :value="address"
  >
    <div class="d-flex align-center">
      <span>{{ addressLabel(value) }}</span>
      <address-preview-dialog :address="value">
        <template #activator="{ props }">
          <v-btn
            :title="$t('map.addressPreview.action')"
            :icon="mdiMapOutline"
            variant="tonal"
            size="small"
            class="ml-2"
            v-bind="props"
          />
        </template>
      </address-preview-dialog>
    </div>
  </resource-optional-value>
</template>
