<script
  lang="ts"
  setup
>
import User from '@/ts/api/models/user';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import UserBtn from '@/ts/components/users/UserBtn.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import isExternalRoute from '@/ts/utilities/routes/isExternalRoute';
import resolveRoute from '@/ts/utilities/routes/resolveRoute';
import { Optional } from '@/ts/utilities/types/optional';
import { ModelInstance } from '@foscia/core';
import { useRouter } from 'vue-router';

const props = defineProps<{
  instance: Optional<ModelInstance>;
  chip?: boolean;
}>();

const router = useRouter();

const to = (instance: ModelInstance) => useResourceRouteOne(instance);

const title = (instance: ModelInstance) => {
  const type = useResourceType(instance);
  const meta = useResourceMeta(type);

  return meta.title(instance);
};

const attrs = (instance: ModelInstance) => {
  const type = useResourceType(instance);
  const meta = useResourceMeta(type);

  return { prependIcon: meta.icon };
};

const asChip = (instance: ModelInstance) => {
  if (props.chip) {
    return true;
  }

  return !hasPermissionOn('show', instance)
    || isExternalRoute(resolveRoute(router, to(instance)));
};
</script>

<template>
  <resource-optional-value
    v-slot="{ value }"
    :value="instance"
  >
    <v-chip
      v-if="asChip(value)"
      v-bind="attrs(value)"
    >
      {{ title(value) }}
    </v-chip>
    <user-btn
      v-else-if="value instanceof User"
      :to="to(value)"
      :user="value"
    />
    <v-btn
      v-else
      :to="to(value)"
      variant="tonal"
      v-bind="attrs(value)"
    >
      {{ title(value) }}
    </v-btn>
  </resource-optional-value>
</template>
