<script
  lang="ts"
  setup
>
import ResourceDateValue from '@/ts/components/resources/core/data/ResourceDateValue.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  value: Optional<Date>;
  onProps?: Dictionary;
  onText?: string;
  offProps?: Dictionary;
  offText?: string;
}>();
</script>

<template>
  <v-chip
    v-if="value"
    v-bind="onProps"
  >
    <resource-date-value :date="value" />
    {{ onText }}
  </v-chip>
  <v-chip
    v-else-if="offText"
    v-bind="offProps"
  >
    {{ offText }}
  </v-chip>
  <resource-optional-value
    v-else
    :value="null"
  />
</template>
