<script
    lang="ts"
    setup
>
import Media from '@/ts/api/models/media';
import MediaLibraryListItem from '@/ts/components/media/MediaLibraryListItem.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  value: Optional<Media>;
}>();
</script>

<template>
  <resource-optional-value
    v-slot="{ value: media }"
    :value="value"
  >
    <media-library-list-item
      :media="media"
      max-width="200"
    />
  </resource-optional-value>
</template>
