<script
    lang="ts"
    setup
>
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  value: Optional<boolean>;
}>();
</script>

<template>
  <resource-optional-value
    v-slot="{ value: bool }"
    :value="value"
  >
    <v-chip :color="bool ? 'success' : 'error'">
      {{ bool ? $t('states.true') : $t('states.false') }}
    </v-chip>
  </resource-optional-value>
</template>
