<script
  lang="ts"
  setup
>
import Media from '@/ts/api/models/media';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import ResourceMediaValue from '@/ts/components/resources/core/data/ResourceMediaValue.vue';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  value: Optional<Media[]>;
}>();
</script>

<template>
  <resource-list-value
    v-slot="{ item }"
    :items="value"
    :item-props="{ class: 'resource-media-list-item' }"
  >
    <resource-media-value :value="item" />
  </resource-list-value>
</template>

<style lang="scss">
  .resource-media-list-item {
    max-width: 200px;
    flex: 1;
  }
</style>
