<script
  lang="ts"
  setup
>
import AppHtml from '@/ts/components/data/AppHtml.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import translate, { Translation } from '@/ts/utilities/lang/translate';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  value: Optional<Translation>;
  html?: true;
}>();
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <resource-optional-value
    v-slot="{ value: translatedValue }"
    :value="translate(value, { editing: true })"
  >
    <slot :value="translatedValue">
      <app-html
        v-if="html"
        :value="translatedValue"
        v-bind="$attrs"
      />
      <template v-else>
        {{ translatedValue }}
      </template>
    </slot>
  </resource-optional-value>
</template>
