<script
  lang="ts"
  setup
>
import AppList from '@/ts/components/data/AppList.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  items: Optional<any[] | Dictionary>;
  itemProps?: Dictionary;
  column?: boolean;
}>();
</script>

<template>
  <resource-optional-value
    v-slot="{ value }"
    :value="items"
  >
    <app-list
      :items="value"
      :item-props="itemProps"
      :column="column"
    >
      <template #prepend-item="props">
        <slot
          name="prepend-item"
          v-bind="props"
        />
      </template>
      <template #item="props">
        <slot v-bind="props" />
      </template>
      <template #append-item="props">
        <slot
          name="append-item"
          v-bind="props"
        />
      </template>
    </app-list>
  </resource-optional-value>
</template>
