<script
  lang="ts"
  setup
>
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import { useLangStore } from '@/ts/stores/lang';
import formatDate from '@/ts/utilities/dates/formatDate';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  date: Optional<Date>;
  time?: boolean;
}>();

const lang = useLangStore();
</script>

<template>
  <resource-optional-value
    v-slot="{ value }"
    :value="date"
  >
    {{ formatDate(value, lang.locale, { time }) }}
  </resource-optional-value>
</template>
