<script
  lang="ts"
  setup
>
import isNone from '@/ts/utilities/common/isNone';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  value: Optional<any>;
}>();
</script>

<template>
  <template v-if="isNone(value)">
    -
  </template>
  <template v-else>
    <slot :value="value">
      {{ value }}
    </slot>
  </template>
</template>
