<script
  lang="ts"
  setup
>
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import useEmailLink from '@/ts/composables/links/useEmailLink';
import { Optional } from '@/ts/utilities/types/optional';
import { toRef } from 'vue';

const props = defineProps<{
  email: Optional<string>;
}>();

const link = useEmailLink(toRef(props, 'email'));
</script>

<template>
  <resource-optional-value
    v-slot="{ value }"
    :value="link"
  >
    <v-btn
      :prepend-icon="value.icon"
      :title="value.ariaLabel"
      :href="value.href"
      :target="value.openInNew ? '_blank' : undefined"
      :rel="value.openInNew ? 'noopener' : undefined"
      variant="tonal"
    >
      {{ value.label }}
      <open-in-new-icon v-if="value.openInNew" />
    </v-btn>
  </resource-optional-value>
</template>
