<script
  setup
  lang="ts"
>
import ManyInputItemDialog from '@/ts/components/forms/many/ManyInputItemDialog.vue';
import { Input } from '@/ts/composables/forms/useInput';
import get, { ValueRetriever } from '@/ts/utilities/objects/get';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { mdiChevronDown, mdiChevronUp, mdiTableRowPlusAfter, mdiTableRowPlusBefore } from '@mdi/js';
import { computed } from 'vue';
import { useDisplay } from 'vuetify';

type ManyInputItemOrderActionsProps<I = any> = {
  items: I[];
  item: I;
  index: number;
  canCreate: boolean;
  canUpdate: boolean;
  itemTitle?: ValueRetriever<I>;
  formInputs?: (item: I | null, items: I[]) => Dictionary<Input>;
  formBoot?: (item: I | null, items: I[]) => Awaitable<void>;
  formValues?: (item: I) => Awaitable<Dictionary>;
  onUp: (item: I, index: number) => Awaitable<void>;
  onDown: (item: I, index: number) => Awaitable<void>;
  onAdd: (attrs: Dictionary, index: number) => Awaitable<void>;
  onUpdate: (item: I, attrs: Dictionary, index: number) => Awaitable<void>;
  onDelete: (item: I, index: number) => Awaitable<void>;
};

const props = defineProps<ManyInputItemOrderActionsProps>();

const { xs } = useDisplay();

const canUp = computed(() => props.canUpdate && props.index > 0);
const canDown = computed(() => props.canUpdate && props.index < (props.items.length - 1));

const onUpSubmit = () => props.onUp(props.item, props.index);
const onDownSubmit = () => props.onDown(props.item, props.index);

const onAddBeforeSubmit = (attrs: Dictionary) => props.onAdd(attrs, props.index);
const onAddAfterSubmit = (attrs: Dictionary) => props.onAdd(attrs, props.index + 1);
</script>

<template>
  <div class="d-flex flex-column">
    <div class="d-flex flex-column flex-sm-row mr-1">
      <v-btn
        :title="$t('actions.scoped.up', { name: get(item, itemTitle) })"
        :icon="mdiChevronUp"
        :disabled="!canUp"
        class="mb-1 mr-0 mr-sm-1"
        color="primary"
        variant="tonal"
        density="comfortable"
        @click="onUpSubmit"
      />
      <many-input-item-dialog
        :title="$t('actions.add')"
        :items="items"
        :item="null"
        :form-inputs="formInputs"
        :form-boot="formBoot"
        :on-submit="onAddBeforeSubmit"
      >
        <template #activator="{ props: activatorProps }">
          <v-btn
            :title="$t('actions.scoped.addBefore', { name: get(item, itemTitle) })"
            :icon="mdiTableRowPlusBefore"
            :disabled="!canCreate"
            class="mb-1"
            color="primary"
            variant="tonal"
            density="comfortable"
            v-bind="activatorProps"
          />
        </template>
        <template #inputs="inputProps">
          <slot
            name="inputs"
            v-bind="inputProps"
          />
        </template>
      </many-input-item-dialog>
    </div>
    <div class="d-flex flex-column flex-sm-row mr-1">
      <v-btn
        v-if="!xs"
        :title="$t('actions.scoped.down', { name: get(item, itemTitle) })"
        :icon="mdiChevronDown"
        :disabled="!canDown"
        class="mt-1 mr-1"
        color="primary"
        variant="tonal"
        density="comfortable"
        @click="onDownSubmit"
      />
      <many-input-item-dialog
        :title="$t('actions.add')"
        :items="items"
        :item="null"
        :form-inputs="formInputs"
        :form-boot="formBoot"
        :on-submit="onAddAfterSubmit"
      >
        <template #activator="{ props: activatorProps }">
          <v-btn
            :title="$t('actions.scoped.addAfter', { name: get(item, itemTitle) })"
            :icon="mdiTableRowPlusAfter"
            :disabled="!canCreate"
            class="mt-1"
            color="primary"
            variant="tonal"
            density="comfortable"
            v-bind="activatorProps"
          />
        </template>
        <template #inputs="inputProps">
          <slot
            name="inputs"
            v-bind="inputProps"
          />
        </template>
      </many-input-item-dialog>
      <v-btn
        v-if="xs"
        :title="$t('actions.scoped.down', { name: get(item, itemTitle) })"
        :icon="mdiChevronDown"
        :disabled="!canDown"
        class="mt-1"
        color="primary"
        variant="tonal"
        density="comfortable"
        @click="onDownSubmit"
      />
    </div>
  </div>
</template>
