<script
  setup
  lang="ts"
>
import ManyInputItemDialog from '@/ts/components/forms/many/ManyInputItemDialog.vue';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import { Input } from '@/ts/composables/forms/useInput';
import get, { ValueRetriever } from '@/ts/utilities/objects/get';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { mdiPencilOutline, mdiTrashCanOutline } from '@mdi/js';

type ManyInputItemEditActionsProps<I = any> = {
  items: I[];
  item: I;
  index: number;
  canUpdate: boolean;
  canDelete: boolean;
  itemTitle?: ValueRetriever<I>;
  formInputs?: (item: I | null, items: I[]) => Dictionary<Input>;
  formBoot?: (item: I | null, items: I[]) => Awaitable<void>;
  formValues?: (item: I) => Awaitable<Dictionary>;
  onUp: (item: I, index: number) => Awaitable<void>;
  onDown: (item: I, index: number) => Awaitable<void>;
  onAdd: (attrs: Dictionary, index: number) => Awaitable<void>;
  onUpdate: (item: I, attrs: Dictionary, index: number) => Awaitable<void>;
  onDelete: (item: I, index: number) => Awaitable<void>;
  inline?: boolean;
};

const props = defineProps<ManyInputItemEditActionsProps>();

const onUpdateSubmit = (attrs: Dictionary) => props.onUpdate(props.item, attrs, props.index);

const onDeleteSubmit = () => props.onDelete(props.item, props.index);
</script>

<template>
  <div
    class="d-flex"
    :class="{ 'flex-column': !inline }"
  >
    <many-input-item-dialog
      :title="$t('actions.edit')"
      :items="items"
      :item="item"
      :form-inputs="formInputs"
      :form-boot="formBoot"
      :on-submit="onUpdateSubmit"
    >
      <template #activator="{ props: activatorProps }">
        <v-btn
          :title="$t('actions.scoped.edit', { name: get(item, itemTitle) })"
          :icon="mdiPencilOutline"
          :disabled="!canUpdate"
          :class="{ 'mb-1': !inline }"
          color="primary"
          variant="tonal"
          density="comfortable"
          v-bind="activatorProps"
        />
      </template>
      <template #inputs="inputProps">
        <slot
          name="inputs"
          v-bind="inputProps"
        />
      </template>
    </many-input-item-dialog>
    <confirm-dialog
      :title="$t('actions.delete')"
      :description="$t('actions.details.delete.confirm', { name: get(item, itemTitle) })"
      :run="onDeleteSubmit"
    >
      <template #activator="{ props: activatorProps }">
        <v-btn
          :title="$t('actions.scoped.delete', { name: get(item, itemTitle) })"
          :icon="mdiTrashCanOutline"
          :disabled="!canDelete"
          :class="{ 'mt-1': !inline, 'ml-1': inline }"
          color="error"
          variant="tonal"
          density="comfortable"
          v-bind="activatorProps"
        />
      </template>
    </confirm-dialog>
  </div>
</template>
