<script
  setup
  lang="ts"
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import { Input } from '@/ts/composables/forms/useInput';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { ref, watch } from 'vue';

type ManyInputItemDialogProps<I = any> = {
  title: string;
  items: I[];
  item: I | null;
  formInputs?: (item: I | null, items: I[]) => Dictionary<Input>;
  formBoot?: (item: I | null, items: I[]) => Awaitable<void>;
  formValues?: (item: I) => Awaitable<Dictionary>;
  onSubmit: (attrs: Dictionary) => Awaitable<void>;
};

const props = defineProps<ManyInputItemDialogProps>();

const dialog = ref(false);

const inputs = props.formInputs?.(props.item, props.items) ?? {};

const {
  loading, btnLoading, fill, resetDefaults, onSubmit: onSubmitItem,
} = useForm(Object.values(inputs), {
  boot: () => props.formBoot?.(props.item, props.items),
  async onSubmit({ allValues }) {
    await props.onSubmit(allValues);

    dialog.value = false;
  },
});

watch(dialog, (value) => {
  if (value) {
    if (props.item) {
      fill(props.formValues ? props.formValues(props.item) : { ...props.item });
    } else {
      resetDefaults();
    }
  }
});

const onClose = () => {
  dialog.value = false;
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="title"
    :persistent="loading"
    :form-props="{ readonly: loading, onSubmit: onSubmitItem }"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <slot
          name="inputs"
          :items="items"
          :item="item"
          :inputs="inputs"
        />
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn
        variant="text"
        @click="onClose"
      >
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="primary"
        v-bind="btnLoading"
      >
        {{ $t('actions.confirm') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
