<script
  setup
  lang="ts"
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import ManyInputItemDialog from '@/ts/components/forms/many/ManyInputItemDialog.vue';
import ManyInputItemEditActions from '@/ts/components/forms/many/ManyInputItemEditActions.vue';
import ManyInputItemOrderActions from '@/ts/components/forms/many/ManyInputItemOrderActions.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import { Input } from '@/ts/composables/forms/useInput';
import range from '@/ts/utilities/arrays/range';
import equals from '@/ts/utilities/common/equals';
import get, { ValueRetriever } from '@/ts/utilities/objects/get';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiPlus } from '@mdi/js';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref, toRef, watch } from 'vue';
import { useDisplay } from 'vuetify';

type ManyInputEmits<I = any> = {
  (e: 'update:model-value', v: I[]): void;
};

type ManyInputProps<I = any> = {
  modelValue?: Optional<I[]>;
  label: string;
  addLabel?: string;
  noneLabel?: string;
  itemTitle?: ValueRetriever<I>;
  itemSubtitle?: ValueRetriever<I>;
  itemKey?: ValueRetriever<I>;
  itemFactory?: (attrs: Dictionary, index: number) => Awaitable<I>;
  itemUpdater?: (item: I, attrs: Dictionary, index: number) => Awaitable<void>;
  canCreate?: () => boolean;
  canUpdate?: (item: I) => boolean;
  canDelete?: (item: I) => boolean;
  formInputs?: (item: I | null, items: I[]) => Dictionary<Input>;
  formBoot?: (item: I | null, items: I[]) => Awaitable<void>;
  formValues?: (item: I) => Awaitable<Dictionary>;
  ordered?: boolean;
};

const emit = defineEmits<ManyInputEmits>();

const props = defineProps<ManyInputProps>();

const id = ref(uuidV4());
const { xs } = useDisplay();

const lazyValue = ref([...(props.modelValue ?? [])]);

const noneLabelId = computed(() => `${id.value}-none-label`);

watch(toRef(props, 'modelValue'), (value) => {
  if (!equals(value, lazyValue.value)) {
    lazyValue.value = [...(value ?? [])];
  }
});

watch(lazyValue, (value) => {
  emit('update:model-value', [...value]);
}, { deep: true });

const canCreateItem = computed(() => (props.canCreate ?? (() => true))());
const canUpdateItem = computed(() => (props.canUpdate ?? (() => true)));
const canDeleteItem = computed(() => (props.canDelete ?? (() => true)));

const addItem = props.itemFactory ?? ((attrs: Dictionary) => ({ ...attrs }));
const updateItem = props.itemUpdater ?? ((item: any, attrs: Dictionary) => {
  Object.assign(item, attrs);
});

const onUpdateSubmit = async (item: any, attrs: Dictionary, index: number) => {
  await updateItem(item, attrs, index);
};

const onUpdateNextIndexesSubmit = (from: number) => Promise.all(
  range(from, lazyValue.value.length - 1)
    .map((i) => onUpdateSubmit(lazyValue.value[i], {}, i)),
);

const onSwapSubmit = async (from: number, to: number) => {
  const nextValue = [...lazyValue.value];

  [nextValue[from], nextValue[to]] = [nextValue[to], nextValue[from]];

  lazyValue.value = nextValue;

  await onUpdateNextIndexesSubmit(from);
};

const onUpSubmit = (item: any, index: number) => onSwapSubmit(index - 1, index);

const onDownSubmit = (item: any, index: number) => onSwapSubmit(index, index + 1);

const onAddAtSubmit = async (attrs: Dictionary, index: number) => {
  lazyValue.value.splice(index, 0, await addItem(attrs, index));
};

const onAddAtEndSubmit = (attrs: Dictionary) => onAddAtSubmit(attrs, lazyValue.value.length);

const onDeleteSubmit = async (item: any, index: number) => {
  lazyValue.value.splice(index, 1);
};
</script>

<template>
  <v-input
    :model-value="modelValue"
    v-bind="$attrs"
  >
    <template #default="{ messagesId, isValid }">
      <v-fieldset
        :legend="label"
        :errored="isValid.value === false"
        :messages-id="[messagesId.value, ...(lazyValue.length ? [] : [noneLabelId])].join(' ')"
        class="flex-grow-1"
        nested
      >
        <div
          v-if="!lazyValue.length"
          :id="noneLabelId"
          class="text-medium-emphasis pb-2"
        >
          {{ noneLabel ?? $t('states.none') }}
        </div>
        <v-row
          v-else
          role="list"
          class="py-2"
          dense
        >
          <v-col
            v-for="(item, index) in lazyValue"
            :key="(get(item, itemKey) ?? index) as any"
            role="listitem"
            cols="12"
          >
            <v-card
              color="background"
              elevation="0"
            >
              <v-card-text class="d-flex align-center pa-2">
                <div class="d-flex align-center mr-3">
                  <many-input-item-order-actions
                    v-if="ordered"
                    :items="lazyValue"
                    :item="item"
                    :index="index"
                    :can-create="canCreateItem"
                    :can-update="canUpdateItem(item)"
                    :item-title="itemTitle"
                    :form-inputs="formInputs"
                    :form-boot="formBoot"
                    :on-up="onUpSubmit"
                    :on-down="onDownSubmit"
                    :on-add="onAddAtSubmit"
                    :on-update="onUpdateSubmit"
                    :on-delete="onDeleteSubmit"
                  >
                    <template #inputs="inputProps">
                      <slot
                        name="inputs"
                        v-bind="inputProps"
                      />
                    </template>
                  </many-input-item-order-actions>
                  <many-input-item-edit-actions
                    v-if="!xs || !ordered"
                    :items="lazyValue"
                    :item="item"
                    :index="index"
                    :can-update="canUpdateItem(item)"
                    :can-delete="canDeleteItem(item)"
                    :item-title="itemTitle"
                    :form-inputs="formInputs"
                    :form-boot="formBoot"
                    :on-up="onUpSubmit"
                    :on-down="onDownSubmit"
                    :on-add="onAddAtSubmit"
                    :on-update="onUpdateSubmit"
                    :on-delete="onDeleteSubmit"
                    :inline="!xs && !ordered"
                  >
                    <template #inputs="inputProps">
                      <slot
                        name="inputs"
                        v-bind="inputProps"
                      />
                    </template>
                  </many-input-item-edit-actions>
                </div>
                <div class="v-many-input__item flex-grow-1">
                  <slot
                    name="item"
                    :item="item"
                  >
                    <div>
                      <v-list-item-title>
                        {{ get(item, itemTitle) }}
                      </v-list-item-title>
                      <v-list-item-subtitle v-if="itemSubtitle">
                        {{ get(item, itemSubtitle) }}
                      </v-list-item-subtitle>
                    </div>
                  </slot>
                </div>
              </v-card-text>
              <template v-if="xs && ordered">
                <app-divider />
                <v-card-actions class="justify-end">
                  <many-input-item-edit-actions
                    :items="lazyValue"
                    :item="item"
                    :index="index"
                    :can-update="canUpdateItem(item)"
                    :can-delete="canDeleteItem(item)"
                    :item-title="itemTitle"
                    :form-inputs="formInputs"
                    :form-boot="formBoot"
                    :on-up="onUpSubmit"
                    :on-down="onDownSubmit"
                    :on-add="onAddAtSubmit"
                    :on-update="onUpdateSubmit"
                    :on-delete="onDeleteSubmit"
                    inline
                  >
                    <template #inputs="inputProps">
                      <slot
                        name="inputs"
                        v-bind="inputProps"
                      />
                    </template>
                  </many-input-item-edit-actions>
                </v-card-actions>
              </template>
            </v-card>
          </v-col>
        </v-row>
        <many-input-item-dialog
          :title="$t('actions.add')"
          :items="lazyValue"
          :item="null"
          :index="lazyValue.length"
          :form-inputs="formInputs"
          :form-boot="formBoot"
          :on-submit="onAddAtEndSubmit"
        >
          <template #activator="{ props: activatorProps }">
            <v-btn
              :prepend-icon="mdiPlus"
              :disabled="!canCreateItem"
              color="primary"
              variant="tonal"
              v-bind="activatorProps"
            >
              {{ addLabel ?? $t('actions.add') }}
            </v-btn>
          </template>
          <template #inputs="inputProps">
            <slot
              name="inputs"
              v-bind="inputProps"
            />
          </template>
        </many-input-item-dialog>
      </v-fieldset>
    </template>
  </v-input>
</template>

<style
  lang="scss"
  scoped
>
  .v-many-input__item {
    .v-list-item-title {
      white-space: normal !important;
    }
  }
</style>
