<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import VAddressInput from '@/ts/components/forms/address/VAddressInput.vue';
import VWeekdaysOpeningHoursInput from '@/ts/components/forms/openingHours/VWeekdaysOpeningHoursInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import AccessibleInputs from '@/ts/components/resources/composables/accessible/AccessibleInputs.vue';
import CategorizableInputs from '@/ts/components/resources/composables/categorizable/CategorizableInputs.vue';
import ContactableInputs from '@/ts/components/resources/composables/contactable/ContactableInputs.vue';
import CoverableInputs from '@/ts/components/resources/composables/coverable/CoverableInputs.vue';
import ImageableInputs from '@/ts/components/resources/composables/imageable/ImageableInputs.vue';
import LinkableInputs from '@/ts/components/resources/composables/linkable/LinkableInputs.vue';
import OwnableInputs from '@/ts/components/resources/composables/ownable/OwnableInputs.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';

defineProps<{
  coverInput: Input;
  imagesInput: Input;
  nameInput: Input;
  descriptionInput: Input;
  addressInput: Input;
  openingHoursInput: Input;
  categoriesInput: Input;
  accessibilityInput: Input;
  emailInput: Input;
  phoneInput: Input;
  linksInput: Input;
  ownerOrganizationInput: Input;
  place?: Place;
}>();

const normalCol = useCol();
const largeCol = useCol('large');
</script>

<template>
  <coverable-inputs :cover-input="coverInput" />
  <v-wrap-after />
  <imageable-inputs :images-input="imagesInput" />
  <v-wrap-after />
  <v-col v-bind="normalCol">
    <v-text-field v-bind="nameInput.props" />
  </v-col>
  <v-wrap-after />
  <v-col v-bind="largeCol">
    <v-address-input
      :hint="$t('resources.places.hints.address')"
      persistent-hint
      v-bind="addressInput.props"
    />
  </v-col>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.places.labels.presentation')">
      <v-row dense>
        <ownable-inputs :owner-organization-input="ownerOrganizationInput" />
        <categorizable-inputs :categories-input="categoriesInput" />
        <v-wrap-after />
        <v-col cols="12">
          <v-textarea
            v-bind="descriptionInput.props"
            maxlength="255"
            rows="3"
            counter
          />
        </v-col>
        <v-wrap-after />
        <v-col v-bind="largeCol">
          <v-weekdays-opening-hours-input v-bind="openingHoursInput.props" />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
  <accessible-inputs
    :accessibility-input="accessibilityInput"
    :place="place"
  />
  <contactable-inputs
    :email-input="emailInput"
    :phone-input="phoneInput"
  />
  <linkable-inputs :links-input="linksInput" />
</template>
