<script
  lang="ts"
  setup
>
import usePlaceInputs from '@/ts/composables/resources/places/usePlaceInputs';

const props = usePlaceInputs();
</script>

<template>
  <slot v-bind="props" />
</template>
