<script
  setup
  lang="ts"
>
import Place from '@/ts/api/models/place';
import OpeningWeekdaysHoursTable from '@/ts/components/common/openingHours/OpeningWeekdaysHoursTable.vue';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import AccessibleDataProvider from '@/ts/components/resources/composables/accessible/AccessibleDataProvider.vue';
import CategorizableDataProvider
  from '@/ts/components/resources/composables/categorizable/CategorizableDataProvider.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import ContactableDataProvider from '@/ts/components/resources/composables/contactable/ContactableDataProvider.vue';
import CoverableDataProvider from '@/ts/components/resources/composables/coverable/CoverableDataProvider.vue';
import ImageableDataProvider from '@/ts/components/resources/composables/imageable/ImageableDataProvider.vue';
import LinkableDataProvider from '@/ts/components/resources/composables/linkable/LinkableDataProvider.vue';
import OwnableDataProvider from '@/ts/components/resources/composables/ownable/OwnableDataProvider.vue';
import PublishableDataProvider from '@/ts/components/resources/composables/publishable/PublishableDataProvider.vue';
import SourceableDataProvider from '@/ts/components/resources/composables/sourceable/SourceableDataProvider.vue';
import ResourceAddressValue from '@/ts/components/resources/core/data/ResourceAddressValue.vue';
import ResourceTranslationValue from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Place;
}>();
</script>

<template>
  <accessible-data-provider
    :instance="instance"
    :portals="portals"
  />
  <categorizable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <contactable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <coverable-data-provider
    :instance="instance.cover ? instance : (instance.ownerOrganization ?? instance)"
    :portals="portals"
  />
  <imageable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <linkable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <ownable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <publishable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <sourceable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.name">
    <resource-translation-value :value="instance.name" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.address">
    <resource-address-value :address="instance.address" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.description">
    <resource-translation-value
      v-slot="{ value }"
      :value="instance.description"
    >
      <p class="text-formatted">
        {{ value }}
      </p>
    </resource-translation-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.openingHours">
    <opening-weekdays-hours-table :hours="instance.openingHours" />
  </teleport-to-portal>
</template>
