<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import MenuListItemCheck from '@/ts/components/common/menu/MenuListItemCheck.vue';
import { ListItem } from '@/ts/utilities/common/menu/types';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { computed, unref } from 'vue';

defineSlots<{
  item?: (props: { item: ListItem; props: Dictionary; }) => any;
}>();

const emit = defineEmits<{
  (e: 'item:click', data: { event: Event; item: ListItem; }): void;
  (e: 'item:blur', data: { event: FocusEvent; item: ListItem; }): void;
}>();

const props = defineProps<{
  mode: 'menu' | 'listbox';
  item: ListItem;
  multiple?: boolean;
  hideCheck?: boolean;
}>();

const attrs = computed(() => {
  let itemProps = {
    id: props.item.parsed.id,
    title: props.item.parsed.title,
    'aria-disabled': unref(props.item.disabled) ? 'true' : undefined,
    tabindex: unref(props.item.disabled) ? '-1' : '0',
    class: ['app-menu-list-item', {
      'focusable--focused': unref(props.item.active),
      'pl-1': !props.hideCheck && props.mode === 'listbox',
    }],
    ...props.item.parsed.props,
    onClick: (event: Event) => {
      emit('item:click', { event, item: props.item });
      const propOnClick = props.item.parsed.props?.onClick;
      if (propOnClick) {
        propOnClick(event);
      }
    },
    onBlur: (event: FocusEvent) => {
      emit('item:blur', { event, item: props.item });
    },
  } as Dictionary;

  if (props.mode === 'listbox') {
    itemProps = {
      ...itemProps,
      role: 'option',
      active: unref(props.item.selected),
      'aria-selected': unref(props.item.selected),
      disabled: !!unref(props.item.disabled),
      tabindex: '-1',
    };
  }

  return {
    item: props.item,
    props: itemProps,
  };
});
</script>

<template>
  <app-divider v-if="item.parsed.divider" />
  <div
    v-else-if="item.parsed.items"
    :aria-labelledby="mode === 'listbox' ? item.parsed.id : undefined"
    :role="mode === 'listbox' ? 'group' : 'listitem'"
  >
    <v-list-item
      :id="item.parsed.id"
      :subtitle="item.parsed.title"
    />
    <div
      :role="mode === 'menu' ? 'list' : undefined"
      :aria-labelledby="mode === 'menu' ? item.parsed.id : undefined"
    >
      <menu-list-item
        v-for="subItem in item.parsed.items"
        :key="subItem.parsed.id"
        :mode="mode"
        :item="subItem"
        :multiple="multiple"
        :hide-check="hideCheck"
      >
        <template
          v-if="$slots.item"
          #item="itemProps"
        >
          <slot
            name="item"
            v-bind="itemProps"
          />
        </template>
      </menu-list-item>
    </div>
  </div>
  <div
    v-else
    :role="mode === 'menu' ? 'listitem' : undefined"
  >
    <slot
      name="item"
      v-bind="attrs"
    >
      <v-list-item v-bind="attrs.props">
        <template
          v-if="!hideCheck && mode === 'listbox'"
          #prepend
        >
          <menu-list-item-check
            :item="item"
            :multiple="multiple"
          />
          <v-icon
            v-if="attrs.props?.prependIcon"
            :icon="attrs.props?.prependIcon"
          />
        </template>
      </v-list-item>
    </slot>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .app-menu-list-item {
    min-height: 48px;
  }
</style>
