<script
  lang="ts"
  setup
>
import MenuListItem from '@/ts/components/common/menu/MenuListItem.vue';
import { ListItem } from '@/ts/utilities/common/menu/types';

const emit = defineEmits<{
  (e: 'item:click', data: { event: Event; item: ListItem; }): void;
  (e: 'item:blur', data: { event: FocusEvent; item: ListItem; }): void;
}>();

defineProps<{
  mode: 'menu' | 'listbox';
  items: ListItem[];
  multiple?: boolean;
  hideCheck?: boolean;
}>();

const onItemClick = (data: { event: Event; item: ListItem; }) => {
  emit('item:click', data);
};

const onItemBlur = (data: { event: FocusEvent; item: ListItem; }) => {
  emit('item:blur', data);
};
</script>

<template>
  <div
    :role="mode === 'menu' ? 'list' : 'listbox'"
    class="py-2"
  >
    <slot name="prepend" />
    <menu-list-item
      v-for="item in items"
      :key="item.parsed.id"
      :mode="mode"
      :item="item"
      :multiple="multiple"
      :hide-check="hideCheck"
      @item:click="onItemClick"
      @item:blur="onItemBlur"
    >
      <template
        v-if="$slots.item"
        #item="itemProps"
      >
        <slot
          name="item"
          v-bind="itemProps"
        />
      </template>
    </menu-list-item>
    <slot name="append" />
  </div>
</template>
