<script
  lang="ts"
  setup
>
import { ListItem } from '@/ts/utilities/common/menu/types';
import { unref } from 'vue';

defineProps<{
  item: ListItem;
  multiple?: boolean;
}>();
</script>

<template>
  <v-checkbox-btn
    v-if="multiple"
    :model-value="unref(item.selected)"
    :ripple="false"
    tabindex="-1"
    role="presentation"
    aria-hidden="true"
  />
  <v-radio
    v-else
    :model-value="unref(item.selected)"
    :ripple="false"
    tabindex="-1"
    role="presentation"
    aria-hidden="true"
  />
</template>
