<script
  setup
  lang="ts"
>
import { mdiTrafficCone } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  icon?: boolean;
}>();

const i18n = useI18n();

const label = computed(() => i18n.t('views.places.direction.accessibility.obstacles'));
const ariaLabel = computed(() => (props.icon ? label.value : undefined));
</script>

<template>
  <v-chip
    color="warning"
    variant="flat"
    class="mr-1"
  >
    <v-icon
      :aria-label="ariaLabel"
      :title="ariaLabel"
      :icon="mdiTrafficCone"
      :aria-hidden="!icon"
      :start="!icon"
      role="img"
    />
    <span v-if="!icon">
      {{ label }}
    </span>
  </v-chip>
</template>
