<script
  setup
  lang="ts"
>
import AppLoader from '@/ts/components/common/AppLoader.vue';
import MapDirectionResultItem from '@/ts/components/places/direction/MapDirectionResultItem.vue';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import Direction from '@/ts/utilities/places/directions/direction';
import toMglBounds from '@/ts/utilities/places/map/mgl/toMglBounds';
import { SyncPointOfInterest } from '@/ts/utilities/places/map/types';
import { mdiMapMarkerPath } from '@mdi/js';
import { watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:opened-direction', value: number | null): void;
}>();

const props = defineProps<{
  openedDirection: number | null;
  directionId: string;
  loading: boolean;
  origin?: SyncPointOfInterest | null;
  destination?: SyncPointOfInterest | null;
  directions: Direction[] | null;
}>();

const { withMap } = injectMapData();

watch(() => (props.directions ?? []), (directions) => withMap((map) => {
  const allDirections = [...directions];
  if (allDirections.length > 0) {
    let directionsBounds = toMglBounds(allDirections.pop()!.summary.bounds);
    allDirections.forEach((direction) => {
      directionsBounds = directionsBounds.extend(toMglBounds(direction.summary.bounds));
    });

    map.fitBounds(directionsBounds);
  }
}), { immediate: true });

const onToggleDirection = (index: number, value: boolean) => {
  emit('update:opened-direction', value ? index : null);
};
</script>

<template>
  <div
    :id="directionId"
    :aria-labelledby="`${directionId}-title`"
    role="region"
  >
    <v-card-text class="pb-0">
      <div
        :id="`${directionId}-title`"
        aria-live="polite"
        class="map-direction-results__title text-body-2"
      >
        <v-fade-transition mode="out-in">
          <div v-if="loading">
            <app-loader
              aria-hidden="true"
              size="16"
              class="mr-2"
            />
            {{ $t('views.places.direction.states.loading') }}
          </div>
          <div v-else-if="directions === null">
            {{ $t('views.places.direction.states.waiting') }}
          </div>
          <div
            v-else
            role="heading"
            aria-level="3"
            class="ma-0"
          >
            <v-icon
              :icon="mdiMapMarkerPath"
              size="16"
              class="mr-2"
            />
            <span>
              {{ $t('views.places.direction.states.found', { n: directions.length }) }}
            </span>
          </div>
        </v-fade-transition>
      </div>
    </v-card-text>
    <v-expand-transition>
      <v-card-text
        v-if="!loading && origin && destination && directions && directions.length"
        role="list"
        class="map-direction-results__list py-0 px-2"
      >
        <div
          v-for="(direction, index) in directions"
          :key="`directions-${direction.id}`"
          role="listitem"
          class="mt-2"
        >
          <map-direction-result-item
            :model-value="openedDirection === index"
            :position="index"
            :origin="origin"
            :destination="destination"
            :direction="direction"
            @update:model-value="onToggleDirection(index, $event)"
          />
        </div>
      </v-card-text>
    </v-expand-transition>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .map-direction-results__title {
    :deep(.fade-transition-enter-active) {
      transition-duration: 150ms !important;
    }

    :deep(.fade-transition-leave-active) {
      transition-duration: 150ms !important;
    }
  }

  .map-direction-results__list.expand-transition-leave-active {
    transition-duration: 0.0s !important;
  }
</style>
