<script
  setup
  lang="ts"
>
import MapDirectionListItem from '@/ts/components/places/direction/MapDirectionListItem.vue';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import { IconValue } from '@/ts/icons/makeSvgIcon';
import { useLangStore } from '@/ts/stores/lang';
import DirectionManeuver from '@/ts/utilities/places/directions/directionManeuver';
import formatDistance from '@/ts/utilities/places/map/formatDistance';
import { v4 as uuidV4 } from 'uuid';
import { onBeforeUnmount, ref, watch } from 'vue';

const emit = defineEmits<{
  (e: 'activate'): void;
  (e: 'deactivate'): void;
}>();

const props = defineProps<{
  maneuver: DirectionManeuver;
  icon: IconValue;
  iconLabel?: string;
  active?: boolean;
}>();

const lang = useLangStore();
const { withMap } = injectMapData();

const sourceId = ref(null as string | null);
const mapLayers = ref([] as string[]);

const addSourceAndLayers = () => withMap((map) => {
  sourceId.value = `focus-${uuidV4()}`;
  map.addSource(sourceId.value, props.maneuver.source());

  props.maneuver.layers(sourceId.value, {
    color: '#0f53ff',
    visible: true,
    // contrasted: highContrast.value,
    // disabled: isAlternate,
  }).forEach((layer) => {
    map.addLayer(layer);
    mapLayers.value.push(layer.id);
  });
});

const removeLayersAndSource = () => withMap((map) => {
  mapLayers.value.forEach((layerId) => {
    map.removeLayer(layerId);
  });
  mapLayers.value = [];

  if (sourceId.value) {
    map.removeSource(sourceId.value);
    sourceId.value = null;
  }
});

watch(() => props.active, (value) => {
  if (value) {
    addSourceAndLayers();
  } else {
    removeLayersAndSource();
  }
}, { immediate: true });

onBeforeUnmount(() => {
  removeLayersAndSource();
});
</script>

<template>
  <map-direction-list-item
    :icon="icon"
    :icon-label="iconLabel"
    :active="active"
    v-bind="$attrs"
    @activate="emit('activate')"
    @deactivate="emit('deactivate')"
  >
    <template #content>
      <slot name="content" />
    </template>
    <template #prepend-divider>
      <span class="text-body-2 text-medium-emphasis">
        {{ formatDistance(maneuver.summary.distance, lang.locale) }}
      </span>
    </template>
    <template
      v-if="$slots['append-divider']"
      #append-divider
    >
      <div class="d-flex align-center">
        <slot name="append-divider" />
      </div>
    </template>
  </map-direction-list-item>
</template>
