<script
  setup
  lang="ts"
>
import MapDirectionManeuverItem
  from '@/ts/components/places/direction/MapDirectionManeuverItem.vue';
import MapDirectionTransitStepItem
  from '@/ts/components/places/direction/MapDirectionTransitStepItem.vue';
import last from '@/ts/utilities/arrays/last';
import formatDuration from '@/ts/utilities/dates/formatDuration';
import DirectionTransitManeuver from '@/ts/utilities/places/directions/directionTransitManeuver';
import { mdiChevronDown, mdiChevronUp } from '@mdi/js';
import { ref } from 'vue';

const emit = defineEmits<{
  (e: 'activate'): void;
  (e: 'deactivate'): void;
}>();

defineProps<{
  maneuver: DirectionTransitManeuver;
  active?: boolean;
}>();

const showSteps = ref(false);

const onToggleSteps = () => {
  showSteps.value = !showSteps.value;
};
</script>

<template>
  <map-direction-maneuver-item
    :maneuver="maneuver"
    :icon="maneuver.travelType.props.icon"
    :icon-label="maneuver.travelType.label"
    :aria-expanded="String(showSteps)"
    :active="active"
    @click="onToggleSteps"
    @activate="emit('activate')"
    @deactivate="emit('deactivate')"
  >
    <template #content>
      <div class="text-body-1 text-truncate">
        <v-chip
          :color="maneuver.bgColor"
          :style="{ color: maneuver.fgColor }"
          variant="flat"
          size="small"
          class="z-index-1"
        >
          {{ maneuver.transit.shortName }}
        </v-chip>
        {{ maneuver.transit.directionName }}
      </div>
      <div
        class="map-direction-transit-steps py-1"
        role="list"
      >
        <div
          :style="{ color: maneuver.bgColor }"
          class="map-direction-transit-line"
        />
        <map-direction-transit-step-item
          :name="maneuver.transit.stops[0].name"
          :date="maneuver.transit.stops[0].departureAt"
          :color="maneuver.bgColor"
          role="listitem"
        />
        <template v-if="maneuver.transit.stops.length > 2">
          <map-direction-transit-step-item
            class="text-medium-emphasis"
            role="listitem"
          >
            <v-icon
              :icon="showSteps ? mdiChevronUp : mdiChevronDown"
              size="small"
              start
            />
            <span>
              {{ `${maneuver.transit.stops.length - 2} arrêts` }}
            </span>
          </map-direction-transit-step-item>
          <v-expand-transition>
            <div v-if="showSteps">
              <map-direction-transit-step-item
                v-for="(step, index) in maneuver.transit.stops.slice(1, -1)"
                :key="`steps-${index}`"
                :name="step.name"
                :date="step.arrivalAt"
                :color="maneuver.bgColor"
                role="listitem"
              />
            </div>
          </v-expand-transition>
        </template>
        <map-direction-transit-step-item
          :name="last(maneuver.transit.stops).name"
          :date="last(maneuver.transit.stops).arrivalAt"
          :color="maneuver.bgColor"
          role="listitem"
        />
      </div>
    </template>
    <template #append-divider>
      <v-chip size="small">
        {{ formatDuration(maneuver.summary.time) }}
      </v-chip>
    </template>
  </map-direction-maneuver-item>
</template>

<style
  lang="scss"
  scoped
>
  .map-direction-transit-steps {
    position: relative;
    margin-left: 5px;
  }

  .map-direction-transit-line {
    position: absolute;
    top: -1.25rem;
    bottom: 1.25rem;
    left: 3px;
    width: 6px;
    background: currentColor;
    border-radius: 32px;
  }
</style>
