<script
  setup
  lang="ts"
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import useFocus from '@/ts/composables/common/useFocus';
import useClickListener from '@/ts/composables/dom/useClickListener';
import { IconValue } from '@/ts/icons/makeSvgIcon';
import { computed, ref, toRef, watch } from 'vue';

const emit = defineEmits<{
  (e: 'activate'): void;
  (e: 'deactivate'): void;
}>();

const props = defineProps<{
  active?: boolean;
  disabled?: boolean;
  icon: IconValue;
  iconColor?: string;
  iconLabel?: string;
  onClick?: (event: Event) => void;
}>();

const isHovered = ref(false);
const { focused: isFocused, focus, blur } = useFocus();
const listeners = useClickListener(toRef(props, 'onClick'));

const onMouseenter = () => {
  isHovered.value = true;
};

const onMouseleave = () => {
  isHovered.value = false;
};

watch(() => props.active, (value) => {
  if (!value) {
    isFocused.value = false;
    isHovered.value = false;
  }
});

watch(computed(() => isFocused.value || isHovered.value), (value) => {
  if (value) {
    emit('activate');
  } else {
    emit('deactivate');
  }
});
</script>

<template>
  <div
    :role="onClick ? 'button' : undefined"
    :tabindex="disabled ? undefined : '0'"
    :class="{ 'map-direction-list-item--active': active }"
    class="map-direction-list-item d-flex align-start rounded-lg pt-1"
    v-bind="listeners"
    @focus="focus"
    @blur="blur"
    @mouseenter="onMouseenter"
    @mouseleave="onMouseleave"
  >
    <div class="map-direction-list-item__prepend">
      <div class="map-direction-list-item__icon">
        <v-icon
          :icon="icon"
          :color="iconColor"
          :title="iconLabel"
          :aria-label="iconLabel"
          v-bind="iconLabel ? { role: 'img', 'aria-hidden': 'false' } : {}"
        />
      </div>
    </div>
    <div class="map-direction-list-item__content flex-grow-1 pr-1 pb-1">
      <div>
        <slot name="content" />
      </div>
      <div
        v-if="$slots['prepend-divider'] || $slots['append-divider']"
        class="d-flex flex-wrap align-center mt-1"
      >
        <div>
          <slot name="prepend-divider" />
        </div>
        <app-divider
          class="flex-1-1"
          :class="{ 'ml-2': $slots['prepend-divider'], 'mr-2': $slots['append-divider'] }"
        />
        <div>
          <slot name="append-divider" />
        </div>
      </div>
    </div>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .map-direction-list-item {
    position: relative;
    outline: none;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &:before {
      background: rgb(var(--v-theme-primary));
    }

    &:after {
      border: 2px solid rgb(var(--v-theme-primary));
    }

    &.map-direction-list-item--active {
      &:before {
        opacity: calc(0.05 * var(--v-theme-overlay-multiplier));
      }

      &:after {
        opacity: calc(0.2 * var(--v-theme-overlay-multiplier));
      }
    }
  }

  .map-direction-list-item__prepend {
    position: relative;
    margin-right: 12px;
  }

  .map-direction-list-item__icon :deep(.v-icon) {
    height: 30px;
    width: 30px;
  }

  .map-direction-list-item__content {
    min-width: 0;
  }
</style>
