<script
  setup
  lang="ts"
>
import MapDirectionManeuverItem
  from '@/ts/components/places/direction/MapDirectionManeuverItem.vue';
import MapDirectionObstacleChip
  from '@/ts/components/places/direction/MapDirectionObstacleChip.vue';
import DirectionPedestrianManeuver
  from '@/ts/utilities/places/directions/directionPedestrianManeuver';

const emit = defineEmits<{
  (e: 'activate'): void;
  (e: 'deactivate'): void;
}>();

defineProps<{
  maneuver: DirectionPedestrianManeuver;
  active?: boolean;
}>();
</script>

<template>
  <map-direction-maneuver-item
    :maneuver="maneuver"
    :icon="maneuver.maneuverType.props.icon"
    :active="active"
    @activate="emit('activate')"
    @deactivate="emit('deactivate')"
  >
    <template #content>
      <div class="text-body-1">
        {{ maneuver.summary.instruction }}
      </div>
    </template>
    <template #append-divider>
      <map-direction-obstacle-chip
        v-if="maneuver.accessibility.obstacles"
        size="small"
        icon
      />
      <v-chip
        :color="maneuver.accessibility.level.props.chipColor"
        variant="flat"
        size="small"
      >
        {{ maneuver.accessibility.level.label }}
      </v-chip>
    </template>
  </map-direction-maneuver-item>
</template>
