<script
  setup
  lang="ts"
>
import MapDirectionListItem from '@/ts/components/places/direction/MapDirectionListItem.vue';
import { useLangStore } from '@/ts/stores/lang';
import formatTime from '@/ts/utilities/dates/formatTime';
import Direction from '@/ts/utilities/places/directions/direction';
import { SyncPointOfInterest } from '@/ts/utilities/places/map/types';
import { mdiMapMarker } from '@mdi/js';

const emit = defineEmits<{
  (e: 'activate'): void;
  (e: 'deactivate'): void;
}>();

defineProps<{
  poi: SyncPointOfInterest;
  direction: Direction;
  color: string;
  date?: Date;
  active?: boolean;
}>();

const lang = useLangStore();
</script>

<template>
  <map-direction-list-item
    :icon="mdiMapMarker"
    :icon-color="color"
    :active="active"
    @activate="emit('activate')"
    @deactivate="emit('deactivate')"
  >
    <template #content>
      <div class="d-flex align-start">
        <div class="flex-grow-1">
          <div class="text-body-1">
            {{ poi.title }}
          </div>
          <div
            v-if="$t('views.places.direction.poi.custom.subtitle') !== poi.subtitle"
            class="text-body-2"
          >
            {{ poi.subtitle }}
          </div>
        </div>
        <div
          v-if="date"
          class="text-body-1 text-medium-emphasis ml-2"
        >
          {{ formatTime(date, lang.locale) }}
        </div>
      </div>
    </template>
  </map-direction-list-item>
</template>
