<script
  setup
  lang="ts"
>
import { useLangStore } from '@/ts/stores/lang';
import formatTime from '@/ts/utilities/dates/formatTime';

defineProps<{
  name?: string;
  color?: string;
  date?: Date;
}>();

const lang = useLangStore();
</script>

<template>
  <div
    class="position-relative d-flex align-center justify-space-between text-body-2 py-1"
  >
    <div
      v-if="color"
      class="map-direction-transit-step__circle"
      :style="{ color }"
    />
    <div class="text-truncate ml-5 mr-2">
      <slot>
        {{ name }}
      </slot>
    </div>
    <div
      v-if="date"
      class="text-medium-emphasis"
    >
      {{ formatTime(date, lang.locale) }}
    </div>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .map-direction-transit-step__circle {
    position: absolute;
    background: rgb(var(--v-theme-surface));
    border: 2px solid currentColor;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
</style>
