<script
  setup
  lang="ts"
>
import AppTooltipBtn from '@/ts/components/common/AppTooltipBtn.vue';
import AppMenu from '@/ts/components/common/menu/AppMenu.vue';
import useLoadingBtnProps from '@/ts/composables/common/useLoadingBtnProps';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import env from '@/ts/env';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import downloadFile from '@/ts/utilities/files/downloadFile';
import convertToGpxXmlDocument from '@/ts/utilities/places/directions/convertToGpxXmlDocument';
import Direction from '@/ts/utilities/places/directions/direction';
import directionAdapter from '@/ts/utilities/places/directions/directionAdapter';
import { SyncPointOfInterest } from '@/ts/utilities/places/map/types';
import normalize from '@/ts/utilities/strings/normalize';
import toKebabCase from '@/ts/utilities/strings/toKebabCase';
import {
  mdiLoginVariant,
  mdiLogoutVariant,
  mdiShareVariantOutline,
  mdiTrayArrowDown,
} from '@mdi/js';
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRoute, useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  position: number;
  origin: SyncPointOfInterest;
  destination: SyncPointOfInterest;
  direction: Direction;
}>();

const { smAndDown } = useDisplay();
const i18n = useI18n();
const route = useRoute();
const router = useRouter();
const snackbar = useSnackbarStore();

const sharing = ref(false);
const downloading = ref(false);

const shareBtnProps = useLoadingBtnProps(sharing);
const downloadBtnProps = useLoadingBtnProps(downloading);

const mapPlaceRoute = useMapPlaceRoute(null, 'directions');
const mapDirectionRoute = computed(() => router.resolve({
  ...mapPlaceRoute.value,
  query: {
    t: route.query.t,
    ti: String(props.position),
  },
}));
const mapDirectionLink = computed(() => `${env.app.url}${mapDirectionRoute.value.fullPath}`);
const mapDirectionName = computed(() => i18n.t('views.places.direction.name', {
  origin: props.origin.title,
  destination: props.destination.title,
}));

const mapDirectionExternalLink = computed(() => props.direction.summary.link);

const share = async (link: string) => {
  sharing.value = true;

  const shareData = {
    title: mapDirectionName.value,
    url: link,
  } satisfies ShareData;

  try {
    if (navigator.share && navigator.canShare(shareData)) {
      await navigator.share(shareData);
    } else {
      await navigator.clipboard.writeText(shareData.url);

      snackbar.toast(i18n.t('views.places.direction.actions.share.copied'));
    }
  } catch {
    snackbar.toast({
      message: i18n.t('views.places.direction.actions.share.error'),
      icon: '$error',
    });
  }

  sharing.value = false;
};

const mapDirectionShareItems = computed(() => [
  {
    title: i18n.t('views.places.direction.actions.share.using', { name: env.app.name }),
    props: {
      prependIcon: mdiLoginVariant,
      subtitle: i18n.t('views.places.direction.actions.share.internal'),
      onClick: () => share(mapDirectionLink.value),
    },
  },
  {
    title: i18n.t('views.places.direction.actions.share.using', { name: directionAdapter!.name }),
    props: {
      prependIcon: mdiLogoutVariant,
      subtitle: i18n.t('views.places.direction.actions.share.external', {
        external: directionAdapter!.name,
      }),
      onClick: () => share(mapDirectionExternalLink.value!),
    },
  },
]);

const onDownloadClick = () => {
  downloading.value = true;

  const gpxXmlDocument = convertToGpxXmlDocument({
    name: mapDirectionName.value,
    link: mapDirectionLink.value,
    origin: props.origin,
    destination: props.destination,
  }, props.direction);
  const gpxBlob = new Blob([
    new XMLSerializer().serializeToString(gpxXmlDocument),
  ], { type: 'text/xml' });

  downloadFile(gpxBlob, `itineraire-${toKebabCase(normalize(mapDirectionName.value))}.gpx`);

  downloading.value = false;
};
</script>

<template>
  <v-btn-group
    :class="{ 'map-direction-btn-group--mobile': smAndDown }"
    class="map-direction-btn-group"
    color="primary"
    variant="tonal"
    divided
  >
    <app-menu
      v-if="mapDirectionExternalLink"
      :items="mapDirectionShareItems"
      mode="menu"
    >
      <template #activator="{ props: activatorProps }">
        <app-tooltip-btn
          :title="$t('views.places.direction.actions.share.title')"
          icon
          v-bind="{ ...shareBtnProps, ...activatorProps }"
        >
          <v-icon :icon="mdiShareVariantOutline" />
        </app-tooltip-btn>
      </template>
    </app-menu>
    <app-tooltip-btn
      v-else
      :title="$t('views.places.direction.actions.share.title')"
      icon
      v-bind="shareBtnProps"
      @click="() => share(mapDirectionLink)"
    >
      <v-icon :icon="mdiShareVariantOutline" />
    </app-tooltip-btn>
    <app-tooltip-btn
      :title="$t('views.places.direction.actions.download.title')"
      icon
      v-bind="downloadBtnProps"
      @click="onDownloadClick"
    >
      <v-icon :icon="mdiTrayArrowDown" />
    </app-tooltip-btn>
  </v-btn-group>
</template>

<style
  scoped
  lang="scss"
>
  .map-direction-btn-group {
    height: auto !important;
    min-height: 36px;

    &.map-direction-btn-group--mobile {
      min-height: 44px;
    }
  }
</style>
