<script
  setup
  lang="ts"
>
import MapDirectionPedestrianManeuverItem
  from '@/ts/components/places/direction/MapDirectionPedestrianManeuverItem.vue';
import MapDirectionTransitManeuverItem from '@/ts/components/places/direction/MapDirectionTransitManeuverItem.vue';
import { DirectionStep } from '@/ts/utilities/places/directions/direction';
import DirectionPedestrianManeuver from '@/ts/utilities/places/directions/directionPedestrianManeuver';
import DirectionTransitManeuver from '@/ts/utilities/places/directions/directionTransitManeuver';

const emit = defineEmits<{
  (e: 'activate'): void;
  (e: 'deactivate'): void;
}>();

defineProps<{
  step: DirectionStep;
  active?: boolean;
}>();
</script>

<template>
  <map-direction-pedestrian-maneuver-item
    v-if="step instanceof DirectionPedestrianManeuver"
    :maneuver="step"
    :active="active"
    @activate="emit('activate')"
    @deactivate="emit('deactivate')"
  />
  <map-direction-transit-maneuver-item
    v-else-if="step instanceof DirectionTransitManeuver"
    :maneuver="step"
    :active="active"
    @activate="emit('activate')"
    @deactivate="emit('deactivate')"
  />
</template>
