<script
  setup
  lang="ts"
>
import VPointOfInterestInput from '@/ts/components/forms/map/VPointOfInterestInput.vue';
import MglMapMarker from '@/ts/components/places/map/mgl/MglMapMarker.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import equals from '@/ts/utilities/common/equals';
import debounce from '@/ts/utilities/functions/debounce';
import mapWithKeys from '@/ts/utilities/objects/mapWithKeys';
import directionAdapter from '@/ts/utilities/places/directions/directionAdapter';
import { DirectionValues } from '@/ts/utilities/places/directions/types';
import { GeoCoordinates, PointOfInterest } from '@/ts/utilities/places/map/types';
import { mdiMapMarker, mdiSwapVertical } from '@mdi/js';
import { computed, nextTick, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', values: Partial<DirectionValues>): void;
}>();

const props = defineProps<{
  modelValue: Partial<DirectionValues>;
  directionId: string;
}>();

const { mapRef } = injectMapData();

const i18n = useI18n();

const originCoordinates = ref(null as GeoCoordinates | null);
const destinationCoordinates = ref(null as GeoCoordinates | null);

const originInput = useInput({
  name: 'origin',
  label: i18n.t('views.places.direction.labels.origin'),
  value: props.modelValue.origin ?? null as PointOfInterest | null,
});

const destinationInput = useInput({
  name: 'destination',
  label: i18n.t('views.places.direction.labels.destination'),
  value: props.modelValue.destination ?? null as PointOfInterest | null,
});

const originMarkerTitle = computed(() => [
  i18n.t('views.places.direction.labels.origin'),
  originInput.value?.title,
].join(' '));
const destinationMarkerTitle = computed(() => [
  i18n.t('views.places.direction.labels.destination'),
  destinationInput.value?.title,
].join(' '));

const ImplementationFormComponent = directionAdapter!.formComponent();
const implementationFormInputs = directionAdapter!.formInputs(props.modelValue);

const { loading, btnLoading } = useForm([
  originInput,
  destinationInput,
  ...Object.values(implementationFormInputs),
] as const);

const directionValues = computed(() => ({
  ...mapWithKeys(implementationFormInputs, (input) => ({
    [input.props.name]: input.value,
  })),
  origin: originCoordinates.value && originInput.value ? {
    ...originInput.value,
    coordinates: originCoordinates.value,
  } : undefined,
  destination: destinationCoordinates.value && destinationInput.value ? {
    ...destinationInput.value,
    coordinates: destinationCoordinates.value,
  } : undefined,
}));

const updateCoordinates = debounce(async (
  origin: PointOfInterest | null,
  destination: PointOfInterest | null,
) => {
  const coordinatesOf = async (poi: PointOfInterest | null) => {
    if (poi) {
      return typeof poi.coordinates === 'function' ? poi.coordinates() : poi.coordinates;
    }

    return null;
  };

  originCoordinates.value = await coordinatesOf(origin);
  destinationCoordinates.value = await coordinatesOf(destination);
}, 50);

watch([
  originInput.valueRef,
  destinationInput.valueRef,
], ([origin, destination]) => {
  updateCoordinates(origin, destination);
}, { immediate: true });

const onChange = () => {
  emit('update:model-value', directionValues.value);
};

watch(Object.values(implementationFormInputs).map((input) => input.valueRef), () => {
  onChange();
});

watch([
  originCoordinates,
  destinationCoordinates,
  originInput.valueRef,
  destinationInput.valueRef,
], ([origin, destination]) => {
  if (origin && destination) {
    mapRef.value?.fitBounds([origin, destination]);
  }

  onChange();
});

watch(() => props.modelValue, (value) => {
  if (!equals(directionValues.value, value)) {
    originInput.value = value.origin ?? null;
    destinationInput.value = value.destination ?? null;
  }
});

const onReverseDestinations = async () => {
  const origin = originInput.valueRef.value;
  const destination = destinationInput.valueRef.value;
  // First remove origin to avoid fit bounds if only one value.
  originInput.valueRef.value = null;
  destinationInput.valueRef.value = null;
  await nextTick();
  originInput.valueRef.value = destination;
  destinationInput.valueRef.value = origin;
};
</script>

<template>
  <v-form
    :readonly="loading"
    :aria-controls="directionId"
    style="cursor: auto;"
  >
    <v-card-text>
      <div class="d-flex align-end mr-n2">
        <v-row>
          <v-col cols="12">
            <v-point-of-interest-input
              :map="mapRef!"
              :placeholder="$t('views.places.direction.hints.searchOrPoint')"
              variant="outlined"
              density="comfortable"
              class="map-direction-poi-input"
              init-with-my-position
              hide-details
              v-bind="originInput.props"
            >
              <template #prepend-inner>
                <v-icon
                  :icon="mdiMapMarker"
                  color="success"
                  size="small"
                  style="opacity: 1;"
                />
              </template>
            </v-point-of-interest-input>
            <mgl-map-marker
              v-if="originInput.value && originCoordinates"
              :map="mapRef?.map()"
              :coordinates="originCoordinates"
              :title="originMarkerTitle"
              color="success"
            >
              <template #title>
                <v-list-item
                  :title="$t('views.places.direction.labels.origin')"
                  :subtitle="originInput.value.title"
                  class="px-0"
                />
              </template>
            </mgl-map-marker>
          </v-col>
          <v-col cols="12">
            <v-point-of-interest-input
              :map="mapRef!"
              :placeholder="$t('views.places.direction.hints.searchOrPoint')"
              variant="outlined"
              density="comfortable"
              class="map-direction-poi-input"
              hide-details
              v-bind="destinationInput.props"
            >
              <template #prepend-inner>
                <v-icon
                  :icon="mdiMapMarker"
                  color="error"
                  size="small"
                  style="opacity: 1;"
                />
              </template>
            </v-point-of-interest-input>
            <mgl-map-marker
              v-if="destinationInput.value && destinationCoordinates"
              :map="mapRef?.map()"
              :coordinates="destinationCoordinates"
              :title="destinationMarkerTitle"
              color="error"
            >
              <template #title>
                <v-list-item
                  :title="$t('views.places.direction.labels.destination')"
                  :subtitle="destinationInput.value.title"
                  class="px-0"
                />
              </template>
            </mgl-map-marker>
          </v-col>
        </v-row>
        <v-btn
          :title="$t('views.places.direction.labels.swap')"
          :icon="mdiSwapVertical"
          variant="text"
          v-bind="btnLoading"
          @click="onReverseDestinations"
        />
      </div>
      <template v-if="ImplementationFormComponent">
        <component
          :is="ImplementationFormComponent"
          class="pt-6"
          v-bind="implementationFormInputs"
        />
      </template>
    </v-card-text>
  </v-form>
</template>

<style
  lang="scss"
  scoped
>
  :deep(.map-direction-poi-input .v-field__input > input) {
    text-overflow: ellipsis;
  }
</style>
