<script
  setup
  lang="ts"
>
import DirectionManeuver from '@/ts/utilities/places/directions/directionManeuver';

defineProps<{
  maneuver: DirectionManeuver;
}>();

</script>

<template>
  <v-chip
    :color="maneuver.bgColor"
    :variant="maneuver.bgColor ? 'flat' : 'tonal'"
    :style="{ color: maneuver.fgColor }"
  >
    <template #prepend>
      <v-icon
        :icon="maneuver.travelType.props.icon"
        :title="maneuver.travelType.label"
        aria-hidden="false"
        role="img"
        start
      />
    </template>
    <slot />
  </v-chip>
</template>

<style
  scoped
  lang="scss"
>

</style>
