<script
  lang="ts"
  setup
>
import { Coverable } from '@/ts/api/composables/coverable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceMediaValue from '@/ts/components/resources/core/data/ResourceMediaValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Coverable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.cover">
    <resource-media-value :value="instance.cover" />
  </teleport-to-portal>
</template>
