<script
  lang="ts"
  setup
>
import VMediaInput from '@/ts/components/forms/VMediaInput.vue';
import { Input } from '@/ts/composables/forms/useInput';

defineProps<{
  coverInput: Input;
}>();
</script>

<template>
  <v-col cols="12">
    <v-media-input
      density="comfortable"
      only="image"
      visibility="public"
      v-bind="coverInput.props"
    />
  </v-col>
</template>
