<script
  setup
  lang="ts"
>
import { Sourceable } from '@/ts/api/composables/sourceable';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import AppInlineList from '@/ts/components/data/AppInlineList.vue';
import useSourceableLinks from '@/ts/composables/resources/composables/sourceable/useSourceableLinks';
import { toRef } from 'vue';

const props = defineProps<{
  sourceable: Sourceable;
}>();

const sources = useSourceableLinks(toRef(props, 'sourceable'));
</script>

<template>
  <i18n-t
    scope="global"
    keypath="composables.sourceable.sourcedFrom"
    tag="span"
  >
    <template #origins>
      <app-inline-list
        v-slot="{ item }"
        :items="[...sources.entries()]"
      >
        <a
          :href="item[1] || item[0].props.website"
          target="_blank"
          rel="noopener"
        >
          {{ item[0].label }}
          <open-in-new-icon />
        </a>
      </app-inline-list>
    </template>
  </i18n-t>
</template>

<style
  scoped
  lang="scss"
>

</style>
