<script
  lang="ts"
  setup
>
import { BaseModelInstance } from '@/ts/api/makeModel';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceDateValue from '@/ts/components/resources/core/data/ResourceDateValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: BaseModelInstance;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.createdAt">
    <resource-date-value :date="instance.createdAt" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.updatedAt">
    <resource-date-value :date="instance.updatedAt" />
  </teleport-to-portal>
</template>
