<script
  lang="ts"
  setup
>
defineProps<{
  type?: 'info' | 'success' | 'warning' | 'error';
  presentation?: boolean;
  alwaysWrap?: boolean;
}>();
</script>

<template>
  <v-alert
    :type="type"
    :role="presentation ? undefined : 'alert'"
    variant="tonal"
    v-bind="$attrs"
  >
    <div
      class="d-flex align-center flex-wrap"
      :class="{ 'flex-sm-nowrap': !alwaysWrap }"
    >
      <div>
        <slot name="content">
          <p class="my-0">
            <slot />
          </p>
        </slot>
      </div>
      <div
        v-if="$slots.append"
        :class="{ 'mt-sm-0': !alwaysWrap }"
        class="ml-auto mt-2"
      >
        <slot name="append" />
      </div>
    </div>
  </v-alert>
</template>
