<script
  lang="ts"
  setup
>
import { computed } from 'vue';

const props = defineProps<{
  size?: number | string;
  color?: string;
  icon?: string;
}>();

const avatarSize = computed(() => Number(props.size ?? 40));
const contentSize = computed(() => avatarSize.value * 0.6);
</script>

<template>
  <v-avatar
    :size="avatarSize"
    :color="color"
    role="presentation"
    aria-hidden="true"
    variant="tonal"
    rounded="lg"
    start
  >
    <v-icon
      :icon="icon"
      :size="contentSize"
    />
  </v-avatar>
</template>
