<script
  lang="ts"
  setup
>
import { computed } from 'vue';

const props = defineProps<{
  level: 1 | 2 | 3 | '1' | '2' | '3';
  dense?: boolean;
}>();

const tag = computed(() => `h${props.level}`);
const classes = computed(() => (props.dense ? ['text-h-dense'] : [
  `text-md-h${props.level}`,
  `text-h${Number(props.level) + 3}`,
]));
</script>

<template>
  <component
    :is="tag"
    :class="classes"
  >
    <slot />
  </component>
</template>

<style
  lang="scss"
  scoped
>
  h1, h2, h3, h4 {
    margin-bottom: 1rem;

    &.text-h-dense {
      line-height: normal;
    }

    &:not(.text-h-dense) {
      @media screen and (min-width: 960px) {
        margin-bottom: 1.5rem;
      }
    }
  }
</style>
