<script
  lang="ts"
  setup
>
import AppImg from '@/ts/components/common/AppImg.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import focusElement from '@/ts/utilities/dom/focusElement';
import { DisplayableImg } from '@/ts/utilities/media/mediaToDisplayableImg';
import { mdiArrowLeft, mdiArrowRight } from '@mdi/js';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref, watch } from 'vue';
import { VDialog } from 'vuetify/components/VDialog';

const emit = defineEmits<{
  (e: 'update:model-value', v: boolean): void;
}>();

const props = defineProps<{
  modelValue?: boolean;
  images: DisplayableImg[];
}>();

const imagesWrapperRef = ref(null as HTMLElement | null);

const titleId = ref(`app-img-dialog-title-${uuidV4()}`);
const lazyValue = useLazyValue(computed(() => props.modelValue ?? false));
const delayedValue = ref(lazyValue.value);
const lazyIndex = ref(0);

watch(lazyValue, async (value) => {
  emit('update:model-value', value);
  if (value) {
    setTimeout(() => {
      if (lazyValue.value && imagesWrapperRef.value) {
        focusElement(imagesWrapperRef.value);
      }
    }, 100);
  }

  setTimeout(() => {
    delayedValue.value = value;
  });
});

const onClose = () => {
  lazyValue.value = false;
};

const onPrev = () => {
  if (!props.images.length) {
    return;
  }

  lazyIndex.value = lazyIndex.value === 0
    ? props.images.length - 1
    : lazyIndex.value - 1;
};

const onNext = () => {
  if (!props.images.length) {
    return;
  }

  lazyIndex.value = (lazyIndex.value + 1) < props.images.length
    ? lazyIndex.value + 1
    : 0;
};
</script>

<template>
  <v-dialog
    v-model="lazyValue"
    :aria-labelledby="titleId"
    :class="{ 'app-img-dialog--active': delayedValue }"
    class="app-img-dialog"
    fullscreen
    close-on-back
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <div
      v-touch="{ right: onPrev, left: onNext }"
      class="d-flex flex-column flex-grow-1"
      @click="onClose"
    >
      <div class="d-flex justify-end ma-3">
        <v-btn
          :title="$t('actions.close')"
          icon="$close"
          color="surface"
          size="52"
          @click.stop="onClose"
          @keydown.left.prevent="onPrev"
          @keydown.right.prevent="onNext"
        />
      </div>
      <div
        ref="imagesWrapperRef"
        class="app-img-dialog__wrapper d-flex align-center justify-center flex-grow-1 px-3"
        tabindex="-1"
        @keydown.left.prevent="onPrev"
        @keydown.right.prevent="onNext"
      >
        <v-fade-transition
          leave-absolute
          group
        >
          <template
            v-for="(image, index) in images"
            :key="`images-${index}`"
          >
            <app-img
              v-if="index === lazyIndex"
              :class="{ 'z-index-1': index === lazyIndex }"
              class="app-img-dialog__img rounded-xl"
              sizes="100vw"
              v-bind="image"
              @click.stop
            />
          </template>
        </v-fade-transition>
      </div>
      <div
        v-if="images.length > 1"
        class="d-flex justify-center ma-3"
      >
        <v-btn
          :title="$t('actions.previous')"
          :icon="mdiArrowLeft"
          :disabled="images.length < 2"
          color="surface"
          size="52"
          class="mr-3"
          @click.stop="onPrev"
          @keydown.left.prevent="onPrev"
          @keydown.right.prevent="onNext"
        />
        <v-card
          :id="titleId"
          :ripple="false"
          @click.stop
        >
          <v-card-text aria-live="polite">
            {{ lazyIndex + 1 }}
            /
            {{ $t('forms.media.library.photos', { n: images.length }) }}
          </v-card-text>
        </v-card>
        <v-btn
          :title="$t('actions.next')"
          :icon="mdiArrowRight"
          :disabled="images.length < 2"
          color="surface"
          size="52"
          class="ml-3"
          @click.stop="onNext"
          @keydown.left.prevent="onPrev"
          @keydown.right.prevent="onNext"
        />
      </div>
    </div>
  </v-dialog>
</template>

<style lang="scss">
  .v-overlay.app-img-dialog {
    transition: backdrop-filter 0.2s;
    backdrop-filter: blur(8px) opacity(0);

    &.app-img-dialog--active {
      backdrop-filter: blur(8px) opacity(1);
    }

    > .v-overlay__content {
      .app-img-dialog__wrapper {
        outline: none;
      }

      .app-img-dialog__img {
        max-width: 100%;
        min-height: 0;
        max-height: calc(100vh - (76px * 2));
      }
    }
  }
</style>
