<script
  setup
  lang="ts"
>
import useEventListener from '@/ts/composables/dom/useEventListener';
import isNone from '@/ts/utilities/common/isNone';
import { computed, nextTick, ref, watch } from 'vue';

const props = defineProps<{
  src: string;
  srcset?: string;
  lazySrc?: string;
  sizes?: string;
  width?: number;
  height?: number;
  alt?: string;
  cover?: boolean;
  coverPosition?: string;
}>();

const imgRef = ref(null as HTMLImageElement | null);

const mounting = ref(true);
const currentSrc = ref(props.lazySrc ?? props.src);
const currentSrcset = ref(props.lazySrc ? undefined : props.srcset);
const currentSizes = ref(props.sizes ?? null);

const currentStyles = computed(() => ({
  'max-width': isNone(props.width) ? undefined : `${props.width}px`,
  'max-height': isNone(props.height) ? undefined : `${props.height}px`,
  'object-position': isNone(props.coverPosition) ? undefined : props.coverPosition,
}));

const calculateSize = () => {
  const size = imgRef.value && props.srcset
    ? Math.ceil((imgRef.value.getBoundingClientRect().width / window.innerWidth) * 100)
    : 0;

  return size === 0 ? null : `${size}vw`;
};

watch(() => props.src, async () => {
  mounting.value = true;
  currentSrc.value = props.lazySrc ?? props.src;
  currentSrcset.value = props.lazySrc ? undefined : props.srcset;
  currentSizes.value = props.sizes ?? null;
  await nextTick();
  mounting.value = false;
}, { immediate: true });

useEventListener(window, 'resize', () => requestAnimationFrame(() => {
  if (imgRef.value) {
    currentSizes.value = calculateSize();
  }
}));

const onLoad = () => requestAnimationFrame(async () => {
  if (imgRef.value && currentSizes.value === null) {
    currentSizes.value = calculateSize();
    await nextTick();
  }

  currentSrcset.value = props.srcset;
  currentSrc.value = props.src;
});
</script>

<template>
  <img
    v-if="!mounting"
    ref="imgRef"
    :src="currentSrc"
    :srcset="currentSrcset"
    :alt="alt ?? ''"
    :sizes="currentSizes ?? '1px'"
    :style="currentStyles"
    :class="{ 'app-img--cover': cover }"
    class="app-img"
    loading="lazy"
    @load="onLoad"
  >
</template>

<style lang="scss">
  .app-img {
    width: auto;
    height: auto;

    &--cover {
      object-fit: cover;
    }
  }
</style>
