<script
  lang="ts"
  setup
>
import useProgressProps from '@/ts/composables/common/useProgressProps';
import isNil from '@/ts/utilities/common/isNil';
import { Optional } from '@/ts/utilities/types/optional';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  modelValue?: Optional<number>;
  size?: number | string;
}>();

const i18n = useI18n();

const progressProps = useProgressProps();

const indeterminate = computed(() => isNil(props.modelValue) || props.modelValue < 0);
const value = computed(() => Math.floor((props.modelValue ?? 0) * 100));
const valueProps = computed(() => (
  indeterminate.value
    ? { 'aria-valuetext': progressProps.value['aria-label'], lang: progressProps.value.lang }
    : { 'aria-valuetext': i18n.t('common.units.percent', { n: value.value }) }
));
</script>

<template>
  <v-progress-circular
    :model-value="indeterminate ? undefined : value"
    :indeterminate="indeterminate"
    :size="size ?? 64"
    color="primary"
    width="2"
    v-bind="valueProps"
  />
</template>
