<script
  lang="ts"
  setup
>
import rangeFrom from '@/ts/utilities/arrays/rangeFrom';
import { mdiChevronLeft, mdiChevronRight } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: number): void;
}>();

const props = defineProps<{
  modelValue: number;
  length: number;
  totalVisible: number;
}>();

const i18n = useI18n();

const canPrev = computed(() => props.modelValue > 1);
const canNext = computed(() => props.modelValue <= (props.length - 1));

const start = 1;
const ellipsis = '...';

const pages = computed(() => {
  if (props.totalVisible <= 0) {
    return [];
  }

  if (props.totalVisible === 1) {
    return [props.modelValue];
  }

  if (props.length <= props.totalVisible) {
    return rangeFrom(props.length, start);
  }

  const even = props.totalVisible % 2 === 0;
  const middle = even ? props.totalVisible / 2 : Math.floor(props.totalVisible / 2);
  const left = even ? middle : middle + 1;
  const right = props.length - middle;

  if (left - props.modelValue >= 0) {
    return [...rangeFrom(Math.max(1, props.totalVisible - 1), start), ellipsis, props.length];
  }

  if (props.modelValue - right >= (even ? 1 : 0)) {
    const rangeLength = props.totalVisible - 1;
    const rangeStart = props.length - rangeLength + start;
    return [start, ellipsis, ...rangeFrom(rangeLength, rangeStart)];
  }

  const rangeLength = Math.max(1, props.totalVisible - 3);
  const rangeStart = rangeLength === 1
    ? props.modelValue
    : props.modelValue - Math.ceil(rangeLength / 2) + start;

  return [start, ellipsis, ...rangeFrom(rangeLength, rangeStart), ellipsis, props.length];
});

const onGoToPage = (event: Event, page: number) => {
  event.preventDefault();
  emit('update:model-value', page);
};

const isEllipsis = (page: string | number): page is string => page === ellipsis;

const makePageItemProps = (page: string | number) => (isEllipsis(page) ? {
  'aria-hidden': true,
} : {});

const makePageBtnProps = (page: string | number) => {
  if (isEllipsis(page)) {
    return {
      'aria-hidden': true,
      'aria-disabled': true,
      disabled: true,
      tabindex: '-1',
    };
  }

  return page === props.modelValue ? {
    href: '#',
    'aria-label': i18n.t('$vuetify.pagination.ariaLabel.currentPage', [page]),
    'aria-current': 'page',
    active: true,
  } : {
    href: '#',
    'aria-label': i18n.t('$vuetify.pagination.ariaLabel.page', [page]),
    onClick: (event: Event) => onGoToPage(event, page),
  };
};
</script>

<template>
  <nav
    v-if="length > 1"
    :aria-label="$t('navigation.pagination')"
    class="app-pagination"
  >
    <ul>
      <li v-if="canPrev">
        <v-btn
          :aria-label="$t('$vuetify.pagination.ariaLabel.previous')"
          :icon="mdiChevronLeft"
          variant="text"
          href="#"
          @click="onGoToPage($event, modelValue - 1)"
        />
      </li>
      <li
        v-for="(page, index) in pages"
        :key="isEllipsis(page) ? `ellipsis-${index}` : `pages-${page}`"
        v-bind="makePageItemProps(page)"
      >
        <v-btn
          variant="text"
          icon
          v-bind="makePageBtnProps(page)"
        >
          {{ page }}
        </v-btn>
      </li>
      <li v-if="canNext">
        <v-btn
          :aria-label="$t('$vuetify.pagination.ariaLabel.next')"
          :icon="mdiChevronRight"
          href="#"
          variant="text"
          @click="onGoToPage($event, modelValue + 1)"
        />
      </li>
    </ul>
  </nav>
</template>

<style
  lang="scss"
  scoped
>
  nav.app-pagination {
    > ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;

      > li {
        margin: 4px;
      }
    }
  }
</style>
