<script
  lang="ts"
  setup
>
import { useDisplay } from 'vuetify';

defineProps<{
  title: string;
  label?: string;
  icon: string;
  appendIcon?: boolean;
}>();

const { xs } = useDisplay();
</script>

<template>
  <v-btn
    :aria-label="label"
    :title="xs ? (label ?? title) : undefined"
    :icon="xs"
    v-bind="$attrs"
  >
    <v-icon
      v-if="xs || !appendIcon"
      :start="!xs"
      :icon="icon"
    />
    {{ xs ? undefined : title }}
    <v-icon
      v-if="!xs && appendIcon"
      :icon="icon"
      end
    />
  </v-btn>
</template>
