<script
  lang="ts"
  setup
>
import useActive from '@/ts/composables/common/useActive';
import { computed, ref } from 'vue';

const emit = defineEmits<{
  (e: 'keydown', event: KeyboardEvent): void;
  (e: 'focus', event: FocusEvent): void;
}>();

const props = defineProps<{
  theme?: string;
  title: string;
  location?: 'top' | 'bottom' | 'start' | 'end';
  noTooltip?: boolean;
}>();

const active = useActive();

const tooltip = ref(false);

const tooltipLocation = computed(() => props.location ?? 'bottom');

const onKeydown = (event: KeyboardEvent) => {
  if (event.key === 'Escape') {
    tooltip.value = false;
  }

  emit('keydown', event);
};

const onFocus = (event: FocusEvent) => {
  if (!props.noTooltip && active.value) {
    tooltip.value = true;
  }

  emit('focus', event);
};
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <v-tooltip
    v-model="tooltip"
    :theme="theme"
    :location="tooltipLocation"
    :disabled="noTooltip || !active"
  >
    <template #activator="{ props: activatorProps }">
      <slot
        name="activator"
        :props="{ ...activatorProps, ...$attrs, onKeydown }"
      >
        <v-btn
          :theme="theme"
          v-bind="{ ...activatorProps, 'aria-label': title, ...$attrs }"
          :aria-labelledby="undefined"
          :aria-describedby="undefined"
          @keydown="onKeydown"
          @focus="onFocus"
        >
          <slot />
        </v-btn>
      </slot>
    </template>
    <span>
      {{ title }}
    </span>
  </v-tooltip>
</template>
