<script
  setup
  lang="ts"
>
import { useRoutingStore } from '@/ts/stores/routing';
import equals from '@/ts/utilities/common/equals';
import { mdiArrowLeft } from '@mdi/js';
import { computed } from 'vue';
import { RouteLocationRaw, useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  to: RouteLocationRaw;
  title: string;
}>();

const { smAndDown } = useDisplay();
const router = useRouter();
const routing = useRoutingStore();

const realTo = computed(() => {
  const resolvedTo = router.resolve(props.to);
  if (
    routing.previousRoute
    && resolvedTo.name === routing.previousRoute.name
    && equals(resolvedTo.params, routing.previousRoute.params)
  ) {
    return routing.previousRoute;
  }

  return resolvedTo;
});
</script>

<template>
  <v-btn
    :to="realTo"
    :title="smAndDown ? title : undefined"
    :prepend-icon="smAndDown ? undefined : mdiArrowLeft"
    :icon="smAndDown"
    variant="outlined"
    exact
  >
    <template v-if="smAndDown">
      <v-icon :icon="mdiArrowLeft" />
    </template>
    <template v-else>
      {{ title }}
    </template>
  </v-btn>
</template>
