<script
  setup
  lang="ts"
>
defineProps<{
  color: string;
}>();
</script>

<template>
  <div
    :class="`bg-${color}`"
    class="card-border"
  />
</template>

<style
  scoped
  lang="scss"
>
  .card-border {
    width: 100%;
    height: 24px;
  }
</style>
