<script
  lang="ts"
  setup
>
import { ContactableValues } from '@/ts/api/composables/contactable';
import { LinkableValues } from '@/ts/api/composables/linkable';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import useContactableLinks from '@/ts/composables/links/useContactableLinks';
import useLinkableLinks from '@/ts/composables/links/useLinkableLinks';
import removeOne from '@/ts/utilities/arrays/removeOne';
import { Optional } from '@/ts/utilities/types/optional';
import { computed, toRef } from 'vue';

const props = defineProps<{
  contactable?: Optional<ContactableValues>;
  linkable?: Optional<LinkableValues>;
}>();

const contactLinks = useContactableLinks(toRef(props, 'contactable'));
const socialLinks = useLinkableLinks(toRef(props, 'linkable'));
const links = computed(() => {
  const contacts = [...contactLinks.value];
  const socials = [...socialLinks.value];

  const website = socials.find((l) => l.network === 'website');
  if (website) {
    contacts.push(website);
    removeOne(socials, website);
  }

  return [contacts, socials];
});
</script>

<template>
  <template v-if="contactable">
    <div
      v-for="(link, index) in links[0]"
      :key="`links-${index}`"
      role="listitem"
      class="info-list__item info-list__item--secondary"
    >
      <v-list-item
        :prepend-icon="link.icon"
        :aria-label="link.ariaLabel"
        :href="link.href"
        :target="link.openInNew ? '_blank' : undefined"
        :rel="link.openInNew ? 'noopener' : undefined"
        tabindex="0"
        density="compact"
        rounded="lg"
        class="text-decoration-underline text-primary"
      >
        <v-list-item-title>
          {{ link.label }}
          <open-in-new-icon v-if="link.openInNew" />
        </v-list-item-title>
      </v-list-item>
    </div>
  </template>
  <div
    v-if="linkable && links[1].length"
    class="links-inline-list d-flex px-4 py-2"
  >
    <div
      v-for="(link, index) in links[1]"
      :key="`links-${index}`"
      role="listitem"
    >
      <v-btn
        :title="link.openInNew ? `${link.label} (${$t('navigation.openInNew')})` : link.label"
        :icon="link.icon"
        :href="link.href"
        :target="link.openInNew ? '_blank' : undefined"
        :rel="link.openInNew ? 'noopener' : undefined"
        variant="tonal"
        size="x-large"
        density="compact"
        class="mr-2"
      />
    </div>
  </div>
</template>
