<script
  setup
  lang="ts"
>
import { Optional } from '@/ts/utilities/types/optional';
import { ComponentPublicInstance, computed } from 'vue';

const props = defineProps<{
  to: Optional<ComponentPublicInstance | Element>;
}>();

const target = computed(() => {
  if (props.to instanceof Element) {
    return props.to;
  }

  return props.to?.$el ?? null;
});
</script>

<template>
  <teleport
    v-if="target"
    :to="target"
  >
    <slot />
  </teleport>
</template>
