<script
  setup
  lang="ts"
>
/* eslint-disable import/no-duplicates */
import franceConnectHoverSrc from '@/assets/img/auth/franceconnect-btn--hover.png';
import franceConnectHoverSrcset from '@/assets/img/auth/franceconnect-btn--hover.png?responsive&imagetools';
import franceConnectSrc from '@/assets/img/auth/franceconnect-btn.png';
import franceConnectSrcset from '@/assets/img/auth/franceconnect-btn.png?reponsive&imagetools';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import AppImg from '@/ts/components/common/AppImg.vue';
import { SocialAuthProvider } from '@/ts/composables/auth/useSocialAuthProviders';
import { ref } from 'vue';

defineProps<{
  provider: SocialAuthProvider;
}>();

const hovered = ref(false);
const focused = ref(false);
</script>

<template>
  <div class="my-2">
    <a
      :href="provider.redirectURL"
      class="d-inline-flex"
      @focusin="focused = true"
      @focusout="focused = false"
      @mouseenter="hovered = true"
      @mouseleave="hovered = false"
    >
      <app-img
        v-show="focused || hovered"
        :src="franceConnectHoverSrc"
        :srcset="franceConnectHoverSrcset"
        :alt="$t('auth.providers.franceConnect.action')"
        :height="56"
        class="france-connect-img"
      />
      <app-img
        v-show="!focused && !hovered"
        :src="franceConnectSrc"
        :srcset="franceConnectSrcset"
        :alt="$t('auth.providers.franceConnect.action')"
        :height="56"
        class="france-connect-img"
      />
    </a>
  </div>
  <div>
    <a
      href="https://franceconnect.gouv.fr/"
      target="_blank"
      rel="noopener"
    >
      {{ $t('auth.providers.franceConnect.about') }}
      <open-in-new-icon />
    </a>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .france-connect-img {
    height: 56px !important;
  }
</style>
