<script
  lang="ts"
  setup
>
import fillAndSave from '@/ts/api/utilities/fillAndSave';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import { useAuthStore } from '@/ts/stores/auth';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import toNameCase from '@/ts/utilities/strings/toNameCase';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();
const auth = useAuthStore();
const snackbar = useSnackbarStore();

const col = useCol();
const nCol = useCol('n-normal');

const firstNameInput = useInput({
  name: 'firstName',
  value: auth.user.firstName,
  rules: [required, max(30)],
  transforms: toNameCase,
});

const lastNameInput = useInput({
  name: 'lastName',
  value: auth.user.lastName,
  rules: [required, max(30)],
  transforms: toNameCase,
});

const displayInitialsInput = useInput({
  name: 'displayInitials',
  label: i18n.t('views.account.myAccount.information.labels.displayInitials'),
  value: auth.user.displayInitials,
});

const emailValue = auth.user.email;

const { loading, btnLoading, onSubmit } = useForm([
  firstNameInput, lastNameInput, displayInitialsInput,
] as const, {
  preventLeaving: true,
  async onSubmit({ values }) {
    await fillAndSave(auth.user, values);

    snackbar.toast(i18n.t('views.account.myAccount.information.saved'));
  },
});
</script>

<template>
  <v-card>
    <v-form
      :readonly="loading"
      @submit="onSubmit"
    >
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <app-heading
              level="2"
              dense
            >
              {{ $t('views.account.myAccount.information.title') }}
            </app-heading>
            <p class="text-body-1">
              {{ $t('views.account.myAccount.information.description') }}
            </p>
          </v-col>
          <v-col cols="12">
            <required-inputs-hint />
          </v-col>
          <v-col v-bind="col">
            <v-text-field
              autocomplete="given-name"
              v-bind="firstNameInput.props"
            />
          </v-col>
          <v-col v-bind="col">
            <v-text-field
              autocomplete="family-name"
              v-bind="lastNameInput.props"
            />
          </v-col>
          <v-wrap-after />
          <v-col v-bind="nCol">
            <v-text-field
              :model-value="emailValue"
              :label="$t('forms.labels.email')"
              hide-details
              disabled
            />
          </v-col>
          <v-wrap-after />
          <v-col v-bind="nCol">
            <v-switch
              :hint="$t('views.account.myAccount.information.hints.displayInitials')"
              density="compact"
              persistent-hint
              v-bind="displayInitialsInput.props"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
          type="submit"
          variant="elevated"
          color="primary"
          v-bind="btnLoading"
        >
          {{ $t('actions.save') }}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>
