<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import useLogout from '@/ts/composables/auth/useLogout';
import { useAuthStore } from '@/ts/stores/auth';
import { useRoutingStore } from '@/ts/stores/routing';
import { none, query } from '@foscia/core';
import { makePost } from '@foscia/http';

const auth = useAuthStore();
const routing = useRoutingStore();
const { logout } = useLogout();

const onScheduleDeletion = async () => {
  await action()
    .use(query(auth.user))
    .use(makePost('-actions/schedule-deletion'))
    .run(none());

  routing.stopPreventLeaving();

  await logout();
};
</script>

<template>
  <v-card>
    <v-card-text>
      <v-row dense>
        <v-col cols="12">
          <app-heading
            level="2"
            dense
          >
            {{ $t('views.account.myAccount.data.title') }}
          </app-heading>
          <p class="text-body-1">
            {{ $t('views.account.myAccount.data.description') }}
          </p>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions class="justify-end">
      <confirm-dialog
        :title="$t('views.account.myAccount.data.deletion.confirmation.title')"
        :description="$t('views.account.myAccount.data.deletion.confirmation.description')"
        :action="$t('views.account.myAccount.data.deletion.confirmation.action')"
        :run="onScheduleDeletion"
        color="error"
        size="normal"
      >
        <template #activator="{ props }">
          <v-btn
            variant="elevated"
            color="error"
            v-bind="props"
          >
            {{ $t('views.account.myAccount.data.deletion.action') }}
          </v-btn>
        </template>
      </confirm-dialog>
    </v-card-actions>
  </v-card>
</template>
