<script
    lang="ts"
    setup
>
import AppAlert from '@/ts/components/common/AppAlert.vue';
import useSwitchActingFor from '@/ts/composables/auth/useSwitchActingFor';
import translate from '@/ts/utilities/lang/translate';
import { mdiOfficeBuildingOutline } from '@mdi/js';

const { actingFor } = useSwitchActingFor();
</script>

<template>
  <app-alert
    :icon="mdiOfficeBuildingOutline"
    type="info"
    presentation
    v-bind="$attrs"
  >
    <i18n-t
      scope="global"
      keypath="views.account.myAccount.organization.alert"
      tag="div"
    >
      <template #name>
        <strong>
          {{ translate(actingFor?.organization.name) }}
        </strong>
      </template>
    </i18n-t>
  </app-alert>
</template>
