<script
  lang="ts"
  setup
>

import AppAlert from '@/ts/components/common/AppAlert.vue';
</script>

<template>
  <app-alert
    type="error"
    v-bind="$attrs"
  >
    {{ $t('users.blocked.alert') }}
  </app-alert>
</template>
