<script
  setup
  lang="ts"
>
import action from '@/ts/api/action';
import { findCachedRequestType } from '@/ts/api/cached/cachedRequestTypes';
import RequestTypeCode from '@/ts/api/enums/requestTypeCode';
import Organization from '@/ts/api/models/organization';
import OrganizationType from '@/ts/api/models/organizationType';
import Request from '@/ts/api/models/request';
import first from '@/ts/api/runners/first';
import fillAndSave from '@/ts/api/utilities/fillAndSave';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import VOrganizationInput from '@/ts/components/forms/instances/VOrganizationInput.vue';
import VOrganizationTypeInput from '@/ts/components/forms/instances/VOrganizationTypeInput.vue';
import VCustomPhoneInput from '@/ts/components/forms/phone/VCustomPhoneInput.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import VInputClear from '@/ts/components/forms/VInputClear.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import extractResponseError from '@/ts/errors/extractResponseError';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import isNone from '@/ts/utilities/common/isNone';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';
import { query } from '@foscia/core';
import { HttpConflictError } from '@foscia/http';
import { filterBy } from '@foscia/jsonapi';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();
const snackbar = useSnackbarStore();

const dialog = ref(false);
const error = ref(null as string | null);

const phoneInput = useInput({
  name: 'phone',
  value: '',
  rules: [required],
});

const bodyInput = useInput({
  label: i18n.t('forms.labels.comment'),
  name: 'body',
  value: '',
  rules: [max(500)],
});

const joinExistingOrganizationInput = useInput({
  name: 'joinExistingOrganization',
  label: i18n.t('requests.join.labels.existingOrganization'),
  value: null as Organization | null,
});

const joinNewOrganizationInput = useInput({
  name: 'joinNewOrganization',
  label: i18n.t('requests.join.labels.newOrganization'),
  value: '',
  rules: [
    (value: string) => !isNone(value) || i18n.t('requests.join.errors.newOrganization'),
    async (value: string) => {
      if (isNone(value)) {
        return true;
      }

      const matchingOrganization = await action()
        .use(query(Organization))
        .use(filterBy('searchName', value))
        .run(first());

      return !matchingOrganization || i18n.t('requests.join.errors.existingOrganization');
    },
  ],
});

const joinNewOrganizationTypeInput = useInput({
  name: 'joinNewOrganizationType',
  label: i18n.t('requests.join.labels.newOrganizationType'),
  value: null as OrganizationType | null,
  rules: [required],
});

const onJoinExistingOrganizationClear = () => {
  joinExistingOrganizationInput.value = null;
};

const { loading, btnLoading, fill, onSubmit } = useForm([
  bodyInput,
  phoneInput,
  joinExistingOrganizationInput,
  joinNewOrganizationInput,
  joinNewOrganizationTypeInput,
] as const, {
  async onSubmit({ allValues }) {
    await fillAndSave(new Request(), {
      url: window.location.href,
      body: allValues.body,
      data: {
        phone: allValues.phone,
        ...(allValues.joinExistingOrganization ? {} : {
          name: allValues.joinNewOrganization,
          type: allValues.joinNewOrganizationType!.code,
        }),
      },
      requestable: allValues.joinExistingOrganization,
      requestType: await findCachedRequestType(
        RequestTypeCode.JOIN.value,
      ),
    });

    dialog.value = false;

    snackbar.toast(i18n.t('requests.common.toast'));
  },
  async onFailure(formError) {
    if (formError instanceof HttpConflictError) {
      error.value = await extractResponseError(formError);
    }

    return error.value !== null;
  },
});

watch(dialog, (value) => {
  if (!value) {
    fill({
      phone: '',
      body: '',
      joinExistingOrganization: null,
      joinNewOrganization: '',
      joinNewOrganizationType: null,
    });
    error.value = null;
  }
});

const onClose = () => {
  dialog.value = false;
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="$t('views.account.myAccount.newOrganization.title')"
    :subtitle="$t('views.account.myAccount.newOrganization.description')"
    :persistent="loading"
    :form-props="{ readonly: loading, onSubmit }"
    v-bind="$attrs"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-expand-transition>
          <v-col
            v-if="error"
            cols="12"
          >
            <app-alert
              type="error"
              class="mb-3"
            >
              {{ error }}
            </app-alert>
          </v-col>
        </v-expand-transition>
        <v-col cols="12">
          <required-inputs-hint />
        </v-col>
        <v-col cols="12">
          <v-custom-phone-input
            autocomplete="tel"
            v-bind="phoneInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            maxlength="500"
            rows="2"
            counter
            v-bind="bodyInput.props"
          />
        </v-col>
        <v-col cols="12">
          {{ $t('requests.join.description') }}
        </v-col>
        <v-col cols="12">
          <v-organization-input v-bind="joinExistingOrganizationInput.props">
            <template #append-inner>
              <v-input-clear
                :active="!!joinExistingOrganizationInput.props.modelValue"
                :label="joinExistingOrganizationInput.props.label"
                @clear="onJoinExistingOrganizationClear"
              />
            </template>
          </v-organization-input>
        </v-col>
        <v-expand-transition>
          <v-col
            v-if="!joinExistingOrganizationInput.value"
            cols="12"
          >
            <v-row dense>
              <v-col cols="12">
                <v-text-field v-bind="joinNewOrganizationInput.props" />
              </v-col>
              <v-expand-transition>
                <v-col
                  v-if="!isNone(joinNewOrganizationInput.value)"
                  cols="12"
                >
                  <v-organization-type-input v-bind="joinNewOrganizationTypeInput.props" />
                </v-col>
              </v-expand-transition>
            </v-row>
          </v-col>
        </v-expand-transition>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn @click="onClose">
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="primary"
        v-bind="btnLoading"
      >
        {{ $t('actions.send') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
