<script
  setup
  lang="ts"
>
import action from '@/ts/api/action';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import { useLangStore } from '@/ts/stores/lang';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import formatDate from '@/ts/utilities/dates/formatDate';
import email from '@/ts/validation/rules/email';
import required from '@/ts/validation/rules/required';
import { catchIf, none, raw, toDateTime } from '@foscia/core';
import { HttpConflictError, makeDelete, makeGet, makePost } from '@foscia/http';
import { onMounted, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  prefillEmail?: string;
  noTitle?: boolean;
  noInput?: boolean;
  home?: boolean;
}>();

const { mdAndUp } = useDisplay();
const i18n = useI18n();
const lang = useLangStore();
const snackbar = useSnackbarStore();

const subscribedAt = ref(null as Date | null);

const emailInput = useInput({
  name: 'email',
  value: props.prefillEmail ?? '',
  rules: [required, email],
});

const readSubscription = async () => {
  const rawSubscribedAt = await action()
    .use(makeGet(`-actions/newsletters/subscription/${emailInput.value}`))
    .run(catchIf(
      raw(async (r) => (await r.json()).data.subscribedAt),
      () => () => null,
    ));

  subscribedAt.value = rawSubscribedAt
    ? await toDateTime().deserialize(rawSubscribedAt)
    : null;
};

const { loading, btnLoading, onSubmit } = useForm([emailInput] as const, {
  onSubmit: async ({ allValues }) => {
    await action()
      .use(makePost(`-actions/newsletters/subscription/${allValues.email}`))
      .run(none());

    subscribedAt.value = new Date();

    snackbar.toast(i18n.t('views.account.myAccount.newsletter.subscribe.toast'));
  },
  onFailure: async (error) => {
    if (error instanceof HttpConflictError) {
      await readSubscription();

      snackbar.toast(i18n.t('views.account.myAccount.newsletter.subscribe.already'));

      return true;
    }

    return false;
  },
});

const onUnsubscribe = async () => {
  if (!loading.value) {
    loading.value = true;

    await action()
      .use(makeDelete(`-actions/newsletters/subscription/${emailInput.value}`))
      .run(none());

    subscribedAt.value = null;

    snackbar.toast(i18n.t('views.account.myAccount.newsletter.subscribed.toast'));

    loading.value = false;
  }
};

onMounted(async () => {
  if (emailInput.value) {
    loading.value = true;

    await readSubscription();

    loading.value = false;
  }
});
</script>

<template>
  <v-card>
    <v-form
      :readonly="loading"
      :class="{ 'text-primary d-md-flex align-center': home }"
      @submit="onSubmit"
    >
      <v-card-text :class="{ 'd-md-flex align-center': home }">
        <app-heading
          v-if="!noTitle"
          :dense="!home"
          :class="{ 'mb-md-0': home }"
          level="2"
        >
          {{ $t('views.account.myAccount.newsletter.title') }}
        </app-heading>
        <p
          v-if="subscribedAt"
          :class="{ 'mx-md-4': home }"
          class="text-body-1"
        >
          {{
            $t('views.account.myAccount.newsletter.subscribed.description', {
              date: formatDate(subscribedAt, lang.locale),
            })
          }}
        </p>
        <template v-else>
          <p
            :class="{ 'newsletter-home__text mx-md-4': home }"
            class="text-body-1"
          >
            {{ $t('views.account.myAccount.newsletter.subscribe.description') }}
          </p>
          <div class="flex-grow-1">
            <v-row>
              <v-col
                v-if="!noInput"
                cols="12"
              >
                <v-text-field
                  :class="{ 'mt-md-6': home }"
                  :variant="home ? 'outlined' : undefined"
                  :rounded="home ? 'xl' : undefined"
                  v-bind="emailInput.props"
                />
              </v-col>
            </v-row>
          </div>
        </template>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
          v-if="subscribedAt"
          :size="home && mdAndUp ? 'large' : undefined"
          :class="{ 'px-4 font-weight-bold': home }"
          variant="elevated"
          color="error"
          v-bind="btnLoading"
          @click="onUnsubscribe"
        >
          {{ $t('views.account.myAccount.newsletter.subscribed.action') }}
        </v-btn>
        <v-btn
          v-else
          :size="home && mdAndUp ? 'large' : undefined"
          :class="{ 'px-4 font-weight-bold': home }"
          type="submit"
          variant="elevated"
          color="primary"
          v-bind="btnLoading"
        >
          {{ $t('views.account.myAccount.newsletter.subscribe.action') }}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<style lang="scss">
  @media screen and (min-width: 960px) {
    .newsletter-home__text {
      max-width: 25%;
    }
  }
</style>
