<script
    lang="ts"
    setup
>
import Notification from '@/ts/api/models/notification';
import NotificationListItemActions from '@/ts/components/account/NotificationListItemActions.vue';
import UnreadNotificationsBadge from '@/ts/components/account/UnreadNotificationsBadge.vue';
import { computed } from 'vue';
import { useDisplay } from 'vuetify';

const emit = defineEmits<{
  (e: 'read' | 'unread', notification: Notification): void;
  (e: 'delete', notification: Notification): void;
}>();

const props = defineProps<{
  notification: Notification;
}>();

const { mobile } = useDisplay();

const read = computed(() => !!props.notification.readAt);
</script>

<template>
  <v-list-item>
    <div :class="{ 'text-medium-emphasis': read }">
      <v-scale-transition leave-absolute>
        <unread-notifications-badge
          :active="!read"
          :title="$t(`notifications.common.front.${read ? 'read' : 'unread'}`)"
          role="img"
          aria-hidden="false"
          always
        />
      </v-scale-transition>
      {{ notification.data.title }}
    </div>
    <div
      v-if="mobile"
      class="d-flex align-center text-right py-2"
    >
      <notification-list-item-actions
        :notification="notification"
        @read="emit('read', notification)"
        @unread="emit('unread', notification)"
        @delete="emit('delete', notification)"
      />
    </div>
    <template
      v-if="!mobile"
      #append
    >
      <v-list-item-action end>
        <notification-list-item-actions
          :notification="notification"
          @read="emit('read', notification)"
          @unread="emit('unread', notification)"
          @delete="emit('delete', notification)"
        />
      </v-list-item-action>
    </template>
  </v-list-item>
</template>
