<script
    lang="ts"
    setup
>
import Notification from '@/ts/api/models/notification';
import fillAndSave from '@/ts/api/utilities/fillAndSave';
import hardDelete from '@/ts/api/utilities/hardDelete';
import DynamicAnchor from '@/ts/components/routes/DynamicAnchor.vue';
import useAsync from '@/ts/composables/common/useAsync';
import truncate from '@/ts/utilities/strings/truncate';
import { mdiArrowRight, mdiEmailOpenOutline, mdiEmailOutline, mdiTrashCanOutline } from '@mdi/js';
import { computed } from 'vue';
import { useDisplay } from 'vuetify';

const emit = defineEmits<{
  (e: 'read' | 'unread', notification: Notification): void;
  (e: 'delete', notification: Notification): void;
}>();

const props = defineProps<{
  notification: Notification;
}>();

const { mobile } = useDisplay();
const { btnLoading, asyncRun } = useAsync();

const read = computed(() => !!props.notification.readAt);
const truncatedTitle = computed(() => truncate(props.notification.data.title, { size: 25 }));

const onToggleRead = () => asyncRun(async () => {
  await fillAndSave(props.notification, {
    readAt: props.notification.readAt ? null : new Date(),
  });

  emit(props.notification.readAt ? 'read' : 'unread', props.notification);
});

const onReadFromVisit = () => asyncRun(async () => {
  if (!props.notification.readAt) {
    emit('read', props.notification);

    await fillAndSave(props.notification, {
      readAt: new Date(),
    });
  }
});

const onDelete = () => asyncRun(async () => {
  await hardDelete(props.notification);

  emit('delete', props.notification);
});
</script>

<template>
  <dynamic-anchor
    v-if="notification.data.action"
    :href="notification.data.action.href"
    :title="mobile ? notification.data.action.label : undefined"
    :append-icon="mobile ? undefined : mdiArrowRight"
    variant="tonal"
    class="flex-grow-1 mr-2"
    btn
    @click="onReadFromVisit"
  >
    <v-icon
      v-if="mobile"
      :icon="mdiArrowRight"
    />
    <template v-else>
      {{ notification.data.action.label }}
    </template>
  </dynamic-anchor>
  <v-btn
    :title="$t(`actions.scoped.mark${read ? 'Unread' : 'Read'}`, { name: truncatedTitle })"
    :icon="read ? mdiEmailOutline : mdiEmailOpenOutline"
    variant="text"
    density="comfortable"
    v-bind="btnLoading"
    @click="onToggleRead"
  />
  <v-btn
    :title="$t('actions.scoped.delete', { name: truncatedTitle })"
    :icon="mdiTrashCanOutline"
    variant="text"
    density="comfortable"
    color="error"
    class="ml-2"
    v-bind="btnLoading"
    @click="onDelete"
  />
</template>
