<script
  lang="ts"
  setup
>
import fillAndSave from '@/ts/api/utilities/fillAndSave';
import NotificationChannelsInput from '@/ts/components/account/NotificationChannelsInput.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import { useAuthStore } from '@/ts/stores/auth';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import mapValues from '@/ts/utilities/objects/mapValues';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();
const auth = useAuthStore();
const snackbar = useSnackbarStore();

const dialog = ref(false);

const channelsInputs = auth.auth
  ? Object.values(mapValues(auth.user.notificationsPreferences, (channels, type) => useInput({
    name: type,
    label: i18n.t('views.account.myNotifications.preferences.channelsFor', {
      name: i18n.t(`notifications.common.names.${type}`),
    }),
    value: auth.user.notificationsPreferences[type],
  })))
  : [];

const { loading, btnLoading, reset, onSubmit } = useForm([
  ...channelsInputs,
] as const, {
  onSubmit: async ({ allValues }) => {
    await fillAndSave(auth.user, {
      notificationsPreferences: allValues,
    });

    snackbar.toast(i18n.t('views.account.myNotifications.preferences.saved'));

    dialog.value = false;
  },
});

watch(dialog, (opened) => {
  if (!opened) {
    reset();
  }
});

const onClose = () => {
  dialog.value = false;
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="$t('views.account.myNotifications.preferences.title')"
    :persistent="loading"
    :form-props="{ readonly: loading, onSubmit }"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-col
          v-for="input in channelsInputs"
          :key="input.props.name"
          cols="12"
        >
          <notification-channels-input v-bind="input.props" />
        </v-col>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn @click="onClose">
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="primary"
        v-bind="btnLoading"
      >
        {{ $t('actions.apply') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
