<script
    lang="ts"
    setup
>
import { NotificationChannel } from '@/ts/api/models/notification';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useInput from '@/ts/composables/forms/useInput';
import removeOne from '@/ts/utilities/arrays/removeOne';
import { Arrayable } from '@/ts/utilities/types/arrayable';
import { Optional } from '@/ts/utilities/types/optional';
import { Rule, VuetifyRule } from '@/ts/validation/rule';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: NotificationChannel[]): void;
}>();

const props = defineProps<{
  modelValue?: Optional<NotificationChannel[]>;
  name?: string;
  required?: boolean;
  label: string;
  rules?: Arrayable<Rule | VuetifyRule>;
  errorMessages?: string[];
}>();

const i18n = useI18n();

const lazyValue = useLazyValue(computed(() => props.modelValue ?? []));

const mailInput = useInput({
  name: `${props.name}.mail`,
  label: i18n.t('notifications.common.channels.mail'),
  value: lazyValue.value.indexOf('mail') !== -1,
});

const databaseInput = useInput({
  name: `${props.name}.database`,
  label: i18n.t('notifications.common.channels.database'),
  value: lazyValue.value.indexOf('database') !== -1,
});

const onToggleInput = (name: 'database' | 'mail', value: boolean) => {
  if (value) {
    lazyValue.value.push(name);
  } else {
    removeOne(lazyValue.value, name);
  }
};

watch(mailInput.valueRef, (value) => onToggleInput('mail', value));
watch(databaseInput.valueRef, (value) => onToggleInput('database', value));
watch(lazyValue, (value) => {
  emit('update:model-value', value);
});
</script>

<template>
  <v-fieldset :legend="label">
    <v-row dense>
      <v-col cols="6">
        <v-checkbox
          density="comfortable"
          hide-details
          v-bind="mailInput.props"
        />
      </v-col>
      <v-col cols="6">
        <v-checkbox
          density="comfortable"
          hide-details
          v-bind="databaseInput.props"
        />
      </v-col>
    </v-row>
  </v-fieldset>
</template>
