<script
  lang="ts"
  setup
>
import AppAlert from '@/ts/components/common/AppAlert.vue';
import { computed } from 'vue';

const emit = defineEmits<{
  (e: 'verify'): void;
}>();

const props = defineProps<{
  message?: string;
  type?: 'info' | 'warning' | 'error';
  immediate?: boolean;
}>();

const verificationRoute = computed(() => ({
  name: 'auth.verification',
  ...(props.immediate ? { query: { immediate: '1' } } : {}),
}));

const onClick = () => {
  emit('verify');
};
</script>

<template>
  <app-alert :type="type ?? 'info'">
    {{ message ?? $t('views.account.myAccount.alerts.needsVerification.content') }}
    <template #append>
      <v-btn
        :to="verificationRoute"
        :color="type ?? 'info'"
        variant="text"
        density="comfortable"
        @click="onClick"
      >
        {{ $t('views.account.myAccount.alerts.needsVerification.action') }}
      </v-btn>
    </template>
  </app-alert>
</template>
