<script
    lang="ts"
    setup
>
defineProps<{
  active?: boolean;
  absolute?: boolean;
  always?: boolean;
}>();
</script>

<template>
  <v-scale-transition leave-absolute>
    <span
      v-if="active || always"
      :class="{
        'notification-badge--absolute': absolute,
        'bg-surface': !active,
        'bg-error': active
      }"
      class="notification-badge d-inline-flex"
      aria-hidden="true"
    />
  </v-scale-transition>
</template>

<style
    lang="scss"
    scoped
>
  .notification-badge {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;

    &--absolute {
      position: absolute;
      top: -2px;
      right: -2px;
    }

    &.bg-surface {
      border: 2px solid currentColor;
      opacity: var(--v-disabled-opacity);
    }
  }
</style>
