<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Request from '@/ts/api/models/request';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiClose } from '@mdi/js';
import { computed, nextTick, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: Request;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const i18n = useI18n();
const snackbar = useSnackbarStore();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);

const title = computed(() => meta.title(props.instance));

const dialog = ref(false);

const reasonInput = useInput({
  name: 'reason',
  label: i18n.t('resources.requests.actions.refuse.labels.reason'),
  value: '',
  rules: [required, max(500)],
});

const { loading, btnLoading, reset, onSubmit } = useForm([reasonInput] as const, {
  async onSubmit({ allValues }) {
    await action()
      .use(query(props.instance))
      .use(makePost('-actions/refuse', {
        data: { reason: allValues.reason },
      }))
      .run(oneOrCurrent());

    await nextTick();

    snackbar.toast(i18n.t('resources.requests.actions.refuse.toast', {
      name: title.value,
    }));

    await props.invalidate();

    dialog.value = false;
  },
});

watch(dialog, (opened) => {
  if (!opened) {
    reset();
  }
});

const onCancel = () => {
  dialog.value = false;
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="title"
    :persistent="loading"
    :form-props="{ readonly: loading, onSubmit }"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        :title="$t('resources.requests.actions.refuse.title', { name: title })"
        :label="$t('resources.requests.actions.refuse.action')"
        :instance="props.instance"
        :icon="mdiClose"
        :on-single="onSingle"
        color="error"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-col cols="12">
          <v-textarea
            maxlength="500"
            rows="2"
            counter
            v-bind="reasonInput.props"
          />
        </v-col>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn
        variant="text"
        @click="onCancel"
      >
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="error"
        v-bind="btnLoading"
      >
        {{ $t('resources.requests.actions.refuse.action') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
