<script
    lang="ts"
    setup
>
import Request from '@/ts/api/models/request';
import { useLangStore } from '@/ts/stores/lang';
import formatDate from '@/ts/utilities/dates/formatDate';
import { mdiCheckCircleOutline, mdiCloseCircleOutline, mdiHelpCircleOutline } from '@mdi/js';

defineProps<{
  request: Request
}>();

const lang = useLangStore();
</script>

<template>
  <v-chip
    v-if="request.acceptedAt"
    :prepend-icon="mdiCheckCircleOutline"
    color="success"
  >
    {{
      $t('resources.requests.labels.status.accepted', {
        date: formatDate(request.acceptedAt, lang.locale),
      })
    }}
  </v-chip>
  <v-chip
    v-else-if="request.deleted"
    :prepend-icon="mdiCloseCircleOutline"
    color="error"
  >
    {{ $t('resources.requests.labels.status.refused') }}
  </v-chip>
  <v-chip
    v-else
    :prepend-icon="mdiHelpCircleOutline"
    color="info"
  >
    {{ $t('resources.requests.labels.status.pending') }}
  </v-chip>
</template>
