<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import RequestTypeCode from '@/ts/api/enums/requestTypeCode';
import Place from '@/ts/api/models/place';
import Request from '@/ts/api/models/request';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import fullNameWithYou from '@/ts/utilities/lang/fullNameWithYou';
import translate from '@/ts/utilities/lang/translate';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import makeAnonymousUser from '@/ts/utilities/users/makeAnonymousUser';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiCheck } from '@mdi/js';
import { computed, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: Request;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const i18n = useI18n();
const snackbar = useSnackbarStore();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);

const title = computed(() => meta.title(props.instance));
const authorName = computed(() => fullNameWithYou(props.instance.ownerUser ?? makeAnonymousUser()));

const onAccept = async () => {
  await action()
    .use(query(props.instance))
    .use(makePost('-actions/accept', {}))
    .run(oneOrCurrent());

  await nextTick();

  snackbar.toast(i18n.t('resources.requests.actions.accept.toast', {
    name: title.value,
  }));

  await props.invalidate();
};
</script>

<template>
  <confirm-dialog
    :title="$t('resources.requests.actions.accept.title', { name: title })"
    :run="onAccept"
    color="primary"
    size="normal"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        :title="$t('resources.requests.actions.accept.title', { name: title })"
        :label="$t('resources.requests.actions.accept.action')"
        :instance="props.instance"
        :icon="mdiCheck"
        :on-single="onSingle"
        color="primary"
        v-bind="activatorProps"
      />
    </template>
    <app-alert
      v-if="RequestTypeCode.CLAIM.match(props.instance.requestType.code)"
      type="info"
      class="mb-5"
      presentation
    >
      <template v-if="instance.resultable">
        {{
          $t('resources.requests.actions.accept.claim.owningOrganization', {
            content: translate(instance.requestable?.name),
            organization: translate(instance.resultable.name),
          })
        }}
      </template>
      <template v-else-if="(instance.requestable as Place)?.ownerOrganization">
        {{
          $t('resources.requests.actions.accept.claim.keepOrganization', {
            content: translate(instance.requestable!.name),
            organization: translate((instance.requestable as Place).ownerOrganization!.name),
            user: authorName,
          })
        }}
      </template>
      <template v-else>
        {{
          $t('resources.requests.actions.accept.claim.newOrganization', {
            content: translate(instance.requestable?.name),
            user: authorName,
          })
        }}
      </template>
    </app-alert>
    <app-alert
      v-if="RequestTypeCode.JOIN.match(props.instance.requestType.code)"
      type="info"
      class="mb-5"
      presentation
    >
      <template v-if="instance.requestable">
        {{
          $t('resources.requests.actions.accept.join.existingOrganization', {
            user: authorName,
            organization: translate(instance.requestable.name),
          })
        }}
      </template>
      <template v-else>
        {{
          $t('resources.requests.actions.accept.join.newOrganization', {
            user: authorName,
            organization: instance.data?.name,
          })
        }}
      </template>
    </app-alert>
    {{
      $t('resources.requests.actions.accept.confirm', {
        name: authorName,
      })
    }}
  </confirm-dialog>
</template>
