<script
  setup
  lang="ts"
>
import RequestTypeCode from '@/ts/api/enums/requestTypeCode';
import Request from '@/ts/api/models/request';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import UserOwnableDataProvider from '@/ts/components/resources/composables/userOwnable/UserOwnableDataProvider.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import ResourcePhoneValue from '@/ts/components/resources/core/data/ResourcePhoneValue.vue';
import RequestStatusIndicator from '@/ts/components/resources/requests/RequestStatusIndicator.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  portals: ResourcePortals;
  instance: Request;
}>();

const i18n = useI18n();

const joinNewOrganization = computed(() => {
  if (
    !RequestTypeCode.JOIN.match(props.instance.requestType.code)
    || props.instance.requestable
  ) {
    return null;
  }

  return i18n.t('resources.requests.states.join.newOrganization', {
    name: props.instance.data?.name,
  });
});
</script>

<template>
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <user-ownable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.status">
    <request-status-indicator :request="instance" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.requestType">
    <resource-instance-value :instance="instance.requestType" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.requestable">
    <span v-if="joinNewOrganization">
      {{ joinNewOrganization }}
    </span>
    <resource-instance-value
      v-else
      :instance="instance.requestable"
    />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.resultable">
    <resource-instance-value :instance="instance.resultable" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.phone">
    <resource-phone-value :phone="instance.data?.phone" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.comment">
    <resource-optional-value
      v-slot="{ value }"
      :value="instance.body"
    >
      <p class="text-formatted">
        {{ value }}
      </p>
    </resource-optional-value>
  </teleport-to-portal>
</template>
