<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import { Sourceable } from '@/ts/api/composables/sourceable';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import useResourceInputComponent from '@/ts/composables/resources/useResourceInputComponent';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import required from '@/ts/validation/rules/required';
import { isSame, none, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiSourceMerge } from '@mdi/js';
import { computed, nextTick, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';

const props = defineProps<{
  instance: Sourceable;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const router = useRouter();
const i18n = useI18n();
const snackbar = useSnackbarStore();

const targetInputComponent = useResourceInputComponent(props.instance.$model);

const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const title = computed(() => meta.title(props.instance));
const dialogTitle = computed(() => i18n.t(
  'resources.composables.sourceable.actions.mergeSources.title',
  { name: title.value },
));

const dialog = ref(false);

const targetInput = useInput({
  name: 'target',
  label: i18n.t('resources.composables.sourceable.actions.mergeSources.target'),
  value: null as Sourceable | null,
  rules: [
    required, (target) => (
      !isSame(props.instance, target)
      || i18n.t('resources.composables.sourceable.actions.mergeSources.targetInvalid')
    ),
  ],
});

const destroyInput = useInput({
  name: 'destroy',
  label: i18n.t('resources.composables.sourceable.actions.mergeSources.destroy', {
    name: title.value,
  }),
  value: true,
});

const { loading, btnLoading, reset, onSubmit } = useForm([targetInput, destroyInput] as const, {
  async onSubmit({ allValues }) {
    const { target, destroy } = allValues;

    await action()
      .use(query(props.instance))
      .use(makePost('-actions/merge-sources', {
        data: { target: target!.id, destroy },
      }))
      .run(none());

    await nextTick();

    snackbar.toast(i18n.t('resources.composables.sourceable.actions.mergeSources.toast', {
      name: title.value,
      target: useResourceMeta(useResourceType(target!)).title(target!),
    }));

    if (props.onSingle && destroy) {
      await router.replace(useResourceRouteOne(target!));
    }

    await props.invalidate();

    dialog.value = false;
  },
});

watch(dialog, (opened) => {
  if (!opened) {
    reset();
  }
});

const onCancel = () => {
  dialog.value = false;
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="dialogTitle"
    :subtitle="$t('resources.composables.sourceable.actions.mergeSources.description')"
    :persistent="loading"
    :form-props="{ readonly: loading, onSubmit }"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        :title="dialogTitle"
        :label="$t('resources.composables.sourceable.actions.mergeSources.action')"
        :instance="props.instance"
        :icon="mdiSourceMerge"
        :on-single="onSingle"
        color="warning"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-col cols="12">
          <component
            :is="targetInputComponent.Component"
            v-bind="{ ...targetInputComponent.props, ...targetInput.props }"
          />
        </v-col>
        <v-col cols="12">
          <v-switch
            hide-details
            v-bind="destroyInput.props"
          />
        </v-col>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn
        variant="text"
        @click="onCancel"
      >
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="warning"
        v-bind="btnLoading"
      >
        {{ $t('resources.composables.sourceable.actions.mergeSources.action') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
