<script
  lang="ts"
  setup
>
import { Sourceable } from '@/ts/api/composables/sourceable';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import useSourceableLinks from '@/ts/composables/resources/composables/sourceable/useSourceableLinks';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import { mdiSync, mdiSyncOff } from '@mdi/js';
import { computed, toRef } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  portals: ResourcePortals;
  instance: Sourceable;
}>();

const i18n = useI18n();

const sources = useSourceableLinks(toRef(props, 'instance'));
const syncIcon = computed(() => (props.instance.isSyncedWithSources ? mdiSync : mdiSyncOff));
const syncColor = computed(() => (props.instance.isSyncedWithSources ? 'success' : 'warning'));
const syncLabel = computed(() => i18n.t(
  `resources.composables.sourceable.labels.${props.instance.isSyncedWithSources ? 'synced' : 'notSynced'}`,
));
</script>

<template>
  <teleport-to-portal :to="portals.sources">
    <v-chip
      :prepend-icon="syncIcon"
      :color="syncColor"
      :class="{ 'mb-2': sources.size }"
    >
      {{ syncLabel }}
    </v-chip>
    <resource-list-value
      v-if="sources.size"
      v-slot="{ item }"
      :items="[...sources.entries()]"
    >
      <v-chip
        :href="item[1] || item[0].props.website"
        target="_blank"
        rel="noopener"
      >
        {{ item[0].label }}
        <open-in-new-icon />
      </v-chip>
    </resource-list-value>
  </teleport-to-portal>
</template>
