<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import { Sourceable } from '@/ts/api/composables/sourceable';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { none, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiSync } from '@mdi/js';
import { computed, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: Sourceable;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const i18n = useI18n();
const snackbar = useSnackbarStore();

const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const title = computed(() => meta.title(props.instance));

const onSyncSources = async () => {
  await action()
    .use(query(props.instance))
    .use(makePost('-actions/sync-sources'))
    .run(none());

  await nextTick();

  snackbar.toast(i18n.t('resources.composables.sourceable.actions.syncSources.toast', {
    name: title.value,
  }));

  await props.refresh();
};
</script>

<template>
  <confirm-dialog
    :title="$t('resources.composables.sourceable.actions.syncSources.title', {
      name: title
    })"
    :description="$t('resources.composables.sourceable.actions.syncSources.description', {
      name: title
    })"
    :run="onSyncSources"
    size="normal"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        :title="$t('resources.composables.sourceable.actions.syncSources.title', {
          name: title
        })"
        :label="$t('resources.composables.sourceable.actions.syncSources.action')"
        :instance="instance"
        :icon="mdiSync"
        :on-single="onSingle"
        color="warning"
        v-bind="activatorProps"
      />
    </template>
  </confirm-dialog>
</template>
