<script
  lang="ts"
  setup
>
import { AccessibilityValue } from '@/ts/api/composables/accessible';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import Place from '@/ts/api/models/place';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AccessibleCategoryInput
  from '@/ts/components/forms/accessibility/AccessibleCategoryInput.vue';
import AccessibleCriteriaInput
  from '@/ts/components/forms/accessibility/AccessibleCriteriaInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import isNone from '@/ts/utilities/common/isNone';
import FeatureName from '@/ts/utilities/features/featureName';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { mdiChevronDown, mdiChevronUp } from '@mdi/js';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref } from 'vue';

const props = defineProps<{
  accessibilityInput: Input;
  rating?: boolean;
  dense?: boolean;
  required?: boolean;
  place?: Place;
}>();

const colValue = useCol(props.dense ? {
  cols: 12,
  md: 6,
} : {
  cols: 12,
  md: 6,
  lg: 4,
});

const criteriaId = ref(`criteria-inputs-${uuidV4()}`);
const criteriaExpanded = ref(false);
const criteria = computed(() => props.accessibilityInput.props.modelValue?.criteria ?? {});

const isValidationExecuted = ref(false);

const accessibilityValue = (category: AccessibilityCategory) => (
  (props.accessibilityInput.props.modelValue ?? {})[category.value] ?? null
);

const isCategoryRequired = computed(() => (
  props.required && ![...AccessibilityCategory.all.values()].some(
    (category) => !isNone(accessibilityValue(category)),
  )
));

const onAccessibilityValue = (
  category: AccessibilityCategory,
  value: AccessibilityValue | null,
) => {
  const nextValue = { ...props.accessibilityInput.props.modelValue };
  if (value) {
    nextValue[category.value] = value;
  } else {
    delete nextValue[category.value];
  }

  props.accessibilityInput.props['onUpdate:modelValue'](nextValue);
};

const onCriteriaToggle = () => {
  criteriaExpanded.value = !criteriaExpanded.value;
};

const onCriteriaValue = (value: Dictionary) => {
  props.accessibilityInput.props['onUpdate:modelValue']({
    ...props.accessibilityInput.props.modelValue,
    criteria: value,
  });
};

const onValidationExecute = () => {
  isValidationExecuted.value = true;
};
</script>

<template>
  <v-col
    v-if="FeatureName.ACCESSIBILITY.check()"
    cols="12"
  >
    <v-fieldset :legend="$t('forms.labels.accessibility')">
      <v-row dense>
        <v-expand-transition>
          <v-col
            v-if="isCategoryRequired && isValidationExecuted"
            cols="12"
          >
            <app-alert type="error">
              {{ $t('forms.accessible.rules.required') }}
            </app-alert>
          </v-col>
        </v-expand-transition>
        <template v-if="rating">
          <v-col
            v-for="category in AccessibilityCategory.all.values()"
            :key="`categories-${category.value}`"
            v-bind="colValue"
          >
            <accessible-category-input
              :model-value="accessibilityValue(category)"
              :category="category"
              :required="isCategoryRequired"
              @update:model-value="onAccessibilityValue(category, $event)"
              @validation:execute="onValidationExecute"
            />
          </v-col>
        </template>
        <v-col cols="12">
          <v-btn
            :aria-expanded="String(criteriaExpanded)"
            :aria-controls="criteriaId"
            :append-icon="criteriaExpanded ? mdiChevronUp : mdiChevronDown"
            variant="tonal"
            @click="onCriteriaToggle"
          >
            {{ $t(`accessibility.criteria.inputs.${criteriaExpanded ? 'hide' : 'show'}`) }}
          </v-btn>
        </v-col>
        <v-expand-transition>
          <v-col
            v-show="criteriaExpanded"
            cols="12"
          >
            <accessible-criteria-input
              :model-value="criteria"
              :dense="dense"
              :place="place"
              @update:model-value="onCriteriaValue"
            />
          </v-col>
        </v-expand-transition>
      </v-row>
    </v-fieldset>
  </v-col>
</template>
