<script
  lang="ts"
  setup
>
import { Accessible } from '@/ts/api/composables/accessible';
import Activity from '@/ts/api/models/activity';
import AccessibilityCriteriaPanel from '@/ts/components/accessibility/AccessibilityCriteriaPanel.vue';
import AccessibilityRatingPanel from '@/ts/components/accessibility/new/AccessibilityRatingPanel.vue';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Accessible;
  rating?: boolean
}>();
</script>

<template>
  <teleport-to-portal :to="portals.accessibility">
    <accessibility-rating-panel
      v-if="rating"
      :type="instance instanceof Activity ? instance.activityType.code : undefined"
      :values="instance.accessibility ?? {}"
      context="original"
      class="rounded-lg"
      always
    />
    <accessibility-criteria-panel
      v-else
      :values="instance.accessibility?.criteria ?? {}"
      class="rounded-lg"
      always
    />
  </teleport-to-portal>
</template>

<style
  lang="scss"
  scoped
>
  .accessibility-list {
    width: 400px;
    max-width: 100%;
  }
</style>
