<script
  lang="ts"
  setup
>
/* eslint-disable import/no-duplicates */
import banqueSrc from '@/assets/img/partners/banque-des-territoires.jpg';
import banqueSrcset from '@/assets/img/partners/banque-des-territoires.jpg?responsive&imagetools';
import gouvernementSrc from '@/assets/img/partners/gouvernement.jpg';
import gouvernementSrcset from '@/assets/img/partners/gouvernement.jpg?responsive&imagetools';
import hitLightSrc from '@/assets/img/partners/hit--light.png';
import hitLightSrcset from '@/assets/img/partners/hit--light.png?responsive&imagetools';
import lorientSrc from '@/assets/img/partners/lorient-agglomeration.png';
import lorientSrcset from '@/assets/img/partners/lorient-agglomeration.png?responsive&imagetools';
import regionBretagneSrc from '@/assets/img/partners/region-bretagne.jpg';
import regionBretagneSrcset from '@/assets/img/partners/region-bretagne.jpg?responsive&imagetools';
import AppImg from '@/ts/components/common/AppImg.vue';
import AppContainer from '@/ts/components/layouts/AppContainer.vue';
import useLegalRouteEntries from '@/ts/composables/routes/useLegalRouteEntries';
import useThemeVariant from '@/ts/composables/themes/useThemeVariant';
import env from '@/ts/env';
import { computed } from 'vue';

const themeVariant = useThemeVariant(false);
const links = useLegalRouteEntries();

const leftPartners = computed(() => [
  {
    src: hitLightSrc,
    srcset: hitLightSrcset,
    alt: 'Handicap Innovation Territoire, Lorient Agglomération',
    href: 'https://hit-lorient.bzh',
  },
  {
    src: lorientSrc,
    srcset: lorientSrcset,
    alt: 'Lorient Agglomération',
    href: 'https://www.lorient.bzh',
  },
]);
const rightPartners = computed(() => [
  {
    src: regionBretagneSrc,
    srcset: regionBretagneSrcset,
    alt: 'Région Bretagne',
  },
  {
    src: gouvernementSrc,
    srcset: gouvernementSrcset,
    alt: 'Gouvernement Français',
  },
  {
    src: banqueSrc,
    srcset: banqueSrcset,
    alt: 'Banque des territoires',
  },
]);
</script>

<template>
  <v-footer
    id="app-footer"
    :theme="themeVariant"
    color="white"
    class="pa-0 elevation-2"
    app
    absolute
  >
    <app-container>
      <div
        class="d-flex flex-column flex-md-row flex-wrap justify-space-between my-2"
        role="list"
      >
        <div
          v-for="(link, index) in links"
          :key="index"
          role="listitem"
        >
          <v-btn
            :to="link.to"
            :color="undefined"
            variant="text"
            size="small"
            class="ma-1"
          >
            {{ link.title }}
          </v-btn>
        </div>
      </div>
      <div
        role="list"
        class="d-flex flex-column flex-md-row justify-space-between px-0 px-md-4"
      >
        <div class="d-flex flex-wrap align-center justify-center justify-md-end">
          <div
            v-for="({ href, ...partnerImg }, index) in leftPartners"
            :key="`partners-${index}`"
            role="listitem"
            class="d-flex pa-1"
          >
            <a
              :href="href"
              target="_blank"
              rel="noopener"
              class="d-flex"
            >
              <app-img
                class="partner__img bg-white rounded"
                v-bind="partnerImg"
              />
              <span class="d-sr-only">
                {{ $t('navigation.openInNew') }}
              </span>
            </a>
          </div>
        </div>
        <div class="d-flex flex-wrap align-center justify-center justify-md-end">
          <div
            v-for="(partnerImg, index) in rightPartners"
            :key="`partners-${index}`"
            role="listitem"
            class="d-flex pa-1"
          >
            <app-img
              class="partner__img bg-white rounded"
              v-bind="partnerImg"
            />
          </div>
        </div>
      </div>
      <div class="text-center text-medium-emphasis text-caption mt-4">
        &copy; {{ new Date().getFullYear() }} {{ env.app.name }}
      </div>
    </app-container>
  </v-footer>
</template>

<style
  lang="scss"
  scoped
>
  .partner__img {
    height: 80px;
  }
</style>
