<script
  lang="ts"
  setup
>
import AppAnnouncer from '@/ts/components/accessibility/AppAnnouncer.vue';
import NavBarContent from '@/ts/components/navigation/bar/NavBarContent.vue';
import AppNavDrawerContent from '@/ts/components/navigation/drawer/NavDrawerContent.vue';
import useEventListener from '@/ts/composables/dom/useEventListener';
import allFocusableElements from '@/ts/utilities/dom/allFocusableElements';
import focusElement from '@/ts/utilities/dom/focusElement';
import drawerRailPreference from '@/ts/utilities/navigation/drawerRailPreference';
import { ComponentPublicInstance, computed, nextTick, ref, watch } from 'vue';
import { useRoute } from 'vue-router';
import { useDisplay, useTheme } from 'vuetify';

const route = useRoute();
const theme = useTheme();
const { xs, mobile } = useDisplay();

const drawerContentRef = ref<ComponentPublicInstance | null>(null);
const drawerRetainFocusRef = ref<HTMLElement | null>(null);
const drawerActivatorRef = ref<HTMLElement | null>(null);

const drawer = ref(!mobile.value);
const drawerRail = ref(drawerRailPreference.value);

const home = computed(() => (route.path === '/' || route.name === 'home'));
const drawerRailEnabled = computed(() => !mobile.value && drawerRail.value);
const navHeight = computed(() => (mobile.value ? 72 : 96));
const navBackground = computed(() => (theme.current.value.dark ? 'background' : 'primary'));
const railWidth = computed(() => 56);
const drawerWidth = computed(() => {
  if (drawerRailEnabled.value) {
    return railWidth.value;
  }

  return xs.value ? 256 : 324;
});

useEventListener<KeyboardEvent>(drawerRetainFocusRef, 'keydown', (event) => {
  const element = drawerRetainFocusRef?.value;
  if (!element) {
    return;
  }

  if (event.key === 'Escape') {
    drawer.value = false;
    nextTick(() => {
      drawerActivatorRef.value?.focus();
    });
    return;
  }

  if (event.key !== 'Tab') {
    return;
  }

  const focusableElements = allFocusableElements(element);
  const firstFocusableElement = focusableElements[0];
  const lastFocusableElement = focusableElements[focusableElements.length - 1];
  if (event.shiftKey) {
    if (document.activeElement === firstFocusableElement) {
      lastFocusableElement.focus();
      event.preventDefault();
    }
  } else if (document.activeElement === lastFocusableElement) {
    firstFocusableElement.focus();
    event.preventDefault();
  }
});

// We'll only retain focus inside drawer when it's displaying as an overlay
// (on mobile devices) AND when it's opened.
watch([drawer, mobile], () => {
  drawerRetainFocusRef.value = drawer.value && mobile.value
    ? drawerContentRef.value?.$el
    : null;
});

const onDrawerClose = () => {
  drawer.value = false;
  const activator = drawerActivatorRef.value;
  if (activator) {
    focusElement(activator);
  }
};

const onDrawerToggle = async (activator: EventTarget) => {
  drawerActivatorRef.value = activator as HTMLElement;
  await nextTick();
  drawer.value = !drawer.value;
  await nextTick();
  if (drawer.value) {
    if (drawerContentRef.value?.$el) {
      const drawerFocusableElements = allFocusableElements(drawerContentRef.value.$el);

      focusElement(drawerFocusableElements[0]);
    }
  }
};
</script>

<template>
  <app-announcer />
  <v-app-bar
    id="app-nav"
    tag="div"
    :order="+1"
    :style="{ '--v-nav-bar-padding-left': mobile ? '0' : `${drawerWidth}px` }"
    :color="navBackground"
    :height="navHeight"
    :elevation="home ? 0 : 1"
    :absolute="home"
  >
    <nav-bar-content
      :drawer="drawer"
      :home="home"
      @drawer-toggle="onDrawerToggle"
    />
  </v-app-bar>
  <v-navigation-drawer
    id="app-drawer"
    v-model="drawer"
    tag="div"
    :width="drawerWidth"
    :rail="drawerRailEnabled"
    :rail-width="railWidth"
    :class="{ 'rounded-e-xl': mobile }"
    class="border-0"
    color="transparent"
    elevation="1"
  >
    <app-nav-drawer-content
      v-show="drawer"
      ref="drawerContentRef"
      v-model:rail="drawerRail"
      @close="onDrawerClose"
    />
  </v-navigation-drawer>
</template>
