<script
  lang="ts"
  setup
>
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import { useRoutingStore } from '@/ts/stores/routing';
import focusElement from '@/ts/utilities/dom/focusElement';
import { ref, shallowRef, watch } from 'vue';

const routing = useRoutingStore();

const dialog = ref(false);
const activator = shallowRef<Element | null>(null);

watch(() => routing.preventedLeaveNext, async () => {
  if (routing.preventedLeaveNext) {
    activator.value = routing.preventedLeaveActivator;
    dialog.value = true;
  }
});

watch(dialog, async (opened) => {
  if (!opened && activator.value) {
    setTimeout(() => {
      focusElement(activator.value as HTMLElement);
      activator.value = null;
    }, 50);
  }
});

const onConfirmNext = () => {
  routing.confirmPreventedLeaving();
};
</script>

<template>
  <confirm-dialog
    v-model="dialog"
    :title="$t('navigation.preventedLeave.title')"
    :description="$t('navigation.preventedLeave.description')"
    :run="onConfirmNext"
  />
</template>
