<script
  setup
  lang="ts"
>
import VOpeningHoursInputDialog from '@/ts/components/forms/openingHours/VOpeningHoursInputDialog.vue';
import useHoursProps from '@/ts/composables/common/hours/useHoursProps';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useOpeningHourFormatter from '@/ts/composables/dates/hours/useOpeningHourFormatter';
import equals from '@/ts/utilities/common/equals';
import clearOpeningHours from '@/ts/utilities/dates/hours/clearOpeningHours';
import sortOpeningHours from '@/ts/utilities/dates/hours/sortOpeningHours';
import { OpeningHour, WeekdayOpeningHour } from '@/ts/utilities/dates/types';
import { mdiPencilOutline } from '@mdi/js';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value?: OpeningHour[]): void;
}>();

const props = defineProps<{
  modelValue?: OpeningHour[];
  name?: string;
  required?: boolean;
  label: string;
  density?: 'compact' | 'comfortable' | 'default';
  open24Label?: string;
  noClose?: boolean;
}>();

const i18n = useI18n();
const formatOpeningHour = useOpeningHourFormatter();

const lazyValue = useLazyValue(computed(() => [...(props.modelValue ?? [])]));
const textValue = computed(() => {
  const { closed, open24Hours } = useHoursProps(lazyValue.value);
  if (closed.value) {
    return i18n.t('common.openingHours.labels.closed');
  }

  if (open24Hours.value) {
    return props.open24Label ?? i18n.t('common.openingHours.labels.open24Hours');
  }

  return lazyValue.value.map((h) => formatOpeningHour(h)).join(', ');
});

watch(lazyValue, (next, prev) => {
  if (!equals(next, prev)) {
    emit('update:model-value', [...next]);
  }
});

const onNewHours = ({ hours }: { hours: WeekdayOpeningHour[]; }) => {
  lazyValue.value = sortOpeningHours(clearOpeningHours(hours));
};
</script>

<template>
  <v-textarea
    :model-value="textValue"
    :name="name"
    :label="label"
    :density="density"
    :validation-value="lazyValue"
    rows="2"
    readonly
    auto-grow
    v-bind="$attrs"
  >
    <template #append-inner>
      <v-opening-hours-input-dialog
        :hours="lazyValue"
        :open24-label="open24Label"
        :no-close="noClose"
        @new-hours="onNewHours"
      >
        <template #activator="{ props: activatorProps }">
          <v-btn
            :density="density === 'compact' ? 'comfortable' : undefined"
            :title="$t('actions.scoped.edit', { name: label })"
            :icon="mdiPencilOutline"
            color="primary"
            variant="text"
            v-bind="activatorProps"
          />
        </template>
      </v-opening-hours-input-dialog>
    </template>
  </v-textarea>
</template>
