<script
  lang="ts"
  setup
>
import OpeningHoursList from '@/ts/components/common/openingHours/OpeningHoursList.vue';
import VOpeningHoursInputDialog from '@/ts/components/forms/openingHours/VOpeningHoursInputDialog.vue';
import { useLangStore } from '@/ts/stores/lang';
import formatWeekday from '@/ts/utilities/dates/formatWeekday';
import mergeOpeningHours from '@/ts/utilities/dates/hours/mergeOpeningHours';
import { IsoWeekday, WeekdayOpeningHour } from '@/ts/utilities/dates/types';
import toUpperFirst from '@/ts/utilities/strings/toUpperFirst';
import { mdiPencilOutline } from '@mdi/js';
import { computed } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value?: WeekdayOpeningHour[]): void;
}>();

const props = defineProps<{
  modelValue: WeekdayOpeningHour[];
  weekday: IsoWeekday;
}>();

const lang = useLangStore();

const weekdayName = computed(() => formatWeekday(props.weekday, lang.locale));
const hours = computed(() => (props.modelValue ?? []).filter((h) => props.weekday === h.weekday));

const onNewHours = (newHours: { weekdays: IsoWeekday[]; hours: WeekdayOpeningHour[]; }) => {
  emit(
    'update:model-value',
    mergeOpeningHours(newHours.weekdays, props.modelValue ?? [], newHours.hours),
  );
};
</script>

<template>
  <v-list-item :title="toUpperFirst(weekdayName)">
    <template #subtitle>
      <opening-hours-list :hours="hours" />
    </template>
    <template #append>
      <v-list-item-action end>
        <v-opening-hours-input-dialog
          :weekdays="[weekday]"
          :hours="hours"
          @new-hours="onNewHours"
        >
          <template #activator="{ props: activatorProps }">
            <v-btn
              :title="$t('actions.scoped.edit', { name: weekdayName })"
              :icon="mdiPencilOutline"
              variant="text"
              v-bind="activatorProps"
            />
          </template>
        </v-opening-hours-input-dialog>
      </v-list-item-action>
    </template>
  </v-list-item>
</template>
