<script
  lang="ts"
  setup
>
import { Contactable } from '@/ts/api/composables/contactable';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import useContactableLinks from '@/ts/composables/links/useContactableLinks';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import { toRef } from 'vue';

const props = defineProps<{
  portals: ResourcePortals;
  instance: Contactable;
}>();

const links = useContactableLinks(toRef(props, 'instance'));
</script>

<template>
  <teleport-to-portal :to="portals.contact">
    <resource-list-value
      v-slot="{ item }"
      :items="links"
    >
      <v-btn
        :prepend-icon="item.icon"
        :title="item.ariaLabel"
        :href="item.href"
        :target="item.openInNew ? '_blank' : undefined"
        :rel="item.openInNew ? 'noopener' : undefined"
        variant="tonal"
      >
        {{ item.label }}
        <open-in-new-icon v-if="item.openInNew" />
      </v-btn>
    </resource-list-value>
  </teleport-to-portal>
</template>
