<script
  lang="ts"
  setup
>
import VCustomPhoneInput from '@/ts/components/forms/phone/VCustomPhoneInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';

defineProps<{
  emailInput: Input;
  phoneInput: Input;
}>();

const col = useCol();
</script>

<template>
  <v-col cols="12">
    <v-fieldset :legend="$t('forms.labels.contact')">
      <v-row dense>
        <v-col v-bind="col">
          <v-text-field v-bind="emailInput.props" />
        </v-col>
        <v-col v-bind="col">
          <v-custom-phone-input
            v-bind="phoneInput.props"
          />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
</template>
