<script
  lang="ts"
  setup
>
import AccountDataSection from '@/ts/components/account/AccountDataSection.vue';
import AccountInformationSection from '@/ts/components/account/AccountInformationSection.vue';
import AccountOrganizationAlert from '@/ts/components/account/AccountOrganizationAlert.vue';
import BlockedAccountAlert from '@/ts/components/account/BlockedAccountAlert.vue';
import JoinOrganizationDialog from '@/ts/components/account/JoinOrganizationDialog.vue';
import NewsletterSubscribeCard from '@/ts/components/account/NewsletterSubscribeCard.vue';
import RequiresVerifiedEmailAlert from '@/ts/components/account/RequiresVerifiedEmailAlert.vue';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppList from '@/ts/components/data/AppList.vue';
import AppListItem from '@/ts/components/data/AppListItem.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useSwitchActingFor from '@/ts/composables/auth/useSwitchActingFor';
import useResourcesEntries from '@/ts/composables/resources/core/useResourcesEntries';
import { ResourceEntry } from '@/ts/resources/utilities/makeResourceEntry';
import { useAuthStore } from '@/ts/stores/auth';
import FeatureName from '@/ts/utilities/features/featureName';
import { mdiOfficeBuildingOutline } from '@mdi/js';
import { computed } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const auth = useAuthStore();
const { actingFor, canSwitchActingFor } = useSwitchActingFor();
const resourceEntries = useResourcesEntries();
const myContentsEntries = computed(() => {
  const entries = [] as ResourceEntry[];

  resourceEntries.value.forEach((group) => {
    if ('entries' in group && group.name === 'myContents') {
      group.entries.forEach((entry) => {
        entries.push(entry);
      });
    }
  });

  return entries;
});

const recentlyVerified = computed(() => route.query.recentlyVerified === '1');
</script>

<template>
  <app-page-layout :title="$t('views.account.myAccount.title')">
    <v-row>
      <v-col
        v-if="auth.blocked"
        cols="12"
      >
        <blocked-account-alert presentation />
      </v-col>
      <v-col
        v-else-if="!auth.verified"
        cols="12"
      >
        <requires-verified-email-alert
          type="error"
          immediate
        />
      </v-col>
      <v-col
        v-else-if="recentlyVerified"
        cols="12"
      >
        <app-alert type="success">
          {{ $t('views.account.myAccount.alerts.recentlyVerified.content') }}
        </app-alert>
      </v-col>
      <v-col
        v-if="canSwitchActingFor"
        cols="12"
      >
        <account-organization-alert />
      </v-col>
      <v-col
        v-if="myContentsEntries.length || (!auth.blocked && auth.verified && !actingFor)"
        cols="12"
      >
        <app-list :items="myContentsEntries">
          <template
            v-if="!auth.blocked && auth.verified && !actingFor"
            #prepend
          >
            <app-list-item
              role="listitem"
              class="mr-1 mb-1"
            >
              <join-organization-dialog>
                <template #activator="{ props: activatorProps }">
                  <v-btn
                    :prepend-icon="mdiOfficeBuildingOutline"
                    variant="tonal"
                    v-bind="activatorProps"
                  >
                    {{ $t('views.account.myAccount.newOrganization.title') }}
                  </v-btn>
                </template>
              </join-organization-dialog>
            </app-list-item>
          </template>
          <template #item="{ item }">
            <v-btn
              :to="item.to"
              :prepend-icon="item.icon"
              variant="tonal"
            >
              {{ item.title }}
            </v-btn>
          </template>
        </app-list>
      </v-col>
      <v-col cols="12">
        <account-information-section />
      </v-col>
      <v-col
        v-if="FeatureName.NEWSLETTER.check()"
        cols="12"
      >
        <newsletter-subscribe-card
          :prefill-email="auth.user.email"
          no-input
        />
      </v-col>
      <v-col cols="12">
        <account-data-section />
      </v-col>
    </v-row>
  </app-page-layout>
</template>
