<script
  lang="ts"
  setup
>
import NewsletterSubscribeCard from '@/ts/components/account/NewsletterSubscribeCard.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import { useRoute } from 'vue-router';

const route = useRoute();

const email = route.params.email as string;
</script>

<template>
  <app-page-layout
    :title="$t('views.account.myAccount.newsletter.title')"
    size="normal"
  >
    <newsletter-subscribe-card
      :prefill-email="email"
      no-title
    />
  </app-page-layout>
</template>
