<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Notification from '@/ts/api/models/notification';
import NotificationListItem from '@/ts/components/account/NotificationListItem.vue';
import NotificationsPreferencesDialog from '@/ts/components/account/NotificationsPreferencesDialog.vue';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useNotificationsState from '@/ts/composables/auth/useNotificationsState';
import useAsync from '@/ts/composables/common/useAsync';
import useInfiniteScroll from '@/ts/composables/dom/useInfiniteScroll';
import { useAuthStore } from '@/ts/stores/auth';
import last from '@/ts/utilities/arrays/last';
import removeOne from '@/ts/utilities/arrays/removeOne';
import { all, fill, markSynced, none, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { paginate, sortByDesc, usingDocument } from '@foscia/jsonapi';
import { mdiCogOutline, mdiEmailOpenOutline } from '@mdi/js';
import { computed, ref } from 'vue';

const auth = useAuthStore();
const { loading, btnLoading, asyncRun } = useAsync();
const notificationState = useNotificationsState();

const more = ref(true);
const notifications = ref([] as Notification[]);

const after = computed(() => last(notifications.value)?.id);

const fetchNotifications = () => asyncRun(async () => {
  const { instances, document } = await action()
    .use(query(Notification))
    .use(sortByDesc('createdAt'))
    .use(paginate({ limit: 20, after: after.value }))
    .run(all(usingDocument));

  more.value = document.meta!.page.hasMore;
  notifications.value = [
    ...notifications.value,
    ...instances,
  ];
});

useInfiniteScroll(window.document, () => {
  if (!loading.value && more.value) {
    fetchNotifications();
  }
}, true);

const onReadChange = (operation: number) => {
  if (auth.auth) {
    fill(auth.user, {
      unreadNotificationsCount: auth.user.unreadNotificationsCount + operation,
    });
  }
};

const onMarkAllRead = () => asyncRun(async () => {
  await action()
    .use(query(Notification))
    .use(makePost('-actions/read-all', {}))
    .run(none());

  notifications.value.forEach((n) => {
    fill(n, { readAt: new Date() });
    markSynced(n, 'readAt');
  });

  onReadChange(auth.auth ? -auth.user.unreadNotificationsCount : 0);
});

const onRead = () => onReadChange(-1);
const onUnread = () => onReadChange(+1);
const onDelete = (notification: Notification) => {
  removeOne(notifications.value, notification);
  if (!notification.readAt) {
    onReadChange(-1);
  }
};
</script>

<template>
  <app-page-layout :title="$t('views.account.myNotifications.title')">
    <v-row>
      <v-col cols="12">
        <app-alert
          :icon="notificationState.icon"
          :type="notificationState.unread ? 'info' : 'success'"
          presentation
        >
          {{ notificationState.title }}
        </app-alert>
      </v-col>
      <v-col cols="12">
        <div class="d-flex flex-column flex-sm-row justify-sm-end">
          <v-btn
            :disabled="!notificationState.unread"
            :prepend-icon="mdiEmailOpenOutline"
            variant="tonal"
            v-bind="btnLoading"
            @click="onMarkAllRead"
          >
            {{ $t('views.account.myNotifications.markAllRead') }}
          </v-btn>
          <notifications-preferences-dialog>
            <template #activator="{ props: activatorProps }">
              <v-btn
                :prepend-icon="mdiCogOutline"
                variant="tonal"
                class="mt-2 mt-sm-0 ml-sm-2"
                v-bind="activatorProps"
              >
                {{ $t('views.account.myNotifications.preferences.title') }}
              </v-btn>
            </template>
          </notifications-preferences-dialog>
        </div>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-text v-if="!more && !notifications.length">
            {{ $t('views.account.myNotifications.noData') }}
          </v-card-text>
          <v-list
            v-else
            :aria-label="$t('views.account.myNotifications.title')"
            :aria-description="$t('states.list.loadOnScroll')"
            role="list"
            tabindex="-1"
          >
            <template
              v-for="(notification, index) in notifications"
              :key="notification.id"
            >
              <app-divider v-if="index !== 0" />
              <div role="listitem">
                <notification-list-item
                  :notification="notification"
                  @read="onRead"
                  @unread="onUnread"
                  @delete="onDelete"
                />
              </div>
            </template>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </app-page-layout>
</template>
