<script
  lang="ts"
  setup
>
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppLoader from '@/ts/components/common/AppLoader.vue';
import AppFooter from '@/ts/components/navigation/AppFooter.vue';
import AppNav from '@/ts/components/navigation/AppNav.vue';
import AppPreventedLeaveDialog from '@/ts/components/navigation/AppPreventedLeaveDialog.vue';
import AppSnackbar from '@/ts/components/overlays/AppSnackbar.vue';
import AppRouterTransition from '@/ts/components/transitions/AppRouterTransition.vue';
import useAppStyles from '@/ts/composables/common/useAppStyles';
import { useAppStore } from '@/ts/stores/app';
import { mdiRefresh } from '@mdi/js';
import { nextTick } from 'vue';

const app = useAppStore();
const styles = useAppStyles();

const onRefresh = async () => {
  app.booting = true;
  await nextTick();
  window.location.reload();
};
</script>

<template>
  <v-fade-transition leave-absolute>
    <v-app
      v-if="!app.booted || app.booting"
      :style="styles"
    >
      <v-main class="d-flex justify-center align-center">
        <app-loader />
      </v-main>
    </v-app>
    <v-app
      v-else
      :style="styles"
    >
      <header>
        <nav :aria-label="$t('navigation.main')">
          <app-nav />
        </nav>
        <app-snackbar />
        <app-prevented-leave-dialog />
      </header>
      <v-main
        id="main"
        tabindex="-1"
      >
        <v-slide-y-transition leave-absolute>
          <app-alert
            v-if="app.updated"
            type="success"
            class="ma-4"
          >
            {{ $t('states.updatedApp.text') }}
            <template #append>
              <v-btn
                :append-icon="mdiRefresh"
                variant="text"
                density="comfortable"
                color="success"
                @click="onRefresh"
              >
                {{ $t('states.updatedApp.action') }}
              </v-btn>
            </template>
          </app-alert>
        </v-slide-y-transition>
        <router-view>
          <template #default="{ Component }">
            <app-router-transition>
              <component :is="Component" />
            </app-router-transition>
          </template>
        </router-view>
      </v-main>
      <app-footer />
    </v-app>
  </v-fade-transition>
</template>

<style
  lang="scss"
  scoped
>
  :global(#app) {
    outline: none !important;
  }
</style>
