<script
    lang="ts"
    setup
>
import useAppStyles from '@/ts/composables/common/useAppStyles';
import { useAppStore } from '@/ts/stores/app';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { defineAsyncComponent, onMounted, ref } from 'vue';

const app = useAppStore();
const styles = useAppStyles();

type EmbedRoutes = Dictionary<{
  component: {},
}>;

const routes = {
  reviews: {
    component: defineAsyncComponent(() => import('@/ts/views/embed/EmbedReviewsView.vue')),
  },
} as EmbedRoutes;

const route = /[^/]*$/.exec(window.location.pathname)?.[0];
const query = new URLSearchParams(window.location.search);

const currentRoute = route ? routes[route] : undefined;

const error = ref(null as string | null);

const onError = (message: string) => {
  error.value = message;
};

onMounted(async () => {
  await app.bootEmbed(query);

  if (!currentRoute) {
    error.value = `"${route}" path is not a valid embed route.`;
  }
});
</script>

<template>
  <div
    v-if="app.booted && !app.booting"
    :style="styles"
  >
    <span
      v-if="error !== null"
      class="text-error"
      lang="en"
    >
      <strong>Invalid embed URL:</strong>
      {{ error }}
    </span>
    <component
      :is="currentRoute.component"
      v-else-if="currentRoute"
      :query="query"
      @error="onError"
    />
  </div>
</template>

<style
    lang="scss"
    scoped
>
  :global(html) {
    overflow: auto;
  }
</style>
