<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import cachedCategories from '@/ts/api/cached/cachedCategories';
import { Publishable } from '@/ts/api/composables/publishable';
import Category from '@/ts/api/models/category';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiPublish } from '@mdi/js';
import { computed, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: Publishable;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const i18n = useI18n();
const snackbar = useSnackbarStore();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const title = computed(() => meta.title(props.instance));

const onPublish = async () => {
  await action()
    .use(query(props.instance))
    .use(makePost('-actions/publish', {}))
    .run(oneOrCurrent());

  if (props.instance instanceof Category) {
    cachedCategories.forget();
  }

  await nextTick();

  snackbar.toast(i18n.t('resources.composables.publishable.actions.publish.toast', {
    name: title.value,
  }));

  await props.invalidate();
};
</script>

<template>
  <confirm-dialog
    :title="$t('resources.composables.publishable.actions.publish.title', { name: title })"
    :description="$t('resources.composables.publishable.actions.publish.description', {
      name: title
    })"
    :run="onPublish"
    color="success"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        :title="$t('resources.composables.publishable.actions.publish.title', { name: title })"
        :label="$t('resources.composables.publishable.actions.publish.action')"
        :instance="props.instance"
        :icon="mdiPublish"
        :on-single="onSingle"
        color="success"
        v-bind="activatorProps"
      />
    </template>
  </confirm-dialog>
</template>
