<script
  lang="ts"
  setup
>
import { Publishable } from '@/ts/api/composables/publishable';
import isPublishedAvailable from '@/ts/api/utilities/publishable/isPublishedAvailable';
import ResourceDateIndicator from '@/ts/components/resources/core/data/ResourceDateIndicator.vue';
import { mdiLockOpenOutline, mdiLockOutline } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: Publishable;
}>();

const i18n = useI18n();

const categoriesNonPublished = computed(() => (
  props.instance.published && !isPublishedAvailable(props.instance)
));
const title = computed(() => (
  categoriesNonPublished.value
    ? i18n.t('resources.composables.publishable.alerts.categoriesNonPublished')
    : undefined
));
const onProps = computed(() => (
  categoriesNonPublished.value
    ? { prependIcon: mdiLockOutline, color: 'warning' }
    : { prependIcon: mdiLockOpenOutline, color: 'success' }
));
</script>

<template>
  <resource-date-indicator
    :value="instance.publishedAt"
    :title="title"
    :on-props="onProps"
    :off-props="{ prependIcon: mdiLockOutline, color: 'info' }"
    :off-text="$t('resources.composables.publishable.labels.nonPublished')"
  />
</template>
