<script
  lang="ts"
  setup
>
import { Publishable } from '@/ts/api/composables/publishable';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { mdiLockOutline } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  instance: Publishable;
}>();

const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const name = computed(() => meta.title(props.instance));
</script>

<template>
  <v-col
    v-if="!instance.published"
    cols="12"
  >
    <app-alert
      :icon="mdiLockOutline"
      type="info"
      presentation
    >
      {{ $t('resources.composables.publishable.alerts.nonPublished', { name }) }}
    </app-alert>
  </v-col>
</template>
