<script
  lang="ts"
  setup
>
import { Publishable } from '@/ts/api/composables/publishable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import PublishableIndicator from '@/ts/components/resources/composables/publishable/PublishableIndicator.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Publishable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.publishedAt">
    <publishable-indicator :instance="instance" />
  </teleport-to-portal>
</template>
