<script
  lang="ts"
  setup
>
import { Publishable } from '@/ts/api/composables/publishable';
import publishableIcon from '@/ts/api/utilities/publishable/publishableIcon';
import publishableRoute from '@/ts/api/utilities/publishable/publishableRoute';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: Publishable;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const i18n = useI18n();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const title = computed(() => meta.title(props.instance));
const actionTo = computed(() => publishableRoute(props.instance));
const actionIcon = computed(() => publishableIcon(props.instance));
const actionLabel = computed(() => i18n.t(
  `resources.composables.publishable.actions.view.action.${type}`,
));
const actionTitle = computed(() => i18n.t(
  `resources.composables.publishable.actions.view.title.${type}`,
  { name: title.value },
));
</script>

<template>
  <one-activator
    :to="actionTo"
    :title="actionTitle"
    :label="actionLabel"
    :instance="props.instance"
    :icon="actionIcon"
    :on-single="onSingle"
    color="primary"
    variant="tonal"
  />
</template>
