<script
  lang="ts"
  setup
>
import AppTable from '@/ts/components/data/tables/AppTable.vue';
import ConfigDataProvider from '@/ts/components/resources/configs/ConfigDataProvider.vue';
import ConfigServicesData from '@/ts/components/resources/configs/ConfigServicesData.vue';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import { useConfigInformationHeaders, useConfigMapHeaders } from '@/ts/composables/resources/configs/useConfigHeaders';
import FeatureName from '@/ts/utilities/features/featureName';

const informationHeaders = useConfigInformationHeaders();
const mapHeaders = useConfigMapHeaders();
</script>

<template>
  <resource-one-view translatable>
    <template #table="{ instance }">
      <v-col cols="12">
        <app-table
          :caption="$t('views.resources.one.table.caption')"
          no-overflow
        >
          <resource-rows-portals
            v-slot="{ portals }"
            :instance="instance"
            :headers="informationHeaders"
          >
            <config-data-provider
              :instance="instance"
              :portals="portals"
            />
          </resource-rows-portals>
        </app-table>
      </v-col>
      <v-col
        v-if="FeatureName.PLACES.check()"
        cols="12"
      >
        <app-table
          :caption="$t('resources.configs.labels.map')"
          no-overflow
        >
          <resource-rows-portals
            v-slot="{ portals }"
            :instance="instance"
            :headers="mapHeaders"
          >
            <config-data-provider
              :instance="instance"
              :portals="portals"
            />
          </resource-rows-portals>
        </app-table>
      </v-col>
      <v-col cols="12">
        <config-services-data :config="instance" />
      </v-col>
    </template>
  </resource-one-view>
</template>
