<script
    lang="ts"
    setup
>
import ConfigInputs from '@/ts/components/resources/configs/ConfigInputs.vue';
import ConfigInputsProvider from '@/ts/components/resources/configs/ConfigInputsProvider.vue';
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';
</script>

<template>
  <div>
    <config-inputs-provider v-slot="{ ...inputs }">
      <resource-edit-view :inputs="inputs">
        <config-inputs v-bind="inputs" />
      </resource-edit-view>
    </config-inputs-provider>
  </div>
</template>
