<script
  lang="ts"
  setup
>
const emit = defineEmits<{
  (e: 'close'): void;
}>();

defineProps<{
  title?: string;
  titleId?: string;
  subtitle?: string;
  fullscreen?: boolean;
}>();

const onCloseClick = () => emit('close');
</script>

<template>
  <v-card
    :rounded="fullscreen ? 'lg' : undefined"
    elevation="0"
  >
    <v-card-title
      v-if="title || $slots.title"
      :id="titleId"
    >
      <div class="d-flex align-center flex-nowrap">
        <slot name="title">
          {{ title }}
        </slot>
        <v-btn
          :title="$t('actions.close')"
          icon="$close"
          class="ml-auto"
          color="on-surface"
          variant="text"
          size="x-large"
          density="compact"
          @click="onCloseClick"
        />
      </div>
    </v-card-title>
    <v-card-subtitle v-if="subtitle || $slots.subtitle">
      <slot name="subtitle">
        <p class="my-0">
          {{ subtitle }}
        </p>
      </slot>
    </v-card-subtitle>
    <slot />
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  .v-card-subtitle {
    padding-bottom: 8px;
  }
</style>
