<script
  lang="ts"
  setup
>
import AppDialogContent from '@/ts/components/overlays/AppDialogContent.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useSize from '@/ts/composables/common/useSize';
import { SizeName } from '@/ts/utilities/common/sizes';
import focusElement from '@/ts/utilities/dom/focusElement';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref, toRef, watch } from 'vue';
import { useDisplay } from 'vuetify';
import type { VDialog } from 'vuetify/components/VDialog';

const emit = defineEmits<{
  (e: 'update:model-value', v: boolean): void;
}>();

const props = defineProps<{
  modelValue: boolean;
  loading?: boolean;
  size?: SizeName;
  title?: string;
  subtitle?: string;
  fullscreen?: boolean;
  neverFullscreen?: boolean;
  formProps?: Dictionary;
}>();

const { xs } = useDisplay();
const { size: sizeValue } = useSize(props.size || 'normal');

const id = ref(uuidV4());
const dialogId = ref(`app-dialog-${id.value}`);
const titleId = ref(`app-dialog-title-${id.value}`);
const lazyValue = useLazyValue(toRef(props, 'modelValue'));

const fullscreenValue = computed(() => props.fullscreen || (!props.neverFullscreen && xs.value));

watch(lazyValue, (value) => {
  emit('update:model-value', value);

  if (value) {
    setTimeout(() => {
      const element = document.getElementById(dialogId.value);
      if (element) {
        focusElement(element);
      }
    }, 100);
  }
});

const onClose = () => {
  lazyValue.value = false;
};
</script>

<template>
  <v-dialog
    :id="dialogId"
    v-model="lazyValue"
    :aria-labelledby="titleId"
    :fullscreen="fullscreenValue"
    :width="fullscreenValue ? undefined : sizeValue"
    :persistent="loading"
    class="app-dialog"
    tabindex="-1"
    scrollable
    close-on-back
    v-bind="$attrs"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="{
          ...activatorProps,
          props: {
            ...activatorProps.props,
            'aria-expanded': undefined,
          },
        }"
      />
    </template>
    <slot name="content">
      <v-form
        v-if="formProps"
        v-bind="formProps"
      >
        <app-dialog-content
          :title="title"
          :title-id="titleId"
          :subtitle="subtitle"
          :fullscreen="fullscreenValue"
          @close="onClose"
        >
          <slot />
        </app-dialog-content>
      </v-form>
      <app-dialog-content
        v-else
        :title="title"
        :title-id="titleId"
        :subtitle="subtitle"
        :fullscreen="fullscreenValue"
        @close="onClose"
      >
        <slot />
      </app-dialog-content>
    </slot>
  </v-dialog>
</template>
