<script
  lang="ts"
  setup
>
import { useAccessibilityStore } from '@/ts/stores/accessibility';
import { SnackbarMessage, useSnackbarStore } from '@/ts/stores/snackbar';
import isNone from '@/ts/utilities/common/isNone';
import { computed, nextTick, ref, watch } from 'vue';

const accessibility = useAccessibilityStore();
const snackbar = useSnackbarStore();

const snackbarOpened = ref(false);
const snackbarMessage = ref(null as SnackbarMessage | null);
const snackbarTimeoutId = ref(null as number | null);

const snackbarParsedMessage = computed(() => {
  if (isNone(snackbarMessage.value)) {
    return null;
  }

  return typeof snackbarMessage.value === 'string'
    ? { message: snackbarMessage.value, icon: '$success' }
    : snackbarMessage.value;
});

watch(() => snackbar.message, (message) => {
  if (snackbarTimeoutId.value) {
    clearTimeout(snackbarTimeoutId.value);
  }

  if (message !== null) {
    snackbarMessage.value = message;

    if (accessibility.preferences.snackbarTimeout !== -1) {
      snackbarTimeoutId.value = setTimeout(() => {
        snackbar.dismiss();
      }, accessibility.preferences.snackbarTimeout);
    }

    nextTick(() => {
      snackbarOpened.value = true;
    });
  } else {
    snackbarOpened.value = false;
  }
});

const onClose = () => {
  snackbar.dismiss();
};
</script>

<template>
  <div
    role="status"
    aria-live="polite"
  >
    <v-slide-y-transition>
      <div
        v-show="snackbarOpened"
        class="app-snackbar__container"
      >
        <v-card
          class="app-snackbar"
          width="400"
          elevation="0"
          rounded="lg"
          color="surface-variant"
        >
          <div class="d-flex align-center">
            <div class="d-flex align-center flex-grow-1 pl-3 py-4">
              <v-icon
                v-if="snackbarParsedMessage"
                :icon="snackbarParsedMessage.icon"
                size="small"
                start
              />
              <div class="text-body-2">
                {{ snackbarParsedMessage?.message ?? null }}
              </div>
            </div>
            <v-btn
              :title="$t('navigation.snackbar.close')"
              color="on-surface-variant"
              variant="text"
              icon="$close"
              @click="onClose"
            />
          </div>
        </v-card>
      </div>
    </v-slide-y-transition>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .app-snackbar__container {
    position: fixed;
    top: 64px;
    right: 8px;
    pointer-events: none;
    z-index: 9999;

    @media screen and (min-width: 1280px) {
      top: 96px;
    }
  }

  .app-snackbar {
    pointer-events: auto;
    max-width: calc(100vw - 16px);
  }
</style>
