<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useAsync from '@/ts/composables/common/useAsync';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import { SizeName } from '@/ts/utilities/common/sizes';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Optional } from '@/ts/utilities/types/optional';
import { ComponentPublicInstance, toRef, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', v: boolean): void;
}>();

const props = withDefaults(defineProps<{
  modelValue?: boolean;
  title?: string;
  description?: string;
  action?: string;
  color?: string;
  size?: SizeName;
  run: () => Awaitable<void | boolean>;
  activator?: Optional<string | Element | ComponentPublicInstance>;
}>(), {
  modelValue: false,
  title: undefined,
  description: undefined,
  action: undefined,
  color: 'error',
  size: undefined,
  activator: undefined,
});

const { loading, btnLoading, asyncRun } = useAsync();

const lazyValue = useLazyValue(toRef(props, 'modelValue'));

watch(lazyValue, (value) => {
  emit('update:model-value', value);
});

const onClose = () => {
  lazyValue.value = false;
};

const onConfirm = () => asyncRun(async () => {
  const keepDialog = await props.run();
  if (!keepDialog) {
    lazyValue.value = false;
  }
});
</script>

<template>
  <app-dialog
    v-model="lazyValue"
    :title="title ?? $t('actions.confirm')"
    :persistent="loading"
    :size="size ?? 'small'"
    :activator="activator"
    never-fullscreen
    v-bind="$attrs"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <slot>
        <p class="my-0">
          {{ description }}
        </p>
      </slot>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn @click="onClose">
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        :color="color"
        variant="elevated"
        v-bind="btnLoading"
        @click="onConfirm"
      >
        {{ action ?? $t('actions.confirm') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
