<script
  setup
  lang="ts"
>
import { TableHeader } from '@/ts/components/data/makeTableHeader';
import AppTableResponsiveCell from '@/ts/components/data/tables/AppTableResponsiveCell.vue';
import useResourceHeaders from '@/ts/composables/resources/core/useResourceHeaders';
import useResourcePortals from '@/ts/composables/resources/core/useResourcePortals';
import { Optional } from '@/ts/utilities/types/optional';
import { ModelInstance } from '@foscia/core';
import { toRef } from 'vue';

const props = defineProps<{
  headers: TableHeader[];
  instance: ModelInstance;
  onlyHeaders?: Optional<string[]>;
}>();

const resourceHeaders = useResourceHeaders(toRef(props, 'headers'), toRef(props, 'onlyHeaders'));
const { portals, onPortalRef } = useResourcePortals(toRef(props, 'headers'));
</script>

<template>
  <slot :portals="portals" />
  <app-table-responsive-cell
    v-for="header in resourceHeaders"
    :key="`cell-${header.name}`"
    :title="header.label"
  >
    <div :ref="(el) => onPortalRef(header, el)" />
  </app-table-responsive-cell>
</template>
