<script
  setup
  lang="ts"
>
import { TableHeader } from '@/ts/components/data/makeTableHeader';
import AppTableRowCell from '@/ts/components/data/tables/AppTableRowCell.vue';
import useResourceHeaders from '@/ts/composables/resources/core/useResourceHeaders';
import useResourcePortals from '@/ts/composables/resources/core/useResourcePortals';
import value from '@/ts/utilities/functions/value';
import { Optional } from '@/ts/utilities/types/optional';
import { ModelInstance } from '@foscia/core';
import { toRef } from 'vue';

const props = defineProps<{
  headers: TableHeader[];
  instance: ModelInstance;
  onlyHeaders?: Optional<string[]>;
}>();

const resourceHeaders = useResourceHeaders(toRef(props, 'headers'), toRef(props, 'onlyHeaders'));
const { portals, onPortalRef } = useResourcePortals(toRef(props, 'headers'));
</script>

<template>
  <slot :portals="portals" />
  <template
    v-for="header in resourceHeaders"
    :key="`row-${header.name}`"
  >
    <app-table-row-cell
      v-if="value(header.when, instance) ?? true"
      :title="header.label"
    >
      <div :ref="(el) => onPortalRef(header, el)" />
    </app-table-row-cell>
  </template>
</template>
