<script
  lang="ts"
  setup
>
import AppLoader from '@/ts/components/common/AppLoader.vue';

defineProps<{
  tag?: string;
  loading?: boolean;
}>();
</script>

<template>
  <component
    :is="tag ?? 'div'"
    class="app-data__label"
  >
    <v-fade-transition mode="out-in">
      <app-loader
        v-if="loading"
        size="24"
      />
      <div
        v-else
        class="text-overline"
      >
        <slot />
      </div>
    </v-fade-transition>
  </component>
</template>

<style
  lang="scss"
  scoped
>
  .app-data__label {
    min-height: 32px;
  }
</style>
