<script
    lang="ts"
    setup
>
import Media from '@/ts/api/models/media';
import { provideEditorMedia } from '@/ts/composables/forms/editor/editorMedia';
import useEditor from '@/ts/composables/forms/editor/useEditor';
import { EditorContent } from '@tiptap/vue-3';
import { computed, onMounted, watch } from 'vue';

const props = defineProps<{
  value?: string;
  media?: Media[];
  heading?: 1 | 2 | 3 | '1' | '2' | '3';
  noImage?: boolean;
  noList?: boolean;
  noLink?: boolean;
  noHeading?: boolean;
}>();

provideEditorMedia(computed(() => props.media ?? []));

const editor = useEditor({
  noImage: props.noImage,
  noList: props.noList,
  noLink: props.noLink,
  noHeading: props.noHeading,
}, {
  editable: false,
});

const onValueChange = () => {
  const increaseHeadingBy = Number(props.heading ?? 1) - 1;
  const html = (props.value ?? '').replace(
    /<\/?h([1-6])/g,
    (match, level) => match.replace(`${level}`, String(Number(level) + increaseHeadingBy)),
  );

  editor.value?.commands.setContent(html);
};

watch(() => props.value, onValueChange);

onMounted(onValueChange);
</script>

<template>
  <editor-content
    :editor="editor"
    class="app-html"
  />
</template>

<style
    lang="scss"
    scoped
>
  .app-html {
    word-break: break-word;
  }
</style>
