<script
    lang="ts"
    setup
>
type Props<T> = {
  items: T[];
};

defineProps<Props<any>>();
</script>

<template>
  <template
    v-for="(item, index) in items"
    :key="index"
  >
    <!--eslint-disable vue/singleline-html-element-content-newline -->
    <template v-if="index !== 0">,&nbsp;</template>
    <!--eslint-enable -->
    <slot
      :item="item"
      :index="index"
    />
  </template>
</template>
