<script
  lang="ts"
  setup
>
import AppListItem from '@/ts/components/data/AppListItem.vue';
import isNil from '@/ts/utilities/common/isNil';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';

const props = defineProps<{
  items?: Optional<any[] | Dictionary>;
  itemProps?: Dictionary;
  column?: boolean;
  noWrap?: boolean;
}>();

const itemAt = (index: PropertyKey, indexOperation: number) => {
  if (Array.isArray(props.items) && typeof index === 'number') {
    return props.items[index + indexOperation] ?? null;
  }

  return null;
};
const prevItem = (index: PropertyKey) => itemAt(index, -1);
const nextItem = (index: PropertyKey) => itemAt(index, +1);
</script>

<template>
  <div
    role="list"
    class="d-flex"
    :class="{ 'flex-column': column, 'flex-wrap': !noWrap }"
  >
    <slot name="prepend" />
    <slot>
      <template v-if="!isNil(items)">
        <template
          v-for="(item, index) in (items ?? [])"
          :key="index"
        >
          <slot
            name="prepend-item"
            :item="item"
            :prev="prevItem(index)"
            :next="nextItem(index)"
            :index="index"
          />
          <app-list-item
            role="listitem"
            class="mr-1 mb-1"
            v-bind="itemProps"
          >
            <slot
              name="item"
              :item="item"
              :prev="prevItem(index)"
              :next="nextItem(index)"
              :index="index"
            />
          </app-list-item>
          <slot
            name="append-item"
            :item="item"
            :prev="prevItem(index)"
            :next="nextItem(index)"
            :index="index"
          />
        </template>
      </template>
    </slot>
    <slot name="append" />
  </div>
</template>
