<script
  lang="ts"
  setup
>
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import useAsync from '@/ts/composables/common/useAsync';
import isNone from '@/ts/utilities/common/isNone';
import { ListItemRaw } from '@/ts/utilities/common/menu/types';
import debounce from '@/ts/utilities/functions/debounce';
import once from '@/ts/utilities/functions/once';
import toTrim from '@/ts/utilities/strings/toTrim';
import { computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  items?: ListItemRaw[];
  defaultItems: () => Promise<{ items: ListItemRaw[]; more: number; } | null>;
  queryItems: (search: string) => Promise<{ items: ListItemRaw[]; more: number; } | null>;
}>();

const i18n = useI18n();
const { loading, asyncRun } = useAsync();

const lazySearch = ref('');
const lazyItems = ref([] as ListItemRaw[]);
const lazyMore = ref(0);

const noDataText = computed(() => (
  loading.value
    ? i18n.t('states.loading')
    : i18n.t('forms.autocomplete.refineSearch', { n: 0 })
));

const initialItems = once(() => props.defaultItems());

const debounceFetch = debounce(() => asyncRun(async () => {
  if (props.items) {
    return;
  }

  lazyItems.value = [];
  lazyMore.value = 0;

  const search = toTrim(lazySearch.value ?? '');
  const data = isNone(search)
    ? await initialItems.value
    : await props.queryItems(search);
  if (data === null) {
    return;
  }

  lazyItems.value = data.items;
  lazyMore.value = data.more;
}));

watch(lazySearch, debounceFetch, { immediate: true });
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <v-select-input
    v-model:search="lazySearch"
    :items="items ?? lazyItems"
    :no-data="noDataText"
    :placeholder="$t('forms.autocomplete.placeholder')"
    autocomplete
    no-filter
    v-bind="$attrs"
  >
    <template
      v-if="$slots['append-inner']"
      #append-inner
    >
      <slot name="append-inner" />
    </template>
    <template
      v-if="lazyMore > 0"
      #append-item
    >
      <v-list-item
        role="presentation"
        :subtitle="$t('forms.autocomplete.refineSearch', { n: lazyMore })"
      />
    </template>
    <template
      v-if="$slots.item"
      #item="slotProps"
    >
      <slot
        name="item"
        v-bind="slotProps"
      />
    </template>
  </v-select-input>
</template>
