<script
  lang="ts"
  setup
>
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import wrap from '@/ts/utilities/arrays/wrap';
import isNone from '@/ts/utilities/common/isNone';
import parseItem from '@/ts/utilities/common/menu/parseItem';
import { ListItemRaw } from '@/ts/utilities/common/menu/types';
import { ValueRetriever } from '@/ts/utilities/objects/get';
import toTrim from '@/ts/utilities/strings/toTrim';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { computed, ref, toRaw, toRef, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value: any): void;
  (e: 'update:search', value: string): void;
}>();

const props = defineProps<{
  modelValue?: any;
  search?: string;
  items?: ListItemRaw[];
  itemValue?: ValueRetriever<any>;
  factory?: (value: string) => ListItemRaw;
  menuProps?: Dictionary;
}>();

const lazyValue = useLazyValue(toRef(props, 'modelValue'));
const lazySearch = useLazyValue(computed(() => props.search ?? ''));
const lazyFocused = ref(false);

const lazyItems = ref([] as ListItemRaw[]);
const newItems = ref([] as ListItemRaw[]);

const newItem = computed(() => {
  let trimSearch = toTrim(lazySearch.value);
  if (isNone(trimSearch)) {
    trimSearch = typeof lazyValue.value === 'string' ? toTrim(lazyValue.value) : '';
    if (isNone(trimSearch)) {
      return null;
    }
  }

  const item = props.factory ? props.factory(trimSearch) : {
    value: trimSearch,
    title: trimSearch,
  };
  if (!item || [...(props.items ?? []), ...newItems.value].some(
    (i) => parseItem(i, props).value === parseItem(item, props).value,
  )) {
    return null;
  }

  return item;
});

watch(lazySearch, (value) => {
  emit('update:search', value);
});

watch(lazyFocused, (value) => {
  if (!value && !isNone(lazySearch.value)) {
    lazyValue.value = lazySearch.value;
  }
});

watch(lazyValue, (value) => {
  const isNewItem = wrap(lazyValue.value).some((v) => (
    toRaw(v) === parseItem(newItem.value, props).value
  ));
  if (isNewItem) {
    newItems.value.push(newItem.value);
  }

  emit('update:model-value', value);
});

const onItemsChange = () => {
  lazyItems.value = [
    ...(newItem.value ? [newItem.value] : []),
    ...newItems.value,
    ...(props.items ?? []),
  ];
};

watch(() => props.items, onItemsChange, { immediate: true });
watch(newItem, onItemsChange, { deep: true });
</script>

<template>
  <v-select-input
    v-model="lazyValue"
    v-model:search="lazySearch"
    v-model:focused="lazyFocused"
    :items="lazyItems"
    :item-value="itemValue"
    :menu-props="{ ...menuProps, appendValue: true }"
    autocomplete
    v-bind="$attrs"
  >
    <template
      v-if="$slots['prepend-inner']"
      #prepend-inner
    >
      <slot name="prepend-inner" />
    </template>
    <template
      v-if="$slots.item"
      #item="slotProps"
    >
      <slot
        name="item"
        v-bind="slotProps"
      />
    </template>
  </v-select-input>
</template>
