<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Config from '@/ts/api/models/config';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import ConfigServiceDialog from '@/ts/components/resources/configs/services/ConfigServiceDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import required from '@/ts/validation/rules/required';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:config'): void;
}>();

const props = defineProps<{
  config: Config;
  activatedAt?: Optional<Date>;
  expireAt?: Optional<Date>;
  data?: Dictionary;
}>();

const i18n = useI18n();

const dialog = ref(false);

const apiKeyInput = useInput({
  name: 'apiKey',
  label: i18n.t('resources.configs.services.items.datagouv.labels.apiKey'),
  value: '',
  rules: [required],
});

const organizationIdInput = useInput({
  name: 'organizationId',
  label: i18n.t('resources.configs.services.items.datagouv.labels.organizationId'),
  value: '',
  rules: [required],
});

const placesDatasetIdInput = useInput({
  name: 'placesDatasetId',
  label: i18n.t('resources.configs.services.items.datagouv.labels.placesDatasetId'),
  value: props.data?.placesDatasetId ?? '',
});

const activitiesDatasetIdInput = useInput({
  name: 'activitiesDatasetId',
  label: i18n.t('resources.configs.services.items.datagouv.labels.activitiesDatasetId'),
  value: props.data?.activitiesDatasetId ?? '',
});

const { loading, fill, onSubmit } = useForm([
  apiKeyInput, organizationIdInput, placesDatasetIdInput, activitiesDatasetIdInput,
] as const, {
  async onSubmit({ allValues }) {
    if (props.activatedAt) {
      await action()
        .use(
          query(props.config),
          makePost('-actions/services/update/datagouv', {
            data: {
              placesDatasetId: allValues.placesDatasetId,
              activitiesDatasetId: allValues.activitiesDatasetId,
            },
          }),
        )
        .run(oneOrCurrent());
    } else {
      await action()
        .use(
          query(props.config),
          makePost('-actions/services/activate/datagouv', {
            data: {
              apiKey: allValues.apiKey,
              organizationId: allValues.organizationId,
            },
          }),
        )
        .run(oneOrCurrent());
    }

    emit('update:config');
  },
});

const reset = () => {
  fill({
    apiKey: '',
    organizationId: '',
    placesDatasetId: props.data?.placesDatasetId ?? '',
    activitiesDatasetId: props.data?.activitiesDatasetId ?? '',
  });
};

watch(dialog, (value) => {
  if (!value) {
    reset();
  }
});
</script>

<template>
  <config-service-dialog
    v-model="dialog"
    :config="config"
    :activated-at="activatedAt"
    :expire-at="expireAt"
    :loading="loading"
    :form-props="{ readonly: loading, onSubmit }"
    service="datagouv"
    updatable
    @update:config="emit('update:config')"
  >
    <v-row
      v-if="activatedAt"
      dense
    >
      <v-col cols="12">
        <v-text-field
          :hint="$t('resources.configs.services.items.datagouv.hints.placesDatasetId')"
          persistent-hint
          v-bind="placesDatasetIdInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-text-field
          :hint="$t('resources.configs.services.items.datagouv.hints.activitiesDatasetId')"
          persistent-hint
          v-bind="activitiesDatasetIdInput.props"
        />
      </v-col>
    </v-row>
    <v-row
      v-else
      dense
    >
      <v-col cols="12">
        <v-password-input
          autocomplete="new-password"
          v-bind="apiKeyInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-text-field v-bind="organizationIdInput.props" />
      </v-col>
    </v-row>
  </config-service-dialog>
</template>
