<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Config from '@/ts/api/models/config';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import ConfigServiceDialog from '@/ts/components/resources/configs/services/ConfigServiceDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import required from '@/ts/validation/rules/required';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:config'): void;
}>();

const props = defineProps<{
  config: Config;
  activatedAt?: Optional<Date>;
  expireAt?: Optional<Date>;
  data?: Dictionary;
}>();

const i18n = useI18n();

const dialog = ref(false);

const apiKeyInput = useInput({
  name: 'apiKey',
  label: i18n.t('resources.configs.services.items.acceslibre.labels.apiKey'),
  value: '',
  rules: [required],
});

const sendDataInput = useInput({
  name: 'sendData',
  label: i18n.t('resources.configs.services.items.acceslibre.labels.sendData'),
  value: props.data?.sendData ?? false,
});

const draftNewCategoriesInput = useInput({
  name: 'draftNewCategories',
  label: i18n.t('resources.configs.services.items.acceslibre.labels.draftNewCategories'),
  value: props.data?.draftNewCategories ?? false,
});

const { loading, fill, onSubmit } = useForm([
  apiKeyInput, sendDataInput, draftNewCategoriesInput,
] as const, {
  async onSubmit({ allValues }) {
    if (props.activatedAt) {
      await action()
        .use(
          query(props.config),
          makePost('-actions/services/update/acceslibre', {
            data: {
              sendData: allValues.sendData,
              draftNewCategories: allValues.draftNewCategories,
            },
          }),
        )
        .run(oneOrCurrent());
    } else {
      await action()
        .use(
          query(props.config),
          makePost('-actions/services/activate/acceslibre', {
            data: {
              apiKey: allValues.apiKey,
            },
          }),
        )
        .run(oneOrCurrent());
    }

    emit('update:config');
  },
});

const reset = () => {
  fill({
    apiKey: '',
    sendData: props.data?.sendData ?? false,
    draftNewCategories: props.data?.draftNewCategories ?? false,
  });
};

watch(dialog, (value) => {
  if (!value) {
    reset();
  }
});
</script>

<template>
  <config-service-dialog
    v-model="dialog"
    :config="config"
    :activated-at="activatedAt"
    :expire-at="expireAt"
    :loading="loading"
    :form-props="{ readonly: loading, onSubmit }"
    service="acceslibre"
    updatable
    @update:config="emit('update:config')"
  >
    <v-row
      v-if="activatedAt"
      dense
    >
      <v-col cols="12">
        <v-switch
          :hint="$t('resources.configs.services.items.acceslibre.hints.sendData')"
          persistent-hint
          v-bind="sendDataInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-switch
          :hint="$t('resources.configs.services.items.acceslibre.hints.draftNewCategories')"
          persistent-hint
          v-bind="draftNewCategoriesInput.props"
        />
      </v-col>
    </v-row>
    <v-row
      v-else
      dense
    >
      <v-col cols="12">
        <v-password-input
          autocomplete="new-password"
          v-bind="apiKeyInput.props"
        />
      </v-col>
    </v-row>
  </config-service-dialog>
</template>
