<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Config from '@/ts/api/models/config';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import ConfigServiceDialog from '@/ts/components/resources/configs/services/ConfigServiceDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import required from '@/ts/validation/rules/required';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:config'): void;
}>();

const props = defineProps<{
  config: Config;
  activatedAt?: Optional<Date>;
  expireAt?: Optional<Date>;
  data?: Dictionary;
}>();

const i18n = useI18n();

const dialog = ref(false);

const usernameInput = useInput({
  name: 'username',
  label: i18n.t('resources.configs.services.items.hitineraire.labels.username'),
  value: '',
  rules: [required],
});

const passwordInput = useInput({
  name: 'password',
  label: i18n.t('resources.configs.services.items.hitineraire.labels.password'),
  value: '',
  rules: [required],
});

const { loading, fill, onSubmit } = useForm([
  usernameInput, passwordInput,
] as const, {
  async onSubmit({ allValues }) {
    await action()
      .use(
        query(props.config),
        makePost('-actions/services/activate/hitineraire', { data: allValues }),
      )
      .run(oneOrCurrent());

    emit('update:config');
  },
});

const reset = () => {
  fill({
    username: '',
    password: '',
  });
};

watch(dialog, (value) => {
  if (!value) {
    reset();
  }
});
</script>

<template>
  <config-service-dialog
    v-model="dialog"
    :config="config"
    :activated-at="activatedAt"
    :expire-at="expireAt"
    :loading="loading"
    :form-props="{ readonly: loading, onSubmit }"
    service="hitineraire"
    @update:config="emit('update:config')"
  >
    <v-row
      v-if="!activatedAt"
      dense
    >
      <v-col cols="12">
        <v-text-field
          autocomplete="off"
          v-bind="usernameInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-password-input
          autocomplete="new-password"
          v-bind="passwordInput.props"
        />
      </v-col>
    </v-row>
  </config-service-dialog>
</template>
