<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Config from '@/ts/api/models/config';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import ConfigServiceDialog from '@/ts/components/resources/configs/services/ConfigServiceDialog.vue';
import { SOCIAL_AUTH_PROVIDERS } from '@/ts/composables/auth/useSocialAuthProviders';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import selectInputText from '@/ts/utilities/dom/selectInputText';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import required from '@/ts/validation/rules/required';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { ComponentPublicInstance, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:config'): void;
}>();

const props = defineProps<{
  config: Config;
  activatedAt?: Optional<Date>;
  expireAt?: Optional<Date>;
  data?: Dictionary;
}>();

const i18n = useI18n();

const redirectInputRef = ref(null as ComponentPublicInstance | null);

const dialog = ref(false);

const clientIdInput = useInput({
  name: 'clientId',
  label: i18n.t('resources.configs.services.items.franceConnectLogin.labels.clientId'),
  value: '',
  rules: [required],
});

const clientSecretInput = useInput({
  name: 'clientSecret',
  label: i18n.t('resources.configs.services.items.franceConnectLogin.labels.clientSecret'),
  value: '',
  rules: [required],
});

const { loading, fill, onSubmit } = useForm([
  clientIdInput,
  clientSecretInput,
] as const, {
  async onSubmit({ allValues }) {
    await action()
      .use(
        query(props.config),
        makePost('-actions/services/activate/france-connect-login', { data: allValues }),
      )
      .run(oneOrCurrent());

    emit('update:config');
  },
});

const onRedirectFocus = () => {
  const inputEl = redirectInputRef.value?.$el?.querySelector?.('input');
  if (inputEl) {
    selectInputText(inputEl);
  }
};

const reset = () => {
  fill({
    clientId: '',
    clientSecret: '',
  });
};

watch(dialog, (value) => {
  if (!value) {
    reset();
  }
});
</script>

<template>
  <config-service-dialog
    v-model="dialog"
    :config="config"
    :activated-at="activatedAt"
    :expire-at="expireAt"
    :loading="loading"
    :form-props="{ readonly: loading, onSubmit }"
    service="franceConnectLogin"
    @update:config="emit('update:config')"
  >
    <v-row dense>
      <v-col cols="12">
        <v-text-field
          ref="redirectInputRef"
          :model-value="SOCIAL_AUTH_PROVIDERS.franceConnect.redirectURL"
          :label="$t('resources.configs.services.items.franceConnectLogin.labels.redirect')"
          :hint="$t('resources.configs.services.items.franceConnectLogin.hints.redirect')"
          persistent-hint
          readonly
          @click="onRedirectFocus"
          @focus="onRedirectFocus"
        />
      </v-col>
      <template v-if="!activatedAt">
        <v-col cols="12">
          <v-text-field
            autocomplete="off"
            v-bind="clientIdInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-password-input
            autocomplete="new-password"
            v-bind="clientSecretInput.props"
          />
        </v-col>
      </template>
    </v-row>
  </config-service-dialog>
</template>
