<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Config from '@/ts/api/models/config';
import VPasswordInput from '@/ts/components/forms/VPasswordInput.vue';
import ConfigServiceDialog from '@/ts/components/resources/configs/services/ConfigServiceDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import toLowerCase from '@/ts/utilities/strings/toLowerCase';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import email from '@/ts/validation/rules/email';
import required from '@/ts/validation/rules/required';
import uuid from '@/ts/validation/rules/uuid';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:config'): void;
}>();

const props = defineProps<{
  config: Config;
  activatedAt?: Optional<Date>;
  expireAt?: Optional<Date>;
  data?: Dictionary;
}>();

const i18n = useI18n();

const dialog = ref(false);

const emailInput = useInput({
  name: 'email',
  value: '',
  rules: [required, email],
  transforms: toLowerCase,
});

const passwordInput = useInput({
  name: 'password',
  value: '',
  rules: [required],
});

const organizationsIdInput = useInput({
  name: 'organizationsId',
  label: i18n.t('resources.configs.services.items.infolocale.labels.organizationsId'),
  value: props.data?.organizationsId ?? '',
  rules: [uuid],
});

const publicationsIdInput = useInput({
  name: 'publicationsId',
  label: i18n.t('resources.configs.services.items.infolocale.labels.publicationsId'),
  value: props.data?.publicationsId ?? '',
  rules: [uuid],
});

const announcementsIdInput = useInput({
  name: 'announcementsId',
  label: i18n.t('resources.configs.services.items.infolocale.labels.announcementsId'),
  value: props.data?.announcementsId ?? '',
  rules: [uuid],
});

const draftNewCategoriesInput = useInput({
  name: 'draftNewCategories',
  label: i18n.t('resources.configs.services.items.infolocale.labels.draftNewCategories'),
  value: props.data?.draftNewCategories ?? false,
});

const { loading, fill, onSubmit } = useForm([
  emailInput,
  passwordInput,
  organizationsIdInput,
  publicationsIdInput,
  announcementsIdInput,
  draftNewCategoriesInput,
] as const, {
  async onSubmit({ allValues }) {
    if (props.activatedAt) {
      await action()
        .use(
          query(props.config),
          makePost('-actions/services/update/infolocale', {
            data: {
              organizationsId: allValues.organizationsId,
              publicationsId: allValues.publicationsId,
              announcementsId: allValues.announcementsId,
              draftNewCategories: allValues.draftNewCategories,
            },
          }),
        )
        .run(oneOrCurrent());
    } else {
      await action()
        .use(
          query(props.config),
          makePost('-actions/services/activate/infolocale', {
            data: {
              email: allValues.email,
              password: allValues.password,
            },
          }),
        )
        .run(oneOrCurrent());
    }

    emit('update:config');
  },
  onFailure: () => {
    fill({ password: '' });
  },
});

const reset = () => {
  fill({
    email: '',
    password: '',
    organizationsId: props.data?.organizationsId ?? '',
    publicationsId: props.data?.publicationsId ?? '',
    announcementsId: props.data?.announcementsId ?? '',
    draftNewCategories: props.data?.draftNewCategories ?? false,
  });
};

watch(dialog, (value) => {
  if (!value) {
    reset();
  }
});
</script>

<template>
  <config-service-dialog
    v-model="dialog"
    :config="config"
    :activated-at="activatedAt"
    :expire-at="expireAt"
    :loading="loading"
    :form-props="{ readonly: loading, onSubmit }"
    service="infolocale"
    updatable
    @update:config="emit('update:config')"
  >
    <v-row dense>
      <template v-if="activatedAt">
        <v-col cols="12">
          <v-text-field
            :hint="$t('resources.configs.services.items.infolocale.hints.organizationsId')"
            autocomplete="off"
            persistent-hint
            v-bind="organizationsIdInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            :hint="$t('resources.configs.services.items.infolocale.hints.publicationsId')"
            autocomplete="off"
            persistent-hint
            v-bind="publicationsIdInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            :hint="$t('resources.configs.services.items.infolocale.hints.announcementsId')"
            autocomplete="off"
            persistent-hint
            v-bind="announcementsIdInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-switch
            :hint="$t('resources.configs.services.items.infolocale.hints.draftNewCategories')"
            persistent-hint
            v-bind="draftNewCategoriesInput.props"
          />
        </v-col>
      </template>
      <template v-else>
        <v-col cols="12">
          <v-text-field
            autocomplete="off"
            type="email"
            v-bind="emailInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-password-input
            autocomplete="new-password"
            v-bind="passwordInput.props"
          />
        </v-col>
      </template>
    </v-row>
  </config-service-dialog>
</template>
