<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Config from '@/ts/api/models/config';
import ConfigServiceDialog from '@/ts/components/resources/configs/services/ConfigServiceDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import isNone from '@/ts/utilities/common/isNone';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { Optional } from '@/ts/utilities/types/optional';
import required from '@/ts/validation/rules/required';
import url from '@/ts/validation/rules/url';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:config'): void;
}>();

const props = defineProps<{
  config: Config;
  activatedAt?: Optional<Date>;
  expireAt?: Optional<Date>;
  data?: Dictionary;
}>();

const i18n = useI18n();

const dialog = ref(false);

const hostInput = useInput({
  name: 'host',
  label: i18n.t('resources.configs.services.items.matomo.labels.host'),
  value: '',
  rules: [required, url()],
});

const siteIdInput = useInput({
  name: 'siteId',
  label: i18n.t('resources.configs.services.items.matomo.labels.siteId'),
  value: '',
  rules: [required],
});

const trackerFileNameInput = useInput({
  name: 'trackerFileName',
  label: i18n.t('resources.configs.services.items.matomo.labels.trackerFileName'),
  value: '',
});

const trackerScriptUrlInput = useInput({
  name: 'trackerScriptUrl',
  label: i18n.t('resources.configs.services.items.matomo.labels.trackerScriptUrl'),
  value: '',
  rules: [url()],
});

const trackerEndpointUrlInput = useInput({
  name: 'trackerEndpointUrl',
  label: i18n.t('resources.configs.services.items.matomo.labels.trackerEndpointUrl'),
  value: '',
  rules: [url()],
});

const host = computed(() => (isNone(hostInput.value) ? '/' : hostInput.value));
const trackerFileName = computed(() => (
  isNone(trackerFileNameInput.value) ? 'matomo' : trackerFileNameInput.value
));
const trackerFileNamePlaceholder = computed(() => 'matomo');
const trackerScriptUrlPlaceholder = computed(() => (
  `${host.value}/${trackerFileName.value}.js`
));
const trackerEndpointUrlPlaceholder = computed(() => (
  `${host.value}/${trackerFileName.value}.php`
));

const { loading, fill, onSubmit } = useForm([
  hostInput, siteIdInput, trackerFileNameInput, trackerScriptUrlInput, trackerEndpointUrlInput,
] as const, {
  async onSubmit({ allValues }) {
    await action()
      .use(
        query(props.config),
        makePost('-actions/services/activate/matomo', { data: allValues }),
      )
      .run(oneOrCurrent());

    emit('update:config');
  },
});

const reset = () => {
  fill({
    host: '',
    siteId: '',
    trackerFileName: '',
    trackerScriptUrl: '',
    trackerEndpointUrl: '',
  });
};

watch(dialog, (value) => {
  if (!value) {
    reset();
  }
});
</script>

<template>
  <config-service-dialog
    v-model="dialog"
    :config="config"
    :activated-at="activatedAt"
    :expire-at="expireAt"
    :loading="loading"
    :form-props="{ readonly: loading, onSubmit }"
    service="matomo"
    @update:config="emit('update:config')"
  >
    <v-row
      v-if="!activatedAt"
      dense
    >
      <v-col cols="12">
        <v-text-field
          autocomplete="off"
          v-bind="hostInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-text-field
          autocomplete="off"
          v-bind="siteIdInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-text-field
          :placeholder="trackerFileNamePlaceholder"
          autocomplete="off"
          persistent-placeholder
          v-bind="trackerFileNameInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-text-field
          :placeholder="trackerScriptUrlPlaceholder"
          autocomplete="off"
          persistent-placeholder
          v-bind="trackerScriptUrlInput.props"
        />
      </v-col>
      <v-col cols="12">
        <v-text-field
          :placeholder="trackerEndpointUrlPlaceholder"
          autocomplete="off"
          persistent-placeholder
          v-bind="trackerEndpointUrlInput.props"
        />
      </v-col>
    </v-row>
  </config-service-dialog>
</template>
