<script
  lang="ts"
  setup
>

import action from '@/ts/api/action';
import Config from '@/ts/api/models/config';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import useAsync from '@/ts/composables/common/useAsync';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useLoadingBtnProps from '@/ts/composables/common/useLoadingBtnProps';
import { useLangStore } from '@/ts/stores/lang';
import formatDate from '@/ts/utilities/dates/formatDate';
import { Optional } from '@/ts/utilities/types/optional';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiCircleOutline } from '@mdi/js';
import { computed, toRef, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', v: boolean): void;
  (e: 'update:config'): void;
}>();

const props = defineProps<{
  config: Config;
  modelValue: boolean;
  service: string;
  loading: boolean;
  activatedAt?: Optional<Date>;
  expireAt?: Optional<Date>;
  updatable?: boolean;
}>();

const i18n = useI18n();
const lang = useLangStore();

const lazyValue = useLazyValue(toRef(props, 'modelValue'));
const { loading: lazyLoading, asyncRun } = useAsync();
const btnLoading = useLoadingBtnProps(computed(() => props.loading || lazyLoading.value));

const title = computed(() => i18n.t(`resources.configs.services.items.${props.service}.title`));
const expired = computed(() => !!props.expireAt && props.expireAt < new Date());
const activated = computed(() => !!props.activatedAt);
const statusProps = computed(() => {
  if (expired.value) {
    return {
      type: 'error' as const,
      icon: '$error',
      label: i18n.t('resources.configs.services.statuses.labels.expired', {
        date: formatDate(props.expireAt!, lang.locale),
      }),
      description: i18n.t('resources.configs.services.statuses.descriptions.expired', {
        date: formatDate(props.expireAt!, lang.locale),
      }),
    };
  }

  if (activated.value) {
    return {
      type: 'success' as const,
      icon: '$success',
      label: i18n.t('resources.configs.services.statuses.labels.activated', {
        date: formatDate(props.activatedAt!, lang.locale),
      }),
      description: props.expireAt
        ? i18n.t('resources.configs.services.statuses.descriptions.activatedWithExpiration', {
          date: formatDate(props.activatedAt!, lang.locale),
          expire: formatDate(props.expireAt, lang.locale),
        })
        : i18n.t('resources.configs.services.statuses.descriptions.activated', {
          date: formatDate(props.activatedAt!, lang.locale),
        }),
    };
  }

  return {
    type: undefined,
    icon: mdiCircleOutline,
    label: i18n.t('resources.configs.services.statuses.labels.available'),
    description: null,
  };
});

watch(lazyValue, (value) => {
  emit('update:model-value', value);
});

const onDelete = () => asyncRun(async () => {
  await action()
    .use(
      query(props.config),
      makePost('-actions/services/remove', { data: { service: props.service } }),
    )
    .run(oneOrCurrent());

  emit('update:config');

  lazyValue.value = false;
});

const onCancel = () => {
  lazyValue.value = false;
};
</script>

<template>
  <app-dialog
    v-model="lazyValue"
    :title="$t(`resources.configs.services.items.${service}.title`)"
    :subtitle="$t(`resources.configs.services.items.${service}.description`)"
    :persistent="loading"
    v-bind="$attrs"
  >
    <template #activator="{ props: activatorProps }">
      <v-btn
        color="background"
        variant="flat"
        size="large"
        class="justify-start text-left"
        block
        v-bind="activatorProps"
      >
        <template #prepend>
          <v-icon
            :icon="statusProps.icon"
            :color="statusProps.type"
          />
        </template>
        <div class="d-flex flex-column align-start py-2">
          <span class="font-weight-bold">{{ title }}</span>
          <span class="text-body-2">{{ statusProps.label }}</span>
        </div>
      </v-btn>
    </template>
    <app-divider />
    <v-card-text>
      <v-row>
        <v-col
          v-if="statusProps.description"
          cols="12"
        >
          <app-alert
            :type="statusProps.type"
            presentation
          >
            {{ statusProps.description }}
          </app-alert>
        </v-col>
        <v-col cols="12">
          <required-inputs-hint />
        </v-col>
      </v-row>
      <slot />
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <slot name="actions">
        <confirm-dialog
          v-if="activated"
          :title="$t('resources.configs.services.remove.title', { name: title })"
          :description="$t('resources.configs.services.remove.description', { name: title })"
          :run="onDelete"
          color="error"
        >
          <template #activator="{ props: activatorProps }">
            <v-btn
              variant="elevated"
              color="error"
              v-bind="{ ...activatorProps, ...btnLoading }"
            >
              {{ $t('resources.configs.services.remove.action') }}
            </v-btn>
          </template>
        </confirm-dialog>
        <v-btn
          variant="text"
          class="ml-auto"
          v-bind="btnLoading"
          @click="onCancel"
        >
          {{ $t('actions.cancel') }}
        </v-btn>
        <v-btn
          v-if="!activated || updatable"
          type="submit"
          variant="elevated"
          color="primary"
          v-bind="btnLoading"
        >
          {{
            activated
              ? $t('resources.configs.services.update.action')
              : $t('resources.configs.services.activate.action')
          }}
        </v-btn>
      </slot>
    </v-card-actions>
  </app-dialog>
</template>
