<script
  lang="ts"
  setup
>
import ActivitiesList from '@/ts/components/activities/ActivitiesList.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useActivityFeature from '@/ts/composables/activities/useActivityFeature';
import useRouteActivityType from '@/ts/composables/activities/useRouteActivityType';
import translate from '@/ts/utilities/lang/translate';
import { Optional } from '@/ts/utilities/types/optional';
import { ModelInstance } from '@foscia/core';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  about?: Optional<ModelInstance>;
}>();

const i18n = useI18n();

const activityType = useRouteActivityType();
const mainFeature = useActivityFeature();

const title = computed(() => (
  props.about
    ? i18n.t(`views.activities.activities.${activityType.value.value}.titleFor`, {
      name: translate(props.about.name),
    })
    : i18n.t(`views.activities.activities.${activityType.value.value}.title`)
));
</script>

<template>
  <app-page-layout
    v-if="title"
    :title="title"
    no-announce
  >
    <template #icon>
      <v-icon
        :icon="mainFeature.props.icon"
        :color="mainFeature.props.color"
        size="1em"
        start
      />
    </template>
    <activities-list
      :about="about"
      :title="title"
    />
  </app-page-layout>
</template>
