<script
  lang="ts"
  setup
>
import Article from '@/ts/api/models/article';
import Place from '@/ts/api/models/place';
import publishableFind from '@/ts/api/utilities/publishable/publishableFind';
import AppRouterTransition from '@/ts/components/transitions/AppRouterTransition.vue';
import useRouteActivityType from '@/ts/composables/activities/useRouteActivityType';
import { nextTick, ref, watch } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();

const activityType = useRouteActivityType();

const loading = ref(true);
const instance = ref(null as Place | Article | null);

const onInstanceRouteChange = async () => {
  loading.value = true;

  await nextTick();

  instance.value = await publishableFind(route.params.type, route.params.id);

  loading.value = false;
};

watch(activityType, onInstanceRouteChange);
watch(() => route.params.type, onInstanceRouteChange);
watch(() => route.params.id, onInstanceRouteChange, { immediate: true });
</script>

<template>
  <router-view v-if="!loading">
    <template #default="{ Component }">
      <app-router-transition>
        <div>
          <keep-alive :max="10">
            <component
              :is="Component"
              :about="instance"
            />
          </keep-alive>
        </div>
      </app-router-transition>
    </template>
  </router-view>
</template>
