<script
  setup
  lang="ts"
>
import User from '@/ts/api/models/user';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import ResourceDateIndicator from '@/ts/components/resources/core/data/ResourceDateIndicator.vue';
import ResourceDateValue from '@/ts/components/resources/core/data/ResourceDateValue.vue';
import ResourceEmailValue from '@/ts/components/resources/core/data/ResourceEmailValue.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import UserBlockedIndicator from '@/ts/components/resources/users/UserBlockedIndicator.vue';
import UserVerifiedIndicator from '@/ts/components/resources/users/UserVerifiedIndicator.vue';
import UserAvatar from '@/ts/components/users/UserAvatar.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import fullNameWithYou from '@/ts/utilities/lang/fullNameWithYou';
import { mdiAccountOffOutline } from '@mdi/js';

defineProps<{
  portals: ResourcePortals;
  instance: User;
}>();
</script>

<template>
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.fullName">
    <user-avatar
      :user="instance"
      size="small"
      class="mr-2"
    />
    <span>
      {{ fullNameWithYou(instance) }}
    </span>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.email">
    <resource-email-value :email="instance.email" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.roles">
    <resource-list-value
      v-slot="{ item }"
      :items="instance.roles"
    >
      <resource-instance-value :instance="item" />
    </resource-list-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.memberOfOrganizations">
    <resource-list-value
      v-slot="{ item }"
      :items="instance.memberOfOrganizations"
    >
      <resource-instance-value :instance="item.organization" />
    </resource-list-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.lastLoginAt">
    <resource-date-value :date="instance.lastLoginAt" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.emailVerifiedAt">
    <user-verified-indicator :user="instance" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.blockedAt">
    <user-blocked-indicator :user="instance" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.scheduledDeletionAt">
    <resource-date-indicator
      :value="instance.scheduledDeletionAt"
      :on-props="{ prependIcon: mdiAccountOffOutline, color: 'error' }"
    />
  </teleport-to-portal>
</template>
