<script
  lang="ts"
  setup
>
import User from '@/ts/api/models/user';
import ResourceDateIndicator from '@/ts/components/resources/core/data/ResourceDateIndicator.vue';
import { mdiEmailCheckOutline, mdiEmailRemoveOutline } from '@mdi/js';

defineProps<{
  user: User;
}>();
</script>

<template>
  <resource-date-indicator
    :value="user.emailVerifiedAt"
    :on-props="{ prependIcon: mdiEmailCheckOutline, color: 'success' }"
    :off-props="{ prependIcon: mdiEmailRemoveOutline, color: 'error' }"
    :off-text="$t('resources.users.labels.unverified')"
  />
</template>
