<script
  lang="ts"
  setup
>
import User from '@/ts/api/models/user';
import ResourceDateIndicator from '@/ts/components/resources/core/data/ResourceDateIndicator.vue';
import { mdiAccountCancelOutline, mdiAccountCheckOutline } from '@mdi/js';

defineProps<{
  user: User;
}>();
</script>

<template>
  <resource-date-indicator
    :value="user.blockedAt"
    :on-props="{ prependIcon: mdiAccountCancelOutline, color: 'error' }"
    :off-props="{ prependIcon: mdiAccountCheckOutline, color: 'success' }"
    :off-text="$t('resources.users.labels.unblocked')"
  />
</template>
