<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import User from '@/ts/api/models/user';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { oneOrCurrent, query } from '@foscia/core';
import { makePost } from '@foscia/http';
import { mdiEmailCheckOutline } from '@mdi/js';
import { computed, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: User;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const i18n = useI18n();
const snackbar = useSnackbarStore();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const title = computed(() => meta.title(props.instance));

const onVerify = async () => {
  await action()
    .use(query(props.instance))
    .use(makePost('-actions/verify', {}))
    .run(oneOrCurrent());

  await nextTick();

  snackbar.toast(i18n.t('resources.users.actions.verify.toast', {
    name: title.value,
  }));

  await props.refresh();
};
</script>

<template>
  <confirm-dialog
    :title="$t('resources.users.actions.verify.title', { name: title })"
    :description="$t('resources.users.actions.verify.description', { name: title })"
    :run="onVerify"
    color="error"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        :title="$t('resources.users.actions.verify.title', { name: title })"
        :label="$t('resources.users.actions.verify.action')"
        :instance="props.instance"
        :icon="mdiEmailCheckOutline"
        :on-single="onSingle"
        color="success"
        v-bind="activatorProps"
      />
    </template>
  </confirm-dialog>
</template>
