<script
  lang="ts"
  setup
>
import useCategoryInputs from '@/ts/composables/resources/categories/useCategoryInputs';

const props = useCategoryInputs();
</script>

<template>
  <slot v-bind="props" />
</template>
