<script
  setup
  lang="ts"
>
import Category from '@/ts/api/models/category';
import CategoryChip from '@/ts/components/categories/CategoryChip.vue';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import PublishableDataProvider from '@/ts/components/resources/composables/publishable/PublishableDataProvider.vue';
import SourceableDataProvider from '@/ts/components/resources/composables/sourceable/SourceableDataProvider.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import ResourceTranslationValue from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Category;
}>();
</script>

<template>
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <publishable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <sourceable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.name">
    <category-chip :category="instance" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.description">
    <resource-translation-value
      v-slot="{ value }"
      :value="instance.description"
    >
      <p class="text-formatted">
        {{ value }}
      </p>
    </resource-translation-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.childOf">
    <resource-list-value
      v-slot="{ item }"
      :items="instance.parents"
    >
      <resource-instance-value :instance="item" />
    </resource-list-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.children">
    <resource-list-value
      v-slot="{ item }"
      :items="instance.children"
    >
      <resource-instance-value :instance="item" />
    </resource-list-value>
  </teleport-to-portal>
</template>
