<script
  lang="ts"
  setup
>
/* eslint-disable vue/no-mutating-props */

import Category from '@/ts/api/models/category';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import VCategoryInput from '@/ts/components/forms/instances/VCategoryInput.vue';
import VColorInput from '@/ts/components/forms/VColorInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import VIconInput from '@/ts/components/forms/VIconInput.vue';
import useInput, { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import translate from '@/ts/utilities/lang/translate';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: Category;
  nameInput: Input;
  parentsInput: Input;
  childrenInput: Input;
  colorInput: Input;
  iconInput: Input;
  descriptionInput: Input;
}>();

const i18n = useI18n();

const normalCol = useCol();
const largeCol = useCol('large');

const childInput = useInput({
  name: 'child',
  label: i18n.t('resources.categories.labels.child'),
  value: !props.instance.$exists || props.instance.parents.length > 0,
});

const notCategoryId = computed(() => (
  props.instance.$exists ? [props.instance.id] : undefined
));

const detachingParents = computed(() => (
  props.parentsInput.value
    .filter((c: Category) => (c.parents ?? []).length > 0)
));

const detachingChildren = computed(() => (
  props.childrenInput.value
    .filter((c: Category) => (c.children ?? []).length > 0)
));

watch(childInput.valueRef, (value) => {
  if (!value) {
    props.parentsInput.value = [];
    props.childrenInput.value = [...(props.instance.children ?? [])];
  } else {
    props.parentsInput.value = [...(props.instance.parents ?? [])];
    props.childrenInput.value = [];
  }
});
</script>

<template>
  <v-expand-transition leave-absolute>
    <v-col
      v-if="childInput.valueRef.value && detachingParents.length"
      cols="12"
    >
      <app-alert type="warning">
        <template #content>
          <p class="my-0">
            {{ $t('resources.categories.alerts.parentsWillDetach') }}
          </p>
          <ul class="my-0">
            <li
              v-for="category in detachingParents"
              :key="`detaching-${category.id}`"
            >
              {{ translate(category.name) }}
              ({{
                i18n.t('resources.categories.labels.parentsCount', {
                  name: (category.parents ?? []).length,
                })
              }})
            </li>
          </ul>
        </template>
      </app-alert>
    </v-col>
  </v-expand-transition>
  <v-expand-transition leave-absolute>
    <v-col
      v-if="!childInput.valueRef.value && detachingChildren.length"
      cols="12"
    >
      <app-alert type="warning">
        <template #content>
          <p class="my-0">
            {{ $t('resources.categories.alerts.childrenWillDetach') }}
          </p>
          <ul class="my-0">
            <li
              v-for="category in detachingChildren"
              :key="`detaching-${category.id}`"
            >
              {{ translate(category.name) }}
              ({{
                i18n.t('resources.categories.labels.childrenCount', {
                  n: (category.children ?? []).length,
                })
              }})
            </li>
          </ul>
        </template>
      </app-alert>
    </v-col>
  </v-expand-transition>
  <v-col v-bind="normalCol">
    <v-text-field v-bind="nameInput.props" />
  </v-col>
  <v-wrap-after />
  <v-col cols="12">
    <v-switch
      hide-details
      v-bind="childInput.props"
    />
  </v-col>
  <v-col
    v-if="childInput.valueRef.value"
    v-bind="largeCol"
  >
    <v-category-input
      :not-id="notCategoryId"
      :hint="$t('resources.categories.hints.parents')"
      persistent-hint
      detailed
      multiple
      v-bind="parentsInput.props"
    />
  </v-col>
  <v-col
    v-else
    v-bind="largeCol"
  >
    <v-category-input
      :not-id="notCategoryId"
      :hint="$t('resources.categories.hints.children')"
      persistent-hint
      detailed
      multiple
      v-bind="childrenInput.props"
    />
  </v-col>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.categories.labels.presentation')">
      <v-row dense>
        <v-col cols="12">
          <app-alert
            type="info"
            class="mb-5"
            presentation
          >
            <i18n-t
              tag="span"
              scope="global"
              keypath="resources.categories.hints.iconsAndColors"
            >
              <template #icons>
                <a
                  href="https://pictogrammers.com/library/mdi/"
                  target="_blank"
                  rel="noopener"
                >
                  Pictogrammers
                  <open-in-new-icon />
                </a>
              </template>
              <template #colors>
                <a
                  href="https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors"
                  target="_blank"
                  rel="noopener"
                >
                  Material Design
                  <open-in-new-icon />
                </a>
              </template>
            </i18n-t>
          </app-alert>
        </v-col>
        <v-col v-bind="normalCol">
          <v-color-input v-bind="colorInput.props" />
        </v-col>
        <v-col v-bind="normalCol">
          <v-icon-input v-bind="iconInput.props" />
        </v-col>
        <v-wrap-after />
        <v-col cols="12">
          <v-textarea
            v-bind="descriptionInput.props"
            maxlength="255"
            rows="3"
            counter
          />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
</template>
