<script
  lang="ts"
  setup
>
import BackBtn from '@/ts/components/common/BackBtn.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceRouteMany from '@/ts/composables/resources/core/useResourceRouteMany';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import useResourceTitle from '@/ts/composables/resources/core/useResourceTitle';
import useResourceType, {
  ResourceRawContext,
} from '@/ts/composables/resources/core/useResourceType';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import isExternalRoute from '@/ts/utilities/routes/isExternalRoute';
import resolveRoute from '@/ts/utilities/routes/resolveRoute';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';

const props = defineProps<{
  rawContext: ResourceRawContext;
  cancel?: boolean;
}>();

const i18n = useI18n();
const router = useRouter();
const type = useResourceType(props.rawContext);
const meta = useResourceMeta(type);
const title = useResourceTitle(type);

const goBackAllowed = computed(() => (
  props.rawContext !== 'configs' && hasPermissionOn(`${meta.policyType}.showAny`)
));
const goBackTo = computed(() => {
  if (typeof props.rawContext === 'string') {
    return useResourceRouteMany(props.rawContext);
  }

  const toOne = resolveRoute(router, useResourceRouteOne(props.rawContext));
  if (isExternalRoute(toOne)) {
    return useResourceRouteMany(type);
  }

  return useResourceRouteOne(props.rawContext);
});
const goBackTitle = computed(() => (
  props.cancel
    ? i18n.t('actions.cancel')
    : i18n.t('actions.scoped.backToListOf', {
      name: title.value[0].toLowerCase(),
    })
));
</script>

<template>
  <back-btn
    v-if="goBackAllowed"
    :to="goBackTo"
    :title="goBackTitle"
  />
</template>
