<script
  lang="ts"
  setup
>
import NavDrawerListItem from '@/ts/components/navigation/drawer/NavDrawerListItem.vue';
import ResourceListItem from '@/ts/components/resources/core/navigation/ResourceListItem.vue';
import { ResourceGroup } from '@/ts/resources/utilities/makeResourceGroup';
import { computed, inject, ref, Ref } from 'vue';

const props = defineProps<{
  group: ResourceGroup;
  rail?: boolean;
  nested?: boolean;
}>();

const openedGroups = inject<Ref<string[]>>('openedGroups', ref([]));

const isOpened = computed(() => openedGroups.value.indexOf(props.group.name) !== -1);
</script>

<template>
  <v-list-group
    :value="group.name"
    :class="[{ 'v-list-group--active': isOpened }]"
  >
    <template #activator="{ props: activatorProps }">
      <nav-drawer-list-item
        :rail="rail ?? false"
        :title="group.title"
        :prepend-icon="group.icon"
        :aria-expanded="isOpened ? 'true' : 'false'"
        role="button"
        tabindex="0"
        rounded="xl"
        v-bind="activatorProps"
      />
    </template>
    <resource-list-item
      v-for="(entry, index) in group.entries"
      :key="index"
      :entry="entry"
      :rail="rail"
      nested
    />
  </v-list-group>
</template>

<style
  lang="scss"
  scoped
>
  .v-list-group {
    position: relative;

    &:before {
      opacity: 0;
      content: "";
      position: absolute;
      width: 0;
      left: -8px;
      height: 100%;
      max-height: calc(100% - 4px);
      background-color: currentColor;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      margin-top: 2px;
      margin-bottom: 2px;
      transition: all .3s cubic-bezier(.4, 0, .6, 1);
    }

    &.v-list-group--active:before {
      width: 6px;
      opacity: 1;
    }
  }
</style>
