<script
  lang="ts"
  setup
>
import NavDrawerListItem from '@/ts/components/navigation/drawer/NavDrawerListItem.vue';
import { ResourceEntry } from '@/ts/resources/utilities/makeResourceEntry';

defineProps<{
  entry: ResourceEntry;
  rail?: boolean;
  nested?: boolean;
}>();
</script>

<template>
  <nav-drawer-list-item
    :rail="rail ?? false"
    :to="entry.to"
    :title="entry.title"
    :prepend-icon="entry.icon"
    tabindex="0"
    rounded="xl"
  />
</template>
