<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppMenu from '@/ts/components/common/menu/AppMenu.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useLocales, { LocaleObject } from '@/ts/composables/lang/useLocales';
import { useLangStore } from '@/ts/stores/lang';
import { mdiMenuDown, mdiMenuUp } from '@mdi/js';
import { computed, ref } from 'vue';

const emit = defineEmits<{
  (e: 'change', locale: string): void;
}>();

const lang = useLangStore();
const locales = useLocales();

const menu = ref(false);
const dialog = ref(false);

const currentLocale = computed(() => locales[lang.editionLocale]);
const localeItems = Object.values(locales);

const onLocaleSelect = (locale: LocaleObject) => {
  lang.changeEditionLocale(locale.code);

  emit('change', locale.code);
};
</script>

<template>
  <div v-if="localeItems.length > 1">
    <v-btn-group
      variant="tonal"
      density="comfortable"
      rounded="lg"
    >
      <app-menu
        v-model:menu="menu"
        :model-value="currentLocale"
        :items="localeItems"
        item-title="longName"
        mode="listbox"
        return-object
        @update:model-value="onLocaleSelect"
      >
        <template #activator="{ props }">
          <v-btn
            :title="$t('lang.editionLocale.label', { selected: currentLocale.longName })"
            :append-icon="menu ? mdiMenuUp : mdiMenuDown"
            :rounded="false"
            class="text-primary"
            v-bind="props"
          >
            {{ currentLocale.longName }}
          </v-btn>
        </template>
      </app-menu>
      <app-dialog
        v-model="dialog"
        :title="$t('lang.translatableInfo.title')"
      >
        <template #activator="{ props }">
          <v-btn
            :title="$t('lang.translatableInfo.title')"
            :rounded="false"
            icon="$info"
            class="resource-locale-info text-primary"
            v-bind="props"
          />
        </template>
        <app-divider />
        <v-card-text class="py-0">
          <p>
            {{ $t('lang.translatableInfo.locales') }}
          </p>
          <ul>
            <li
              v-for="locale in locales"
              :key="locale.code"
            >
              {{ locale.longName }}
              <template v-if="locale.longName !== locale.shortName">
                ({{ locale.shortName }})
              </template>
            </li>
          </ul>
          <p>
            {{ $t('lang.translatableInfo.changing') }}
          </p>
          <p>
            {{ $t('lang.translatableInfo.editing') }}
          </p>
        </v-card-text>
      </app-dialog>
    </v-btn-group>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .resource-locale-info {
    border-left: thin solid rgba(var(--v-theme-primary), 0.25) !important;
  }
</style>
