<script
  lang="ts"
  setup
>
import ResourceEntryListItem from '@/ts/components/resources/core/navigation/ResourceEntryListItem.vue';
import ResourceGroupListItem from '@/ts/components/resources/core/navigation/ResourceGroupListItem.vue';
import { ResourceEntry } from '@/ts/resources/utilities/makeResourceEntry';
import { ResourceGroup } from '@/ts/resources/utilities/makeResourceGroup';
import { computed } from 'vue';

const props = defineProps<{
  entry: ResourceEntry | ResourceGroup;
  rail?: boolean;
  nested?: boolean;
}>();

const component = computed(() => ('entries' in props.entry ? {
  is: ResourceGroupListItem,
  props: { group: props.entry },
} : {
  is: ResourceEntryListItem,
  props: { entry: props.entry },
}));
</script>

<template>
  <div role="listitem">
    <component
      :is="component.is"
      :rail="rail"
      :nested="nested"
      v-bind="component.props"
    />
  </div>
</template>
