<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import ActivitiesResourceCreateView from '@/ts/views/resources/activities/views/ActivitiesResourceCreateView.vue';
</script>

<template>
  <activities-resource-create-view :activity-type="ActivityTypeCode.EVENTS" />
</template>
