<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import ActivitiesResourceViewManyView from '@/ts/views/resources/activities/views/ActivitiesResourceViewManyView.vue';
</script>

<template>
  <activities-resource-view-many-view :activity-type="ActivityTypeCode.EVENTS" />
</template>
