<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import ActivitiesResourceEditView from '@/ts/views/resources/activities/views/ActivitiesResourceEditView.vue';
</script>

<template>
  <activities-resource-edit-view :activity-type="ActivityTypeCode.EVENTS" />
</template>
