<script
  setup
  lang="ts"
>
import mdiAccessibilityCognitive from '@/assets/icons/accessibility/cognitive.svg?raw';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import useInput from '@/ts/composables/forms/useInput';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import mapValues from '@/ts/utilities/objects/mapValues';
import hitineraireProfile, {
  HitineraireProfileObject,
} from '@/ts/utilities/places/implementations/hitineraireProfile';
import { mdiEarHearingOff, mdiHumanWhiteCane, mdiWalk, mdiWheelchairAccessibility } from '@mdi/js';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: HitineraireProfileObject): void;
}>();

const props = defineProps<{
  modelValue?: HitineraireProfileObject | null;
}>();

const i18n = useI18n();

const accessProfiles = {
  walk: mdiWalk,
  visual: mdiHumanWhiteCane,
  physical: mdiWheelchairAccessibility,
  hearing: mdiEarHearingOff,
  cognitive: makeSvgIcon(mdiAccessibilityCognitive),
};
const accessProfileItems = computed(() => Object.entries(accessProfiles).map(
  ([value, icon]) => ({
    value,
    icon,
    title: i18n.t(`views.places.direction.implementations.hitineraire.profiles.${value}`),
  }),
));
const accessProfileInput = useInput({
  name: 'accessProfile',
  label: i18n.t('views.places.direction.implementations.hitineraire.labels.profile'),
  value: props.modelValue?.profile ?? 'physical',
});

const walkProfileItems = computed(() => [
  'good',
  'excellent',
  'difficulties',
].map((value) => ({
  value,
  title: i18n.t(`views.places.direction.implementations.hitineraire.walkProfiles.${value}`),
})));
const walkProfileInput = useInput({
  name: 'walkProfile',
  label: i18n.t('views.places.direction.implementations.hitineraire.labels.walkProfile'),
  value: props.modelValue?.walk ?? 'good',
});

const visualProfileItems = computed(() => [
  'partial',
  'blind',
].map((value) => ({
  value,
  title: i18n.t(`views.places.direction.implementations.hitineraire.visualProfiles.${value}`),
})));
const visualProfileInput = useInput({
  name: 'visualProfile',
  label: i18n.t('views.places.direction.implementations.hitineraire.labels.visualProfile'),
  value: props.modelValue?.visual ?? 'blind',
});

const physicalProfileItems = computed(() => [
  'manualWheelchair',
  'electricWheelchair',
].map((value) => ({
  value,
  title: i18n.t(`views.places.direction.implementations.hitineraire.physicalProfiles.${value}`),
})));
const physicalProfileInput = useInput({
  name: 'physicalProfile',
  label: i18n.t('views.places.direction.implementations.hitineraire.labels.physicalProfile'),
  value: props.modelValue?.physical ?? 'manualWheelchair',
});

const hearingProfileItems = computed(() => [
  'partial',
  'deaf',
].map((value) => ({
  value,
  title: i18n.t(`views.places.direction.implementations.hitineraire.hearingProfiles.${value}`),
})));
const hearingProfileInput = useInput({
  name: 'hearingProfile',
  label: i18n.t('views.places.direction.implementations.hitineraire.labels.hearingProfile'),
  value: props.modelValue?.hearing ?? 'deaf',
});

const cognitiveProfileItems = computed(() => [
  'intellectual',
  'psychic',
].map((value) => ({
  value,
  title: i18n.t(`views.places.direction.implementations.hitineraire.cognitiveProfiles.${value}`),
})));
const cognitiveProfileInput = useInput({
  name: 'cognitiveProfile',
  label: i18n.t('views.places.direction.implementations.hitineraire.labels.cognitiveProfile'),
  value: props.modelValue?.cognitive ?? 'psychic',
});

const inputsMap = {
  profile: accessProfileInput,
  walk: walkProfileInput,
  visual: visualProfileInput,
  physical: physicalProfileInput,
  hearing: hearingProfileInput,
  cognitive: cognitiveProfileInput,
};

watch(() => props.modelValue, (value) => {
  if (value) {
    mapValues(inputsMap, (input, key) => {
      // eslint-disable-next-line no-param-reassign
      input.value = value[key];
    });
  }
}, { immediate: true });

watch([
  accessProfileInput.valueRef,
  walkProfileInput.valueRef,
  visualProfileInput.valueRef,
  physicalProfileInput.valueRef,
  hearingProfileInput.valueRef,
  cognitiveProfileInput.valueRef,
], () => {
  const profile = mapValues(inputsMap, (input) => input.value) as HitineraireProfileObject;

  hitineraireProfile.value = profile;

  emit('update:model-value', profile);
});
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <v-row>
    <v-col cols="12">
      <v-radio-group
        class="profile-radio-group"
        hide-details
        inline
        v-bind="accessProfileInput.props"
      >
        <v-radio
          v-for="profile in accessProfileItems"
          :key="`profiles-${profile.value}`"
          :value="profile.value"
          :class="[
            `profile-radio-btn--${profile.value}`,
            { 'profile-radio--active': profile.value === accessProfileInput.value },
          ]"
          class="profile-radio"
          color="surface"
        >
          <template #label>
            <v-avatar
              :title="profile.title"
              :variant="profile.value === accessProfileInput.value ? 'flat' : 'tonal'"
              class="rounded-lg"
              color="primary"
              role="img"
            >
              <v-icon
                :icon="profile.icon"
                class="rounded"
                size="32"
              />
            </v-avatar>
          </template>
        </v-radio>
      </v-radio-group>
    </v-col>
    <v-fade-transition
      mode="out-in"
      leave-absolute
      group
    >
      <v-col
        v-if="accessProfileInput.value === 'walk'"
        key="walk"
        cols="12"
      >
        <v-select-input
          :items="walkProfileItems"
          variant="outlined"
          density="comfortable"
          hide-details
          v-bind="walkProfileInput.props"
        />
      </v-col>
      <v-col
        v-else-if="accessProfileInput.value === 'visual'"
        key="visual"
        cols="12"
      >
        <v-select-input
          :items="visualProfileItems"
          variant="outlined"
          density="comfortable"
          hide-details
          v-bind="visualProfileInput.props"
        />
      </v-col>
      <v-col
        v-else-if="accessProfileInput.value === 'physical'"
        key="physical"
        cols="12"
      >
        <v-select-input
          :items="physicalProfileItems"
          variant="outlined"
          density="comfortable"
          hide-details
          v-bind="physicalProfileInput.props"
        />
      </v-col>
      <v-col
        v-else-if="accessProfileInput.value === 'hearing'"
        key="hearing"
        cols="12"
      >
        <v-select-input
          :items="hearingProfileItems"
          variant="outlined"
          density="comfortable"
          hide-details
          v-bind="hearingProfileInput.props"
        />
      </v-col>
      <v-col
        v-else
        key="cognitive"
        cols="12"
      >
        <v-select-input
          :items="cognitiveProfileItems"
          variant="outlined"
          density="comfortable"
          hide-details
          v-bind="cognitiveProfileInput.props"
        />
      </v-col>
    </v-fade-transition>
  </v-row>
</template>

<style
  lang="scss"
  scoped
>
  .profile-radio-group {
    :deep(> .v-input__control) {
      > .v-label {
        margin-inline-start: 0 !important;
      }

      > .v-selection-control-group {
        padding-inline-start: 0 !important;
      }
    }
  }

  .profile-radio {
    --profile-radio-width: 56px;
    --profile-radio-margin: 16px;

    position: relative;
    justify-content: center;
    align-items: end;
    height: 80px;
    width: var(--profile-radio-width, 56px);

    @media screen and (max-width: 430px) {
      --profile-radio-margin: 8px;
      --profile-radio-width: 48px;
    }

    &:not(:last-child) {
      margin-right: var(--profile-radio-margin, 16px);
    }

    :deep(.v-selection-control__input) {
      z-index: 2;
    }

    :deep(.v-label) {
      position: absolute;
      z-index: 1;
      width: 100% !important;
      height: 100% !important;
      opacity: 1 !important;

      .v-avatar {
        width: 100% !important;
        height: 100% !important;
        align-items: start;

        svg {
          margin-top: 16px;
          border-radius: inherit;
        }
      }
    }

    &.profile-radio-btn--cognitive :deep(.v-label .v-icon svg) {
      --cognitive-icon-bg-color: rgb(var(--v-theme-on-primary));
      color: rgb(var(--v-theme-primary));
    }
  }
</style>
