<script
  setup
  lang="ts"
>
import HitineraireProfileInput from '@/ts/components/places/direction/implementations/HitineraireProfileInput.vue';
import { Input } from '@/ts/composables/forms/useInput';

defineProps<{
  profileInput: Input;
  multimodalInput: Input;
  departureAtDateInput: Input;
  departureAtTimeInput: Input;
}>();
</script>

<template>
  <v-row>
    <v-col cols="12">
      <hitineraire-profile-input v-bind="profileInput.props" />
    </v-col>
    <v-col cols="12">
      <v-switch
        density="compact"
        hide-details
        v-bind="multimodalInput.props"
      />
    </v-col>
    <v-expand-transition>
      <v-col
        v-if="multimodalInput.value"
        cols="12"
      >
        <v-row>
          <v-col
            cols="12"
            sm="7"
          >
            <v-text-field
              type="date"
              variant="outlined"
              density="comfortable"
              hide-details
              v-bind="departureAtDateInput.props"
            />
          </v-col>
          <v-col
            cols="12"
            sm="5"
          >
            <v-text-field
              type="time"
              variant="outlined"
              density="comfortable"
              hide-details
              v-bind="departureAtTimeInput.props"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-expand-transition>
  </v-row>
</template>
