<script
  setup
  lang="ts"
>
/* eslint-disable import/no-duplicates */
import hitineraireDarkSrc from '@/assets/img/partners/hitineraire--dark.png';
import hitineraireDarkSrcset from '@/assets/img/partners/hitineraire--dark.png?responsive&imagetools';
import hitineraireLightSrc from '@/assets/img/partners/hitineraire--light.png';
import hitineraireLightSrcset from '@/assets/img/partners/hitineraire--light.png?responsive&imagetools';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import AppImg from '@/ts/components/common/AppImg.vue';
import env from '@/ts/env';
import { computed } from 'vue';
import { useTheme } from 'vuetify';

const theme = useTheme();

const hitineraireImg = computed(() => (
  theme.current.value.dark
    ? { src: hitineraireDarkSrc, srcset: hitineraireDarkSrcset }
    : { src: hitineraireLightSrc, srcset: hitineraireLightSrcset }
));
</script>

<template>
  <div>
    <div>
      <app-img
        class="hitineraire-logo"
        v-bind="hitineraireImg"
      />
    </div>
    <div class="text-caption">
      Les itinéraires de la plateforme {{ env.app.name }} vous sont proposés
      grâce à la plateforme
      <a
        href="https://hitineraires.lorient-agglo.bzh/"
        target="_blank"
        rel="noopener"
      >
        HiTinéraire<open-in-new-icon />
      </a>, financée par
      <a
        href=""
        target="_blank"
        rel="noopener"
      >
        Lorient Agglomération<open-in-new-icon />
      </a>
      et développée par
      <a
        href="https://www.someware.fr/"
        target="_blank"
        rel="noopener"
      >
        Someware<open-in-new-icon />
      </a>.
    </div>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .hitineraire-logo {
    width: 160px;
    max-width: 100%;
  }
</style>
