<script
  lang="ts"
  setup
>
import cachedCategories from '@/ts/api/cached/cachedCategories';
import Category from '@/ts/api/models/category';
import onlyPublishedCategories from '@/ts/api/utilities/categories/onlyPublishedCategories';
import CategoryListItem from '@/ts/components/categories/CategoryListItem.vue';
import MenuListItemCheck from '@/ts/components/common/menu/MenuListItemCheck.vue';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import orderBy from '@/ts/utilities/arrays/orderBy';
import translate from '@/ts/utilities/lang/translate';
import { ModelIdType } from '@foscia/core';
import { computed, onMounted, ref } from 'vue';
import { useI18n } from 'vue-i18n';

type NoneItem = {
  id: 'none';
  title: string;
};

const props = defineProps<{
  onlyParents?: boolean;
  onlyChildren?: boolean;
  notId?: ModelIdType[];
  multiple?: boolean;
  detailed?: boolean;
  prependNoneItem?: boolean;
}>();

const i18n = useI18n();

const mounted = ref(false);
const items = ref([] as (Category | NoneItem)[]);

const noneItem = computed((): NoneItem => ({
  id: 'none',
  title: i18n.t('resources.composables.categorizable.labels.none'),
}));

const allItems = computed(() => {
  const newItems = [...items.value];

  if (props.prependNoneItem) {
    newItems.unshift(noneItem.value);
  }

  return newItems;
});

const itemTitle = (item: Category | NoneItem) => (
  item instanceof Category
    ? translate(item.name)
    : item.title
);
const itemValue = (item: Category | NoneItem) => item.id;
const itemProps = (item: Category | NoneItem) => {
  if (item instanceof Category && props.detailed) {
    return {
      subtitle: item.isRoot
        ? i18n.t('resources.categories.labels.childrenCount', {
          n: (item.children ?? []).length,
        })
        : i18n.t('resources.categories.labels.parentsCount', {
          name: (item.parents ?? []).length,
        }),
    };
  }

  return {};
};

onMounted(async () => {
  const categories = onlyPublishedCategories(await cachedCategories.value);

  items.value = orderBy(
    categories.filter((c) => (
      (!props.onlyParents || c.isRoot)
      && (!props.onlyChildren || !c.isRoot)
      && (!props.notId || props.notId.indexOf(c.id) === -1)
    )),
    itemTitle,
  );

  mounted.value = true;
});
</script>

<template>
  <v-select-input
    :items="allItems"
    :item-title="itemTitle"
    :item-value="itemValue"
    :item-props="itemProps"
    :multiple="multiple"
    :placeholder="$t('forms.autocomplete.placeholder')"
    return-object
    autocomplete
    v-bind="$attrs"
  >
    <template
      v-if="$slots['append-inner']"
      #append-inner
    >
      <slot name="append-inner" />
    </template>
    <template #item="{ item, props: slotProps }">
      <category-list-item
        v-if="item.raw instanceof Category"
        :category="item.raw"
        v-bind="slotProps"
      >
        <template #prepend>
          <menu-list-item-check
            :item="item"
            :multiple="multiple"
          />
        </template>
      </category-list-item>
      <v-list-item
        v-else
        v-bind="slotProps"
      >
        <template #prepend>
          <menu-list-item-check
            :item="item"
            :multiple="multiple"
          />
        </template>
      </v-list-item>
    </template>
  </v-select-input>
</template>
