<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import VAsyncSelectInput from '@/ts/components/forms/selects/VAsyncSelectInput.vue';
import useAbortController from '@/ts/composables/dom/useAbortController';
import isNone from '@/ts/utilities/common/isNone';
import { Arrayable } from '@/ts/utilities/types/arrayable';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import {
  all,
  catchIf,
  include as fosciaInclude,
  Model,
  ModelInstance,
  ModelRelationDotKey,
  query,
  when,
} from '@foscia/core';
import { abortSignal, HttpAbortedError } from '@foscia/http';
import { filterBy, paginate, sortBy, usingDocument } from '@foscia/jsonapi';

type Props<D extends {} = any, I extends ModelInstance<D> = any> = {
  model: Function & Model;
  include?: Arrayable<ModelRelationDotKey<I>>;
  filter?: Dictionary;
  sort?: string | string[];
};

const props = defineProps<Props>();

const { abortController, abortPrevious } = useAbortController();

const fetchItems = async (search?: string) => {
  if (!isNone(search)) {
    abortPrevious();
  }

  const data = await action()
    .use(abortSignal(abortController.value))
    .use(query(props.model))
    .use(when(search, (a, s) => a.use(filterBy('search', s)).use(sortBy('search'))))
    .use(when(props.include, (a, i) => a.use(fosciaInclude(i as any))))
    .use(when(props.filter, (a, f) => a.use(filterBy(f))))
    .use(when(props.sort, (a, s) => a.use(sortBy(s))))
    .use(paginate({ size: 10 }))
    .run(catchIf(all(usingDocument), (e) => e instanceof HttpAbortedError));
  if (data === null) {
    return null;
  }

  return {
    items: data.instances,
    more: data.document.meta!.page.total - 10,
  };
};

const defaultItems = async () => fetchItems();
const queryItems = async (search: string) => fetchItems(search);
</script>

<template>
  <v-async-select-input
    :default-items="defaultItems"
    :query-items="queryItems"
    return-object
    v-bind="$attrs"
  >
    <template
      v-if="$slots['append-inner']"
      #append-inner
    >
      <slot name="append-inner" />
    </template>
    <template
      v-if="$slots.item"
      #item="slotProps"
    >
      <slot
        name="item"
        v-bind="slotProps"
      />
    </template>
  </v-async-select-input>
</template>
