<script
  lang="ts"
  setup
>
import Organization from '@/ts/api/models/organization';
import VInstancesInput from '@/ts/components/forms/instances/VInstancesInput.vue';
import translate from '@/ts/utilities/lang/translate';

const sort = 'name';
const itemTitle = (organization: Organization) => translate(organization.name);
const itemValue = (organization: Organization) => organization.id;
</script>

<template>
  <v-instances-input
    :model="Organization"
    :item-title="itemTitle"
    :item-value="itemValue"
    :sort="sort"
    v-bind="$attrs"
  >
    <template
      v-if="$slots['append-inner']"
      #append-inner
    >
      <slot name="append-inner" />
    </template>
  </v-instances-input>
</template>
