<script
  lang="ts"
  setup
>
import cachedOrganizationTypes from '@/ts/api/cached/cachedOrganizationTypes';
import OrganizationType from '@/ts/api/models/organizationType';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import orderBy from '@/ts/utilities/arrays/orderBy';
import translate from '@/ts/utilities/lang/translate';
import { onMounted, ref } from 'vue';

defineProps<{
  multiple?: boolean;
}>();

const items = ref([] as OrganizationType[]);

const itemTitle = (type: OrganizationType) => translate(type.name);
const itemValue = (type: OrganizationType) => type.id;

onMounted(async () => {
  items.value = orderBy(
    await cachedOrganizationTypes.value,
    itemTitle,
  );
});
</script>

<template>
  <v-select-input
    :items="items"
    :item-title="itemTitle"
    :item-value="itemValue"
    :multiple="multiple"
    return-object
    v-bind="$attrs"
  />
</template>
