<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import VInstancesInput from '@/ts/components/forms/instances/VInstancesInput.vue';
import translate from '@/ts/utilities/lang/translate';
import placeToPOI from '@/ts/utilities/places/map/placeToPOI';

const itemTitle = (place: Place) => translate(place.name);
const itemValue = (place: Place) => place.id;
const itemProps = (place: Place) => {
  const poi = placeToPOI(place);

  return { prependIcon: poi.icon, subtitle: poi.subtitle };
};
</script>

<template>
  <v-instances-input
    :model="Place"
    :item-title="itemTitle"
    :item-value="itemValue"
    :item-props="itemProps"
    :filter="{ category: ['any'] }"
    :include="['categories', 'categories.parents']"
    v-bind="$attrs"
  >
    <template
      v-if="$slots['append-inner']"
      #append-inner
    >
      <slot name="append-inner" />
    </template>
  </v-instances-input>
</template>
