<script
  lang="ts"
  setup
>
import cachedReportTypes from '@/ts/api/cached/cachedReportTypes';
import { findCachedRequestType } from '@/ts/api/cached/cachedRequestTypes';
import RequestTypeCode from '@/ts/api/enums/requestTypeCode';
import ReportType from '@/ts/api/models/reportType';
import RequestType from '@/ts/api/models/requestType';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import orderBy from '@/ts/utilities/arrays/orderBy';
import translate from '@/ts/utilities/lang/translate';
import { onMounted, ref } from 'vue';

const props = defineProps<{
  global?: boolean;
}>();

const items = ref([] as (ReportType | RequestType)[]);

const itemTitle = (type: ReportType | RequestType) => translate(type.name);

onMounted(async () => {
  let reportTypes = [...await cachedReportTypes.value] as (ReportType | RequestType)[];
  if (!props.global) {
    reportTypes = reportTypes.filter((t) => t instanceof ReportType && !t.global);
  } else {
    reportTypes.push(
      await findCachedRequestType(RequestTypeCode.JOIN.value),
    );
  }

  items.value = orderBy(reportTypes, [
    (t) => !(t instanceof RequestType),
    (t) => t.code === 'other',
    (t) => t instanceof ReportType && !t.global,
    itemTitle,
  ]);
});
</script>

<template>
  <v-select-input
    :items="items"
    :item-title="itemTitle"
    return-object
    v-bind="$attrs"
  />
</template>
