<script
  lang="ts"
  setup
>
import cachedScopedRole from '@/ts/api/cached/cachedScopedRole';
import Role from '@/ts/api/models/role';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import orderBy from '@/ts/utilities/arrays/orderBy';
import translate from '@/ts/utilities/lang/translate';
import { onMounted, ref } from 'vue';

const props = defineProps<{
  onlyScopes: string[];
  multiple?: boolean;
}>();

const items = ref([] as Role[]);

const itemTitle = (role: Role) => translate(role.name);
const itemValue = (role: Role) => role.id;

onMounted(async () => {
  items.value = orderBy(
    await cachedScopedRole(...props.onlyScopes),
    itemTitle,
  );
});
</script>

<template>
  <v-select-input
    :items="items"
    :item-title="itemTitle"
    :item-value="itemValue"
    :multiple="multiple"
    return-object
    v-bind="$attrs"
  />
</template>
