<script
  lang="ts"
  setup
>
import User from '@/ts/api/models/user';
import MenuListItemCheck from '@/ts/components/common/menu/MenuListItemCheck.vue';
import VInstancesInput from '@/ts/components/forms/instances/VInstancesInput.vue';
import UserListItem from '@/ts/components/users/UserListItem.vue';
import fullNameWithYou from '@/ts/utilities/lang/fullNameWithYou';
import { ModelIdType } from '@foscia/core';
import { computed } from 'vue';

const props = defineProps<{
  notId?: ModelIdType[];
  multiple?: boolean;
}>();

const sort = 'fullName';
const filter = computed(() => ({ notId: props.notId }));
const itemTitle = (user: User) => fullNameWithYou(user);
const itemValue = (user: User) => user.id;
</script>

<template>
  <v-instances-input
    :model="User"
    :item-title="itemTitle"
    :item-value="itemValue"
    :multiple="multiple"
    :filter="filter"
    :sort="sort"
    v-bind="$attrs"
  >
    <template #item="{ item, props: itemProps }">
      <user-list-item
        :user="item.raw"
        :subtitle="item.raw.email"
        v-bind="itemProps"
      >
        <template #prepend>
          <menu-list-item-check
            :item="item"
            :multiple="multiple"
          />
        </template>
      </user-list-item>
    </template>
  </v-instances-input>
</template>
