<script
  lang="ts"
  setup
>
import MglMapMarkerIcon from '@/ts/components/places/map/mgl/MglMapMarkerIcon.vue';
import useThemeVariant from '@/ts/composables/themes/useThemeVariant';
import { IconValue } from '@/ts/icons/makeSvgIcon';
import equals from '@/ts/utilities/common/equals';
import toMglCoordinates from '@/ts/utilities/places/map/mgl/toMglCoordinates';
import type { GeoCoordinates } from '@/ts/utilities/places/map/types';
import { Optional } from '@/ts/utilities/types/optional';
import { Alignment, Map, Marker, PositionAnchor } from 'maplibre-gl';
import { onMounted, onUnmounted, ref, shallowRef, watch } from 'vue';
import { useDisplay } from 'vuetify';

const emit = defineEmits<{
  (e: 'keydown', event: KeyboardEvent): void;
  (e: 'focus', event: FocusEvent): void;
}>();

const props = defineProps<{
  map: Optional<Map>;
  title?: string;
  coordinates: GeoCoordinates;
  color?: string;
  anchor?: PositionAnchor;
  icon?: IconValue;
  pitchAlignment?: Alignment;
  minor?: boolean;
  important?: boolean;
  markerClass?: string | object;
}>();

const { mobile } = useDisplay();
const lightVariant = useThemeVariant(false);

const markerRef = shallowRef<HTMLElement | null>(null);
const marker = shallowRef<Marker | null>(null);
const tooltip = ref(false);

const onMapChange = (map: Optional<Map>) => {
  if (map) {
    marker.value = new Marker({
      element: markerRef.value!,
      anchor: props.anchor ?? 'bottom',
      pitchAlignment: props.pitchAlignment,
    });

    marker.value
      .setLngLat(toMglCoordinates(props.coordinates))
      .addTo(map);
  } else if (marker.value) {
    marker.value.remove();
    marker.value = null;
  }
};

const onKeydown = (event: KeyboardEvent) => {
  if (event.key === 'Escape') {
    tooltip.value = false;
  }

  emit('keydown', event);
};

const onFocus = (event: FocusEvent) => {
  emit('focus', event);
};

watch(() => props.coordinates, (nextCoordinates, prevCoordinates) => {
  if (marker.value && !equals(nextCoordinates, prevCoordinates)) {
    marker.value.setLngLat(toMglCoordinates(nextCoordinates));
  }
});

const bindPropToClassName = (propWatcher: () => boolean, className: string) => {
  watch([propWatcher, markerRef], ([value, marker]) => {
    if (marker) {
      marker.removeAttribute('aria-label');
      if (value) {
        marker.classList.add(className);
      } else {
        marker.classList.remove(className);
      }
    }
  });
};

bindPropToClassName(() => props.important, 'mgl-map-marker--important');
bindPropToClassName(() => props.minor, 'mgl-map-marker--minor');

watch(() => props.map, onMapChange);

onMounted(() => onMapChange(props.map));

onUnmounted(() => onMapChange(null));
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <div>
    <div
      ref="markerRef"
      :class="markerClass"
      class="mgl-map-marker__wrapper"
    >
      <slot>
        <v-tooltip
          v-model="tooltip"
          :theme="lightVariant"
          :disabled="mobile"
          location="top"
        >
          <template #activator="{ props: activatorProps }">
            <mgl-map-marker-icon
              :color="color"
              :icon="icon"
              v-bind="{ ...$attrs, ...activatorProps }"
              :aria-label="title"
              :aria-labelledby="undefined"
              :aria-describedby="undefined"
              @keydown="onKeydown"
              @focus="onFocus"
            />
          </template>
          <slot name="title">
            <span>{{ title }}</span>
          </slot>
        </v-tooltip>
      </slot>
    </div>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  :global(.mgl-map-marker__wrapper) {
    z-index: 2;
  }

  :global(.mgl-map-marker__wrapper.mgl-map-marker--minor) {
    z-index: 1;
  }

  :global(.mgl-map-marker__wrapper.mgl-map-marker--important),
  :global(.mgl-map-marker__wrapper:hover) {
    z-index: 3;
  }
</style>
