<script
  lang="ts"
  setup
>
import useThemeVariant from '@/ts/composables/themes/useThemeVariant';
import foregroundColor from '@/ts/utilities/colors/foregroundColor';
import { IconValue } from '@/ts/icons/makeSvgIcon';
import { mdiCircle } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  color?: string;
  icon?: IconValue;
  active?: boolean;
}>();

const lightVariant = useThemeVariant(false);

const isHexColor = computed(() => !!props.color?.startsWith('#'));
const markerColor = computed(() => {
  if (isHexColor.value && props.color) {
    return foregroundColor(props.color);
  }

  return props.icon ? undefined : 'rgba(0, 0, 0, 0.25) !important';
});
const markerAttrs = computed(() => {
  if (isHexColor.value && props.color) {
    return {
      style: { background: props.color, color: markerColor.value },
    };
  }

  return {
    class: `bg-${props.color ?? 'primary'}`,
    style: { color: markerColor.value },
  };
});
const markerIconAttrs = computed(() => ({ color: markerColor.value }));
</script>

<template>
  <v-card
    :theme="lightVariant"
    color="transparent"
    rounded="lg"
    elevation="0"
    class="mgl-map__marker"
    tabindex="0"
    v-bind="$attrs"
  >
    <div class="mgl-map__marker__shadow" />
    <div
      class="mgl-map__marker__marker"
      v-bind="markerAttrs"
    />
    <div class="mgl-map__marker__icon-container">
      <v-icon
        :icon="icon ?? mdiCircle"
        class="mgl-map__marker__icon"
        v-bind="markerIconAttrs"
      />
    </div>
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  .mgl-map__marker {
    position: relative;
    overflow: unset;

    .mgl-map__marker__shadow {
      background: rgb(var(--v-theme-on-surface));
      box-shadow: 0 0 5px 5px rgb(var(--v-theme-on-surface));
      opacity: 0.5;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .mgl-map__marker__marker {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      border-bottom-right-radius: 0;
      border: 2px solid rgba(var(--v-theme-on-surface), var(--v-border-opacity));
      display: inline-block;
      position: relative;
      transform: rotate(45deg);
    }

    .mgl-map__marker__icon-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 4px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .mgl-map__marker__icon {
        color: white;
      }
    }
  }
</style>
