<script
  lang="ts"
  setup
>
import AppImg from '@/ts/components/common/AppImg.vue';
import { injectEditorMedia, useOneEditorMedia } from '@/ts/composables/forms/editor/editorMedia';
import useMediaImg from '@/ts/composables/media/useMediaImg';
import { Node as ProseMirrorNode } from '@tiptap/pm/model';
import { Editor, NodeViewWrapper } from '@tiptap/vue-3';
import { computed } from 'vue';

const props = defineProps<{
  editor: Editor;
  node: ProseMirrorNode;
}>();

const editorMedia = injectEditorMedia();
const alt = computed(() => props.node.attrs.alt ?? '');
const media = useOneEditorMedia(editorMedia, computed(() => props.node.attrs.media));
const image = useMediaImg(media, { keepOriginalWidth: true });
</script>

<template>
  <node-view-wrapper
    :data-media-ids="node.attrs.media"
    class="media-image__container d-flex justify-center text-primary my-4"
  >
    <div class="media-image d-flex justify-center flex-grow-1 rounded-lg focusable">
      <app-img
        v-if="image"
        :alt="alt"
        class="media-image__image rounded-lg"
        v-bind="image"
      />
    </div>
  </node-view-wrapper>
</template>

<style
  lang="scss"
  scoped
>
  .media-image__container {
    .media-image {
      max-width: 500px;
    }

    .media-image__image {
      width: 100%;
    }

    &.has-focus .media-image::after {
      opacity: 1;
    }
  }
</style>
