<script
  lang="ts"
  setup
>
import env from '@/ts/env';
import 'flag-icons/css/flag-icons.min.css';
import { VPhoneInput } from 'v-phone-input';
import 'v-phone-input/dist/v-phone-input.css';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();

const defaultProps = {
  countryIconMode: 'svg' as const,
  defaultCountry: env.services.i18n.countries[0],
  includeCountries: env.services.i18n.countries,
  label: () => i18n.t('forms.labels.phone'),
  countryLabel: () => i18n.t('forms.labels.country'),
  countryAriaLabel: ({ label }: { label?: string }) => i18n.t('forms.labels.countryFor', { attribute: `"${label}"` }),
  invalidMessage: ({ label }: { label?: string }) => i18n.t('validation.phone', { attribute: `"${label}"` }),
};
</script>

<template>
  <v-phone-input
    validate-on="submit"
    v-bind="{ ...defaultProps, ...$attrs }"
  />
</template>
