<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import ActivityInputs from '@/ts/components/resources/activities/ActivityInputs.vue';
import ActivityInputsProvider
  from '@/ts/components/resources/activities/ActivityInputsProvider.vue';
import ResourceCreateView from '@/ts/components/resources/core/views/ResourceCreateView.vue';
import { computed } from 'vue';
import { useRoute } from 'vue-router';

const props = defineProps<{
  activityType: ActivityTypeCode;
}>();

const route = useRoute();
const isCreate = computed(() => route.path.endsWith('create'));
const createKey = computed(
  () => `activities-${props.activityType.value}-${route.query.copy}`,
);
</script>

<template>
  <div>
    <activity-inputs-provider
      v-if="isCreate"
      :key="createKey"
      v-slot="{ boot, ...inputs }"
      :activity-type="activityType"
    >
      <resource-create-view
        :inputs="inputs"
        :boot="boot"
        translatable
      >
        <activity-inputs
          :activity-type="activityType"
          v-bind="inputs"
        />
      </resource-create-view>
    </activity-inputs-provider>
  </div>
</template>
