<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import Activity from '@/ts/api/models/activity';
import ActivityDataProvider from '@/ts/components/resources/activities/ActivityDataProvider.vue';
import OrganizationSwitchableAlerts
  from '@/ts/components/resources/composables/ownable/OrganizationSwitchableAlerts.vue';
import PublishableAlerts
  from '@/ts/components/resources/composables/publishable/PublishableAlerts.vue';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import useActivityHeaders from '@/ts/composables/resources/activities/useActivityHeaders';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useCreateCopyActivator
  from '@/ts/composables/resources/composables/core/useCreateCopyActivator';
import useDeleteActivator from '@/ts/composables/resources/composables/core/useDeleteActivator';
import useEditActivator from '@/ts/composables/resources/composables/core/useEditActivator';
import useViewActivator from '@/ts/composables/resources/composables/core/useViewActivator';
import usePinnableOneActivators
  from '@/ts/composables/resources/composables/pinnable/usePinnableOneActivators';
import usePublishableOneActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableOneActivators';
import usePublishableViewActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableViewActivators';
import useSourceableOneActivators
  from '@/ts/composables/resources/composables/sourceable/useSourceableOneActivators';

defineProps<{
  activityType: ActivityTypeCode;
}>();

const headers = useActivityHeaders();

const activators = (context: OneActivatorsContext<Activity>) => [
  ...usePublishableViewActivators()(context),
  ...useViewActivator(context),
  ...useEditActivator(context),
  ...useCreateCopyActivator(context),
  ...useDeleteActivator(context),
  ...usePublishableOneActivators()(context),
  ...useSourceableOneActivators()(context),
  ...usePinnableOneActivators()(context),
];
</script>

<template>
  <resource-one-view
    :activators="activators"
    translatable
  >
    <template #prepend-table="{ instance }">
      <organization-switchable-alerts />
      <publishable-alerts :instance="instance" />
    </template>
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <activity-data-provider
          :activity-type="activityType"
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
