<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import Activity from '@/ts/api/models/activity';
import ActivityDataProvider from '@/ts/components/resources/activities/ActivityDataProvider.vue';
import CategorizableFilters
  from '@/ts/components/resources/composables/categorizable/CategorizableFilters.vue';
import OrganizationSwitchableAlerts
  from '@/ts/components/resources/composables/ownable/OrganizationSwitchableAlerts.vue';
import SearchableFilters
  from '@/ts/components/resources/composables/searchable/SearchableFilters.vue';
import ResourceCellsPortals from '@/ts/components/resources/core/portals/ResourceCellsPortals.vue';
import ResourceManyView from '@/ts/components/resources/core/views/ResourceManyView.vue';
import useActivityHeaders from '@/ts/composables/resources/activities/useActivityHeaders';
import useCategorizableFilters
  from '@/ts/composables/resources/composables/categorizable/useCategorizableFilters';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useCreateCopyActivator
  from '@/ts/composables/resources/composables/core/useCreateCopyActivator';
import useDeleteActivator from '@/ts/composables/resources/composables/core/useDeleteActivator';
import useEditActivator from '@/ts/composables/resources/composables/core/useEditActivator';
import useViewActivator from '@/ts/composables/resources/composables/core/useViewActivator';
import useSearchableFilters
  from '@/ts/composables/resources/composables/searchable/useSearchableFilters';

defineProps<{
  activityType: ActivityTypeCode;
}>();

const { searchInput } = useSearchableFilters();
const { categoryInput } = useCategorizableFilters();

const headers = useActivityHeaders();
const defaultHeaders = ['name', 'place', 'publishedAt'];
const filters = [searchInput, categoryInput] as const;

const oneActivators = (context: OneActivatorsContext<Activity>) => [
  ...useViewActivator(context),
  ...useEditActivator(context),
  ...useCreateCopyActivator(context),
  ...useDeleteActivator(context),
];
</script>

<template>
  <resource-many-view
    :headers="headers"
    :default-headers="defaultHeaders"
    :filters="filters"
    :one-activators="oneActivators"
    translatable
  >
    <template #prepend-table>
      <organization-switchable-alerts />
    </template>
    <template #filters>
      <searchable-filters :search-input="searchInput" />
      <categorizable-filters :category-input="categoryInput" />
    </template>
    <template #data="{ instance, onlyHeaders }">
      <resource-cells-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
        :only-headers="onlyHeaders"
      >
        <activity-data-provider
          :activity-type="activityType"
          :instance="instance"
          :portals="portals"
        />
      </resource-cells-portals>
    </template>
  </resource-many-view>
</template>
