<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import ActivityInputs from '@/ts/components/resources/activities/ActivityInputs.vue';
import ActivityInputsProvider from '@/ts/components/resources/activities/ActivityInputsProvider.vue';
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';

defineProps<{
  activityType: ActivityTypeCode;
}>();
</script>

<template>
  <div>
    <activity-inputs-provider
      v-slot="{ boot, ...inputs }"
      :activity-type="activityType"
    >
      <resource-edit-view
        :inputs="inputs"
        :boot="boot"
        translatable
      >
        <activity-inputs
          :activity-type="activityType"
          v-bind="inputs"
        />
      </resource-edit-view>
    </activity-inputs-provider>
  </div>
</template>
