<script
  lang="ts"
  setup
>
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceRouteMany from '@/ts/composables/resources/core/useResourceRouteMany';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { ModelInstance } from '@foscia/core';
import { mdiPlusCircleMultipleOutline } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  instance: ModelInstance;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const type = useResourceType(props.instance);

const to = computed(
  () => `${useResourceRouteMany(type, 'create')}?copy=${props.instance.id}`,
);
</script>

<template>
  <one-activator
    action="createCopy"
    :to="to"
    :instance="instance"
    :icon="mdiPlusCircleMultipleOutline"
    :on-single="onSingle"
    color="primary"
  />
</template>
