<script
    lang="ts"
    setup
>
import hardDelete from '@/ts/api/utilities/hardDelete';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceRouteMany from '@/ts/composables/resources/core/useResourceRouteMany';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { mdiTrashCanOutline } from '@mdi/js';
import { ModelInstance } from '@foscia/core';
import { computed, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';

const props = defineProps<{
  instance: ModelInstance;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const router = useRouter();
const i18n = useI18n();
const snackbar = useSnackbarStore();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const title = computed(() => meta.title(props.instance));

const onDelete = async () => {
  await hardDelete(props.instance);

  await nextTick();

  snackbar.toast(i18n.t('actions.toasts.delete', {
    name: title.value,
  }));

  if (props.onSingle) {
    await router.replace(useResourceRouteMany(type));
  }

  await props.invalidate();
};
</script>

<template>
  <confirm-dialog
    :title="$t('actions.details.delete.title')"
    :description="$t('actions.details.delete.confirm', { name: title })"
    :run="onDelete"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        action="delete"
        :instance="instance"
        :icon="mdiTrashCanOutline"
        :on-single="onSingle"
        color="error"
        v-bind="activatorProps"
      />
    </template>
  </confirm-dialog>
</template>
