<script
  lang="ts"
  setup
>
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { mdiPencilOutline } from '@mdi/js';
import { ModelInstance } from '@foscia/core';

const props = defineProps<{
  instance: ModelInstance;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const to = useResourceRouteOne(props.instance, 'edit');
</script>

<template>
  <one-activator
    action="edit"
    :to="to"
    :instance="instance"
    :icon="mdiPencilOutline"
    :on-single="onSingle"
    color="primary"
  />
</template>
