<script
  lang="ts"
  setup
>
import AppTooltipBtn from '@/ts/components/common/AppTooltipBtn.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import value from '@/ts/utilities/functions/value';
import { ModelInstance } from '@foscia/core';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  instance: ModelInstance;
  color: string;
  icon: string;
  action?: string;
  title?: ((title: string) => string) | string;
  label?: string;
  onSingle?: boolean;
  forceLabel?: boolean;
}>();

const i18n = useI18n();
const { xs } = useDisplay();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);

const requiredAction = computed(() => {
  if (props.action) {
    return props.action;
  }

  throw new Error('one activator action must be defined when not specifying title or label');
});

const asLabel = computed(() => props.onSingle || props.forceLabel);
const instanceTitle = computed(() => meta.title(props.instance));
const actionLabel = computed(() => value(
  props.label ?? props.title ?? i18n.t(`actions.${requiredAction.value}`, { name: instanceTitle.value }),
  instanceTitle.value,
));
const actionTitle = computed(() => value(
  props.title ?? props.label ?? i18n.t(`actions.scoped.${requiredAction.value}`, { name: instanceTitle.value }),
  instanceTitle.value,
));
</script>

<template>
  <app-tooltip-btn
    :title="actionTitle"
    :prepend-icon="asLabel ? icon : undefined"
    :variant="onSingle ? 'elevated' : 'tonal'"
    :density="asLabel ? undefined : 'comfortable'"
    :size="!xs && onSingle ? 'large' : undefined"
    :icon="!asLabel"
    :color="color"
  >
    <template v-if="asLabel">
      {{ actionLabel }}
    </template>
    <v-icon
      v-else
      :icon="icon"
    />
  </app-tooltip-btn>
</template>
