<script
    lang="ts"
    setup
>
import AppList from '@/ts/components/data/AppList.vue';
import AppListItem from '@/ts/components/data/AppListItem.vue';
import { OneActivatorsFactory } from '@/ts/composables/resources/composables/core/types';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { ModelInstance } from '@foscia/core';
import { computed } from 'vue';

const props = defineProps<{
  instance: ModelInstance;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  activators: OneActivatorsFactory;
  onSingle?: boolean;
}>();

const oneActivators = computed(() => props.activators({
  type: useResourceType(props.instance),
  instance: props.instance,
  onSingle: props.onSingle,
}));
</script>

<template>
  <app-list v-if="oneActivators.length">
    <app-list-item
      v-for="(activator, index) in oneActivators"
      :key="index"
    >
      <component
        :is="activator"
        :instance="instance"
        :refresh="refresh"
        :invalidate="invalidate"
        :on-single="onSingle"
      />
    </app-list-item>
  </app-list>
</template>
