<script
  lang="ts"
  setup
>
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { mdiEyeOutline } from '@mdi/js';
import { ModelInstance } from '@foscia/core';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  instance: ModelInstance;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const { mdAndUp } = useDisplay();

const to = useResourceRouteOne(props.instance);
</script>

<template>
  <one-activator
    action="view"
    :to="to"
    :instance="instance"
    :icon="mdiEyeOutline"
    :force-label="mdAndUp"
    color="primary"
  />
</template>
