<script
  lang="ts"
  setup
>
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import { Input } from '@/ts/composables/forms/useInput';

defineProps<{
  termsInput: Input;
}>();
</script>

<template>
  <v-col cols="12">
    <v-checkbox
      v-bind="termsInput.props"
      :aria-label="undefined"
    >
      <template #label>
        <i18n-t
          scope="global"
          keypath="views.auth.signUp.terms.label"
          tag="span"
          class="text-body-2"
        >
          <template #termsOfUse>
            <router-link
              :to="{ name: 'legal.terms-of-use' }"
              target="_blank"
              rel="noopener"
              @click.stop
            >
              {{ $t('navigation.items.termsOfUse') }}
              <open-in-new-icon />
            </router-link>
          </template>
          <template #privacyPolicy>
            <router-link
              :to="{ name: 'legal.privacy-policy' }"
              target="_blank"
              rel="noopener"
              @click.stop
            >
              {{ $t('navigation.items.privacyPolicy') }}
              <open-in-new-icon />
            </router-link>
          </template>
        </i18n-t>
      </template>
    </v-checkbox>
  </v-col>
</template>
