<script
  lang="ts"
  setup
>
import FranceConnectBtn from '@/ts/components/auth/providers/FranceConnectBtn.vue';
import { SOCIAL_AUTH_PROVIDERS, SocialAuthProvider } from '@/ts/composables/auth/useSocialAuthProviders';

defineProps<{
  providers: SocialAuthProvider[];
}>();
</script>

<template>
  <template
    v-for="provider in providers"
    :key="`providers-${provider.id}`"
  >
    <france-connect-btn
      v-if="provider.id === SOCIAL_AUTH_PROVIDERS.franceConnect.id"
      :provider="provider"
    />
    <v-btn
      v-else
      :href="provider.redirectURL"
      :color="provider.color"
      class="text-white ma-1"
    >
      <v-icon
        v-if="provider.icon"
        :icon="provider.icon"
        start
      />
      {{ provider.name }}
    </v-btn>
  </template>
</template>
