<script
  lang="ts"
  setup
>
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import MglMap from '@/ts/components/places/map/mgl/MglMap.vue';
import MglMapMarker from '@/ts/components/places/map/mgl/MglMapMarker.vue';
import useMapRef from '@/ts/composables/places/map/mgl/useMapRef';
import addressLabel from '@/ts/utilities/places/addresses/addressLabel';
import addressToGeoCoordinates from '@/ts/utilities/places/addresses/addressToGeoCoordinates';
import { AddressObject } from '@/ts/utilities/places/types';
import { mdiCircle } from '@mdi/js';
import { ref } from 'vue';

defineProps<{
  address: AddressObject;
}>();

const mapRef = useMapRef();

const dialog = ref(false);
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="$t('map.addressPreview.title')"
  >
    <template #activator="props">
      <slot
        name="activator"
        v-bind="props"
      />
    </template>
    <mgl-map
      ref="mapRef"
      :center="addressToGeoCoordinates(address)"
      class="address-preview-map"
    >
      <mgl-map-marker
        :map="mapRef?.map()"
        :title="addressLabel(address)"
        :coordinates="addressToGeoCoordinates(address)"
        :icon="mdiCircle"
      />
    </mgl-map>
  </app-dialog>
</template>

<style
  lang="scss"
  scoped
>
  .address-preview-map {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 100%;
    min-height: 250px;
  }
</style>
