<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import OpeningWeekdaysHoursState from '@/ts/components/common/openingHours/OpeningWeekdaysHoursState.vue';
import placeToPOI from '@/ts/utilities/places/map/placeToPOI';
import { computed } from 'vue';
import { RouteLocationRaw } from 'vue-router';

const props = defineProps<{
  place: Place;
  to: RouteLocationRaw;
}>();

const poi = computed(() => placeToPOI(props.place));
</script>

<template>
  <div role="listitem">
    <v-list-item :to="to">
      <div class="text-subtitle-1">
        {{ poi.title }}
      </div>
      <div class="text-body-2 text-medium-emphasis">
        {{ poi.subtitle }}
      </div>
      <div
        v-if="place.openingHours?.length"
        class="text-body-2"
      >
        <opening-weekdays-hours-state :hours="place.openingHours" />
      </div>
    </v-list-item>
  </div>
</template>
