<script
  setup
  lang="ts"
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import Activity from '@/ts/api/models/activity';
import Place from '@/ts/api/models/place';
import AccessibilityCriteriaPanel
  from '@/ts/components/accessibility/AccessibilityCriteriaPanel.vue';
import AccessibilityRatingPanel
  from '@/ts/components/accessibility/new/AccessibilityRatingPanel.vue';
import LinksListItems from '@/ts/components/common/LinksListItems.vue';
import ReviewPanel from '@/ts/components/reviews/ReviewPanel.vue';
import excludeNone from '@/ts/utilities/objects/excludeNone';
import addressLabel from '@/ts/utilities/places/addresses/addressLabel';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { mdiMapMarkerOutline } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  localized: Place | Activity;
  large?: boolean;
  reviewsActionProps?: Dictionary;
}>();

const place = computed(() => (
  props.localized instanceof Place ? props.localized : props.localized.place
));

const isReviewable = computed(() => (
  props.localized instanceof Place
  || ActivityTypeCode.ACTIVITIES.match(props.localized.activityType.code)
));
const linkable = computed(() => ({
  phone: props.localized.phone ?? props.localized.ownerOrganization?.phone ?? null,
  email: props.localized.email ?? props.localized.ownerOrganization?.email ?? null,
  links: {
    ...excludeNone(props.localized.links ?? {}),
    ...excludeNone(props.localized.ownerOrganization?.links ?? {}),
  },
}));
</script>

<template>
  <div role="list">
    <review-panel
      v-if="isReviewable"
      :rating="localized.reviewsSummary?.rating"
      :total="localized.reviewsSummary?.total"
      :action-props="reviewsActionProps"
      role="listitem"
      main
    />
    <accessibility-rating-panel
      v-if="localized instanceof Activity"
      :type="localized.activityType.code"
      :large="large"
      :values="localized.accessibility ?? {}"
      context="original"
      role="listitem"
      main
    />
    <accessibility-rating-panel
      v-if="isReviewable"
      :large="large"
      :values="localized.reviewsSummary?.accessibility ?? {}"
      :reviewable="localized"
      context="original"
      role="listitem"
      always
      main
    />
    <accessibility-criteria-panel
      v-if="place"
      :values="place.accessibility?.criteria ?? {}"
      :dense="!large"
      role="listitem"
      class="info-list__item--main"
      always
      main
    />
    <slot name="opening-info" />
    <slot name="pricing-info" />
    <v-row no-gutters>
      <v-col
        :md="large ? 6 : undefined"
        cols="12"
      >
        <div
          role="listitem"
          class="info-list__item"
        >
          <slot name="address-info">
            <v-list-item
              v-if="localized.address"
              rounded="lg"
            >
              <template #prepend>
                <v-icon
                  :title="$t('forms.labels.address')"
                  :icon="mdiMapMarkerOutline"
                  role="img"
                  aria-hidden="false"
                />
              </template>
              <div>{{ addressLabel(localized.address) }}</div>
            </v-list-item>
          </slot>
        </div>
      </v-col>
      <v-col
        :md="large ? 6 : undefined"
        cols="12"
      >
        <links-list-items
          :contactable="linkable"
          :linkable="linkable"
        />
      </v-col>
    </v-row>
  </div>
</template>
