<script
  lang="ts"
  setup
>
import Place from '@/ts/api/models/place';
import publishableRoute from '@/ts/api/utilities/publishable/publishableRoute';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import LocalizableCardItem from '@/ts/components/places/LocalizableCardItem.vue';
import FeatureName from '@/ts/utilities/features/featureName';
import { Optional } from '@/ts/utilities/types/optional';
import { computed } from 'vue';
import { RouteLocationRaw } from 'vue-router';

const props = defineProps<{
  places: Optional<Place[]>;
  level: 1 | 2 | 3 | '1' | '2' | '3';
}>();

const placesWithRoutes = computed(() => (props.places ?? []).map((place) => ({
  place, to: publishableRoute(place),
})).filter((p) => p.to) as { place: Place; to: RouteLocationRaw }[]);
</script>

<template>
  <div v-if="FeatureName.PLACES.check() && placesWithRoutes.length">
    <app-heading
      :level="level"
      dense
    >
      {{ $t('composables.localizable.title', { n: placesWithRoutes.length }) }}
    </app-heading>
    <v-card>
      <v-list
        role="list"
        tabindex="-1"
      >
        <template
          v-for="({ place, to }, index) in placesWithRoutes"
          :key="`items-${place.id}`"
        >
          <app-divider v-if="index !== 0" />
          <localizable-card-item
            :place="place"
            :to="to"
          />
        </template>
      </v-list>
    </v-card>
  </div>
</template>
