<script
  setup
  lang="ts"
>
import Place from '@/ts/api/models/place';
import OpeningWeekdaysHoursState from '@/ts/components/common/openingHours/OpeningWeekdaysHoursState.vue';
import OpeningWeekdaysHoursTable from '@/ts/components/common/openingHours/OpeningWeekdaysHoursTable.vue';
import { mdiClockOutline } from '@mdi/js';

defineProps<{
  place: Place;
  expanded?: boolean;
}>();
</script>

<template>
  <v-list-group
    v-if="place.openingHours?.length"
    value="opening-info"
  >
    <template #activator="{ props: activatorProps }">
      <div role="listitem">
        <v-list-item
          :prepend-icon="mdiClockOutline"
          :aria-expanded="String(expanded)"
          role="button"
          tabindex="0"
          v-bind="activatorProps"
        >
          <div>
            <opening-weekdays-hours-state :hours="place.openingHours" />
          </div>
        </v-list-item>
      </div>
    </template>
    <div class="pl-11 pr-3">
      <opening-weekdays-hours-table
        :hours="place.openingHours"
        class="pl-1"
        today-first
        today-highlight
      />
      <p class="text-caption pl-2">
        {{ $t('common.openingHours.labels.notice') }}
      </p>
    </div>
  </v-list-group>
</template>
