.v-btn {
  text-transform: none !important;

  &:not(.v-btn--icon) {
    height: auto !important;

    &.v-btn--density-default {
      min-height: calc(var(--v-btn-height) + 0px);
    }

    &.v-btn--density-comfortable {
      min-height: calc(var(--v-btn-height) - 8px);
    }

    &.v-btn--density-compact {
      min-height: calc(var(--v-btn-height) - 12px);
    }
  }

  &:not(.btn--nowrap) > .v-btn__content {
    white-space: normal;
    text-align: center;
  }

  &.v-btn--toggle {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      margin-left: auto;
      margin-right: auto;
      background-color: currentColor;
      opacity: 0;
    }

    &.v-btn--density-default:before {
      margin-bottom: 4px;
    }

    &.v-btn--density-comfortable:before {
      margin-bottom: 1px;
    }

    &.v-btn--active:before {
      opacity: 1;
    }
  }
}

a.v-btn.v-btn--active, a.v-list-item.v-list-item--active {
  outline: currentColor solid 1px;
  outline-offset: 0;
}
