.v-chip {
  height: auto !important;

  &:not(.chip--nowrap) > .v-chip__content {
    white-space: normal;
  }

  &.v-chip--density-default {
    min-height: calc(var(--v-chip-height) + 0px);
  }

  &.v-chip--density-comfortable {
    min-height: calc(var(--v-chip-height) - 8px);
  }

  &.v-chip--density-compact {
    min-height: calc(var(--v-chip-height) - 12px);
  }
}
