.v-dialog--scrollable {
  > .v-overlay__content, > .v-overlay__content > form {
    overflow: visible;
  }

  &:not(.v-dialog--fullscreen) {
    > .v-overlay__content, > .v-overlay__content > .v-card, .v-overlay__content > form, .v-overlay__content > form > .v-card {
      max-height: calc(100% - 48px) !important;
    }
  }
}

.v-dialog--fullscreen {
  > .v-overlay__content > form {
    flex-grow: 1;
  }
}
