@supports selector(:focus-visible) {
  .focusable, .v-btn, .v-list-item {
    position: relative;
    outline-width: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border: 2px solid rgb(var(--v-theme-on-background));
      border-radius: inherit;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &.focusable--focused:after,
    &:focus-visible:after {
      opacity: 1 !important;
    }

    &.v-card {
      &:after {
        border-color: rgb(var(--v-theme-on-background)) !important;
      }

      &.focusable--focused:after, &:focus-visible:after {
        opacity: 1 !important;
      }
    }
  }
}
