.v-switch {
  .v-label {
    white-space: normal;
  }

  .v-switch__track {
    transition-property: background-color, opacity;

    &.bg-primary {
      opacity: 1 !important;
    }
  }
}

[data-required] .v-label:after {
  content: '*';
  color: rgb(var(--v-theme-error));
  margin-left: 0.25rem;
}

input[type="date"], input[type="time"] {
  &.v-field__input {
    display: block;
  }
}

.v-input__details {
  min-height: 24px !important;

  .v-input.v-input--error > & > .v-messages .v-messages__message {
    padding-left: 1.8em;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 1.3em;
      height: 1.3em;
      background: rgb(var(--v-theme-error));
      mask-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><title>alert-circle-outline</title><path d=\"M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z\" /></svg>");
    }
  }

  & > .v-counter {
    font-size: 0.75rem;
    white-space: nowrap;
    align-self: start;
    margin-left: 4px;
  }
}
