@supports selector(:focus-visible) {
  .v-list-item::after {
    border-radius: inherit !important;
  }
}

.v-list-item-title {
  white-space: normal !important;

  .v-navigation-drawer--rail & {
    white-space: nowrap !important;
  }
}

.list-item--colored {
  .v-list-group & {
    &:before {
      left: -2px;
      max-height: calc(100% - 12px);
      margin-top: 6px;
      margin-bottom: 6px;
    }

    &:hover, &:focus, &.v-list-item--active {
      &:before {
        width: 80px;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 6px;
    opacity: 1;
    left: -8px;
    height: 100%;
    max-height: calc(100% - 12px);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .3s cubic-bezier(.4, 0, .6, 1);
  }

  &:before {
    background-color: var(--item-accent-color, currentColor);
  }

  &:hover, &:focus, &.v-list-item--active {
    &:before {
      width: 44px;
    }

    .v-list-item__prepend .v-icon svg {
      fill: var(--item-accent-on-color, currentColor) !important;
    }
  }

  .v-list-item__prepend {
    z-index: 2;
    .v-icon svg {
      transition: all .3s cubic-bezier(.4, 0, .6, 1);
    }
  }
}

.info-list__item {
  &.info-list__item--main {
    > .v-list-item {
      .v-list-item-title {
        font-weight: bold !important;
      }

      @media screen and (min-width: 600px) {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }

  &.info-list__item--secondary {
    > .v-list-item {
      min-height: auto;

      > .v-list-item__prepend {
        > .v-icon {
          font-size: 24px !important;
        }

        @media screen and (min-width: 600px) {
          min-width: 56px;

          > .v-icon {
            margin-left: 8px;
          }
        }
      }
    }
  }

  > .v-list-item {
    > .v-list-item__prepend {
      min-width: 44px;

      > .v-icon {
        opacity: 1 !important;
        color: rgb(var(--v-theme-primary)) !important;
        font-size: 28px !important;
      }

      @media screen and (min-width: 600px) {
        min-width: 56px;

        > .v-icon {
          font-size: 32px !important;
          margin-left: 4px;
        }
      }
    }
  }
}

.info-list__item__inner {
  padding-right: 16px;
  padding-left: 16px;

  @media screen and (min-width: 600px) {
    padding-left: 72px;
  }
}
