.v-card {
  .v-skeleton-loader {
    > .v-skeleton-loader__bone {
      margin: 0 !important;
    }
  }
}

.v-skeleton-loader {
  > .v-skeleton-loader__bone.v-skeleton-loader__chip {
    margin-right: 4px !important;
  }
}
