<script
  setup
  lang="ts"
>
import AccountOrganizationAlert from '@/ts/components/account/AccountOrganizationAlert.vue';
import useSwitchActingFor from '@/ts/composables/auth/useSwitchActingFor';

const { canSwitchActingFor } = useSwitchActingFor();
</script>

<template>
  <v-col
    v-if="canSwitchActingFor"
    cols="12"
  >
    <account-organization-alert />
  </v-col>
</template>
