<script
  lang="ts"
  setup
>
import { Ownable } from '@/ts/api/composables/ownable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import UserOwnableDataProvider from '@/ts/components/resources/composables/userOwnable/UserOwnableDataProvider.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Ownable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.ownerOrganization">
    <resource-instance-value :instance="instance.ownerOrganization" />
  </teleport-to-portal>
  <user-ownable-data-provider
    :instance="instance"
    :portals="portals"
  />
</template>
