<script
  lang="ts"
  setup
>
import VOrganizationInput from '@/ts/components/forms/instances/VOrganizationInput.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import { computed } from 'vue';

defineProps<{
  ownerOrganizationInput: Input;
}>();

const col = useCol();

const filter = computed(() => ({ private: true }));
</script>

<template>
  <v-col
    v-if="!ownerOrganizationInput.props.readonly"
    v-bind="col"
  >
    <v-organization-input
      :include="['categories']"
      :filter="filter"
      v-bind="ownerOrganizationInput.props"
    />
  </v-col>
</template>
