<script
  lang="ts"
  setup
>
import Organization from '@/ts/api/models/organization';
import OrganizationSwitchableAlerts
  from '@/ts/components/resources/composables/ownable/OrganizationSwitchableAlerts.vue';
import PublishableAlerts from '@/ts/components/resources/composables/publishable/PublishableAlerts.vue';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import PlaceDataProvider from '@/ts/components/resources/places/PlaceDataProvider.vue';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useCoreOneActivators from '@/ts/composables/resources/composables/core/useCoreOneActivators';
import usePublishableOneActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableOneActivators';
import usePublishableViewActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableViewActivators';
import useSourceableOneActivators from '@/ts/composables/resources/composables/sourceable/useSourceableOneActivators';
import usePlaceHeaders from '@/ts/composables/resources/places/usePlaceHeaders';

const headers = usePlaceHeaders();

const activators = (context: OneActivatorsContext<Organization>) => [
  ...usePublishableViewActivators()(context),
  ...useCoreOneActivators()(context),
  ...usePublishableOneActivators()(context),
  ...useSourceableOneActivators()(context),
];
</script>

<template>
  <resource-one-view
    :activators="activators"
    translatable
  >
    <template #prepend-table="{ instance }">
      <organization-switchable-alerts />
      <publishable-alerts :instance="instance" />
    </template>
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <place-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
