<script
  lang="ts"
  setup
>
import ResourceCreateView from '@/ts/components/resources/core/views/ResourceCreateView.vue';
import PlaceInputs from '@/ts/components/resources/places/PlaceInputs.vue';
import PlaceInputsProvider from '@/ts/components/resources/places/PlaceInputsProvider.vue';
</script>

<template>
  <div>
    <place-inputs-provider v-slot="{ boot, ...inputs }">
      <resource-create-view
        :inputs="inputs"
        :boot="boot"
        translatable
      >
        <place-inputs v-bind="inputs" />
      </resource-create-view>
    </place-inputs-provider>
  </div>
</template>
