<script
  lang="ts"
  setup
>
import CategorizableFilters from '@/ts/components/resources/composables/categorizable/CategorizableFilters.vue';
import OrganizationSwitchableAlerts
  from '@/ts/components/resources/composables/ownable/OrganizationSwitchableAlerts.vue';
import SearchableFilters from '@/ts/components/resources/composables/searchable/SearchableFilters.vue';
import ResourceCellsPortals from '@/ts/components/resources/core/portals/ResourceCellsPortals.vue';
import ResourceManyView from '@/ts/components/resources/core/views/ResourceManyView.vue';
import PlaceDataProvider from '@/ts/components/resources/places/PlaceDataProvider.vue';
import useCategorizableFilters from '@/ts/composables/resources/composables/categorizable/useCategorizableFilters';
import useSearchableFilters from '@/ts/composables/resources/composables/searchable/useSearchableFilters';
import usePlaceHeaders from '@/ts/composables/resources/places/usePlaceHeaders';

const { searchInput } = useSearchableFilters();
const { categoryInput } = useCategorizableFilters();

const headers = usePlaceHeaders();
const defaultHeaders = ['name', 'address', 'publishedAt'];
const filters = [searchInput, categoryInput] as const;
</script>

<template>
  <resource-many-view
    :headers="headers"
    :default-headers="defaultHeaders"
    :filters="filters"
    translatable
  >
    <template #prepend-table>
      <organization-switchable-alerts />
    </template>
    <template #filters>
      <searchable-filters :search-input="searchInput" />
      <categorizable-filters :category-input="categoryInput" />
    </template>
    <template #data="{ instance, onlyHeaders }">
      <resource-cells-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
        :only-headers="onlyHeaders"
      >
        <place-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-cells-portals>
    </template>
  </resource-many-view>
</template>
