<script
  lang="ts"
  setup
>
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';
import PlaceInputs from '@/ts/components/resources/places/PlaceInputs.vue';
import PlaceInputsProvider from '@/ts/components/resources/places/PlaceInputsProvider.vue';
</script>

<template>
  <div>
    <place-inputs-provider v-slot="{ boot, ...inputs }">
      <resource-edit-view
        v-slot="{ instance }"
        :inputs="inputs"
        :boot="boot"
        translatable
      >
        <place-inputs
          :place="instance"
          v-bind="inputs"
        />
      </resource-edit-view>
    </place-inputs-provider>
  </div>
</template>
