@use "themes/light";
@use "themes/light-high-contrast";

// Make tooltips hoverable.
.v-tooltip > .v-overlay__content {
  pointer-events: auto !important;
}

// Restore outline on anchors.
a:not(.v-btn):not(.v-list-item):not(.v-chip) {
  &:focus, &:focus-visible {
    outline: auto !important;
  }
}

// Make alerts buttons more distinguable using outline style.
.v-alert .v-alert__content .v-btn.v-btn--variant-text {
  border: 1px solid currentColor;
}

// Restore outline on checkbox, radio and switch.
.v-checkbox-btn.v-selection-control--focus-visible .v-selection-control__input > .v-icon {
  outline: 2px solid rgb(var(--v-theme-on-background)) !important;
  border-radius: 4px !important;
}
.v-radio.v-selection-control--focus-visible .v-selection-control__input > .v-icon {
  outline: 2px solid rgb(var(--v-theme-on-background)) !important;
  border-radius: 4px !important;
}
.v-switch .v-selection-control.v-selection-control--focus-visible .v-selection-control__wrapper {
  outline: 2px solid rgb(var(--v-theme-on-background)) !important;
  border-radius: 4px !important;
}

// Support custom styling from accessibility preferences.
html.app-custom {
  &--letterSpacing {
    #app__body,
    #app__body * {
      letter-spacing: inherit !important;
    }
  }

  &--lineHeight {
    #app__body,
    #app__body * {
      line-height: inherit !important;

      .app-heading--main {
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}
