@use "fonts/fonts";
@use "vuetify/override";
@use "utilities/utilities";
@use "accessibility";

h1, h2, h3, h4, h5, h6 {
  &:not([class^="text-"]) {
    margin: revert;
    line-height: 1.2em;
  }
}

a, abbr, address, audio, blockquote, button, caption, cite, datalist, dd, dt,
figure, figcaption, h1, h2, h3, h4, h5, h6, input, label, legend, li, p,
select, table, textarea, time, td, th, video {
  background-color: transparent;
}

p {
  margin: revert;
}

ul:not(.v-pagination__list),
ol:not(.v-pagination__list) {
  margin: revert;
  padding: revert;
}
