<script
  lang="ts"
  setup
>
import { SoftDeletable } from '@/ts/api/composables/softDeletable';
import softDelete from '@/ts/api/utilities/softDelete';
import ConfirmDialog from '@/ts/components/overlays/ConfirmDialog.vue';
import OneActivator from '@/ts/components/resources/core/activators/one/OneActivator.vue';
import useResourceMeta from '@/ts/composables/resources/core/useResourceMeta';
import useResourceType from '@/ts/composables/resources/core/useResourceType';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { mdiTrashCanOutline } from '@mdi/js';
import { computed, nextTick } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  instance: SoftDeletable;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const i18n = useI18n();
const snackbar = useSnackbarStore();
const type = useResourceType(props.instance);
const meta = useResourceMeta(type);
const title = computed(() => meta.title(props.instance));

const onDelete = async () => {
  await softDelete(props.instance);

  await nextTick();

  snackbar.toast(i18n.t('resources.composables.softDeletable.actions.softDelete.toast', {
    name: title.value,
  }));

  await props.invalidate();
};
</script>

<template>
  <confirm-dialog
    :title="$t('resources.composables.softDeletable.actions.softDelete.title', {
      name: title
    })"
    :description="$t('resources.composables.softDeletable.actions.softDelete.description', {
      name: title
    })"
    :run="onDelete"
  >
    <template #activator="{ props: activatorProps }">
      <one-activator
        :title="$t('resources.composables.softDeletable.actions.softDelete.title', {
          name: title
        })"
        :label="$t('resources.composables.softDeletable.actions.softDelete.action')"
        :instance="instance"
        :icon="mdiTrashCanOutline"
        :on-single="onSingle"
        color="warning"
        v-bind="activatorProps"
      />
    </template>
  </confirm-dialog>
</template>
