<script
  lang="ts"
  setup
>
import { SoftDeletable } from '@/ts/api/composables/softDeletable';
import ResourceDateIndicator from '@/ts/components/resources/core/data/ResourceDateIndicator.vue';
import { mdiTrashCanOutline } from '@mdi/js';

defineProps<{
  instance: SoftDeletable;
}>();
</script>

<template>
  <resource-date-indicator
    :value="instance.deletedAt"
    :on-props="{ prependIcon: mdiTrashCanOutline, color: 'warning' }"
  />
</template>
