<script
  lang="ts"
  setup
>
import { SoftDeletable } from '@/ts/api/composables/softDeletable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import SoftDeletableIndicator from '@/ts/components/resources/composables/softDeletable/SoftDeletableIndicator.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: SoftDeletable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.deletedAt">
    <soft-deletable-indicator :instance="instance" />
  </teleport-to-portal>
</template>
