<script
  lang="ts"
  setup
>
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import VInputClear from '@/ts/components/forms/VInputClear.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import isNone from '@/ts/utilities/common/isNone';
import { mdiTrashCanOutline } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  softDeletableInput: Input;
}>();

const i18n = useI18n();

const col = useCol();

const items = computed(() => [
  {
    value: 'onlyTrashed',
    title: i18n.t('resources.composables.softDeletable.filters.softDeleted.items.onlyTrashed'),
  },
  {
    value: 'withTrashed',
    title: i18n.t('resources.composables.softDeletable.filters.softDeleted.items.withTrashed'),
  },
]);

const onSoftDeletableClear = () => {
  props.softDeletableInput.props['onUpdate:modelValue'](null);
};
</script>

<template>
  <v-col v-bind="col">
    <v-select-input
      :prepend-inner-icon="mdiTrashCanOutline"
      :items="items"
      hide-details
      v-bind="softDeletableInput.props"
    >
      <template #append-inner>
        <v-input-clear
          :label="softDeletableInput.props.label"
          :active="!isNone(softDeletableInput.props.modelValue)"
          @clear="onSoftDeletableClear"
        />
      </template>
    </v-select-input>
  </v-col>
</template>
