<script
  setup
  lang="ts"
>
import AppHeading from '@/ts/components/common/AppHeading.vue';
import { mdiArrowRight } from '@mdi/js';
import { RouteLocationRaw, useRouter } from 'vue-router';

const props = defineProps<{
  title: string;
  description: string;
  action: string;
  to: RouteLocationRaw;
  icon: string;
  color: string;
}>();

const router = useRouter();

const onClick = () => {
  router.push(props.to);
};
</script>

<template>
  <div class="text-center text-md-left">
    <div
      class="cursor-pointer mb-2"
      @click="onClick"
    >
      <v-icon
        :icon="icon"
        :color="color"
        size="64"
      />
    </div>
    <app-heading
      level="2"
      class="cursor-pointer text-primary"
      @click="onClick"
    >
      {{ title }}
    </app-heading>
    <p>
      {{ description }}
    </p>
    <v-btn
      :to="to"
      :append-icon="mdiArrowRight"
      variant="outlined"
      color="primary"
    >
      {{ action }}
    </v-btn>
  </div>
</template>
