<script
  setup
  lang="ts"
>
/* eslint-disable import/no-duplicates */
import illustrationMapDarkSrcset from '@/assets/img/illustration-map--dark.png?responsive&imagetools';
import illustrationMapLightSrcset from '@/assets/img/illustration-map--light.png?responsive&imagetools';
import illustrationMapDarkSrc from '@/assets/img/illustration-map--dark.png';
import illustrationMapLightSrc from '@/assets/img/illustration-map--light.png';
import AppImg from '@/ts/components/common/AppImg.vue';
import { computed } from 'vue';
import { useTheme } from 'vuetify';

const theme = useTheme();
const illustrationMap = computed(() => (
  theme.current.value.dark
    ? { src: illustrationMapDarkSrc, srcset: illustrationMapDarkSrcset }
    : { src: illustrationMapLightSrc, srcset: illustrationMapLightSrcset }
));
</script>

<template>
  <app-img v-bind="illustrationMap" />
</template>
