<script
  setup
  lang="ts"
>
/* eslint-disable import/no-duplicates */
import illustrationHeroSrc from '@/assets/img/illustration-hero.png';
import illustrationHeroSrcset from '@/assets/img/illustration-hero.png?responsive&imagetools';
import logoBlockSrc from '@/assets/img/logo--block.svg?raw';
import france2030DarkSrc from '@/assets/img/partners/france-2030--dark.png';
import france2030DarkSrcset
  from '@/assets/img/partners/france-2030--dark.png?responsive&imagetools';
import AppImg from '@/ts/components/common/AppImg.vue';
import env from '@/ts/env';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import { useTheme } from 'vuetify';

const LogoIcon = makeSvgIcon(logoBlockSrc);

const theme = useTheme();
</script>

<template>
  <div
    :class="{ 'hero--dark': theme.current.value.dark }"
    class="hero mb-4 mb-sm-8 mb-lg-16"
  >
    <v-sheet
      :color="theme.current.value.dark ? 'background' : 'primary'"
      class="hero__sheet"
    >
      <div class="hero__logo d-flex px-4 px-sm-8 px-md-12">
        <div class="hero__title">
          <h1>
            <span
              role="img"
              aria-label="Les accessibles : loisirs, tourisme, culture, sport"
            >
              <logo-icon aria-hidden="true" />
            </span>
            <span class="hero__subtitle">
              <span class="hero__description">
                Lieux et activités accessibles
              </span>
              <span class="hero__territory">
                {{ env.app.territory }}
              </span>
            </span>
          </h1>
          <app-img
            :src="france2030DarkSrc"
            :srcset="france2030DarkSrcset"
            class="hero__france2030"
            alt="France 2030 : Territoires d'innovation"
          />
        </div>
      </div>
      <div class="hero__illustration">
        <div class="hero__illustration__shadow" />
        <app-img
          :src="illustrationHeroSrc"
          :srcset="illustrationHeroSrcset"
          class="hero__illustration__img"
        />
      </div>
    </v-sheet>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .hero {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      height: 100vh;
      width: 100vw;
      background: rgb(var(--v-theme-primary));
    }

    &.hero--dark {
      &:before {
        border-bottom: 1px solid rgba(var(--v-theme-on-background), 0.12);
        background: rgb(var(--v-theme-background));
      }
    }

    .hero__sheet {
      position: relative;

      @media screen and (max-width: 700px) {
        padding-bottom: 170px;
      }
    }

    .home__logo {
      justify-content: center;

      @media screen and (min-width: 700px) {
        justify-content: start !important;
      }
    }

    .hero__title {
      position: relative;
      width: 360px;
      max-width: 100%;
      z-index: 2;
    }

    .hero__title > h1 {
      position: relative;
      margin: 0;
    }

    .hero__subtitle {
      position: absolute;
      opacity: 0.9;
      left: 32px;
      bottom: 8px;
      white-space: nowrap;

      @media screen and (min-width: 700px) and (max-width: 1000px) {
        max-width: 275px;
      }

      @media screen and (max-width: 400px) {
        left: 26px;
      }
    }

    .hero__description {
      display: block;
      font-size: 18px !important;
      font-weight: normal !important;
      line-height: 24px !important;
      letter-spacing: normal !important;

      @media screen and (max-width: 400px) {
        font-size: 16px !important;
        line-height: 20px !important;
      }
    }

    .hero__territory {
      display: block;
      font-size: 24px !important;
      font-weight: bold !important;
      line-height: 32px !important;
      letter-spacing: normal !important;

      @media screen and (max-width: 400px) {
        font-size: 20px !important;
        line-height: 24px !important;
      }
    }

    .hero__france2030 {
      width: 100%;
      max-width: 200px;
    }

    .hero__illustration {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      aspect-ratio: 3/2;
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: 500px) {;
        justify-content: center;
        height: 250px;
      }

      @media screen and (min-width: 500px) and (max-width: 700px) {;
        justify-content: center;
        height: 300px;
      }

      @media screen and (min-width: 700px) {
        justify-content: end;
        width: calc(100% - 350px);
        max-width: calc(100% - 350px);
      }
    }

    .hero__illustration__shadow {
      content: "";
      position: absolute;
      z-index: 0;
      right: 0;
      bottom: 0;
      aspect-ratio: 3/2;
      width: 100%;
      max-width: 900px;
      overflow: hidden;
    }

    .hero__illustration__shadow:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(closest-side, #ffffff 0, transparent 100%);
      transform: translate(10%, 20%);
    }

    .hero__illustration__img {
      transform: translateY(9%);

      @media screen and (max-width: 700px) {
        height: 100%;
      }

      @media screen and (min-width: 700px) {
        width: 100%;
        max-width: 900px;
      }
    }
  }
</style>
