<script
  setup
  lang="ts"
>
import HomeFeature from '@/ts/components/home/HomeFeature.vue';
import MainFeature from '@/ts/utilities/features/mainFeature';
</script>

<template>
  <home-feature
    :to="{ name: 'places.map' }"
    :color="MainFeature.PLACES.props.color"
    :icon="MainFeature.PLACES.props.icon"
    title="Carte des lieux"
    description="
      Au quotidien, identifiez les lieux d’intérêt en fonction de vos besoins,
      de leur accessibilité, recherchez les meilleurs itinéraires
      adaptés à vos capacités et faites part de votre expérience.
    "
    action="Accéder aux lieux"
  />
</template>
