<script
  lang="ts"
  setup
>
import AppAvatar from '@/ts/components/common/AppAvatar.vue';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import useActive from '@/ts/composables/common/useActive';
import useAnnouncer from '@/ts/composables/pages/useAnnouncer';
import last from '@/ts/utilities/arrays/last';
import wrap from '@/ts/utilities/arrays/wrap';
import isNone from '@/ts/utilities/common/isNone';
import { Arrayable } from '@/ts/utilities/types/arrayable';
import { computed, watchEffect } from 'vue';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  icon: string;
  color: string;
  title?: Arrayable<string>;
  loading?: boolean;
  announce?: boolean;
}>();

const { xs } = useDisplay();
const active = useActive();

const heading = computed(() => last(wrap(props.title)));
const subtitle = computed(() => last(wrap(props.title), 2));

watchEffect(() => {
  if (active.value && !isNone(props.title) && props.announce) {
    useAnnouncer().announce({ title: props.title });
  }
});
</script>

<template>
  <div class="d-flex flex-column flex-sm-row align-sm-center">
    <app-avatar
      :icon="icon"
      :color="color"
      :size="xs ? 36 : 58"
    />
    <v-fade-transition>
      <app-heading
        v-if="!loading"
        level="1"
        class="mt-2 mt-sm-0 ml-0 ml-sm-4 mb-0"
        style="min-width: 0"
        dense
      >
        <span class="d-block">
          {{ heading }}
          <span v-if="subtitle">&nbsp;</span>
        </span>
        <span
          v-if="subtitle"
          class="d-block text-body-2"
        >
          {{ subtitle }}
        </span>
      </app-heading>
    </v-fade-transition>
  </div>
</template>
