<script
  lang="ts"
  setup
>
import AppContainer from '@/ts/components/layouts/AppContainer.vue';
import ResourceTitle from '@/ts/components/resources/core/layouts/ResourceTitle.vue';
import ResourceLocale from '@/ts/components/resources/core/navigation/ResourceLocale.vue';
import { Arrayable } from '@/ts/utilities/types/arrayable';

const emit = defineEmits<{
  (e: 'locale-change', locale: string): void;
}>();

defineProps<{
  icon: string;
  color: string;
  title?: Arrayable<string>;
  translatable?: boolean;
  loading?: boolean;
  announce?: boolean;
}>();

const onLocaleChange = (locale: string) => {
  emit('locale-change', locale);
};
</script>

<template>
  <app-container fluid>
    <v-row class="v-row--hide-empty">
      <slot name="prepend" />
      <v-col
        cols="12"
        md="8"
        xl="9"
      >
        <resource-title
          :icon="icon"
          :color="color"
          :title="title"
          :loading="loading"
          :announce="announce"
        />
      </v-col>
      <v-col
        v-if="translatable"
        cols="12"
        md="4"
        xl="3"
      >
        <div class="d-flex align-center justify-md-end">
          <resource-locale @change="onLocaleChange" />
        </div>
      </v-col>
      <slot />
    </v-row>
  </app-container>
</template>
