<script
  setup
  lang="ts"
>
import Article from '@/ts/api/models/article';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CategorizableDataProvider
  from '@/ts/components/resources/composables/categorizable/CategorizableDataProvider.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import CoverableDataProvider
  from '@/ts/components/resources/composables/coverable/CoverableDataProvider.vue';
import ImageableDataProvider
  from '@/ts/components/resources/composables/imageable/ImageableDataProvider.vue';
import LocalizableDataProvider
  from '@/ts/components/resources/composables/localizable/LocalizableDataProvider.vue';
import OwnableDataProvider
  from '@/ts/components/resources/composables/ownable/OwnableDataProvider.vue';
import PinnableIndicator
  from '@/ts/components/resources/composables/pinnable/PinnableIndicator.vue';
import PublishableDataProvider
  from '@/ts/components/resources/composables/publishable/PublishableDataProvider.vue';
import SourceableDataProvider
  from '@/ts/components/resources/composables/sourceable/SourceableDataProvider.vue';
import ResourceTranslationValue
  from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import computeDescription from '@/ts/utilities/strings/computeDescription';

defineProps<{
  portals: ResourcePortals;
  instance: Article;
}>();
</script>

<template>
  <categorizable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <coverable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <imageable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <localizable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <ownable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <publishable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <sourceable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.name">
    <pinnable-indicator
      :pinnable="instance"
      class="mr-2"
    />
    <resource-translation-value :value="instance.name" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.description">
    <resource-translation-value
      v-slot="{ value }"
      :value="computeDescription(instance.description, instance.body)"
    >
      <p class="text-formatted">
        {{ value }}
      </p>
    </resource-translation-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.body">
    <resource-translation-value
      :value="instance.body"
      :media="instance.media"
      heading="2"
      html
    />
  </teleport-to-portal>
</template>
