<script
  lang="ts"
  setup
>
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import VEditorInput from '@/ts/components/forms/editor/VEditorInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import CategorizableInputs from '@/ts/components/resources/composables/categorizable/CategorizableInputs.vue';
import CoverableInputs from '@/ts/components/resources/composables/coverable/CoverableInputs.vue';
import ImageableInputs from '@/ts/components/resources/composables/imageable/ImageableInputs.vue';
import LocalizableInputs from '@/ts/components/resources/composables/localizable/LocalizableInputs.vue';
import OwnableInputs from '@/ts/components/resources/composables/ownable/OwnableInputs.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import FeatureName from '@/ts/utilities/features/featureName';

defineProps<{
  coverInput: Input;
  imagesInput: Input;
  nameInput: Input;
  bodyInput: Input;
  descriptionInput: Input;
  categoriesInput: Input;
  ownerOrganizationInput: Input;
  placesInput: Input;
  mediaInput: Input;
}>();

const normalCol = useCol();
</script>

<template>
  <coverable-inputs :cover-input="coverInput" />
  <v-wrap-after />
  <imageable-inputs :images-input="imagesInput" />
  <v-wrap-after />
  <v-col v-bind="normalCol">
    <v-text-field v-bind="nameInput.props" />
  </v-col>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.articles.labels.presentation')">
      <v-row dense>
        <ownable-inputs :owner-organization-input="ownerOrganizationInput" />
        <categorizable-inputs :categories-input="categoriesInput" />
        <v-wrap-after />
        <v-col cols="12">
          <v-editor-input
            v-bind="bodyInput.props"
            maxlength="50000"
            counter
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-bind="descriptionInput.props"
            maxlength="255"
            rows="3"
            counter
          />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
  <v-col
    v-if="FeatureName.PLACES.check()"
    cols="12"
  >
    <v-fieldset :legend="$t('resources.articles.labels.association')">
      <v-row dense>
        <localizable-inputs :places-input="placesInput" />
      </v-row>
    </v-fieldset>
  </v-col>
</template>
