<script
  lang="ts"
  setup
>
import useArticleInputs from '@/ts/composables/resources/articles/useArticleInputs';

const props = useArticleInputs();
</script>

<template>
  <slot v-bind="props" />
</template>
