<script
  lang="ts"
  setup
>
import acceslibreImg from '@/assets/img/accessibility/acceslibre.svg';
import AccessibilityCriteria from '@/ts/api/enums/accessibilityCriteria';
import AccessibilityCriteriaCategory from '@/ts/api/enums/accessibilityCriteriaCategory';
import SourceOrigin from '@/ts/api/enums/sourceOrigin';
import Place from '@/ts/api/models/place';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import AppImg from '@/ts/components/common/AppImg.vue';
import AppHtml from '@/ts/components/data/AppHtml.vue';
import AccessibilityCriteriaItemInput
  from '@/ts/components/forms/accessibility/AccessibilityCriteriaItemInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import useAccessibilityCriteria from '@/ts/composables/accessibility/useAccessibilityCriteria';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useSourceableLinks
  from '@/ts/composables/resources/composables/sourceable/useSourceableLinks';
import isCriteriaDisplayed from '@/ts/utilities/accessibility/isCriteriaDisplayed';
import equals from '@/ts/utilities/common/equals';
import isNone from '@/ts/utilities/common/isNone';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { computed, ref, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value: Dictionary): void;
}>();

const props = defineProps<{
  modelValue: Dictionary;
  dense?: boolean;
  place?: Place;
}>();

const lazyValue = useLazyValue(computed(() => props.modelValue));
const criteria = useAccessibilityCriteria();
const sources = useSourceableLinks(computed(() => props.place ?? new Place()));
const acceslibreSource = computed(() => sources.value.get(SourceOrigin.ACCESLIBRE));

const categories = ref([...AccessibilityCriteriaCategory.all.values()]);

const criteriaOfCategory = (category: AccessibilityCriteriaCategory) => criteria.value.filter(
  (c) => c.editable && category.is(c.criteriaCategory),
);
const criteriaDisplayed = (item: AccessibilityCriteria) => isCriteriaDisplayed(
  lazyValue.value,
  item,
);

watch(lazyValue, (next, prev) => {
  if (!equals(next, prev)) {
    emit('update:model-value', next);
  }
}, { deep: true });

const onUpdateCriteriaValue = (item: AccessibilityCriteria, value: any) => {
  const nextValue = isNone(value) ? undefined : value;
  if (!equals(lazyValue.value[item.id], nextValue)) {
    lazyValue.value = { ...lazyValue.value, [item.id]: nextValue };
  }
};
</script>

<template>
  <v-row dense>
    <template
      v-for="category in categories"
      :key="`categories-${category.value}`"
    >
      <v-col
        v-if="criteriaOfCategory(category).length"
        cols="12"
      >
        <v-fieldset>
          <template #legend>
            <v-icon
              :icon="category.props.icon"
              start
            />
            {{ category.label }}
          </template>
          <v-row dense>
            <template
              v-for="item in criteriaOfCategory(category)"
              :key="`categories-${category.value}-items-${item.id}`"
            >
              <accessibility-criteria-item-input
                v-if="criteriaDisplayed(item)"
                :model-value="lazyValue[item.id] ?? ''"
                :criteria="item"
                :dense="dense"
                @update:model-value="onUpdateCriteriaValue(item, $event)"
              />
            </template>
          </v-row>
        </v-fieldset>
      </v-col>
    </template>
    <v-col cols="12">
      <app-img
        :src="acceslibreImg"
        class="accessibility-acceslibre-logo"
      />
      <app-html
        class="text-caption"
        :value="$t('accessibility.criteria.inputs.notice')"
      />
      <a
        v-if="acceslibreSource"
        :href="acceslibreSource"
        target="_blank"
        rel="noopener"
      >
        {{ $t('accessibility.criteria.inputs.available') }}
        <open-in-new-icon />
      </a>
    </v-col>
  </v-row>
</template>

<style
  lang="scss"
  scoped
>
  .accessibility-acceslibre-logo {
    max-height: 64px;
    max-width: 100%;
  }
</style>
