<script
  lang="ts"
  setup
>
import { AccessibilityValue } from '@/ts/api/composables/accessible';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AccessibilityRatingInput
  from '@/ts/components/forms/accessibility/AccessibilityRatingInput.vue';
import VEditorInput from '@/ts/components/forms/editor/VEditorInput.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import useTranslatableInput from '@/ts/composables/forms/useTranslatableInput';
import isNil from '@/ts/utilities/common/isNil';
import isNone from '@/ts/utilities/common/isNone';
import toLowerFirst from '@/ts/utilities/strings/toLowerFirst';
import toUpperFirst from '@/ts/utilities/strings/toUpperFirst';
import max from '@/ts/validation/rules/max';
import { mdiTextBoxPlusOutline } from '@mdi/js';
import { computed, onMounted, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: AccessibilityValue | null): void;
  (e: 'validation:execute'): void;
}>();

const props = defineProps<{
  modelValue: AccessibilityValue | null;
  category: AccessibilityCategory;
  required?: boolean;
}>();

const i18n = useI18n();

const dialog = ref(false);
const emitValidation = ref(false);

const label = computed(() => toUpperFirst(props.category.label));
const title = computed(() => i18n.t('forms.accessible.details.title', {
  category: toLowerFirst(props.category.label),
}));

const ratingInput = useInput({
  label: label.value,
  name: `${props.category.value}Rating`,
  value: props.modelValue?.rating ?? null,
  rules: [(value) => {
    if (emitValidation.value) {
      emit('validation:execute');
    }

    return !props.required || !isNone(value);
  }],
});

const bodyInput = useInput({
  ...useTranslatableInput(),
  label: i18n.t('forms.labels.comment'),
  name: `${props.category.value}Body`,
  rules: [max(2000)],
  value: props.modelValue?.body ?? null,
});

const onUpdateModelValue = () => {
  emit('update:model-value', isNil(ratingInput.value) ? null : {
    rating: ratingInput.value,
    body: bodyInput.value,
  });
};

const { loading, btnLoading, onSubmit } = useForm([
  bodyInput,
] as const, {
  onSubmit: async () => {
    onUpdateModelValue();
    dialog.value = false;
  },
});

watch(() => props.modelValue, (value) => {
  ratingInput.value = value?.rating ?? null;
  bodyInput.value = value?.body ?? null;
});

watch(ratingInput.valueRef, () => {
  onUpdateModelValue();
});

watch(dialog, (opened) => {
  if (!opened) {
    bodyInput.value = props.modelValue?.body ?? null;
  }
});

onMounted(() => {
  emitValidation.value = true;
});

const onClose = () => {
  dialog.value = false;
};
</script>

<template>
  <div class="d-flex">
    <div class="flex-grow-1">
      <accessibility-rating-input
        hide-details
        v-bind="ratingInput.props"
      />
    </div>
    <app-dialog
      v-model="dialog"
      :title="title"
      :subtitle="$t('forms.accessible.details.subtitle')"
      :persistent="loading"
      :form-props="{ readonly: loading, onSubmit }"
    >
      <template #activator="{ props: activatorProps }">
        <v-btn
          :title="title"
          :icon="mdiTextBoxPlusOutline"
          :disabled="isNil(ratingInput.value)"
          variant="tonal"
          class="ml-2 mr-0 mr-md-4"
          v-bind="activatorProps"
        />
      </template>
      <app-divider />
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <v-editor-input
              maxlength="2000"
              rows="3"
              counter
              no-image
              no-heading
              v-bind="bodyInput.props"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <app-divider />
      <v-card-actions class="justify-end">
        <v-btn @click="onClose">
          {{ $t('actions.cancel') }}
        </v-btn>
        <v-btn
          type="submit"
          variant="elevated"
          color="primary"
          v-bind="btnLoading"
        >
          {{ $t('actions.apply') }}
        </v-btn>
      </v-card-actions>
    </app-dialog>
  </div>
</template>
