<script
  setup
  lang="ts"
>
import AccessibilityCriteria from '@/ts/api/enums/accessibilityCriteria';
import AccessibilityCriteriaType from '@/ts/api/enums/accessibilityCriteriaType';
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useCol from '@/ts/composables/layouts/useCol';
import max from '@/ts/validation/rules/max';
import toVuetifyRule from '@/ts/validation/toVuetifyRule';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { VTextarea } from 'vuetify/components/VTextarea';
import { VTextField } from 'vuetify/components/VTextField';

const emit = defineEmits<{
  (e: 'update:model-value', value: any): void;
}>();

const props = defineProps<{
  modelValue: any;
  criteria: AccessibilityCriteria;
  dense?: boolean;
}>();

const i18n = useI18n();

const lazyValue = useLazyValue(computed(() => props.criteria.type.parse(props.modelValue, '')));

const wrapBefore = computed(() => [
  'transportInformation',
  'innerParking',
  'externalParking',
  'entranceDoor',
  'entranceCallDevice',
  'entranceFlat',
  'entranceSoundBeacon',
  'entrancePrm',
  'entrancePrmInformation',
  'receptionHearingEquipments',
  'receptionPathFlat',
  'restrooms',
].indexOf(props.criteria.id) !== -1);

const colAttrs = computed(() => (
  AccessibilityCriteriaType.TEXT.is(props.criteria.type)
    ? useCol(props.dense ? 'full' : 'half')
    : useCol(props.dense ? 'half' : 'normal')
));

const inputLabel = computed(() => i18n.t(`accessibility.criteria.labels.${props.criteria.id}`));

const inputHint = computed(() => (
  i18n.te(`accessibility.criteria.hints.${props.criteria.id}`)
    ? i18n.t(`accessibility.criteria.hints.${props.criteria.id}`)
    : undefined
));

const inputComponent = computed(() => {
  if (AccessibilityCriteriaType.TEXT.is(props.criteria.type)) {
    return VTextarea;
  }

  if (
    AccessibilityCriteriaType.STRING.is(props.criteria.type)
    || AccessibilityCriteriaType.INTEGER.is(props.criteria.type)
  ) {
    return VTextField;
  }

  return VSelectInput;
});

const inputAttrs = computed(() => {
  if (AccessibilityCriteriaType.TEXT.is(props.criteria.type)) {
    const maxLength = props.criteria.metadata.maxLength ?? 500;

    return {
      rules: [toVuetifyRule(inputLabel.value, max(maxLength))],
      maxlength: `${maxLength}`,
      rows: '3',
      counter: true,
    };
  }

  if (AccessibilityCriteriaType.STRING.is(props.criteria.type)) {
    return {
      rules: [toVuetifyRule(inputLabel.value, max(255))],
    };
  }

  if (AccessibilityCriteriaType.INTEGER.is(props.criteria.type)) {
    return {};
  }

  return {
    multiple: AccessibilityCriteriaType.ITEMS.is(props.criteria.type),
    items: AccessibilityCriteriaType.BOOLEAN.is(props.criteria.type)
      ? [
        { title: i18n.t('accessibility.criteria.values.boolean.yes'), value: true },
        { title: i18n.t('accessibility.criteria.values.boolean.no'), value: false },
        { title: i18n.t('accessibility.criteria.values.boolean.unknown'), value: '' },
      ]
      : props.criteria.metadata.values.map((value: string) => ({
        value,
        title: i18n.t(`accessibility.criteria.values.${props.criteria.id}.${value}`),
      })),
  };
});

watch(lazyValue, (v) => {
  emit('update:model-value', v);
});
</script>

<template>
  <v-wrap-after v-if="wrapBefore" />
  <v-col v-bind="colAttrs">
    <component
      :is="inputComponent"
      v-model="lazyValue"
      :name="criteria.id"
      :label="inputLabel"
      :hint="inputHint"
      :persistent-hint="!!inputHint"
      v-bind="inputAttrs"
    />
  </v-col>
</template>
