<script
  lang="ts"
  setup
>
import AccessibilityRating from '@/ts/api/enums/accessibilityRating';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import { Optional } from '@/ts/utilities/types/optional';
import { computed, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value: number | null): void;
}>();

const props = defineProps<{
  modelValue?: Optional<number>;
}>();

const lazyValue = useLazyValue(computed(() => props.modelValue ?? 'none'));

const items = computed(() => [...AccessibilityRating.all.values()].map((rating) => ({
  title: rating.label('me'),
  value: rating.value ?? 'none',
})));

watch(lazyValue, (value) => {
  emit('update:model-value', value === 'none' ? null : value);
});
</script>

<template>
  <v-select-input
    v-model="lazyValue"
    :items="items"
    v-bind="$attrs"
  />
</template>
