<script
  lang="ts"
  setup
>
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
</script>

<template>
  <app-page-layout :title="$t('views.legal.accessibility.title')">
    <p>
      Lorient Agglomération s'engage à rendre ses supports numériques accessibles conformément à
      l'article 47 de la loi n° 2005-102 du 11 février 2005.
    </p>

    <p>
      À cette fin, elle met en œuvre la stratégie et les actions suivantes&nbsp;: schéma
      pluriannuel et plan d'action de l'année (en cours).
    </p>

    <p>
      Cette présente déclaration d'accessibilité s'applique au site Internet Les Accessibles,
      lorient-agglo.lesaccessibles.bzh.
    </p>

    <h2>Auditeur</h2>

    <p>
      <a
        href="https://www.stratis.fr/agence-web-secteur-public"
        rel="noopener"
        target="_blank"
      >
        <span>Stratis</span>
        <open-in-new-icon />
      </a>
      a réalisé l'audit et rédigé cette déclaration d'accessibilité en faisant intervenir
      ses experts Certifiés en Accessibilité.
    </p>

    <h2>État de conformité</h2>

    <p>
      <strong>Le site Internet Les Accessibles est en conformité partielle</strong> avec le
      <a
        href="https://accessibilite.numerique.gouv.fr/"
        rel="noopener"
        target="_blank"
      >
        <span>référentiel général d'amélioration de l'accessibilité, version 4.1</span>
        <open-in-new-icon />
      </a>.
    </p>

    <h3>Résultats des tests</h3>

    <p>
      L'audit de conformité réalisé par la société
      <a
        href="https://www.stratis.fr/agence-web-secteur-public"
        rel="noopener"
        target="_blank"
      >
        <span>Stratis</span>
        <open-in-new-icon />
      </a>
      révèle que <strong>55,93% des critères RGAA sont respectés</strong>.
      <br>Le taux de conformité moyen du site s'élève quant à lui à 86,5%.
    </p>

    <h2>Contenus non accessibles</h2>

    <p>Les contenus listés ci-dessous ne sont pas accessibles pour les raisons suivantes.</p>

    <h3>Non-conformités</h3>

    <ul>
      <li>Certaines images informatives ne sont pas décrites&nbsp;;</li>
      <li>Certaines images décoratives ne sont pas correctement ignorées&nbsp;;</li>
      <li>Certaines couleurs ne sont pas suffisamment contrastées&nbsp;;</li>
      <li>Certains liens sont vides&nbsp;;</li>
      <li>
        Certains composants riches et/ou complexes (fenêtres modales, accordéons,) ne sont pas
        compatibles avec les technologies d’assistance et la navigation au clavier uniquement&nbsp;;
      </li>
      <li>Certains boutons ne sont pas explicites&nbsp;;</li>
      <li>
        Certains changements de contexte ne sont pas prévisibles ou pas présentés
        aux utilisateurs&nbsp;;
      </li>
      <li>Certains éléments sémantiques sont utilisés à des fins de présentation&nbsp;;</li>
      <li>La hiérarchie des titres n’est pas toujours respectée&nbsp;;</li>
      <li>Certaines listes ne sont pas correctement structurées&nbsp;;</li>
      <li>
        Les structures de certaines pages ne sont pas conformes ou contiennent des erreurs
        impactant l’accessibilité&nbsp;;
      </li>
      <li>
        L’information n’est pas toujours lisible et compréhensible sur toutes les résolutions et
        appareils, surtout après personnalisation de l’apparence&nbsp;;
      </li>
      <li>
        Les titres des pages à étapes (formulaires, recherches, filtrages…) ne reflètent pas bien
        les étapes&nbsp;;
      </li>
      <li>La prise de focus n’est pas toujours correctement visible&nbsp;;</li>
      <li>
        Certaines informations sont véhiculées uniquement par la forme,
        la taille ou la position&nbsp;;
      </li>
      <li>La structure de certains formulaires n’est pas toujours conforme&nbsp;;</li>
      <li>La langue de certains termes en langue étrangère n’est pas définie.</li>
    </ul>

    <h3>Dérogations pour charge disproportionnée</h3>

    <p>Aucune contenu n'a été dérogé.</p>

    <h3>Contenus non soumis à l'obligation d'accessibilité</h3>

    <p>Aucun contenu n'a été exempté.</p>

    <h2>Établissement de cette déclaration d'accessibilité</h2>

    <p>
      Cette déclaration a été établie le 8 avril 2024, et a été mise à jour le 24 juillet 2024 à la
      suite de l'audit de conformité.
    </p>

    <h3>Technologies utilisées pour la réalisation</h3>

    <ul>
      <li>HTML 5</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>PDF</li>
    </ul>

    <h4>Environnement de test</h4>

    <h5>Ordinateur</h5>

    <table>
      <thead>
        <tr>
          <th>Système d'exploitation</th>
          <th>Technologie d'assistance</th>
          <th>Navigateur</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Windows 10</td>
          <td>NVDA 2024.2</td>
          <td>Firefox 128</td>
        </tr>
        <tr>
          <td>Windows 10</td>
          <td>Jaws 2023</td>
          <td>Chrome 126</td>
        </tr>
        <tr>
          <td>Mac OS Catalina</td>
          <td>VoiceOver</td>
          <td>Safari 15</td>
        </tr>
      </tbody>
    </table>

    <h5>Mobile</h5>

    <table>
      <thead>
        <tr>
          <th>Système d'exploitation</th>
          <th>Technologie d'assistance</th>
          <th>Navigateur</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Android 12 natif</td>
          <td>TalkBack</td>
          <td>Chrome</td>
        </tr>
      </tbody>
    </table>

    <h4>Outils utilisés lors de l'évaluation</h4>

    <ul>
      <li>Extension Assistant RGAA</li>
      <li>Extension Stylus</li>
      <li>Extension Web Developer Toolbar</li>
      <li>Extension Axe DevTools - Web Accessibility Testing</li>
      <li>Extension HeadingsMap</li>
      <li>Color Contrast Analyser</li>
      <li>Validateur du W3C</li>
      <li>PDF Accessibility Checker</li>
    </ul>

    <h4>Pages du site ayant fait l'objet de la vérification de conformité</h4>

    <ul>
      <li><a href="https://lorient-agglo.lesaccessibles.bzh/">Accueil</a></li>
      <li><a href="https://lorient-agglo.lesaccessibles.bzh/legal/notice">Mentions légales</a></li>
      <li>Déclaration d'accessibilité</li>
      <li><a href="https://lorient-agglo.lesaccessibles.bzh/site-map">Plan du site</a></li>
      <li><a href="https://lorient-agglo.lesaccessibles.bzh/legal/terms-of-use">CGU</a></li>
      <li>
        <a href="https://lorient-agglo.lesaccessibles.bzh/legal/privacy-policy">Politique de
          confidentialité</a>
      </li>
      <li>
        <a href="https://lorient-agglo.lesaccessibles.bzh/auth/sign-in">Connexion utilisateur/Mot
          de passe oublié/Créer un compte/Mon compte</a>
      </li>
      <li><a href="https://lorient-agglo.lesaccessibles.bzh/faq">FAQ</a></li>
      <li>
        <a href="https://lorient-agglo.lesaccessibles.bzh/events?page=1">Liste des événements</a>
      </li>
      <li>
        <a href="https://lorient-agglo.lesaccessibles.bzh/events/read/yaka-paddle-festival-larmor-plage">Événement
          détaillé "YAKA PADDLE FESTIVAL"</a>
      </li>
      <li>
        <a href="https://lorient-agglo.lesaccessibles.bzh/activities?page=1">Liste des
          activités</a>
      </li>
      <li>
        <a href="https://lorient-agglo.lesaccessibles.bzh/activities/read/velo-promenade-queven">Activité
          détaillée "Vélo promenade"</a>
      </li>
      <li>
        <a href="https://lorient-agglo.lesaccessibles.bzh/places/map/search">Carte des lieux</a>
      </li>
    </ul>

    <h2>Retour d'information et contact</h2>

    <p>
      Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le
      responsable de Les accessibles pour être orienté vers une alternative accessible ou obtenir le
      contenu sous une autre forme.
    </p>

    <ul>
      <li>Téléphone : 02 90 74 71 00</li>
      <li>
        E-mail : <a href="mailto:adm_hit_531@agglo-lorient.fr">adm_hit_531@agglo-lorient.fr</a>
      </li>
      <li>Adresse : Maison de l’Agglomération, 56314 Lorient Cedex</li>
    </ul>

    <h2>Voies de recours</h2>

    <p>
      Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez signalé au responsable du
      site Internet un défaut d'accessibilité qui vous empêche d'accéder à un contenu ou à un des
      services du portail et vous n'avez pas obtenu de réponse satisfaisante.
    </p>

    <ul>
      <li>
        <a
          href="https://formulaire.defenseurdesdroits.fr"
          rel="noopener"
          target="_blank"
        >
          <span>Écrire un message au Défenseur des droits</span>
          <open-in-new-icon />
        </a>
      </li>
      <li>
        <a
          href="https://www.defenseurdesdroits.fr/saisir/delegues"
          rel="noopener"
          target="_blank"
        >
          <span>Contacter le délégué du Défenseur des droits dans votre région</span>
          <open-in-new-icon />
        </a>
      </li>
      <li>
        Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) à l'adresse&nbsp;:
        <br>
        <strong>Défenseur des droits <br>
          Libre réponse 71120 <br>
          75342 Paris CEDEX 07</strong>
      </li>
    </ul>
  </app-page-layout>
</template>
