<script
  lang="ts"
  setup
>
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
</script>

<template>
  <app-page-layout :title="$t('views.legal.legalNotice.title')">
    <h2>Éditeur</h2>
    <p>
      Nom : Lorient Agglomération
      <br>
      Forme : Etablissement Public de Coopération Intercommunale
      <br>
      Numéro SIREN : 200042174
      <br>
      Adresse du siège social : Maison de l’Agglomération, 56314 Lorient Cedex
      <br>
      Téléphone : 02 90 74 71 00
      <br>
      Adresse e-mail : <a href="mailto:contact@agglo-lorient.fr">contact@agglo-lorient.fr</a>
    </p>

    <h3>Directeur de publication</h3>
    <p>Fabrice Loher, Président de Lorient Agglomération</p>

    <h3>Responsable du site</h3>
    <p>Alain Cottencin, Directeur Numérique et Territoire Intelligent</p>

    <h2>Hébergeur</h2>
    <p>
      Lorient Agglomération
    </p>

    <h2>Crédits</h2>
    <h3>Conception et développement du site</h3>
    <p>
      <a href="https://coworkhit.com">CoWork'HIT</a>
      <br>
      CMRRF de Kerpape BP 78 5275 - 56270 Ploemeur
    </p>
    <h3>Conception graphique</h3>
    <p>
      <a href="https://www.stratis.fr/">Stratis</a>
      <br>
      ZA Technopole - 18/20 Rue Lavoisier - 83210 La Farlède
    </p>

    <p>
      Pour toute question ou demande d'information concernant le présent Site,
      veuillez contacter Lorient Agglomération à l'adresse e-mail
      <a href="mailto:adm_hit_531@agglo-lorient.fr">adm_hit_531@agglo-lorient.fr</a>
      ou par téléphone au 02 90 74 71 00.
    </p>

    <p>
      Les informations légales fournies ci-dessus sont conformes à la législation en
      vigueur.
      Toute reproduction, même partielle, des contenus présents sur ce site est
      interdite
      sans autorisation préalable de Lorient Agglomération.
    </p>

    <p>Dernière mise à jour : 08/04/2024</p>
  </app-page-layout>
</template>
