<script
  lang="ts"
  setup
>
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
</script>

<template>
  <app-page-layout :title="$t('views.legal.privacyPolicy.title')">
    <p>
      Nous accordons une grande importance à la confidentialité de vos données personnelles.
      Cette politique de confidentialité vise à vous informer sur la manière dont nous collectons,
      utilisons et protégeons vos informations lorsque vous utilisez notre plateforme.
    </p>

    <h2>Collecte des informations personnelles</h2>
    <p>
      Nous collectons les informations personnelles suivantes lors de votre
      inscription sur notre plateforme :
    </p>
    <ul>
      <li>Nom</li>
      <li>Prénom</li>
      <li>Adresse e-mail</li>
    </ul>

    <h2>Utilisation des informations personnelles</h2>
    <p>
      Les informations personnelles que nous collectons sont utilisées uniquement
      dans le but de faciliter votre expérience sur notre plateforme. Elles sont utilisées pour :
    </p>
    <ul>
      <li>Créer et gérer votre compte utilisateur</li>
      <li>Vous identifier lors de vos connexions ultérieures</li>
      <li>Vous envoyer des notifications relatives à votre compte ou à nos services</li>
      <li>
        Permettre l'affichage de votre nom d'utilisateur ou de vos initiales sur les avis que vous
        rédigez
      </li>
      <li>Améliorer nos services et personnaliser votre expérience utilisateur</li>
    </ul>

    <h2>Protection des informations personnelles</h2>
    <p>
      Nous mettons en place des mesures de sécurité appropriées pour protéger vos
      informations personnelles contre tout accès non autorisé, modification ou destruction.
      Nous utilisons des protocoles de sécurisation des données, des pare-feu et
      des mesures de cryptage pour garantir la confidentialité de vos informations.
    </p>

    <h2>Partage des informations personnelles</h2>
    <p>
      Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans
      les cas suivants :
    </p>
    <ul>
      <li>Si vous consentez explicitement au partage de vos informations</li>
      <li>Si cela est requis par la loi ou par une ordonnance d'un tribunal compétent</li>
      <li>
        Si cela est nécessaire pour protéger nos droits, notre propriété ou notre sécurité,
        ainsi que ceux de nos utilisateurs
      </li>
    </ul>

    <h2>Conservation des informations personnelles</h2>
    <p>
      Nous conservons vos informations personnelles aussi longtemps que
      nécessaire pour atteindre les finalités pour lesquelles elles
      ont été collectées.
    </p>
    <ul>
      <li>
        Vos données seront conservées pendant toute la durée de votre inscription.
        Vous pouvez vous désinscrire à tout moment en envoyant un email à
        <a href="mailto:adm_hit_531@agglo-lorient.fr">adm_hit_531@agglo-lorient.fr</a>
      </li>
      <li>
        Après 23 mois d’inactivité sur votre compte, un mail vous sera adressé
        pour vous demander si vous souhaitez poursuivre l’utilisation de la plateforme.
        En l’absence de reconnexion à votre compte dans un délai de 30 jours,
        votre compte sera désactivé.
      </li>
    </ul>
    <p>
      Après clôture de votre compte, les éléments vous concernant seront conservés
      sous forme d’archives (à titre de preuve) pendant une durée de un an.
    </p>

    <h2>Vos droits concernant vos informations personnelles</h2>
    <p>
      Vous avez le droit d'accéder, de corriger, de mettre à jour ou de supprimer
      vos informations personnelles. Vous pouvez également vous opposer au traitement
      de vos données personnelles ou demander la limitation de leur utilisation.
      Pour exercer vos droits, veuillez nous contacter
    </p>
    <ul>
      <li>Par mail à l'adresse : <a href="mailto:dpo@agglo-lorient.fr">dpo@agglo-lorient</a></li>
      <li>
        ou par courrier postal à Lorient Agglomération, Maison de l’Agglomération,
        CS 20 001, 56 314 Lorient Cedex en indiquant vos coordonnées
        (nom, prénom, adresse et d’une pièce d’identité en cours de validité (CNI, passeport)).
      </li>
    </ul>

    <h2>Modifications de la politique de confidentialité</h2>
    <p>
      Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment.
      Toute modification sera publiée sur cette page et vous serez informé(e) des changements
      importants par le biais de notifications.
    </p>
    <p>Dernière mise à jour : 08/04/2024</p>
  </app-page-layout>
</template>
