<script
  lang="ts"
  setup
>
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useResourcesEntries from '@/ts/composables/resources/core/useResourcesEntries';
import useLegalRouteEntries from '@/ts/composables/routes/useLegalRouteEntries';
import useMainRouteEntries from '@/ts/composables/routes/useMainRouteEntries';
import { computed } from 'vue';

const mainEntries = useMainRouteEntries();
const resourceEntries = useResourcesEntries();
const legalEntries = useLegalRouteEntries();

const entries = computed(() => [
  ...mainEntries.value,
  ...resourceEntries.value,
  ...legalEntries.value,
]);
</script>

<template>
  <app-page-layout :title="$t('views.legal.siteMap.title')">
    <v-card>
      <v-card-text class="text-large">
        <ul>
          <li
            v-for="(entry, index) in entries"
            :key="`${index}`"
          >
            <template v-if="'entries' in entry">
              {{ entry.title }}
              <ul>
                <li
                  v-for="(subEntry, subIndex) in entry.entries"
                  :key="`${index}-${subIndex}`"
                >
                  <router-link :to="subEntry.to">
                    {{ subEntry.title }}
                  </router-link>
                </li>
              </ul>
            </template>
            <router-link
              v-else
              :to="entry.to"
            >
              {{ entry.title }}
            </router-link>
          </li>
        </ul>
      </v-card-text>
    </v-card>
  </app-page-layout>
</template>
