<script
  lang="ts"
  setup
>
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';

const hostName = window.location.hostname;
</script>

<template>
  <app-page-layout :title="$t('views.legal.termsOfUse.title')">
    <h2>Généralités</h2>
    <p>
      Le présent Site ({{ hostName }}, ci-après, "le Site")
      est édité par l'EPCI Lorient Agglomération (ci-après, "l'Éditeur"),
      Maison de l’Agglomération, 56314 Lorient Cedex, et développé par le
      CoWork'HIT, CMRRF de Kerpape BP
      78 5275, 56270 Ploemeur.
    </p>
    <p>
      L'utilisateur de la présente plateforme s'engage de manière explicite à se
      conformer aux présentes
      Conditions Générales d'Utilisation (C.G.U.).
    </p>
    <p>
      La présente plateforme, son contenu ainsi que la marque Les accessibles
      sont protégés par des droits d'auteurs.
    </p>

    <h2>Compte utilisateur</h2>
    <h3>Navigation sans compte utilisateur</h3>
    <p>
      La consultation du Site est
      libre et accessible à toute personne disposant d'une connection internet et du
      matériel nécessaire pour consulter des sites Internet.
      Sans connection ni inscription sur la plateforme, l'internaute a accès aux
      fonctionnalités suivantes:
    </p>
    <ul>
      <li>
        Consultation de la carte et des fiches des lieux référencés sur la
        plateforme
      </li>
      <li>
        Consultation des mentions légales, de la politique de confidentialité,
        des Conditions
        Générales d'Utilisation, de la déclaration d'accessibilité et du plan du
        site
      </li>
      <li>Consultation des évènements</li>
      <li>Consultation des actualités le cas échéant</li>
      <li>Abonnement à la Newsletter de la plateforme le cas échéant</li>
      <li>
        Configuration des préférences d'accessibilité de la plateforme (taille des
        caractères,
        contrastes, thèmes...)
      </li>
      <li>Accès aux boutons Connexion et Inscription</li>
    </ul>

    <h3>Compte utilisateur Standard</h3>
    <p>
      L'internaute a la possibilité de créer un compte d'utilisateur standard qui
      lui donne des droits supplémentaires, par rapport à une navigation sans
      connexion.
      Pour cela, il devra indiquer son nom et son prénom ou choisir un pseudo, ainsi
      qu'un mot de passe qui lui permettra de se connecter à son profil. Ce mot de
      passe est strictement confidentiel et ne doit être divulgué à quiconque. Une
      validation par mail sera adressée à l'utilisateur une fois l'inscription
      effectuée. Les droits supplémentaires ne seront actifs qu'après la validation
      faite par un lien contenu dans l'email.
    </p>
    <p>
      Une fois le compte validé, l'utilisateur standard de la présente plateforme
      pourra apporter sa contribution grâce aux fonctionnalités suivantes :
    </p>
    <ul>
      <li>
        Rédiger des avis sur l'accessibilité et donner des notes sur l'accessibilité (attribution
        d'étoiles) aux lieux et activités
        référencés sur la plateforme
      </li>
      <li>
        Indiquer les critères et les équipements d'accessibilité des lieux
        et activités référencés sur la plateforme
      </li>
      <li>
        Signaler des informations incorrectes ou compléter des informations sur
        les contenus de la plateforme (horaires, travaux...)
      </li>
      <li>
        Signaler du contenu indésirable ou un problème technique sur la plateforme
        (propos
        diffamatoires, spam, bugs...)
      </li>
      <li>Proposer des améliorations de la plateforme</li>
      <li>
        Ajouter des contenus à sa médiathéques (image, documents...). Ces contenus
        seront utiles pour pouvoir publier d'autres contenus
      </li>
      <li>
        Revendiquer un lieu ou une activité. Ce droit est soumis à validation de la part d'un
        modérateur de la
        plateforme et apporte des droits supplémentaires détaillés ci-dessous
      </li>
    </ul>
    <h3>Compte utilisateur Avancé</h3>
    <p>
      Dans le cas où la demande de revendication d'un lieu ou d'une activité serait acceptée, une
      structure à laquelle sera associé le lieu sera créée ou mise à jour en
      fonction des cas.
      (Une structure peut avoir plusieurs lieux rattachés, par contre un lieu ne
      peut être rattaché qu'à une seule structure). L'utilisateur se verra alors
      attribué le rôle de membre ou d'administrateur de la structure selon les cas.
      Il recevra un mail lui indiquant l'acceptation de sa demande
    </p>
    <h4>Compte Administrateur de structure</h4>
    <p>
      L'administrateur d'une structure peut modifier la totalité de la fiche de sa
      structure ainsi que les lieux, événements, activités et actualités qui lui sont associés :
    </p>
    <ul>
      <li>Nom, type et catégories</li>
      <li>Gestion des membres</li>
      <li>Coordonnées et horaires</li>
      <li>Liens vers les comptes tiers (Facebook, Instagram, LinkedIn...)</li>
      <li>Photos et images associées</li>
      <li>Contenu et descriptions</li>
      <li>Activités, évènements et actualités(le cas échéant)</li>
      <li>Informations administratives</li>
    </ul>
    <p>
      L'administrateur d'une structure peut également répondre à un autre usager qui aurait laissé
      un avis sur un de des lieux ou de ses activités. Cette unique réponse apparaîtra en ligne,
      tout comme l'avis initial
    </p>

    <h4>Compte membre de structures</h4>
    <p>
      Le membre d'une structure peut gérer les lieux de la structure, mais pas la
      structure elle même. Il a donc la possibilité de gérer les éléments suivants
      de ses lieux:
    </p>
    <ul>
      <li>Nom</li>
      <li>Descriptions</li>
      <li>Catégories</li>
      <li>Coordonnées et horaires</li>
      <li>Photos et images associées</li>
      <li>Critères d'accessibilité</li>
      <li>Liens vers les comptes tiers (Facebook, Instagram, LinkedIn...)</li>
      <li>Actualités et évènements</li>
    </ul>

    <h2>Restrictions d'accès et d'usage</h2>
    <p>
      L'Éditeur du Site se réserve le droit de suspendre à tout moment tout ou
      partie de ses services, sans notification préalable. De plus, l'Éditeur du Site
      se réserve le droit de résilier le compte utilisateur ou de
      rétrograder un membre ou administrateur de structure au cas où l'utilisateur
      ne respecterait pas les C.G.U. auxquelles il a souscrit, ou dans tout autre
      cas qui paraîtrait justifié à l'Éditeur du Site.
    </p>
    <p>
      Aucune réclamation ne pourra être émise par l'utilisateur en cas
      d'interruption totale ou partielle des services proposés sur le Site.
    </p>
    <p>
      Les utilisateurs disposent d'un droit d'accès, de modification, de
      rectification et de suppression des données et informations personnelles
      qu'ils ont communiquées au Site.
      <router-link :to="{ name: 'legal.legal-notice' }">
        Voir les Mentions légales.
      </router-link>
    </p>
    <p>
      Si l'utilisateur est un professionnel dont l'activité est référencée dans la
      base de données du Site et a fait l'objet d'une critique d'un autre
      utilisateur ou d'un article rédactionnel, il n'a pas de droit de
      modification, de rectification et de ces suppressions de ces avis.
    </p>
    <p>
      En aucun cas, l'Éditeur du Site ne pourra être tenu responsable des aléas
      liés à la diffusion du mot de passe par un utilisateur à un tiers.
    </p>
    <p>
      Certaines informations personnelles peuvent être divulguées sur le Site.
      Il s'agit du nom et du prénom, ou du
      pseudo le cas échéant. Toutes les autres informations ne sont pas disponibles
      pour le public, ni pour des tiers.
    </p>
    <p>
      Cependant, l'Éditeur du Site pourra être contraint à diffuser aux autorités
      compétentes et dans le respect des lois en vigueur des informations
      personnelles concernant l'utilisateur.
    </p>
    <p>
      L'utilisateur est seul responsable du contenu de ses contributions, et de
      toutes les conséquences de celles-ci vis-à-vis de tiers. Les contributions
      (textes, images, ou dessins) ne devront pas tomber sous le coup de la loi
      (propos diffamatoires, racistes, injurieux, pornographiques, incitatifs à la
      violence ou à la consommation de produits illicites, sous peine d'être
      supprimés.
    </p>
    <p>
      En outre, dans ces cas précis, l'Éditeur du Site se réserve le droit
      d'annuler l'inscription et éventuellement d'engager les démarches juridiques
      adéquates.
    </p>
    <p>
      De manière plus générale, le contenu de ces contributions devra respecter les
      lois et directives de la Communauté Européenne et de l'Espace Economique
      Européen.
    </p>
    <p>
      L'utilisateur reconnaît expressément être titulaire des droits sur les avis,
      photos, illustrations et suggestions, qu'il souhaite publier sur le site.
    </p>
    <p>
      Ces contributions doivent respecter la législation tant française
      qu'européenne en matière de propriété intellectuelle (marque déposée,
      copyright©).
    </p>
    <p>
      Par ailleurs, l'utilisateur de la présente plateforme reconnaît à l'Éditeur du Site
      le droit d'utiliser ses contributions sans aucune rétribution. Les
      avis, suggestions, photos et illustrations feront partie intégrante du fonds
      documentaire du Site et pourront être utilisés sur tout support
      du Site ou cédés à des sociétés partenaires.
    </p>
    <p>
      L'utilisateur autorise également l'Éditeur du Site à recadrer, retoucher
      les photos et modifier les avis et suggestions qu'il souhaite voir publier.
    </p>
    <p>
      Enfin, l'utilisateur de la présente plateforme s'engage à ce que l'utilisation
      qu'il fait de ce site est bien conforme aux présente C.G.U.
    </p>
    <p>
      Toute reproduction, copie du contenu du présent Site sans autorisation
      préalable de l'Éditeur du Site est strictement interdite,
      et engage la responsabilité de l'utilisateur.
    </p>
    <p>
      Vous pouvez vous désabonner de la newsletter (le cas échéant) à tout moment en cliquant sur le
      lien présent dans les e-mails.
    </p>
    <p>
      L'utilisateur de la présente plateforme accepte l'utilisation de cookies
      nécessaires au bon fonctionnement de la navigation.
    </p>
    <p>
      Le droit applicable est le droit français et la juridiction compétente
      le tribunal administratif de Rennes. En cas de litige, un règlement
      amiable pourra être recherché entre l’Éditeur du Site
      et l’utilisateur avant toute saisine du juge.
    </p>
    <p>
      Numéro de déclaration CNIL : A venir
    </p>
    <p>
      Contactez-nous par e-mail à cette adresse : adm_hit_531@agglo-lorient.fr
    </p>
    <p>Dernière mise à jour : 08/04/2024</p>
  </app-page-layout>
</template>
