<script
  lang="ts"
  setup
>
import MglMap from '@/ts/components/places/map/mgl/MglMap.vue';
import MglMapMarker from '@/ts/components/places/map/mgl/MglMapMarker.vue';
import useMapRef from '@/ts/composables/places/map/mgl/useMapRef';
import env from '@/ts/env';
import equals from '@/ts/utilities/common/equals';
import addressToGeoCoordinates from '@/ts/utilities/places/addresses/addressToGeoCoordinates';
import { GeoCoordinates } from '@/ts/utilities/places/map/types';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiCircle } from '@mdi/js';
import { ref, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', v: Optional<GeoCoordinates>): void;
}>();

const props = defineProps<{
  modelValue?: Optional<GeoCoordinates>;
}>();

const mapRef = useMapRef();

const lazyCenter = ref({
  ...(props.modelValue ?? addressToGeoCoordinates(env.services.map.center)),
});
const lazyValue = ref({
  ...(props.modelValue ?? addressToGeoCoordinates(env.services.map.center)),
});

watch(lazyCenter, (newCenter) => {
  lazyValue.value = newCenter;
});

watch(() => props.modelValue, (coordinates) => {
  const nextCoordinates = {
    ...(coordinates ?? addressToGeoCoordinates(env.services.map.center)),
  };
  if (!equals(nextCoordinates, lazyValue.value)) {
    lazyValue.value = nextCoordinates;
  }

  if (!equals(nextCoordinates, coordinates) || !equals(nextCoordinates, lazyCenter.value)) {
    lazyCenter.value = nextCoordinates;
  }
});

watch(lazyValue, (nextCoordinates) => {
  emit('update:model-value', nextCoordinates);
});
</script>

<template>
  <mgl-map
    ref="mapRef"
    v-model:center="lazyCenter"
    :zoom="16"
    v-bind="$attrs"
  >
    <mgl-map-marker
      :map="mapRef?.map()"
      :title="$t('forms.coordinates.labels.marker')"
      :coordinates="lazyValue"
      :icon="mdiCircle"
    />
  </mgl-map>
</template>
