<script
  lang="ts"
  setup
>
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import useAsync from '@/ts/composables/common/useAsync';
import useFocus from '@/ts/composables/common/useFocus';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import uniqBy from '@/ts/utilities/arrays/uniqBy';
import isNone from '@/ts/utilities/common/isNone';
import debounce from '@/ts/utilities/functions/debounce';
import reverseSearchAddress from '@/ts/utilities/places/addresses/reverseSearchAddress';
import searchAddresses from '@/ts/utilities/places/addresses/searchAddresses';
import addressToPOI from '@/ts/utilities/places/map/addressToPOI';
import customToPOI from '@/ts/utilities/places/map/customToPOI';
import toGeoCoordinates from '@/ts/utilities/places/map/mgl/toGeoCoordinates';
import placeToPOI from '@/ts/utilities/places/map/placeToPOI';
import positionToPOI from '@/ts/utilities/places/map/positionToPOI';
import { GeoCoordinates, MglMapRef, PointOfInterest } from '@/ts/utilities/places/map/types';
import mapPlacesAction from '@/ts/utilities/places/mapPlacesAction';
import { AddressObject } from '@/ts/utilities/places/types';
import toTrim from '@/ts/utilities/strings/toTrim';
import { Optional } from '@/ts/utilities/types/optional';
import { all } from '@foscia/core';
import { filterBy, paginate, sortBy } from '@foscia/jsonapi';
import { MapMouseEvent } from 'maplibre-gl';
import { computed, onBeforeUnmount, onMounted, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', v: Optional<PointOfInterest>): void;
}>();

const props = defineProps<{
  modelValue?: Optional<PointOfInterest>;
  map?: MglMapRef;
  initWithMyPosition?: boolean;
}>();

const itemProps = (poi: PointOfInterest) => ({
  prependIcon: poi.icon,
  subtitle: poi.subtitle,
});

const i18n = useI18n();
const { loading, asyncRun } = useAsync();
const lazyValue = useLazyValue(computed(() => props.modelValue ?? undefined));

const customCoordinates = ref(null as GeoCoordinates | null);
const customAddress = ref(null as AddressObject | null);

const positionPOI = computed(() => (props.map ? positionToPOI(props.map) : null));
const customPOI = computed(() => (
  customCoordinates.value ? customToPOI(customCoordinates.value, customAddress.value) : undefined
));

const { focused } = useFocus();
const lazySearch = ref('');
const lazyItems = ref([] as PointOfInterest[]);
const lazyFocused = ref(false);

const noDataText = computed(() => (
  loading.value
    ? i18n.t('states.loading')
    : i18n.t('forms.autocomplete.refineSearch', { n: 0 })
));
const lazyUniqItems = computed(() => uniqBy([
  ...(customPOI.value ? [customPOI.value] : []),
  ...(positionPOI.value ? [positionPOI.value] : []),
  ...(lazyValue.value ? [lazyValue.value] : []),
  ...lazyItems.value,
], 'id'));

const fetchItems = debounce((search?: Optional<string>) => asyncRun(async () => {
  const trimSearch = toTrim(search);
  if (isNone(trimSearch)) {
    lazyItems.value = [];

    return;
  }

  lazyItems.value = [
    ...(
      await mapPlacesAction()
        .use(filterBy('search', trimSearch))
        .use(sortBy('search'))
        .use(paginate({ size: 10 }))
        .run(all())
    ).map((p) => placeToPOI(p)),
    ...(await searchAddresses(trimSearch, {
      limit: 10,
    })).map(addressToPOI),
  ];
}));

watch(lazySearch, (nextSearch) => fetchItems(nextSearch));

watch(lazyValue, (value) => {
  if (customPOI.value && customPOI.value.id !== value?.id) {
    customCoordinates.value = null;
    customAddress.value = null;
  }

  emit('update:model-value', value);
});

watch(focused, (nextValue, prevValue) => {
  if (!nextValue && prevValue) {
    lazyFocused.value = true;
    setTimeout(() => {
      lazyFocused.value = false;
    }, 250);
  } else {
    lazyFocused.value = nextValue;
  }
});

const onMapClick = async (event: MapMouseEvent) => {
  if (lazyFocused.value) {
    lazyFocused.value = false;
    customCoordinates.value = toGeoCoordinates(event.lngLat);
    lazyValue.value = customPOI.value;
    const address = await reverseSearchAddress(customCoordinates.value);
    if (customCoordinates.value) {
      customAddress.value = address;
      if (lazyValue.value?.id === 'custom') {
        lazyValue.value = customPOI.value;
      }
    }
  }
};

onMounted(async () => {
  const map = props.map?.map?.();
  if (map) {
    map.on('click', onMapClick);
  }

  if (props.map && props.initWithMyPosition && !props.modelValue) {
    const canGetLocation = await props.map.canGetLocation();
    if (canGetLocation && positionPOI.value) {
      lazyValue.value = positionPOI.value;
    }
  }
});

onBeforeUnmount(() => {
  const map = props.map?.map?.();
  if (map) {
    map.off('click', onMapClick);
  }
});
</script>

<template>
  <v-select-input
    v-model="lazyValue"
    v-model:search="lazySearch"
    v-model:focused="focused"
    :no-data="noDataText"
    :items="lazyUniqItems"
    :item-props="itemProps"
    item-value="id"
    item-title="title"
    autocomplete
    return-object
    no-filter
    v-bind="$attrs"
  >
    <template
      v-if="$slots.prepend"
      #prepend
    >
      <slot name="prepend" />
    </template>
    <template
      v-if="$slots['prepend-inner']"
      #prepend-inner
    >
      <slot name="prepend-inner" />
    </template>
  </v-select-input>
</template>
