<script
  lang="ts"
  setup
>
import { Categorizable } from '@/ts/api/composables/categorizable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Categorizable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.categories">
    <resource-list-value
      v-slot="{ item }"
      :items="instance.categories"
    >
      <resource-instance-value :instance="item" />
    </resource-list-value>
  </teleport-to-portal>
</template>
