<script
  setup
  lang="ts"
>
import VCategoryInput from '@/ts/components/forms/instances/VCategoryInput.vue';
import VInputClear from '@/ts/components/forms/VInputClear.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import isNone from '@/ts/utilities/common/isNone';

const props = defineProps<{
  categoryInput: Input;
}>();

const col = useCol('large');

const onClearCategory = () => {
  // eslint-disable-next-line vue/no-mutating-props
  props.categoryInput.value = [];
};
</script>

<template>
  <v-col v-bind="col">
    <v-category-input
      :return-object="false"
      prepend-none-item
      multiple
      hide-details
      v-bind="categoryInput.props"
    >
      <template #append-inner>
        <v-input-clear
          :label="categoryInput.props.label"
          :active="!isNone(categoryInput.props.modelValue)"
          @clear="onClearCategory"
        />
      </template>
    </v-category-input>
  </v-col>
</template>
