<script
  lang="ts"
  setup
>
import VCategoryInput from '@/ts/components/forms/instances/VCategoryInput.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';

defineProps<{
  categoriesInput: Input;
}>();

const largeCol = useCol('large');
</script>

<template>
  <v-col v-bind="largeCol">
    <v-category-input
      multiple
      v-bind="categoriesInput.props"
    />
  </v-col>
</template>
