@use "sass:map";

$-font-formats-map: ("ttf": "truetype");
$-font-weights-map: ("Regular": 400, "Bold": 700);

@mixin fontFace($name, $weight, $extensions) {
  $font-path: $name+"/"+$name+"-"+$weight+".";
  $font-src: local("#{$name}-#{$weight}"), local("#{$name} #{$weight}");
  @each $ext in $extensions {
    $font-path-with-ext: $font-path + $ext;
    $font-src: $font-src, url("@/assets/fonts/#{$font-path-with-ext}") format(map.get($-font-formats-map, $ext));
  }

  @font-face {
    font-family: $name;
    font-style: normal;
    font-weight: map.get($-font-weights-map, $weight);
    src: $font-src;
    font-display: swap;
  }
}
