.v-theme--lightHighContrast {
  .text-info {
    color: #04294a !important;
  }
  .text-success {
    color: #173a18 !important;
  }
  .text-warning {
    color: #4b2a00 !important;
  }
  .text-error {
    color: #58000f !important;
  }
}
