<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import useProgressProps from '@/ts/composables/common/useProgressProps';
import useForm, { FormEvent } from '@/ts/composables/forms/useForm';
import { Input } from '@/ts/composables/forms/useInput';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { Dictionary } from '@/ts/utilities/types/dictionary';

type FormProps<Inputs extends readonly Input[]> = {
  inputs: Inputs;
  boot?: () => Awaitable<Dictionary>;
  onSubmit?: (event: FormEvent<Inputs>) => Awaitable<void>;
};

const props = defineProps<FormProps<any>>();

const form = useForm(props.inputs, {
  preventLeaving: true,
  async boot() {
    const values = await props.boot?.();

    form.fill(values ?? {});
  },
  async onSubmit(event) {
    await props.onSubmit?.(event);
  },
});

const progressProps = useProgressProps();
</script>

<template>
  <v-form
    :ref="form.formRef"
    :readonly="form.booting.value"
    @submit="form.onSubmit"
  >
    <v-card class="resource-form__card">
      <template #loader>
        <v-slide-y-transition>
          <v-progress-linear
            v-if="form.booting.value"
            indeterminate
            v-bind="progressProps"
          />
        </v-slide-y-transition>
      </template>
      <v-card-text>
        <v-row dense>
          <v-col cols="12">
            <required-inputs-hint />
          </v-col>
          <slot v-bind="{ form }" />
        </v-row>
      </v-card-text>
      <div class="resource-form__actions bg-surface">
        <app-divider />
        <v-card-actions class="resource-form__actions__wrapper">
          <div class="px-2 mr-auto">
            <v-slide-y-transition>
              <div
                v-if="form.errorsCount.value"
                class="text-error mr-auto"
              >
                {{ $t('states.scoped.errors', { n: form.errorsCount.value }) }}
              </div>
            </v-slide-y-transition>
          </div>
          <slot
            name="actions"
            v-bind="{ form }"
          />
        </v-card-actions>
      </div>
    </v-card>
  </v-form>
</template>

<style
  lang="scss"
  scoped
>
  .resource-form__card {
    overflow: unset;

    .resource-form__actions {
      position: sticky;
      bottom: 0;
      z-index: 1;
      border-radius: inherit;

      .resource-form__actions__wrapper {
        border-radius: inherit;
      }
    }
  }
</style>
