<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import ActivitiesResourceViewView from '@/ts/views/resources/activities/views/ActivitiesResourceViewView.vue';
</script>

<template>
  <activities-resource-view-view :activity-type="ActivityTypeCode.ACTIVITIES" />
</template>
