<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import MglMapBtn from '@/ts/components/places/map/mgl/controls/MglMapBtn.vue';
import MglMapBtnGroup from '@/ts/components/places/map/mgl/controls/MglMapBtnGroup.vue';
import MapObstacleMarker from '@/ts/components/places/obstacles/MapObstacleMarker.vue';
import MapObstaclesListDialog from '@/ts/components/places/obstacles/MapObstaclesListDialog.vue';
import debounce from '@/ts/utilities/functions/debounce';
import toMglCoordinates from '@/ts/utilities/places/map/mgl/toMglCoordinates';
import { GeoCoordinates } from '@/ts/utilities/places/map/types';
import Obstacle from '@/ts/utilities/places/obstacles/obstacle';
import obstacleAdapter from '@/ts/utilities/places/obstacles/obstacleAdapter';
import { mdiClose, mdiFormatListBulletedType, mdiTrafficCone } from '@mdi/js';
import { Map } from 'maplibre-gl';
import { ref, toRef, watch } from 'vue';

const props = defineProps<{
  map: Map;
  center: GeoCoordinates;
  zoom: number;
}>();

const showObstacles = ref(false);
const obstacles = ref(null as Obstacle[] | null);
const visibleObstacles = ref([] as Obstacle[]);

const onBoundsChange = () => {
  const bounds = props.map.getBounds();

  visibleObstacles.value = (obstacles.value ?? []).filter(
    (obstacle) => bounds.contains(toMglCoordinates(obstacle.point)),
  );
};

const debouncedOnBoundsChange = debounce(onBoundsChange, 100);

watch([toRef(props, 'center'), toRef(props, 'zoom')], debouncedOnBoundsChange);

const fetchObstacles = async () => {
  if (obstacles.value === null) {
    obstacles.value = await obstacleAdapter!.computeObstacles();
    debouncedOnBoundsChange();
  }
};

const onToggleShowObstacles = () => {
  showObstacles.value = !showObstacles.value;
  fetchObstacles();
};
</script>

<template>
  <mgl-map-btn-group
    v-if="obstacleAdapter"
    vertical
  >
    <mgl-map-btn
      :icon="showObstacles ? mdiClose : mdiTrafficCone"
      :aria-pressed="showObstacles"
      :aria-label="
        showObstacles
          ? $t('map.map.obstacles.control.hideObstacles')
          : $t('map.map.obstacles.control.showObstacles')
      "
      @click="onToggleShowObstacles"
    />
    <v-expand-transition>
      <div
        v-if="showObstacles"
        style="border-radius: inherit;"
      >
        <app-divider />
        <map-obstacles-list-dialog :obstacles="visibleObstacles">
          <template #activator="{ props: activatorProps }">
            <mgl-map-btn
              :aria-label="$t('map.map.obstacles.control.listObstacles')"
              :icon="mdiFormatListBulletedType"
              v-bind="activatorProps"
            />
          </template>
        </map-obstacles-list-dialog>
      </div>
    </v-expand-transition>
  </mgl-map-btn-group>
  <map-obstacle-marker
    v-for="obstacle in visibleObstacles"
    :key="`obstacles-${obstacle.id}`"
    :map="map"
    :obstacle="obstacle"
    :hide="!showObstacles"
  />
</template>
