<script
  lang="ts"
  setup
>
import useMglMapControl from '@/ts/composables/places/map/mgl/useMglMapControl';
import { ControlPosition, Map } from 'maplibre-gl';

const props = defineProps<{
  map: Map;
  position: ControlPosition;
}>();

const { controlRef } = useMglMapControl(props.map, props.position);
</script>

<template>
  <div
    ref="controlRef"
    class="mgl-map__control"
    v-bind="$attrs"
  >
    <slot />
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .mgl-map__control {
    pointer-events: auto;
  }
</style>
