<script
  lang="ts"
  setup
>
import AppImg from '@/ts/components/common/AppImg.vue';
import useClickListener from '@/ts/composables/dom/useClickListener';
import env from '@/ts/env';
import addressToGeoCoordinates from '@/ts/utilities/places/addresses/addressToGeoCoordinates';
import { MglMapLayer } from '@/ts/utilities/places/map/mgl/layers/makeMglMapLayer';
import makeMglMapLayerPreview from '@/ts/utilities/places/map/mgl/layers/makeMglMapLayerPreview';
import { mdiCheckCircleOutline, mdiCircleOutline } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'click', event: Event): void;
}>();

const props = defineProps<{
  active: boolean;
  layer: MglMapLayer;
}>();

const i18n = useI18n();

const title = computed(() => props.layer.title(i18n));
const icon = computed(() => (props.active ? mdiCheckCircleOutline : mdiCircleOutline));
const color = computed(() => (props.active ? 'on-primary' : 'on-surface'));
const preview = computed(() => makeMglMapLayerPreview(
  props.layer,
  addressToGeoCoordinates(env.services.map.center),
  env.services.map.zoom,
));

const cardListeners = useClickListener((event) => {
  emit('click', event);
});
</script>

<template>
  <v-card
    :aria-pressed="active"
    role="button"
    tabindex="0"
    :class="{ 'layer--active text-primary': active, 'text-on-surface': !active }"
    class="layer outline--custom position-relative"
    v-bind="cardListeners"
  >
    <v-responsive
      :aspect-ratio="1"
      content-class="bg-background"
    >
      <app-img
        :src="preview"
        class="d-flex w-100"
      />
    </v-responsive>
    <div class="layer__overlay position-absolute right-0 bottom-0 left-0 px-3 py-1">
      <div
        :title="title"
        class="text-caption text-center text-truncate"
      >
        {{ title }}
      </div>
    </div>
    <div class="layer__overlay layer__selection position-absolute top-0 left-0">
      <v-icon
        :icon="icon"
        :color="color"
        class="ma-2"
      />
    </div>
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  .layer {
    outline-offset: 1px;
    outline-width: 2px;
    outline-color: rgba(var(--v-theme-primary), 0.80);

    &__overlay {
      background: rgb(var(--v-theme-on-surface), 0.80);
      color: rgb(var(--v-theme-surface));
    }

    &__selection {
      border-top-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    &--active {
      .layer__overlay {
        background: rgb(var(--v-theme-primary), 0.80);
        color: rgb(var(--v-theme-on-primary));
      }
    }
  }
</style>
