<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import MglMapBtn from '@/ts/components/places/map/mgl/controls/MglMapBtn.vue';
import MglMapBtnGroup from '@/ts/components/places/map/mgl/controls/MglMapBtnGroup.vue';
import { mdiMinus, mdiPlus } from '@mdi/js';
import { Map } from 'maplibre-gl';

const props = defineProps<{
  map: Map;
}>();

const onZoomIn = () => {
  props.map.zoomIn();
};

const onZoomOut = () => {
  props.map.zoomOut();
};
</script>

<template>
  <mgl-map-btn-group vertical>
    <mgl-map-btn
      :aria-label="$t('map.map.labels.zoomIn')"
      :icon="mdiPlus"
      @click="onZoomIn"
    />
    <app-divider />
    <mgl-map-btn
      :aria-label="$t('map.map.labels.zoomOut')"
      :icon="mdiMinus"
      @click="onZoomOut"
    />
  </mgl-map-btn-group>
</template>
