<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import MglMapBtn from '@/ts/components/places/map/mgl/controls/MglMapBtn.vue';
import MglMapBtnGroup from '@/ts/components/places/map/mgl/controls/MglMapBtnGroup.vue';
import MglMapLayerItem from '@/ts/components/places/map/mgl/controls/MglMapLayerItem.vue';
import { MglMapLayer } from '@/ts/utilities/places/map/mgl/layers/makeMglMapLayer';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { mdiLayersOutline } from '@mdi/js';
import { ref } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', id: string): void;
}>();

defineProps<{
  modelValue: string;
  layers: Dictionary<MglMapLayer>;
}>();

const dialog = ref(false);

const onChangeLayer = (id: string) => {
  emit('update:model-value', id);
};
</script>

<template>
  <mgl-map-btn-group vertical>
    <app-dialog
      v-model="dialog"
      :title="$t('map.map.labels.layers')"
    >
      <template #activator="{ props }">
        <mgl-map-btn
          :aria-label="$t('map.map.labels.layers')"
          :icon="mdiLayersOutline"
          v-bind="props"
        />
      </template>
      <app-divider />
      <v-card-text class="pa-2">
        <v-row dense>
          <v-col
            v-for="layer in layers"
            :key="layer.id"
            cols="6"
            sm="4"
          >
            <mgl-map-layer-item
              :active="layer.id === modelValue"
              :layer="layer"
              @click="onChangeLayer(layer.id)"
            />
          </v-col>
        </v-row>
      </v-card-text>
    </app-dialog>
  </mgl-map-btn-group>
</template>
