<script
  lang="ts"
  setup
>
import AppHtml from '@/ts/components/data/AppHtml.vue';
import MglMapControl from '@/ts/components/places/map/mgl/controls/MglMapControl.vue';
import { MglMapLayer } from '@/ts/utilities/places/map/mgl/layers/makeMglMapLayer';
import { Map } from 'maplibre-gl';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  map: Map;
  layer: MglMapLayer;
}>();

const i18n = useI18n();

const attribution = computed(() => props.layer.attribution(i18n));
</script>

<template>
  <mgl-map-control
    :map="map"
    position="bottom-right"
    class="mgl-map__attribution bg-surface pa-1"
  >
    <app-html
      :value="attribution"
      class="text-tiny text-right font-family-body"
    />
  </mgl-map-control>
</template>

<style
  lang="scss"
  scoped
>
  .mgl-map__attribution {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: inherit;

    :deep(p) {
      margin: 0 !important;
    }
  }
</style>
