<script
  lang="ts"
  setup
>
defineProps<{
  vertical?: boolean;
}>();
</script>

<template>
  <v-card
    :class="{ 'flex-column': vertical }"
    class="mgl-map__btn-group d-flex ma-2"
    elevation="3"
  >
    <div class="mgl-map__btn-group__container">
      <slot />
    </div>
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  .mgl-map__btn-group {
    .mgl-map__btn-group__container {
      border-radius: inherit;

      :deep(.mgl-map__btn) {
        border-radius: 0 !important;

        &:first-child {
          border-top-left-radius: inherit !important;
          border-top-right-radius: inherit !important;
        }

        &:last-child {
          border-bottom-left-radius: inherit !important;
          border-bottom-right-radius: inherit !important;
        }
      }
    }
  }
</style>
