<script
  lang="ts"
  setup
>
import { Pinnable } from '@/ts/api/composables/pinnable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceBooleanValue from '@/ts/components/resources/core/data/ResourceBooleanValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: Pinnable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.pinned">
    <resource-boolean-value :value="instance.pinned" />
  </teleport-to-portal>
</template>
