<script
  setup
  lang="ts"
>
import { Pinnable } from '@/ts/api/composables/pinnable';
import { mdiPin } from '@mdi/js';

defineProps<{
  pinnable: Pinnable;
}>();
</script>

<template>
  <v-chip
    v-if="pinnable.pinned"
    :prepend-icon="mdiPin"
    color="primary"
    class="font-weight-bold"
  >
    {{ $t('resources.composables.pinnable.states.pinned') }}
  </v-chip>
</template>
