<script
  lang="ts"
  setup
>
import VPlaceInput from '@/ts/components/forms/instances/VPlaceInput.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';

defineProps<{
  placesInput: Input;
}>();

const largeCol = useCol('large');
</script>

<template>
  <v-col v-bind="largeCol">
    <v-place-input
      multiple
      v-bind="placesInput.props"
    />
  </v-col>
</template>
