<script
  lang="ts"
  setup
>
import ManyActivator from '@/ts/components/resources/core/activators/many/ManyActivator.vue';
import useResourceRouteMany from '@/ts/composables/resources/core/useResourceRouteMany';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { mdiPlus } from '@mdi/js';

const props = defineProps<{
  type: string;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
}>();

const to = useResourceRouteMany(props.type, 'create');
</script>

<template>
  <many-activator
    action="create"
    :to="to"
    :icon="mdiPlus"
    color="primary"
  />
</template>
