<script
  lang="ts"
  setup
>
defineProps<{
  action: string;
  color: string;
  icon: string;
}>();
</script>

<template>
  <v-btn
    :prepend-icon="icon"
    :color="color"
    variant="elevated"
    size="large"
  >
    {{ $t(`actions.${action}`) }}
  </v-btn>
</template>
