<script
    lang="ts"
    setup
>
import AppList from '@/ts/components/data/AppList.vue';
import AppListItem from '@/ts/components/data/AppListItem.vue';
import { ManyActivatorsFactory } from '@/ts/composables/resources/composables/core/types';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { computed } from 'vue';

const props = defineProps<{
  type: string;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  activators: ManyActivatorsFactory;
}>();

const manyActivators = computed(() => props.activators({
  type: props.type,
}));
</script>

<template>
  <app-list v-if="manyActivators.length">
    <app-list-item
      v-for="(activator, index) in manyActivators"
      :key="index"
    >
      <component
        :is="activator"
        :type="type"
        :refresh="refresh"
        :invalidate="invalidate"
      />
    </app-list-item>
  </app-list>
</template>
