<script
  setup
  lang="ts"
>
import { useLangStore } from '@/ts/stores/lang';
import formatDates from '@/ts/utilities/dates/formatDates';
import { DateFormatOptions } from '@/ts/utilities/dates/formatDateUsing';
import { mdiChevronRight } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  start: Date;
  end: Date;
}>();

const i18n = useI18n();
const lang = useLangStore();

const dates = computed(() => (options: DateFormatOptions) => formatDates([
  props.start, props.end,
], lang.locale, options));
const shortDates = computed(() => dates.value({ format: 'short' }));
const longDates = computed(() => dates.value({ format: 'long' }));
const title = computed(() => i18n.t('common.dates.period', {
  start: longDates.value[0],
  end: longDates.value[0],
}));
</script>

<template>
  <span :aria-label="title">
    <span aria-hidden="true">
      {{ shortDates[0] }}&nbsp;<v-icon :icon="mdiChevronRight" />&nbsp;{{ shortDates[1] }}
    </span>
  </span>
</template>
