<script
  setup
  lang="ts"
>
import { useLangStore } from '@/ts/stores/lang';
import formatDates from '@/ts/utilities/dates/formatDates';
import { DateFormat } from '@/ts/utilities/dates/formatDateUsing';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  dates: Date[];
}>();

const i18n = useI18n();
const lang = useLangStore();

const others = computed(() => (
  props.dates.length - 1
    ? i18n.t('common.dates.list.others', { n: props.dates.length - 1 })
    : null
));

const computeTitle = (date: string) => `${date}${others.value ? ` ${others.value}` : ''}`;
const computeDate = (format: DateFormat) => formatDates(
  [props.dates[0]],
  lang.locale,
  { format },
)[0];

const label = computed(() => computeTitle(computeDate('short')));
const title = computed(() => computeTitle(computeDate('long')));
</script>

<template>
  <span :aria-label="title">
    <span aria-hidden="true">
      {{ label }}
    </span>
  </span>
</template>
