<script
  lang="ts"
  setup
>
import VAddressAutocomplete from '@/ts/components/forms/address/VAddressAutocomplete.vue';
import VMapCoordinatesPointer from '@/ts/components/forms/map/VMapCoordinatesPointer.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import env from '@/ts/env';
import addressToCityAddress from '@/ts/utilities/places/addresses/addressToCityAddress';
import addressToGeoCoordinates from '@/ts/utilities/places/addresses/addressToGeoCoordinates';
import toGeometry from '@/ts/utilities/places/map/mgl/toGeometry';
import { AddressObject, AddressType } from '@/ts/utilities/places/types';
import { Optional } from '@/ts/utilities/types/optional';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', v: Optional<AddressObject>): void;
}>();

const props = defineProps<{
  label: string;
  modelValue?: Optional<AddressObject>;
  addressType?: AddressType;
}>();

const i18n = useI18n();

const dialog = ref(false);

const addressInput = useInput({
  name: 'address',
  label: i18n.t('forms.address.labels.address'),
  value: '',
  rules: [max(500)],
});

const cityInput = useInput({
  name: 'city',
  label: i18n.t('forms.address.labels.city'),
  value: null as Optional<AddressObject>,
  rules: [required],
});

const coordinatesInput = useInput({
  name: 'coordinates',
  value: addressToGeoCoordinates(env.services.map.center),
});

const { loading, btnLoading, fill, onSubmit } = useForm([
  addressInput, cityInput, coordinatesInput,
] as const, {
  async onSubmit({ allValues }) {
    emit('update:model-value', {
      id: 'custom',
      type: 'housenumber',
      address: allValues.address,
      city: allValues.city!.city,
      postalCode: allValues.city!.postalCode,
      inseeCode: allValues.city!.inseeCode,
      geometry: toGeometry(allValues.coordinates),
    });

    dialog.value = false;
  },
});

const fillFromModel = () => {
  fill(props.modelValue ? {
    address: props.modelValue.address,
    city: addressToCityAddress(props.modelValue),
    coordinates: {
      longitude: props.modelValue.geometry.coordinates[0],
      latitude: props.modelValue.geometry.coordinates[1],
    },
  } : {
    address: '',
    city: null,
    coordinates: addressToGeoCoordinates(env.services.map.center),
  });
};

watch(dialog, (value) => {
  if (value) {
    fillFromModel();
  }
});

watch(() => props.modelValue, () => {
  fillFromModel();
});

const onResetCoordinates = () => {
  fill({
    coordinates: addressToGeoCoordinates(props.modelValue ?? env.services.map.center),
  });
};

const onClose = () => {
  dialog.value = false;
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="$t('actions.scoped.edit', { name: label })"
    :persistent="loading"
    :form-props="{ readonly: loading, onSubmit }"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="activatorProps"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-col cols="12">
          <v-text-field v-bind="addressInput.props" />
        </v-col>
        <v-col cols="12">
          <v-address-autocomplete
            address-type="municipality"
            v-bind="cityInput.props"
          />
        </v-col>
        <v-col cols="12">
          <p class="text-caption text-center mt-0 mb-1">
            {{ $t('forms.address.labels.customizeCoordinates') }}
          </p>
          <v-map-coordinates-pointer
            v-model="coordinatesInput.props.modelValue"
            class="rounded-s-xl rounded-te-xl rounded-be-lg"
            style="height: 350px;"
          />
          <v-btn
            variant="tonal"
            size="small"
            class="mt-2"
            block
            @click="onResetCoordinates"
          >
            {{ $t('forms.address.labels.resetCoordinates') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn
        variant="text"
        @click="onClose"
      >
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="primary"
        v-bind="btnLoading"
      >
        {{ $t('actions.confirm') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
