<script
  lang="ts"
  setup
>
import VAddressAutocomplete from '@/ts/components/forms/address/VAddressAutocomplete.vue';
import VAddressDialogInput from '@/ts/components/forms/address/VAddressDialogInput.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import { AddressObject, AddressType } from '@/ts/utilities/places/types';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiPencilOutline } from '@mdi/js';
import { toRef, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', v: Optional<AddressObject>): void;
}>();

const props = defineProps<{
  modelValue?: Optional<AddressObject>;
  label: string;
  density?: 'compact' | 'comfortable' | 'default';
  addressType?: AddressType;
}>();

const lazyValue = useLazyValue(toRef(props, 'modelValue'));

watch(lazyValue, (value) => {
  emit('update:model-value', value);
});
</script>

<template>
  <v-address-autocomplete
    v-model="lazyValue"
    :label="label"
    :density="density"
    v-bind="$attrs"
  >
    <template #append-inner>
      <v-address-dialog-input
        v-model="lazyValue"
        :label="label"
        :address-type="addressType"
      >
        <template #activator="{ props: activatorProps }">
          <v-btn
            :density="density === 'compact' ? 'comfortable' : undefined"
            :title="$t('actions.scoped.edit', { name: label })"
            :icon="mdiPencilOutline"
            color="primary"
            variant="text"
            v-bind="activatorProps"
            @mousedown.stop
          />
        </template>
      </v-address-dialog-input>
    </template>
  </v-address-autocomplete>
</template>
