<script
  lang="ts"
  setup
>
import VAsyncSelectInput from '@/ts/components/forms/selects/VAsyncSelectInput.vue';
import addressIcon from '@/ts/utilities/places/addresses/addressIcon';
import addressLabel from '@/ts/utilities/places/addresses/addressLabel';
import addressTitles from '@/ts/utilities/places/addresses/addressTitles';
import searchAddresses from '@/ts/utilities/places/addresses/searchAddresses';
import { AddressObject, AddressType } from '@/ts/utilities/places/types';

const props = defineProps<{
  addressType?: AddressType;
}>();

const itemValue = (address: AddressObject) => address.id ?? 'custom';
const itemTitle = (address: AddressObject) => addressLabel(address);
const itemProps = (address: AddressObject) => {
  const [title, subtitle] = addressTitles(address);

  return { prependIcon: addressIcon(address), title, subtitle };
};

const defaultItems = async () => ({ items: [], more: 0 });
const queryItems = async (search: string) => {
  const items = await searchAddresses(search, {
    limit: 10, addressType: props.addressType,
  });

  return { items, more: 0 };
};
</script>

<template>
  <v-async-select-input
    :default-items="defaultItems"
    :query-items="queryItems"
    :item-title="itemTitle"
    :item-value="itemValue"
    :item-props="itemProps"
    return-object
    v-bind="$attrs"
  >
    <template
      v-if="$slots['append-inner']"
      #append-inner
    >
      <slot name="append-inner" />
    </template>
  </v-async-select-input>
</template>
