<script
  lang="ts"
  setup
>
import accessibilitySvg from '@/assets/icons/accessibility.svg?raw';
import AccessibilityCriteriaList from '@/ts/components/accessibility/AccessibilityCriteriaList.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import isNone from '@/ts/utilities/common/isNone';
import FeatureName from '@/ts/utilities/features/featureName';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { mdiChevronDown, mdiChevronUp } from '@mdi/js';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref } from 'vue';

const props = defineProps<{
  values: Dictionary;
  role?: string;
  always?: boolean;
  main?: boolean;
  dense?: boolean;
}>();

const accessibilityIcon = makeSvgIcon(accessibilitySvg);

const panelId = ref(`criteria-panel-${uuidV4()}`);
const expanded = ref(false);

const criteriaCount = computed(() => (
  Object.values(props.values).filter((v) => !isNone(v)).length
));

const buttonAttrs = computed(() => (
  criteriaCount.value > 0
    ? {
      appendIcon: expanded.value ? mdiChevronUp : mdiChevronDown,
      'aria-expanded': String(expanded.value),
      'aria-controls': panelId.value,
      role: 'button',
      tabindex: '0',
      onClick: () => {
        expanded.value = !expanded.value;
      },
    }
    : {}
));
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <div
    v-if="FeatureName.ACCESSIBILITY.check() && (always || criteriaCount > 0)"
    :role="role"
    :class="{ 'info-list__item--main': main }"
    class="info-list__item"
  >
    <v-list-item
      :prepend-icon="accessibilityIcon"
      :title="$t('accessibility.criteria.panel.title')"
      :subtitle="$t('accessibility.criteria.panel.criteriaCount', { n: criteriaCount })"
      :aria-expanded="String(expanded)"
      v-bind="{ ...$attrs, ...buttonAttrs }"
    />
    <v-expand-transition>
      <accessibility-criteria-list
        v-show="expanded"
        :id="panelId"
        :values="values"
        :dense="dense"
        class="info-list__item__inner"
      />
    </v-expand-transition>
    <app-divider
      v-if="main"
      class="mx-4"
    />
  </div>
</template>
