<script
  lang="ts"
  setup
>
import AccessibilityCriteria from '@/ts/api/enums/accessibilityCriteria';
import AccessibilityCriteriaType from '@/ts/api/enums/accessibilityCriteriaType';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import wrap from '@/ts/utilities/arrays/wrap';
import isNone from '@/ts/utilities/common/isNone';
import { mdiCheckBold, mdiCloseThick, mdiMinusThick } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  criteria: AccessibilityCriteria;
  value: any;
}>();

const i18n = useI18n();

const labelText = computed(() => i18n.t(`accessibility.criteria.labels.${props.criteria.id}`));
const valueText = computed(() => {
  if (
    AccessibilityCriteriaType.TEXT.is(props.criteria.type)
    || AccessibilityCriteriaType.STRING.is(props.criteria.type)
    || AccessibilityCriteriaType.INTEGER.is(props.criteria.type)
  ) {
    return props.value;
  }

  if (AccessibilityCriteriaType.BOOLEAN.is(props.criteria.type)) {
    return i18n.t(`accessibility.criteria.values.boolean.${props.value ? 'yes' : 'no'}`);
  }

  return wrap(props.value)
    .map((v) => i18n.t(`accessibility.criteria.values.${props.criteria.id}.${v}`))
    .join(', ');
});
const valuePositive = computed(() => {
  if (
    AccessibilityCriteriaType.TEXT.is(props.criteria.type)
    || AccessibilityCriteriaType.STRING.is(props.criteria.type)
    || AccessibilityCriteriaType.INTEGER.is(props.criteria.type)
  ) {
    return !isNone(props.value);
  }

  if (AccessibilityCriteriaType.BOOLEAN.is(props.criteria.type)) {
    return props.criteria.positive ? props.value : !props.value;
  }

  return (typeof props.criteria.positive === 'boolean' && wrap(props.value).length > 0)
    || wrap(props.value).some((v) => wrap(props.criteria.positive).indexOf(v as any) !== -1);
});

const icon = computed(() => {
  if (props.criteria.positive === null) {
    return {
      icon: mdiMinusThick,
      color: undefined,
    };
  }

  return valuePositive.value
    ? {
      icon: mdiCheckBold,
      color: 'success',
    }
    : {
      icon: mdiCloseThick,
      color: 'error',
    };
});
</script>

<template>
  <div>
    <v-list-item
      density="compact"
      class="criteria-list-item pa-0"
    >
      <template #prepend>
        <v-icon
          size="20"
          v-bind="icon"
        />
      </template>
      <v-list-item-subtitle v-if="criteria.id === 'registryURL'">
        <a
          :href="value"
          target="_blank"
          rel="noopener"
        >
          {{ $t('accessibility.criteria.values.registryURL') }}
          <open-in-new-icon />
        </a>
      </v-list-item-subtitle>
      <v-list-item-subtitle v-else>
        <div>
          {{ labelText }}
          <template v-if="!isNone(valueText)">
            :
            <br v-if="AccessibilityCriteriaType.TEXT.is(criteria.type)">
            <span class="text-formatted font-weight-bold">
              {{ valueText }}
            </span>
          </template>
        </div>
      </v-list-item-subtitle>
    </v-list-item>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .criteria-list-item {
    min-height: auto;

    :deep(.v-list-item__prepend) {
      align-self: start;
    }
  }
</style>
