<script
  lang="ts"
  setup
>
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AccessibilityCriteriaCategory from '@/ts/api/enums/accessibilityCriteriaCategory';
import AccessibilityCriteriaCategoryListItem
  from '@/ts/components/accessibility/AccessibilityCriteriaCategoryListItem.vue';
import { Dictionary } from '@/ts/utilities/types/dictionary';

defineProps<{
  values: Dictionary;
  only?: AccessibilityCategory;
  dense?: boolean;
}>();
</script>

<template>
  <div role="list">
    <accessibility-criteria-category-list-item
      v-for="category in AccessibilityCriteriaCategory.all.values()"
      :key="`categories-${category.value}`"
      :category="category"
      :only="only"
      :values="values"
      :dense="dense"
      role="listitem"
    />
  </div>
</template>
