<script
  lang="ts"
  setup
>
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AccessibilityCriteriaCategory from '@/ts/api/enums/accessibilityCriteriaCategory';
import AccessibilityCriteriaListItem from '@/ts/components/accessibility/AccessibilityCriteriaListItem.vue';
import useAccessibilityCriteria from '@/ts/composables/accessibility/useAccessibilityCriteria';
import isCriteriaDisplayed from '@/ts/utilities/accessibility/isCriteriaDisplayed';
import isNone from '@/ts/utilities/common/isNone';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { computed } from 'vue';

const props = defineProps<{
  category: AccessibilityCriteriaCategory;
  values: Dictionary;
  only?: AccessibilityCategory;
  dense?: boolean;
}>();

const criteria = useAccessibilityCriteria();

const categoryCriteria = computed(() => criteria.value.filter(
  (c) => props.category.is(c.criteriaCategory) && (
    !props.only || c.accessibilityCategories.indexOf(props.only) !== -1
  ) && isCriteriaDisplayed(props.values, c),
));
const categoryValues = computed(() => categoryCriteria.value.map(
  (c) => ({ criteria: c, value: c.type.parse(props.values[c.id]) }),
).filter(({ value }) => !isNone(value)));
</script>

<template>
  <div v-if="categoryValues.length">
    <v-list-item
      :prepend-icon="category.props.icon"
      class="px-0"
    >
      <v-list-item-subtitle class="font-weight-bold">
        {{ category.label }}
      </v-list-item-subtitle>
    </v-list-item>
    <div
      :class="{ 'border-s-sm ml-sm-3 pl-sm-5': !dense }"
      class="mb-4"
      role="list"
    >
      <accessibility-criteria-list-item
        v-for="c in categoryValues"
        :key="`criteria-${c.criteria.id}`"
        :criteria="c.criteria"
        :value="c.value"
        role="listitem"
        class="mb-1"
      />
    </div>
  </div>
</template>
