<script
  setup
  lang="ts"
>

import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AppAlert from '@/ts/components/common/AppAlert.vue';
import useAccessibilityPrioritizeCategories from '@/ts/composables/accessibility/useAccessibilityPrioritizeCategories';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();

const accessibilityPrioritizeCategories = useAccessibilityPrioritizeCategories();

const content = computed(() => i18n.t('accessibility.preferences.prioritizeCategories.alert', {
  categories: accessibilityPrioritizeCategories.value
    .map((c) => AccessibilityCategory.all.get(c)!.label)
    .join(', '),
}));
</script>

<template>
  <app-alert
    type="info"
    presentation
  >
    {{ content }}
  </app-alert>
</template>
