<script
  lang="ts"
  setup
>
import { useAccessibilityStore } from '@/ts/stores/accessibility';

const accessibility = useAccessibilityStore();
</script>

<template>
  <div
    aria-live="polite"
    class="d-sr-only"
    v-text="accessibility.announcement"
  />
</template>
