<script
    lang="ts"
    setup
>
import { mdiOpenInNew } from '@mdi/js';
</script>

<template>
  <v-icon
    :title="$t('navigation.openInNew')"
    :icon="mdiOpenInNew"
    aria-hidden="false"
    role="img"
    v-bind="$attrs"
  />
</template>

<style
    lang="scss"
    scoped
>
  .v-icon {
    margin-left: 2px;
    font-size: inherit;
  }
</style>
