<script
  lang="ts"
  setup
>
import focusElement from '@/ts/utilities/dom/focusElement';
import { mdiDebugStepOver } from '@mdi/js';

const props = defineProps<{
  to: string;
  title: string;
}>();

const onGoToElement = (event: Event) => {
  const element = document.getElementById(props.to);
  if (element) {
    focusElement(element);
    event.preventDefault();
  }
};
</script>

<template>
  <v-btn
    :href="`#${to}`"
    color="on-surface"
    variant="elevated"
    class="position-absolute d-sr-only-focusable"
    size="large"
    style="z-index: 1;"
    @click="onGoToElement"
  >
    {{ title }}
    <v-icon
      :icon="mdiDebugStepOver"
      end
    />
  </v-btn>
</template>
