<script
  setup
  lang="ts"
>
import OrganizationInvitation from '@/ts/api/models/organizationInvitation';
import translate from '@/ts/utilities/lang/translate';
import { mdiEmailArrowRightOutline } from '@mdi/js';

defineProps<{
  invitation: OrganizationInvitation;
}>();
</script>

<template>
  <v-list-item
    :title="invitation.email"
    :subtitle="[
      $t('resources.organizations.labels.members.invitation'),
      translate(invitation.role.name),
    ].join(' · ')"
  >
    <template #prepend>
      <v-avatar
        color="primary"
        variant="tonal"
      >
        <v-icon :icon="mdiEmailArrowRightOutline" />
      </v-avatar>
    </template>
  </v-list-item>
</template>
