<script
  lang="ts"
  setup
>
import Organization from '@/ts/api/models/organization';
import hasContactableLinks from '@/ts/api/utilities/contactable/hasContactableLinks';
import hasLinkableLinks from '@/ts/api/utilities/linkable/hasLinkableLinks';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import LinksListItems from '@/ts/components/common/LinksListItems.vue';
import translate from '@/ts/utilities/lang/translate';
import computeDescription from '@/ts/utilities/strings/computeDescription';
import { Optional } from '@/ts/utilities/types/optional';
import { computed } from 'vue';

const props = defineProps<{
  organization: Optional<Organization>;
  level: 1 | 2 | 3 | '1' | '2' | '3';
  noLinks?: boolean;
}>();

const hasLinks = computed(() => (
  !props.noLinks
  && (hasLinkableLinks(props.organization!) || hasContactableLinks(props.organization!))
));
const description = computed(() => computeDescription(
  props.organization!.description,
  props.organization!.body,
));
</script>

<template>
  <div v-if="organization && organization.published">
    <app-heading
      :level="level"
      dense
    >
      {{ translate(organization.name) }}
    </app-heading>
    <div class="organization-description">
      <p
        v-if="translate(description)"
        class="text-formatted mb-0"
      >
        {{ translate(description) }}
      </p>
      <p
        v-else-if="!hasLinks"
        class="text-medium-emphasis mb-0"
      >
        {{ $t('resources.organizations.states.noData') }}
      </p>
    </div>
    <template v-if="hasLinks">
      <v-list
        role="list"
        tabindex="-1"
        class="organization-links py-0"
        bg-color="transparent"
      >
        <links-list-items
          :contactable="organization"
          :linkable="organization"
        />
      </v-list>
    </template>
  </div>
</template>

<style lang="scss" scoped>
  .organization-links {
    :deep(.v-list-item), :deep(.links-inline-list) {
      min-height: auto !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
</style>
