<script
    lang="ts"
    setup
>
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import useResolvedRouteHandlers from '@/ts/composables/routes/useResolvedRouteHandlers';
import isExternalRoute from '@/ts/utilities/routes/isExternalRoute';
import resolveRoute from '@/ts/utilities/routes/resolveRoute';
import { computed, toRef } from 'vue';
import { useRouter } from 'vue-router';
import { VBtn } from 'vuetify/components/VBtn';

const props = defineProps<{
  href: string;
  btn?: boolean;
}>();

const router = useRouter();
const { onKeydown, onClick } = useResolvedRouteHandlers(toRef(props, 'href'));

const isExternal = computed(() => isExternalRoute(resolveRoute(router, props.href)));
const Component = computed(() => (props.btn ? VBtn : 'a'));
</script>

<template>
  <component
    :is="Component"
    :href="href"
    :target="isExternal ? '_blank' : undefined"
    rel="noopener"
    v-bind="$attrs"
    @keydown="onKeydown"
    @click="onClick"
  >
    <slot />
    <open-in-new-icon v-if="isExternal" />
  </component>
</template>
