<script
  lang="ts"
  setup
>
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import ReportTypeDataProvider from '@/ts/components/resources/reportTypes/ReportTypeDataProvider.vue';
import useReportTypeHeaders from '@/ts/composables/resources/reportTypes/useReportTypeHeaders';

const headers = useReportTypeHeaders();
</script>

<template>
  <resource-one-view translatable>
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <report-type-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
