<script
    lang="ts"
    setup
>
import ResourceCreateView from '@/ts/components/resources/core/views/ResourceCreateView.vue';
import ReportTypeInputs from '@/ts/components/resources/reportTypes/ReportTypeInputs.vue';
import ReportTypeProvider from '@/ts/components/resources/reportTypes/ReportTypeProvider.vue';
</script>

<template>
  <div>
    <report-type-provider v-slot="{ inputs, ...inputsMap }">
      <resource-create-view
        :inputs="inputs"
        translatable
      >
        <report-type-inputs v-bind="inputsMap" />
      </resource-create-view>
    </report-type-provider>
  </div>
</template>
