<script
    lang="ts"
    setup
>
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';
import ReportTypeInputs from '@/ts/components/resources/reportTypes/ReportTypeInputs.vue';
import ReportTypeProvider from '@/ts/components/resources/reportTypes/ReportTypeProvider.vue';
</script>

<template>
  <div>
    <report-type-provider v-slot="{ inputs, ...inputsMap }">
      <resource-edit-view
        :inputs="inputs"
        translatable
      >
        <report-type-inputs v-bind="inputsMap" />
      </resource-edit-view>
    </report-type-provider>
  </div>
</template>
