<script
  lang="ts"
  setup
>
import RoleScopeName from '@/ts/api/enums/roleScopeName';
import OrganizationMember from '@/ts/api/models/organizationMember';
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import VEditorInput from '@/ts/components/forms/editor/VEditorInput.vue';
import VOrganizationTypeInput from '@/ts/components/forms/instances/VOrganizationTypeInput.vue';
import VRoleInput from '@/ts/components/forms/instances/VRoleInput.vue';
import VUserInput from '@/ts/components/forms/instances/VUserInput.vue';
import VManyInput from '@/ts/components/forms/many/VManyInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import OrganizationInvitationListItem
  from '@/ts/components/organizations/OrganizationInvitationListItem.vue';
import CategorizableInputs
  from '@/ts/components/resources/composables/categorizable/CategorizableInputs.vue';
import ContactableInputs
  from '@/ts/components/resources/composables/contactable/ContactableInputs.vue';
import CoverableInputs from '@/ts/components/resources/composables/coverable/CoverableInputs.vue';
import LinkableInputs from '@/ts/components/resources/composables/linkable/LinkableInputs.vue';
import UserListItem from '@/ts/components/users/UserListItem.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import translate from '@/ts/utilities/lang/translate';

defineProps<{
  coverInput: Input;
  nameInput: Input;
  organizationTypeInput: Input;
  membersInput: Input;
  membersOfOrganizationInput: Input<string, OrganizationMember[]>;
  invitationsInput: Input;
  bodyInput: Input;
  descriptionInput: Input;
  categoriesInput: Input;
  emailInput: Input;
  phoneInput: Input;
  linksInput: Input;
  siretIdentifierInput: Input;
  rnaIdentifierInput: Input;
  administrativeDataInput: Input;
  mediaInput: Input;
}>();

const normalCol = useCol();
</script>

<template>
  <coverable-inputs :cover-input="coverInput" />
  <v-col v-bind="normalCol">
    <v-text-field v-bind="nameInput.props" />
  </v-col>
  <v-wrap-after />
  <v-col v-bind="normalCol">
    <v-organization-type-input v-bind="organizationTypeInput.props" />
  </v-col>
  <v-col
    v-if="
      hasPermissionOn('organization-members.showAny')
        || hasPermissionOn('organization-invitations.showAny')
    "
    cols="12"
  >
    <v-many-input v-bind="membersInput.props">
      <template #inputs="{ item, inputs }">
        <v-col
          v-if="!item && inputs.userInput"
          cols="12"
        >
          <v-user-input
            :not-id="membersOfOrganizationInput.value.map(({ user }) => user.id)"
            v-bind="inputs.userInput.props"
          />
        </v-col>
        <v-col
          v-if="!item && inputs.emailInput"
          cols="12"
        >
          <v-text-field
            type="email"
            v-bind="inputs.emailInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-role-input
            :only-scopes="[RoleScopeName.ORGANIZATION.value]"
            v-bind="inputs.roleInput.props"
          />
        </v-col>
      </template>
      <template #item="{ item }">
        <user-list-item
          v-if="item instanceof OrganizationMember"
          :user="item.user"
          :subtitle="translate(item.role.name)"
          class="px-0"
        />
        <organization-invitation-list-item
          v-else
          :invitation="item"
          class="px-0"
        />
      </template>
    </v-many-input>
  </v-col>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.organizations.labels.presentation')">
      <v-row dense>
        <categorizable-inputs :categories-input="categoriesInput" />
        <v-wrap-after />
        <v-col cols="12">
          <v-editor-input
            v-bind="bodyInput.props"
            maxlength="50000"
            counter
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-bind="descriptionInput.props"
            maxlength="255"
            rows="3"
            counter
          />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
  <contactable-inputs
    :email-input="emailInput"
    :phone-input="phoneInput"
  />
  <linkable-inputs :links-input="linksInput" />
  <v-col cols="12">
    <v-fieldset :legend="administrativeDataInput.props.label">
      <v-row dense>
        <v-col v-bind="normalCol">
          <v-text-field v-bind="siretIdentifierInput.props" />
        </v-col>
        <v-col v-bind="normalCol">
          <v-text-field v-bind="rnaIdentifierInput.props" />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
</template>
