<script
  setup
  lang="ts"
>
import Organization from '@/ts/api/models/organization';
import OrganizationMember from '@/ts/api/models/organizationMember';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import OrganizationInvitationListItem
  from '@/ts/components/organizations/OrganizationInvitationListItem.vue';
import CategorizableDataProvider
  from '@/ts/components/resources/composables/categorizable/CategorizableDataProvider.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import ContactableDataProvider
  from '@/ts/components/resources/composables/contactable/ContactableDataProvider.vue';
import CoverableDataProvider
  from '@/ts/components/resources/composables/coverable/CoverableDataProvider.vue';
import LinkableDataProvider
  from '@/ts/components/resources/composables/linkable/LinkableDataProvider.vue';
import PublishableDataProvider
  from '@/ts/components/resources/composables/publishable/PublishableDataProvider.vue';
import SourceableDataProvider
  from '@/ts/components/resources/composables/sourceable/SourceableDataProvider.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import ResourceOptionalValue from '@/ts/components/resources/core/data/ResourceOptionalValue.vue';
import ResourceTranslationValue
  from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import UserListItem from '@/ts/components/users/UserListItem.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import translate from '@/ts/utilities/lang/translate';
import computeDescription from '@/ts/utilities/strings/computeDescription';

defineProps<{
  portals: ResourcePortals;
  instance: Organization;
}>();
</script>

<template>
  <categorizable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <contactable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <coverable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <linkable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <publishable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <sourceable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.name">
    <resource-translation-value :value="instance.name" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.description">
    <resource-translation-value
      v-slot="{ value }"
      :value="computeDescription(instance.description, instance.body)"
    >
      <p class="text-formatted">
        {{ value }}
      </p>
    </resource-translation-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.body">
    <resource-translation-value
      :value="instance.body"
      :media="instance.media"
      heading="2"
      html
    />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.organizationType">
    <resource-instance-value
      :instance="instance.organizationType"
      chip
    />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.members">
    <resource-list-value
      v-slot="{ item }"
      :items="[...(instance.membersOfOrganization ?? []), ...(instance.invitations ?? [])]"
      column
    >
      <user-list-item
        v-if="item instanceof OrganizationMember"
        :user="item.user"
        :subtitle="translate(item.role.name)"
        class="px-0"
      />
      <organization-invitation-list-item
        v-else
        :invitation="item"
        class="px-0"
      />
    </resource-list-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.siretIdentifier">
    <resource-optional-value :value="instance.administrativeData?.siretIdentifier" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.rnaIdentifier">
    <resource-optional-value :value="instance.administrativeData?.rnaIdentifier" />
  </teleport-to-portal>
</template>
