<script
  lang="ts"
  setup
>
import useOrganizationInputs from '@/ts/composables/resources/organizations/useOrganizationInputs';

const props = useOrganizationInputs();
</script>

<template>
  <slot v-bind="props" />
</template>
