<script
  lang="ts"
  setup
>
import VEditorCommand from '@/ts/components/forms/editor/VEditorCommand.vue';
import { HeadingLevel } from '@/ts/composables/forms/editor/useEditor';
import { Editor } from '@tiptap/vue-3';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  editor: Editor;
  level: number;
}>();

const i18n = useI18n();

const command = computed(() => ({
  label: i18n.t('forms.editor.toolbar.actions.heading.label', { level: props.level }),
  shortcut: `CTRL+ALT+${props.level}`,
  active: props.editor.isActive('heading', { level: props.level }),
  willFocus: true,
  onClick: () => props.editor.chain()
    .focus()
    .toggleHeading({ level: props.level as HeadingLevel })
    .run(),
}));
</script>

<template>
  <v-editor-command v-bind="command">
    <span>
      {{ $t('forms.editor.toolbar.actions.heading.icon', { level }) }}
    </span>
  </v-editor-command>
</template>
