<script
  lang="ts"
  setup
>
import VEditorCommand from '@/ts/components/forms/editor/VEditorCommand.vue';
import { mdiMenu } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: boolean): void;
}>();

const props = defineProps<{
  modelValue?: boolean;
}>();

const i18n = useI18n();

const command = computed(() => (props.modelValue ? {
  label: i18n.t('forms.editor.toolbar.actions.reduce.label'),
  icon: mdiMenu,
  active: true,
  onClick: () => emit('update:model-value', false),
} : {
  label: i18n.t('forms.editor.toolbar.actions.expand.label'),
  icon: mdiMenu,
  active: false,
  onClick: () => emit('update:model-value', true),
}));
</script>

<template>
  <v-editor-command v-bind="command" />
</template>
