<script
  lang="ts"
  setup
>
import VEditorCommand from '@/ts/components/forms/editor/VEditorCommand.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import normalizeURL from '@/ts/utilities/strings/normalizeURL';
import required from '@/ts/validation/rules/required';
import url from '@/ts/validation/rules/url';
import { mdiLink, mdiLinkPlus } from '@mdi/js';
import { Editor } from '@tiptap/vue-3';
import { computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  editor: Editor;
}>();

const i18n = useI18n();

const dialog = ref(false);

const hrefInput = useInput({
  name: 'href',
  label: i18n.t('forms.editor.toolbar.actions.link.label'),
  value: '',
  rules: [required, url(['tel', 'mailto'])],
});

const { loading, btnLoading, resetDefaults, onSubmit } = useForm([
  hrefInput,
] as const, {
  onSubmit: async ({ allValues }) => {
    props.editor.chain()
      .extendMarkRange('link')
      .setLink({ href: normalizeURL(allValues.href, ['tel', 'mailto'])!.toString() })
      .run();

    dialog.value = false;
  },
});

const active = computed(() => props.editor.isActive('link'));

const command = computed(() => ({
  label: active.value
    ? i18n.t('forms.editor.toolbar.actions.link.edit')
    : i18n.t('forms.editor.toolbar.actions.link.add'),
  icon: active.value ? mdiLink : mdiLinkPlus,
  disabled: !active.value && props.editor.state.selection.empty,
  active: active.value,
}));

watch(dialog, (value) => {
  if (value) {
    const attrs = props.editor.getAttributes('link');

    hrefInput.value = attrs.href;
  } else {
    resetDefaults();
  }
});

const onClose = () => {
  dialog.value = false;
};
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="command.label"
    :form-props="{ readonly: loading, onSubmit }"
  >
    <template #activator="{ props: activatorProps }">
      <v-editor-command v-bind="{ ...$attrs, ...command, ...activatorProps }" />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-col cols="12">
          <v-text-field v-bind="hrefInput.props" />
        </v-col>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn
        variant="text"
        @click="onClose"
      >
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="primary"
        v-bind="btnLoading"
      >
        {{ active ? $t('actions.edit') : $t('actions.add') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
