<script
  lang="ts"
  setup
>
import VEditorCommand from '@/ts/components/forms/editor/VEditorCommand.vue';
import { mdiLinkOff } from '@mdi/js';
import { Editor } from '@tiptap/vue-3';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  editor: Editor;
}>();

const i18n = useI18n();

const command = computed(() => ({
  label: i18n.t('forms.editor.toolbar.actions.unlink.label'),
  icon: mdiLinkOff,
  disabled: !props.editor.isActive('link'),
  willFocus: true,
  onClick: () => props.editor.chain().focus().unsetLink().run(),
}));
</script>

<template>
  <v-editor-command v-bind="command" />
</template>
