<script
  lang="ts"
  setup
>
import VEditorCommand from '@/ts/components/forms/editor/VEditorCommand.vue';
import { mdiFormatListBulleted } from '@mdi/js';
import { Editor } from '@tiptap/vue-3';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  editor: Editor;
}>();

const i18n = useI18n();

const command = computed(() => ({
  label: i18n.t('forms.editor.toolbar.actions.bulletList.label'),
  icon: mdiFormatListBulleted,
  active: props.editor.isActive('bulletList'),
  willFocus: true,
  onClick: () => props.editor.chain().focus().toggleBulletList().run(),
}));
</script>

<template>
  <v-editor-command v-bind="command" />
</template>
