<script
  lang="ts"
  setup
>
import Media from '@/ts/api/models/media';
import VEditorCommand from '@/ts/components/forms/editor/VEditorCommand.vue';
import VMediaInput from '@/ts/components/forms/VMediaInput.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import { injectEditorMedia, useOneEditorMedia } from '@/ts/composables/forms/editor/editorMedia';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import TTMediaImage from '@/ts/plugins/tiptap/extensions/ttMediaImage';
import isNone from '@/ts/utilities/common/isNone';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';
import { mdiImageOutline, mdiImagePlusOutline } from '@mdi/js';
import { Editor } from '@tiptap/vue-3';
import { computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'use:media', media: Media): void;
}>();

const props = defineProps<{
  editor: Editor;
}>();

const editorMedia = injectEditorMedia();
const i18n = useI18n();

const dialog = ref(false);

const mediaInput = useInput({
  name: 'image',
  label: i18n.t('forms.editor.toolbar.actions.image.label'),
  value: null as Media | null,
  rules: [required],
});

const decorativeInput = useInput({
  name: 'decorative',
  label: i18n.t('forms.editor.toolbar.actions.image.decorative'),
  value: true,
});

const altInput = useInput({
  name: 'alt',
  label: i18n.t('forms.editor.toolbar.actions.image.alt'),
  value: '',
  rules: [required, max(100)],
});

const { loading, btnLoading, resetDefaults, onSubmit } = useForm([
  mediaInput, decorativeInput, altInput,
] as const, {
  onSubmit: async ({ allValues }) => {
    emit('use:media', allValues.image!);

    props.editor.commands.mediaImage({
      media: allValues.image!.id,
      alt: allValues.decorative ? undefined : allValues.alt,
    });

    dialog.value = false;
  },
});

const active = computed(() => props.editor.isActive(TTMediaImage.name));

const command = computed(() => ({
  label: active.value
    ? i18n.t('forms.editor.toolbar.actions.image.edit')
    : i18n.t('forms.editor.toolbar.actions.image.add'),
  icon: active.value ? mdiImageOutline : mdiImagePlusOutline,
  active: active.value,
}));

watch(dialog, (value) => {
  if (value) {
    const attrs = props.editor.getAttributes(TTMediaImage.name);

    mediaInput.value = attrs.media
      ? (useOneEditorMedia(editorMedia, attrs.media).value ?? null)
      : null;
    decorativeInput.value = isNone(attrs.alt);
    altInput.value = attrs.alt ?? '';
  } else {
    resetDefaults();
  }
});

const onClose = () => {
  dialog.value = false;
};
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="command.label"
    :form-props="{ readonly: loading, onSubmit }"
  >
    <template #activator="{ props: activatorProps }">
      <v-editor-command v-bind="{ ...$attrs, ...command, ...activatorProps }" />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-col cols="12">
          <v-media-input
            only="image"
            visibility="public"
            v-bind="mediaInput.props"
          />
        </v-col>
        <v-col cols="12">
          <v-switch
            v-bind="decorativeInput.props"
            hide-details
          />
        </v-col>
        <v-slide-y-transition>
          <v-col
            v-if="!decorativeInput.value"
            cols="12"
          >
            <v-text-field v-bind="altInput.props" />
          </v-col>
        </v-slide-y-transition>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn
        variant="text"
        @click="onClose"
      >
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="primary"
        v-bind="btnLoading"
      >
        {{ active ? $t('actions.edit') : $t('actions.add') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
