<script
    lang="ts"
    setup
>
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';

defineProps<{
  nameInput: Input;
  globalInput: Input;
}>();

const normalCol = useCol();
const largeCol = useCol('large');
</script>

<template>
  <v-col v-bind="normalCol">
    <v-text-field v-bind="nameInput.props" />
  </v-col>
  <v-wrap-after />
  <v-col v-bind="largeCol">
    <v-switch v-bind="globalInput.props" />
  </v-col>
</template>
