<script
    lang="ts"
    setup
>
import useReportTypeInputs from '@/ts/composables/resources/reportTypes/useReportTypeInputs';

const props = useReportTypeInputs();
</script>

<template>
  <slot v-bind="props" />
</template>
