<script
  setup
  lang="ts"
>
import ReportType from '@/ts/api/models/reportType';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import ResourceBooleanValue from '@/ts/components/resources/core/data/ResourceBooleanValue.vue';
import ResourceTranslationValue from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: ReportType;
}>();
</script>

<template>
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.name">
    <resource-translation-value :value="instance.name" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.global">
    <resource-boolean-value :value="instance.global" />
  </teleport-to-portal>
</template>
