<script
  lang="ts"
  setup
>
import accessibilitySvg from '@/assets/icons/accessibility.svg?raw';
import AccessibilityPreferencesDialog
  from '@/ts/components/accessibility/AccessibilityPreferencesDialog.vue';
import NavDrawerListItem from '@/ts/components/navigation/drawer/NavDrawerListItem.vue';
import ReportDialog from '@/ts/components/reports/ReportDialog.vue';
import ResourceListItem from '@/ts/components/resources/core/navigation/ResourceListItem.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useResourcesEntries from '@/ts/composables/resources/core/useResourcesEntries';
import useMainRouteEntries from '@/ts/composables/routes/useMainRouteEntries';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import drawerRailPreference from '@/ts/utilities/navigation/drawerRailPreference';
import {
  mdiBackburger,
  mdiCommentAlertOutline,
  mdiCommentQuestionOutline,
  mdiForwardburger,
} from '@mdi/js';
import { computed, provide, ref, toRef, watch } from 'vue';
import { useDisplay, useTheme } from 'vuetify';

const emit = defineEmits<{
  (e: 'update:rail', rail: boolean): void;
  (e: 'close'): void;
}>();

const props = defineProps<{
  rail: boolean;
}>();

const accessibilityIcon = makeSvgIcon(accessibilitySvg);

const theme = useTheme();
const { mobile } = useDisplay();

const lazyRail = useLazyValue(toRef(props, 'rail'));
const openedGroups = ref([]);

const railEnabled = computed(() => !mobile.value && lazyRail.value);

provide('openedGroups', openedGroups);

const mainEntries = useMainRouteEntries();
const resourceEntries = useResourcesEntries();

watch(lazyRail, (value) => {
  emit('update:rail', value);
});

const onToggleRail = () => {
  lazyRail.value = !lazyRail.value;
  drawerRailPreference.value = lazyRail.value;
};

const onClose = () => {
  emit('close');
};
</script>

<template>
  <div class="app-drawer__wrapper h-100 bg-surface">
    <v-list
      v-model:opened="openedGroups"
      class="app-drawer__list d-flex flex-column text-primary"
      role="list"
      tabindex="-1"
      nav
    >
      <div role="listitem">
        <v-btn
          v-if="mobile"
          :title="$t('navigation.drawer.close')"
          :icon="mdiBackburger"
          variant="text"
          color="on-surface"
          @click="onClose"
        />
        <nav-drawer-list-item
          v-else
          :rail="railEnabled"
          :title="railEnabled ? $t('navigation.drawer.expand') : $t('navigation.drawer.reduce')"
          :prepend-icon="railEnabled ? mdiForwardburger : mdiBackburger"
          role="button"
          tabindex="0"
          rounded="xl"
          class="text-primary mt-4"
          @click="onToggleRail"
        />
      </div>
      <accessibility-preferences-dialog>
        <template #activator="{ props: activatorProps }">
          <div role="listitem">
            <nav-drawer-list-item
              :rail="railEnabled"
              :prepend-icon="accessibilityIcon"
              :title="$t('navigation.items.accessibility')"
              :variant="railEnabled ? undefined : 'outlined'"
              role="button"
              tabindex="0"
              rounded="xl"
              class="text-primary"
              v-bind="activatorProps"
            />
          </div>
        </template>
      </accessibility-preferences-dialog>
      <div class="pt-4 pt-md-6 w-100" />
      <div
        v-for="(entry, index) in mainEntries"
        :key="`main-entries-${index}`"
        role="listitem"
      >
        <nav-drawer-list-item
          :rail="railEnabled"
          :prepend-icon="entry.icon"
          :title="entry.title"
          :to="entry.to"
          :style="{
            '--item-accent-color': `rgb(var(--v-theme-${entry.color}))`,
            '--item-accent-on-color': theme.current.value.dark
              ? 'rgb(var(--v-theme-background))'
              : undefined,
          }"
          class="text-primary main-feature-drawer-list-item list-item--colored"
          tabindex="0"
          rounded="xl"
        />
      </div>
      <div
        v-if="resourceEntries.length"
        class="pt-4 pt-md-6 w-100"
      />
      <resource-list-item
        v-for="(entry, index) in resourceEntries"
        :key="index"
        :entry="entry"
        :rail="railEnabled"
      />
      <v-spacer />
      <div role="listitem">
        <nav-drawer-list-item
          :rail="railEnabled"
          :prepend-icon="mdiCommentQuestionOutline"
          :title="$t('navigation.items.faq')"
          :to="{ name: 'faq' }"
          class="text-primary"
          tabindex="0"
          rounded="xl"
        />
      </div>
      <div role="listitem">
        <report-dialog>
          <template #activator="{ props: activatorProps }">
            <nav-drawer-list-item
              :active="false"
              :rail="railEnabled"
              :prepend-icon="mdiCommentAlertOutline"
              :title="$t('reports.report.action')"
              :variant="railEnabled ? undefined : 'outlined'"
              tabindex="0"
              rounded="xl"
              class="text-error"
              v-bind="activatorProps"
            />
          </template>
        </report-dialog>
      </div>
    </v-list>
  </div>
</template>

<style lang="scss">
  #app-drawer {
    .v-navigation-drawer__content {
      height: 100%;
      max-height: 100%;
      overflow-y: hidden;
      border-radius: inherit !important;
    }

    .app-drawer__wrapper {
      overflow-y: auto;
    }

    .app-drawer__list {
      min-height: 100%;

      [role="listitem"]:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    &.v-navigation-drawer--rail {
      width: auto !important;

      .app-drawer__list {
        width: 56px;
      }

      .v-list-group__items .v-list-item--nav {
        padding-inline-start: 8px !important;
      }
    }

    &:not(.v-navigation-drawer--rail) {
      .app-drawer__list {
        > .v-list-item--nav {
          padding-inline-start: 16px;
          padding-inline-end: 16px;
        }

        .v-list-group__items .v-list-item--nav {
          padding-inline-start: 48px !important;
          padding-inline-end: 24px !important;
        }
      }
    }

    .main-feature-drawer-list-item {
      .v-list-item-title {
        font-weight: bold;
      }
    }
  }
</style>
