<script
  setup
  lang="ts"
>
import AppTooltipBtn from '@/ts/components/common/AppTooltipBtn.vue';

defineProps<{
  title: string;
  rail: boolean;
}>();
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <app-tooltip-btn
    :title="title"
    :no-tooltip="!rail"
    location="end"
  >
    <template #activator="{ props: activatorProps }">
      <v-list-item
        density="compact"
        v-bind="{ ...activatorProps, ...$attrs, title, 'aria-describedby': undefined }"
      >
        <slot />
      </v-list-item>
    </template>
  </app-tooltip-btn>
</template>
