<script
  lang="ts"
  setup
>
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import SendingCampaignDataProvider from '@/ts/components/resources/sendingCampaigns/SendingCampaignDataProvider.vue';
import SendingCampaignPreviewActivator
  from '@/ts/components/resources/sendingCampaigns/SendingCampaignPreviewActivator.vue';
import useSendingCampaignHeaders from '@/ts/composables/resources/sendingCampaigns/useSendingCampaignHeaders';

const headers = useSendingCampaignHeaders();

const activators = () => [
  SendingCampaignPreviewActivator,
];
</script>

<template>
  <resource-one-view :activators="activators">
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <sending-campaign-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
