<script
  lang="ts"
  setup
>
import SearchableFilters from '@/ts/components/resources/composables/searchable/SearchableFilters.vue';
import ResourceCellsPortals from '@/ts/components/resources/core/portals/ResourceCellsPortals.vue';
import ResourceManyView from '@/ts/components/resources/core/views/ResourceManyView.vue';
import SendingCampaignDataProvider from '@/ts/components/resources/sendingCampaigns/SendingCampaignDataProvider.vue';
import useSearchableFilters from '@/ts/composables/resources/composables/searchable/useSearchableFilters';
import useSendingCampaignHeaders from '@/ts/composables/resources/sendingCampaigns/useSendingCampaignHeaders';

const { searchInput } = useSearchableFilters();

const headers = useSendingCampaignHeaders();
const defaultHeaders = ['name', 'status', 'createdAt'];
const filters = [searchInput] as const;
</script>

<template>
  <resource-many-view
    :headers="headers"
    :default-headers="defaultHeaders"
    :filters="filters"
  >
    <template #filters>
      <searchable-filters :search-input="searchInput" />
    </template>
    <template #data="{ instance, onlyHeaders }">
      <resource-cells-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
        :only-headers="onlyHeaders"
      >
        <sending-campaign-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-cells-portals>
    </template>
  </resource-many-view>
</template>
