<script
  lang="ts"
  setup
>
import action, { registry } from '@/ts/api/action';
import { Reviewable } from '@/ts/api/composables/reviewable';
import withReviewsSummary from '@/ts/api/enhancers/withReviewsSummary';
import reviewableInfo from '@/ts/api/utilities/reviewable/reviewableInfo';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import ReviewRatingDisplay from '@/ts/components/reviews/ReviewRatingDisplay.vue';
import ReviewRatingIcons from '@/ts/components/reviews/ReviewRatingIcons.vue';
import useEmbedContainer from '@/ts/composables/embed/useEmbedContainer';
import useAnnouncer from '@/ts/composables/pages/useAnnouncer';
import env from '@/ts/env';
import isNone from '@/ts/utilities/common/isNone';
import { catchIf, oneOrFail, query as queryModel } from '@foscia/core';
import { computed, nextTick, onMounted, ref } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'error', message: string): void;
}>();

const props = defineProps<{
  query: URLSearchParams;
}>();

const i18n = useI18n();
const announcer = useAnnouncer();

const { containerRef, resizeEmbeddingFrame } = useEmbedContainer();

const reviewable = ref(null as Reviewable | null);

const dense = computed(() => ['true', '1'].indexOf(props.query.get('dense') ?? '') !== -1);
const rating = computed(() => reviewable.value?.reviewsSummary?.rating);
const total = computed(() => reviewable.value?.reviewsSummary?.total ?? 0);
const info = computed(() => (reviewable.value ? reviewableInfo(reviewable.value) : null));
const link = computed(() => ({
  href: info.value?.to,
  target: '_blank',
  rel: 'noopener',
}));

onMounted(async () => {
  const type = props.query.get('type');
  const id = props.query.get('id');
  if (isNone(type) || isNone(id)) {
    emit('error', '"type" and "id" query parameters are required.');

    return;
  }

  const availableTypes = ['places', 'activities'];
  if (availableTypes.indexOf(type) === -1) {
    emit('error', '"type" query parameter value is not valid.');

    return;
  }

  const model = await registry.modelFor(type);

  reviewable.value = await action()
    .use(queryModel(model!, id))
    .use(withReviewsSummary())
    .run(catchIf(oneOrFail()));
  if (!reviewable.value) {
    emit('error', '"id" query parameter value does not match an existing record.');

    return;
  }

  await nextTick();

  announcer.announce({
    title: i18n.t('reviews.embed.title', { name: info.value?.title }),
  });

  resizeEmbeddingFrame();
});
</script>

<template>
  <div
    v-if="reviewable"
    ref="containerRef"
    class="reviews-container"
    :class="{ 'reviews-container--dense': dense }"
  >
    <a
      v-if="dense"
      class="d-inline-flex align-center"
      v-bind="link"
    >
      <review-rating-icons :rating="rating" />
      <span class="ml-2">
        {{ $t('reviews.scoped.count', { n: total }) }}
        ({{ env.app.name }})
        <open-in-new-icon />
      </span>
    </a>
    <v-card
      v-else
      v-bind="link"
    >
      <v-card-text>
        <review-rating-display :rating="rating" />
        <div class="text-center mt-2">
          {{ $t('reviews.scoped.count', { n: total }) }}
          <br>
          {{ env.app.name }}
          <open-in-new-icon />
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .reviews-container {
    &:not(.reviews-container--dense) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
    }
  }
</style>
