<script
    lang="ts"
    setup
>
import User from '@/ts/api/models/user';
import UserAvatar from '@/ts/components/users/UserAvatar.vue';
import fullNameWithYou from '@/ts/utilities/lang/fullNameWithYou';

defineProps<{
  user: User;
}>();
</script>

<template>
  <v-btn
    variant="tonal"
    color="on-surface"
    class="pl-1"
    v-bind="$attrs"
  >
    <user-avatar
      :user="user"
      size="26"
      class="mr-2"
    />
    {{ fullNameWithYou(user) }}
  </v-btn>
</template>
