<script
  lang="ts"
  setup
>
import User from '@/ts/api/models/user';
import UserLevelBadge from '@/ts/components/users/UserLevelBadge.vue';
import useReducedColor from '@/ts/composables/accessibility/useReducedColor';
import colorDef from '@/ts/utilities/colors/colorDef';
import userColor from '@/ts/utilities/colors/userColor';
import { mdiIncognito } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  user: User;
  showLevel?: boolean;
}>();

const color = useReducedColor(computed(() => userColor(props.user)));

const userColorDef = computed(() => colorDef(color.value));
const anonymous = computed(() => !props.user.$exists);
</script>

<template>
  <v-avatar
    :color="anonymous ? 'surface-variant' : userColorDef.bg"
    class="overflow-visible"
    aria-hidden="true"
    v-bind="$attrs"
  >
    <v-icon
      v-if="anonymous"
      :icon="mdiIncognito"
    />
    <span
      v-else
      :style="{ color: userColorDef.fg }"
    >
      {{ user.initials }}
    </span>
    <user-level-badge
      v-if="showLevel"
      :user="user"
      class="position-absolute bottom-0 right-0 z-index-1"
    />
  </v-avatar>
</template>
