<script
  lang="ts"
  setup
>
import User from '@/ts/api/models/user';
import colorDef from '@/ts/utilities/colors/colorDef';
import makeUserLevel from '@/ts/utilities/users/makeUserLevel';
import { computed } from 'vue';

const props = defineProps<{
  user: User;
}>();

const level = computed(() => makeUserLevel(props.user));
const badgeColorDef = computed(() => colorDef(level.value!.color));
</script>

<template>
  <v-avatar
    v-if="level"
    :color="badgeColorDef.bg"
    size="16"
    aria-hidden="true"
  >
    <v-icon
      :icon="level.icon"
      :color="badgeColorDef.fg"
      size="14"
    />
  </v-avatar>
</template>
