<script
  lang="ts"
  setup
>
import User from '@/ts/api/models/user';
import UserAvatar from '@/ts/components/users/UserAvatar.vue';
import fullNameWithYou from '@/ts/utilities/lang/fullNameWithYou';

defineProps<{
  user: User;
}>();
</script>

<template>
  <v-list-item
    :title="fullNameWithYou(user)"
    v-bind="$attrs"
  >
    <template #prepend>
      <slot name="prepend" />
      <user-avatar :user="user" />
    </template>
  </v-list-item>
</template>
