<script
  lang="ts"
  setup
>
import ActivityPricingCode from '@/ts/api/enums/activityPricingCode';
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import OpeningHoursList from '@/ts/components/common/openingHours/OpeningHoursList.vue';
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import VAddressInput from '@/ts/components/forms/address/VAddressInput.vue';
import VEditorInput from '@/ts/components/forms/editor/VEditorInput.vue';
import VPlaceInput from '@/ts/components/forms/instances/VPlaceInput.vue';
import VManyInput from '@/ts/components/forms/many/VManyInput.vue';
import VDateOpeningHoursInput from '@/ts/components/forms/openingHours/VDateOpeningHoursInput.vue';
import VWeekdaysOpeningHoursInput
  from '@/ts/components/forms/openingHours/VWeekdaysOpeningHoursInput.vue';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import VPublicCodesInput from '@/ts/components/forms/VPublicCodesInput.vue';
import AccessibleInputs
  from '@/ts/components/resources/composables/accessible/AccessibleInputs.vue';
import CategorizableInputs
  from '@/ts/components/resources/composables/categorizable/CategorizableInputs.vue';
import ContactableInputs
  from '@/ts/components/resources/composables/contactable/ContactableInputs.vue';
import CoverableInputs from '@/ts/components/resources/composables/coverable/CoverableInputs.vue';
import ImageableInputs from '@/ts/components/resources/composables/imageable/ImageableInputs.vue';
import LinkableInputs from '@/ts/components/resources/composables/linkable/LinkableInputs.vue';
import OwnableInputs from '@/ts/components/resources/composables/ownable/OwnableInputs.vue';
import useInput, { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import { useLangStore } from '@/ts/stores/lang';
import formatDate from '@/ts/utilities/dates/formatDate';
import FeatureName from '@/ts/utilities/features/featureName';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  activityType: ActivityTypeCode;
  coverInput: Input;
  imagesInput: Input;
  nameInput: Input;
  bodyInput: Input;
  descriptionInput: Input;
  placeInput: Input;
  addressInput: Input;
  openingOnPeriodsInput: Input;
  openingPeriodsInput: Input;
  openingDatesHoursInput: Input;
  openingWeekdaysHoursInput: Input;
  pricingCodeInput: Input;
  pricingDescriptionInput: Input;
  publicCodesInput: Input;
  categoriesInput: Input;
  accessibilityInput: Input;
  emailInput: Input;
  phoneInput: Input;
  linksInput: Input;
  ownerOrganizationInput: Input;
  mediaInput: Input;
}>();

const i18n = useI18n();
const lang = useLangStore();

const normalCol = useCol();
const halfCol = useCol('half');
const largeCol = useCol('large');

const useExistingPlaceInput = useInput({
  name: 'useExistingPlace',
  label: i18n.t('resources.activities.labels.useExistingPlace'),
  value: FeatureName.PLACES.check(),
});

const pricingCodesItems = computed(() => [
  { value: '', title: ActivityPricingCode.UNKNOWN.label },
  { value: ActivityPricingCode.FREE.value, title: ActivityPricingCode.FREE.label },
  { value: ActivityPricingCode.CONDITIONED.value, title: ActivityPricingCode.CONDITIONED.label },
  { value: ActivityPricingCode.PAID.value, title: ActivityPricingCode.PAID.label },
]);

const hasPricingDescription = computed(() => (
  props.pricingCodeInput.value
  && ActivityPricingCode.all.get(props.pricingCodeInput.value)?.props.description
));

watch(props.addressInput.valueRef, (address) => {
  if (address && !props.placeInput.value && useExistingPlaceInput.value) {
    useExistingPlaceInput.value = false;
  }
});
</script>

<template>
  <coverable-inputs :cover-input="coverInput" />
  <v-wrap-after />
  <imageable-inputs :images-input="imagesInput" />
  <v-wrap-after />
  <v-col v-bind="normalCol">
    <v-text-field v-bind="nameInput.props" />
  </v-col>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.activities.labels.localization')">
      <v-row dense>
        <v-col
          v-if="FeatureName.PLACES.check()"
          cols="12"
        >
          <v-switch
            hide-details
            v-bind="useExistingPlaceInput.props"
          />
        </v-col>
        <v-fade-transition mode="out-in">
          <v-col
            v-if="useExistingPlaceInput.value"
            v-bind="largeCol"
          >
            <v-place-input v-bind="placeInput.props" />
          </v-col>
          <v-col
            v-else
            v-bind="largeCol"
          >
            <v-address-input
              :hint="$t('resources.places.hints.address')"
              persistent-hint
              v-bind="addressInput.props"
            />
          </v-col>
        </v-fade-transition>
      </v-row>
    </v-fieldset>
  </v-col>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.activities.labels.presentation')">
      <v-row dense>
        <ownable-inputs :owner-organization-input="ownerOrganizationInput" />
        <categorizable-inputs :categories-input="categoriesInput" />
        <v-wrap-after />
        <v-col cols="12">
          <v-editor-input
            v-bind="bodyInput.props"
            maxlength="50000"
            counter
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-bind="descriptionInput.props"
            maxlength="255"
            rows="3"
            counter
          />
        </v-col>
        <v-col v-bind="largeCol">
          <v-public-codes-input v-bind="publicCodesInput.props" />
        </v-col>
        <v-wrap-after />
        <v-col v-bind="normalCol">
          <v-select-input
            :items="pricingCodesItems"
            v-bind="pricingCodeInput.props"
          />
        </v-col>
        <v-fade-transition>
          <v-col
            v-if="hasPricingDescription"
            v-bind="largeCol"
          >
            <v-text-field v-bind="pricingDescriptionInput.props" />
          </v-col>
        </v-fade-transition>
      </v-row>
    </v-fieldset>
  </v-col>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.activities.labels.dates')">
      <v-row dense>
        <v-col
          v-if="ActivityTypeCode.EVENTS.is(activityType)"
          cols="12"
        >
          <v-switch
            hide-details
            v-bind="openingOnPeriodsInput.props"
          />
        </v-col>
        <v-wrap-after />
        <v-col cols="12">
          <v-fade-transition mode="out-in">
            <v-row v-if="openingOnPeriodsInput.value">
              <v-col v-bind="halfCol">
                <v-weekdays-opening-hours-input v-bind="openingWeekdaysHoursInput.props" />
              </v-col>
              <v-col v-bind="halfCol">
                <v-many-input v-bind="openingPeriodsInput.props">
                  <template #inputs="{ inputs }">
                    <v-col v-bind="halfCol">
                      <v-text-field
                        type="date"
                        required
                        v-bind="inputs.startInput.props"
                      />
                    </v-col>
                    <v-col v-bind="halfCol">
                      <v-text-field
                        type="date"
                        v-bind="inputs.endInput.props"
                      />
                    </v-col>
                  </template>
                </v-many-input>
              </v-col>
            </v-row>
            <v-row v-else>
              <v-col v-bind="halfCol">
                <v-many-input v-bind="openingDatesHoursInput.props">
                  <template #inputs="{ inputs }">
                    <v-col cols="12">
                      <v-text-field
                        type="date"
                        required
                        v-bind="inputs.dateInput.props"
                      />
                    </v-col>
                    <v-col cols="12">
                      <v-date-opening-hours-input
                        :open24-label="$t('common.openingHours.labels.openFullDay')"
                        no-close
                        v-bind="inputs.hoursInput.props"
                      />
                    </v-col>
                  </template>
                  <template #item="{ item }">
                    <v-list-item-title>
                      {{
                        $t('resources.activities.states.date', {
                          date: formatDate(item.date, lang.locale),
                        })
                      }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      <opening-hours-list
                        :hours="item.hours"
                        :open24-label="$t('common.openingHours.labels.openFullDay')"
                      />
                    </v-list-item-subtitle>
                  </template>
                </v-many-input>
              </v-col>
            </v-row>
          </v-fade-transition>
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
  <accessible-inputs
    :accessibility-input="accessibilityInput"
    rating
    required
  />
  <contactable-inputs
    :email-input="emailInput"
    :phone-input="phoneInput"
  />
  <linkable-inputs :links-input="linksInput" />
</template>
