<script
  lang="ts"
  setup
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import useActivityInputs from '@/ts/composables/resources/activities/useActivityInputs';

const props = defineProps<{
  activityType: ActivityTypeCode;
}>();

const attrs = useActivityInputs(props.activityType);
</script>

<template>
  <slot v-bind="attrs" />
</template>
