<script
  setup
  lang="ts"
>
import ActivityTypeCode from '@/ts/api/enums/activityTypeCode';
import Activity from '@/ts/api/models/activity';
import OpeningDatesHoursTable from '@/ts/components/common/openingHours/OpeningDatesHoursTable.vue';
import OpeningWeekdaysHoursTable
  from '@/ts/components/common/openingHours/OpeningWeekdaysHoursTable.vue';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import AccessibleDataProvider
  from '@/ts/components/resources/composables/accessible/AccessibleDataProvider.vue';
import CategorizableDataProvider
  from '@/ts/components/resources/composables/categorizable/CategorizableDataProvider.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import ContactableDataProvider
  from '@/ts/components/resources/composables/contactable/ContactableDataProvider.vue';
import CoverableDataProvider
  from '@/ts/components/resources/composables/coverable/CoverableDataProvider.vue';
import ImageableDataProvider
  from '@/ts/components/resources/composables/imageable/ImageableDataProvider.vue';
import LinkableDataProvider
  from '@/ts/components/resources/composables/linkable/LinkableDataProvider.vue';
import OwnableDataProvider
  from '@/ts/components/resources/composables/ownable/OwnableDataProvider.vue';
import PinnableIndicator
  from '@/ts/components/resources/composables/pinnable/PinnableIndicator.vue';
import PublishableDataProvider
  from '@/ts/components/resources/composables/publishable/PublishableDataProvider.vue';
import SourceableDataProvider
  from '@/ts/components/resources/composables/sourceable/SourceableDataProvider.vue';
import ResourceAddressValue from '@/ts/components/resources/core/data/ResourceAddressValue.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import ResourceTranslationValue
  from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import { useLangStore } from '@/ts/stores/lang';
import orderBy from '@/ts/utilities/arrays/orderBy';
import formatDate from '@/ts/utilities/dates/formatDate';
import translate from '@/ts/utilities/lang/translate';
import computeDescription from '@/ts/utilities/strings/computeDescription';

defineProps<{
  activityType: ActivityTypeCode;
  portals: ResourcePortals;
  instance: Activity;
}>();

const lang = useLangStore();
</script>

<template>
  <accessible-data-provider
    :instance="instance"
    :portals="portals"
    rating
  />
  <categorizable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <contactable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <coverable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <imageable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <linkable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <ownable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <publishable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <sourceable-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.name">
    <pinnable-indicator
      :pinnable="instance"
      class="mr-2"
    />
    <resource-translation-value :value="instance.name" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.place">
    <resource-instance-value
      v-if="instance.place"
      :instance="instance.place"
    />
    <resource-address-value
      v-else-if="instance.address"
      :address="instance.address"
    />
    <span v-else>
      {{ $t('resources.activities.states.noPlace') }}
    </span>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.description">
    <resource-translation-value
      v-slot="{ value }"
      :value="computeDescription(instance.description, instance.body)"
    >
      <p class="text-formatted">
        {{ value }}
      </p>
    </resource-translation-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.body">
    <resource-translation-value
      :value="instance.body"
      :media="instance.media"
      heading="2"
      html
    />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.openingPeriods">
    <resource-list-value
      v-if="instance.openingPeriods?.length"
      v-slot="{ item }"
      :items="orderBy(instance.openingPeriods, ['start', 'end'])"
      column
    >
      {{
        $t('resources.activities.states.period', {
          start: formatDate(item.start, lang.locale),
          end: formatDate(item.end, lang.locale),
        })
      }}
    </resource-list-value>
    <template v-else>
      {{ $t('resources.activities.labels.openingPeriods.none') }}
    </template>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.openingWeekdaysHours">
    <opening-weekdays-hours-table :hours="instance.openingWeekdaysHours" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.openingDatesHours">
    <opening-dates-hours-table
      :hours="instance.openingDatesHours"
      :open24-label="$t('common.openingHours.labels.openFullDay')"
    />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.publics">
    {{ instance.publics.map((p) => p.label).join(', ') }}
  </teleport-to-portal>
  <teleport-to-portal :to="portals.pricing">
    <div class="font-weight-bold">
      {{ instance.pricing.label }}
    </div>
    <div v-if="instance.pricing.props.description && translate(instance.pricingDescription)">
      {{ translate(instance.pricingDescription) }}
    </div>
  </teleport-to-portal>
</template>
