<script
  lang="ts"
  setup
>
import Organization from '@/ts/api/models/organization';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import BlockActivator from '@/ts/components/resources/users/BlockActivator.vue';
import UnblockActivator from '@/ts/components/resources/users/UnblockActivator.vue';
import UserDataProvider from '@/ts/components/resources/users/UserDataProvider.vue';
import VerifyActivator from '@/ts/components/resources/users/VerifyActivator.vue';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useCoreOneActivators from '@/ts/composables/resources/composables/core/useCoreOneActivators';
import useUserHeaders from '@/ts/composables/resources/users/useUserHeaders';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';

const headers = useUserHeaders();

const activators = (context: OneActivatorsContext<Organization>) => [
  ...useCoreOneActivators()(context),
  ...(hasPermissionOn('verify', context.instance) ? [VerifyActivator] : []),
  ...(hasPermissionOn('block', context.instance) ? [BlockActivator] : []),
  ...(hasPermissionOn('unblock', context.instance) ? [UnblockActivator] : []),
];
</script>

<template>
  <resource-one-view :activators="activators">
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <user-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
