<script
  lang="ts"
  setup
>
import RoleScopeName from '@/ts/api/enums/roleScopeName';
import VRoleInput from '@/ts/components/forms/instances/VRoleInput.vue';
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';
import useInput from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import toNameCase from '@/ts/utilities/strings/toNameCase';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';

const col = useCol();
const largeCol = useCol('large');

const firstNameInput = useInput({
  name: 'firstName',
  value: '',
  rules: [required, max(30)],
  transforms: toNameCase,
});

const lastNameInput = useInput({
  name: 'lastName',
  value: '',
  rules: [required, max(30)],
  transforms: toNameCase,
});

const rolesInput = useInput({
  name: 'roles',
  value: [],
});

const inputs = [firstNameInput, lastNameInput, rolesInput] as const;
</script>

<template>
  <resource-edit-view :inputs="inputs">
    <v-col v-bind="col">
      <v-text-field v-bind="firstNameInput.props" />
    </v-col>
    <v-col v-bind="col">
      <v-text-field v-bind="lastNameInput.props" />
    </v-col>
    <v-col
      v-if="hasPermissionOn('roles.assignAny')"
      v-bind="largeCol"
    >
      <v-role-input
        :only-scopes="[RoleScopeName.GLOBAL.value]"
        multiple
        v-bind="rolesInput.props"
      />
    </v-col>
  </resource-edit-view>
</template>
