<script
  lang="ts"
  setup
>
import CategoryInputs from '@/ts/components/resources/categories/CategoryInputs.vue';
import CategoryInputsProvider from '@/ts/components/resources/categories/CategoryInputsProvider.vue';
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';
</script>

<template>
  <div>
    <category-inputs-provider v-slot="{ boot, ...inputs }">
      <resource-edit-view
        v-slot="{ instance }"
        :inputs="inputs"
        :boot="boot"
        translatable
      >
        <category-inputs
          :instance="instance"
          v-bind="inputs"
        />
      </resource-edit-view>
    </category-inputs-provider>
  </div>
</template>
