<script
  lang="ts"
  setup
>
import Category from '@/ts/api/models/category';
import CategoryDataProvider from '@/ts/components/resources/categories/CategoryDataProvider.vue';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import useCategoryHeaders from '@/ts/composables/resources/categories/useCategoryHeaders';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useCoreOneActivators from '@/ts/composables/resources/composables/core/useCoreOneActivators';
import usePublishableOneActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableOneActivators';
import useSourceableOneActivators from '@/ts/composables/resources/composables/sourceable/useSourceableOneActivators';

const headers = useCategoryHeaders();

const activators = (context: OneActivatorsContext<Category>) => [
  ...useCoreOneActivators()(context),
  ...usePublishableOneActivators()(context),
  ...useSourceableOneActivators()(context),
];
</script>

<template>
  <resource-one-view
    :activators="activators"
    translatable
  >
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <category-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
