<script
  lang="ts"
  setup
>
import { Editor, EditorContent } from '@tiptap/vue-3';
import { MaybeRef, nextTick, onMounted, toRef, unref, watchEffect } from 'vue';

const props = defineProps<{
  id?: string;
  messagesId?: string;
  label: string;
  editor: Editor;
}>();

const watchPropsToAttribute = (attr: string, prop: MaybeRef<string | undefined>) => {
  watchEffect(async () => {
    await nextTick();

    const value = unref(prop);
    if (value) {
      props.editor.view.dom.setAttribute(attr, value);
    } else {
      props.editor.view.dom.removeAttribute(attr);
    }
  });
};

watchPropsToAttribute('id', toRef(props, 'id'));
watchPropsToAttribute('aria-describedby', toRef(props, 'messagesId'));
watchPropsToAttribute('aria-label', toRef(props, 'label'));

onMounted(() => {
  props.editor.view.dom.classList.add('v-field__input');
  props.editor.view.dom.setAttribute('role', 'textbox');
  props.editor.view.dom.setAttribute('aria-multiline', 'true');
});
</script>

<template>
  <editor-content
    :editor="editor"
    class="editor__content"
  />
</template>

<style
  lang="scss"
  scoped
>
  .editor__content {
    flex-grow: 1;
    outline: none;
    word-break: break-word;

    > :deep(.v-field__input) {
      display: block !important;
      resize: vertical;
      overflow: auto;
    }
  }
</style>
