<script
  lang="ts"
  setup
>
import Media from '@/ts/api/models/media';
import VEditorContent from '@/ts/components/forms/editor/VEditorContent.vue';
import VEditorToolbar from '@/ts/components/forms/editor/VEditorToolbar.vue';
import useFocus from '@/ts/composables/common/useFocus';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import { provideEditorMedia } from '@/ts/composables/forms/editor/editorMedia';
import useEditor from '@/ts/composables/forms/editor/useEditor';
import isNone from '@/ts/utilities/common/isNone';
import debounce from '@/ts/utilities/functions/debounce';
import { ModelIdType } from '@foscia/core';
import { computed, ref, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:model-value', value: string | undefined): void;
  (e: 'update:media', value: Media[]): void;
  (e: 'focus', event: FocusEvent): void;
  (e: 'blur', event: FocusEvent): void;
}>();

const props = defineProps<{
  modelValue?: string;
  media?: Media[];
  name?: string;
  required?: boolean;
  label: string;
  noImage?: boolean;
  noList?: boolean;
  noLink?: boolean;
  noHeading?: boolean;
  maxlength?: string;
  counter?: boolean;
}>();

const EMPTY_PARAGRAPH = '<p></p>';

const editorContentRef = ref<{ $el: HTMLElement } | null>(null);

const modelToLazyValue = (value?: string) => (
  isNone(value) ? EMPTY_PARAGRAPH : value
);

const lazyToModelValue = (value: string) => (
  value === EMPTY_PARAGRAPH ? '' : value
);

const { focused, focus, blur } = useFocus();
const lazyValue = ref(modelToLazyValue(props.modelValue));
const lazyMedia = useLazyValue(computed(() => props.media ?? []));

provideEditorMedia(lazyMedia);

const editor = useEditor({
  noImage: props.noImage,
  noList: props.noList,
  noLink: props.noLink,
  noHeading: props.noHeading,
}, {
  onFocus: ({ event }) => {
    focus();
    emit('focus', event);
  },
  onBlur: ({ event }) => {
    blur();
    emit('blur', event);
  },
  onUpdate: () => {
    lazyValue.value = editor.value!.getHTML();
  },
});

const removeUnusedMedia = debounce(() => {
  const mediaElements = editorContentRef.value?.$el.querySelectorAll('[data-media-ids]') ?? [];
  const mediaIds = [] as ModelIdType[];
  mediaElements.forEach((mediaElement) => {
    mediaIds.push(...(mediaElement.getAttribute('data-media-ids')?.split(',') ?? []));
  });

  lazyMedia.value = lazyMedia.value.filter(({ id }) => mediaIds.indexOf(id) !== -1);

  emit('update:media', lazyMedia.value);
}, 100);

watch(() => props.modelValue, (value) => {
  const newValue = modelToLazyValue(value);
  if (lazyValue.value !== newValue) {
    lazyValue.value = newValue;
    editor.value!.commands.setContent(newValue);
  }
});

watch(lazyValue, (value) => {
  emit('update:model-value', value === EMPTY_PARAGRAPH ? '' : value);
  removeUnusedMedia();
});

watch([editor], () => {
  if (editor.value && editor.value.getHTML() !== lazyValue.value) {
    editor.value.commands.setContent(lazyValue.value);
  }
});

const onUseMedia = (newMedia: Media) => {
  if (lazyMedia.value.indexOf(newMedia) === -1) {
    lazyMedia.value.push(newMedia);
    emit('update:media', lazyMedia.value);
  }
};
</script>

<template>
  <v-input
    :model-value="lazyToModelValue(lazyValue)"
    :focused="focused"
    class="v-textarea v-text-field editor__input"
    v-bind="$attrs"
  >
    <template #details>
      <v-slide-y-transition>
        <div
          v-if="counter && focused"
          class="v-counter"
        >
          {{ lazyValue.length }} / {{ maxlength }}
        </div>
      </v-slide-y-transition>
    </template>
    <template #default="{ id, messagesId, isDirty, isValid }">
      <v-editor-toolbar
        v-if="editor"
        :id="id.value"
        :label="label"
        :editor="editor"
        :no-image="noImage"
        :no-link="noLink"
        :no-list="noList"
        :no-heading="noHeading"
        @use:media="onUseMedia"
      />
      <v-field
        :id="id.value"
        :label="label"
        :active="focused || isDirty.value"
        :dirty="isDirty.value"
        :focused="focused"
        :error="isValid.value === false"
        :center-affix="false"
        color="primary"
        class="editor__field"
      >
        <v-editor-content
          v-if="editor"
          :id="id.value"
          ref="editorContentRef"
          :label="label"
          :editor="editor"
          :messages-id="messagesId.value"
        />
      </v-field>
    </template>
  </v-input>
</template>

<style
  lang="scss"
  scoped
>
  .editor__input {
    :deep(.v-input__control) {
      flex-direction: column;
    }

    .editor__field {
      --v-field-padding-bottom: 16px;
      border-radius: 0;
    }
  }
</style>
