<script
  lang="ts"
  setup
>
import AppTooltipBtn from '@/ts/components/common/AppTooltipBtn.vue';
import { computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'click', event: Event): void;
  (e: 'focus:current'): void;
  (e: 'focus:first'): void;
  (e: 'focus:last'): void;
  (e: 'focus:prev'): void;
  (e: 'focus:next'): void;
  (e: 'tabindex-reset'): void;
}>();

const props = defineProps<{
  label: string;
  icon?: string;
  shortcut?: string;
  active?: boolean;
  disabled?: boolean;
  willFocus?: boolean;
}>();

const i18n = useI18n();

const buttonRef = ref<HTMLButtonElement | null>(null);

const title = computed(() => (
  props.shortcut ? i18n.t('forms.editor.toolbar.actions.common.title', {
    label: props.label,
    shortcut: props.shortcut,
  }) : props.label
));

watch(() => props.disabled, (newDisabled, oldDisabled) => {
  if (newDisabled
    && newDisabled !== oldDisabled
    && buttonRef.value?.getAttribute?.('tabindex') === '0'
  ) {
    if (props.willFocus) {
      emit('tabindex-reset');
    } else {
      emit('focus:first');
    }
  }
});

const onBtnMounted = ({ el }: { el: any }) => {
  buttonRef.value = el;
};

const onBtnUnmounted = () => {
  buttonRef.value = null;
};

const onClick = (event: Event) => {
  emit('click', event);
  emit('focus:current');
};

const onKeydown = (event: KeyboardEvent) => {
  if (event.key === 'Home') {
    event.preventDefault();
    emit('focus:first');
  } else if (event.key === 'End') {
    event.preventDefault();
    emit('focus:last');
  } else if (event.key === 'ArrowLeft') {
    emit('focus:prev');
  } else if (event.key === 'ArrowRight') {
    emit('focus:next');
  }
};
</script>

<template>
  <app-tooltip-btn
    :title="title"
    :active="active"
    :disabled="disabled"
    :aria-pressed="String(active)"
    class="v-btn--toggle editor__command"
    density="comfortable"
    icon
    v-bind="{ ...$attrs }"
    @click="onClick"
    @keydown="onKeydown"
    @vue:mounted="onBtnMounted"
    @vue:unmounted="onBtnUnmounted"
  >
    <slot>
      <v-icon :icon="icon" />
    </slot>
  </app-tooltip-btn>
</template>
