<script
  lang="ts"
  setup
>
import OpeningHoursTableRow from '@/ts/components/common/openingHours/OpeningHoursTableRow.vue';
import { useLangStore } from '@/ts/stores/lang';
import orderBy from '@/ts/utilities/arrays/orderBy';
import datesOpeningHoursToGroup from '@/ts/utilities/dates/datesOpeningHoursToGroup';
import formatDates from '@/ts/utilities/dates/formatDates';
import timeToSeconds from '@/ts/utilities/dates/hours/timeToSeconds';
import { DateOpeningHour } from '@/ts/utilities/dates/types';
import toUpperFirst from '@/ts/utilities/strings/toUpperFirst';
import { Optional } from '@/ts/utilities/types/optional';
import { computed } from 'vue';

const props = defineProps<{
  hours?: Optional<DateOpeningHour[]>;
  open24Label?: string;
}>();

const lang = useLangStore();

const dates = computed(() => datesOpeningHoursToGroup(orderBy(
  props.hours ?? [],
  ['date', (h) => timeToSeconds(h.start)],
)));
</script>

<template>
  <table class="opening-hours__table ma-n1">
    <tbody>
      <opening-hours-table-row
        v-for="(date, index) in dates"
        :key="index"
        :label="toUpperFirst(
          formatDates([date.date], lang.locale, { format: 'short', weekday: true })[0]
        )"
        :hours="date.hours"
        :open24-label="open24Label"
        no-highlight
      >
        <template
          v-if="$slots.label"
          #label="labelProps"
        >
          <slot
            name="label"
            v-bind="labelProps"
          />
        </template>
      </opening-hours-table-row>
    </tbody>
  </table>
</template>

<style
  lang="scss"
  scoped
>
  table.opening-hours__table > tbody {
    vertical-align: baseline;
  }
</style>
