<script
  lang="ts"
  setup
>
import OpeningHoursTableRow from '@/ts/components/common/openingHours/OpeningHoursTableRow.vue';
import { useLangStore } from '@/ts/stores/lang';
import formatWeekday from '@/ts/utilities/dates/formatWeekday';
import sortOpeningHours from '@/ts/utilities/dates/hours/sortOpeningHours';
import isoWeekday from '@/ts/utilities/dates/isoWeekday';
import isoWeekdays from '@/ts/utilities/dates/isoWeekdays';
import relativeIsoWeekdays from '@/ts/utilities/dates/relativeIsoWeekdays';
import { WeekdayOpeningHour } from '@/ts/utilities/dates/types';
import toUpperFirst from '@/ts/utilities/strings/toUpperFirst';
import { Optional } from '@/ts/utilities/types/optional';
import { computed } from 'vue';

const props = defineProps<{
  hours?: Optional<WeekdayOpeningHour[]>;
  todayHighlight?: boolean;
  todayFirst?: boolean;
}>();

const lang = useLangStore();

const currentDate = new Date();
const currentWeekday = isoWeekday(currentDate);

const weekdays = computed(() => (
  props.todayFirst ? relativeIsoWeekdays(currentDate) : isoWeekdays()
));

const weekdaysHours = computed(() => weekdays.value.map(
  (weekday) => sortOpeningHours((props.hours ?? []).filter((h) => h.weekday === weekday)),
));
</script>

<template>
  <table class="opening-hours__table ma-n1">
    <tbody>
      <opening-hours-table-row
        v-for="(weekday, index) in weekdays"
        :key="weekday"
        :label="toUpperFirst(formatWeekday(weekday, lang.locale))"
        :hours="weekdaysHours[index]"
        :highlight="todayHighlight && weekday === currentWeekday"
        :no-highlight="!todayHighlight"
      />
    </tbody>
  </table>
</template>

<style
  lang="scss"
  scoped
>
  table.opening-hours__table > tbody {
    vertical-align: baseline;
  }
</style>
