<script
  lang="ts"
  setup
>
import OpeningHoursList from '@/ts/components/common/openingHours/OpeningHoursList.vue';
import { OpeningHour } from '@/ts/utilities/dates/types';

defineProps<{
  label: string;
  hours: OpeningHour[];
  open24Label?: string;
  highlight?: boolean;
  noHighlight?: boolean;
}>();
</script>

<template>
  <tr :class="{ 'text-medium-emphasis': !noHighlight && !highlight }">
    <th
      scope="row"
      :class="{
        'font-weight-regular': !noHighlight || !highlight,
        'font-weight-bold': !noHighlight && highlight,
      }"
      class="text-left pa-1"
      style="vertical-align: top"
    >
      <slot
        name="label"
        :label="label"
      >
        {{ label }}
      </slot>
    </th>
    <td
      class="text-right pa-1"
      :style="{ 'vertical-align': hours.length > 1 ? 'top' : 'middle' }"
    >
      <opening-hours-list
        :hours="hours"
        :open24-label="open24Label"
      />
    </td>
  </tr>
</template>
