<script
  lang="ts"
  setup
>
import useHoursProps from '@/ts/composables/common/hours/useHoursProps';
import useOpeningHourFormatter from '@/ts/composables/dates/hours/useOpeningHourFormatter';
import { OpeningHour } from '@/ts/utilities/dates/types';
import { toRef } from 'vue';

const props = defineProps<{
  hours: OpeningHour[];
  open24Label?: string;
}>();

const formatOpeningHour = useOpeningHourFormatter();
const { closed, open24Hours } = useHoursProps(toRef(props, 'hours'));
</script>

<template>
  <ul class="opening-hours__list pa-0 ma-0">
    <li
      v-if="closed"
      class="text-error"
    >
      {{ $t('common.openingHours.labels.closed') }}
    </li>
    <li v-else-if="open24Hours">
      {{ open24Label ?? $t('common.openingHours.labels.open24Hours') }}
    </li>
    <template v-else>
      <li
        v-for="(hour, index) in hours"
        :key="index"
      >
        {{ formatOpeningHour(hour) }}
      </li>
    </template>
  </ul>
</template>

<style
  lang="scss"
  scoped
>
  ul.opening-hours__list {
    list-style: none;
  }
</style>
