<script
  lang="ts"
  setup
>
import { useLangStore } from '@/ts/stores/lang';
import formatWeekday from '@/ts/utilities/dates/formatWeekday';
import currentPublicHoliday from '@/ts/utilities/dates/holidays/currentPublicHoliday';
import currentOpeningHour from '@/ts/utilities/dates/hours/currentOpeningHour';
import dateToSeconds from '@/ts/utilities/dates/hours/dateToSeconds';
import isOpen24Hours from '@/ts/utilities/dates/hours/isOpen24Hours';
import nextOpeningHour from '@/ts/utilities/dates/hours/nextOpeningHour';
import openingHourInSeconds from '@/ts/utilities/dates/hours/openingHourInSeconds';
import isoWeekday from '@/ts/utilities/dates/isoWeekday';
import { WeekdayOpeningHour } from '@/ts/utilities/dates/types';
import { Optional } from '@/ts/utilities/types/optional';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  hours?: Optional<WeekdayOpeningHour[]>;
  open24Label?: string;
}>();

const currentDate = new Date();
const currentWeekday = isoWeekday(currentDate);
const currentSeconds = dateToSeconds(currentDate);

const i18n = useI18n();
const lang = useLangStore();

const currentHour = computed(() => currentOpeningHour(props.hours ?? [], currentDate));
const nextHour = computed(() => nextOpeningHour(props.hours ?? [], currentDate));
const open24Hours = computed(() => (
  currentHour.value
  && nextHour.value
  && (currentHour.value.weekday + 1) === nextHour.value.weekday
  && isOpen24Hours(currentHour.value)
  && isOpen24Hours(nextHour.value)
));
const closed = computed(() => !currentHour.value);
const closedSoon = computed(() => {
  if (!currentHour.value || open24Hours.value) {
    return false;
  }

  const { start, end } = openingHourInSeconds(currentHour.value);

  return start <= end
    ? (end - currentSeconds) <= (60 * 60)
    : ((end + 24 * 60 * 60) - currentSeconds) <= (60 * 60);
});

const openingAtLabel = computed(() => {
  if (!nextHour.value || open24Hours.value) {
    return undefined;
  }

  if (currentWeekday === nextHour.value.weekday) {
    return i18n.t('common.openingHours.labels.openingAt', {
      time: nextHour.value.start,
    });
  }

  return i18n.t('common.openingHours.labels.openingAtOn', {
    time: nextHour.value.start,
    day: formatWeekday(nextHour.value.weekday, lang.locale, 'short'),
  });
});
const closingAtLabel = computed(() => {
  if (!currentHour.value) {
    return undefined;
  }

  if (open24Hours.value) {
    return props.open24Label ?? i18n.t('common.openingHours.labels.open24Hours');
  }

  return i18n.t('common.openingHours.labels.closingAt', {
    time: currentHour.value.end,
  });
});
const publicHolidayLabel = computed(() => currentPublicHoliday(currentDate));
</script>

<template>
  <span>
    <template v-if="closed">
      <span class="text-error">{{ $t('common.openingHours.labels.closed') }}</span>
      <span
        v-if="openingAtLabel"
        class="text-medium-emphasis"
      > · {{ openingAtLabel }}</span>
    </template>
    <template v-else-if="closedSoon">
      <span class="text-warning">{{ $t('common.openingHours.labels.closingSoon') }}</span>
      <span
        v-if="currentHour"
        class="text-medium-emphasis"
      > · {{ currentHour.end }}</span>
      <span
        v-if="openingAtLabel"
        class="text-medium-emphasis"
      > · {{ openingAtLabel }}</span>
    </template>
    <template v-else>
      <span class="text-success">{{ $t('common.openingHours.labels.opened') }}</span>
      <span
        v-if="currentHour"
        class="text-medium-emphasis"
      > · {{ closingAtLabel }}</span>
    </template>
    <template v-if="publicHolidayLabel">
      <br>
      <span class="text-warning">
        {{ $t('common.openingHours.labels.publicHolidayNotice', { name: publicHolidayLabel }) }}
      </span>
    </template>
  </span>
</template>

<style
  lang="scss"
  scoped
>
  .text-success, .text-warning, .text-error {
    opacity: 1 !important;
  }
</style>
