<script
  lang="ts"
  setup
>
import OrganizationMember from '@/ts/api/models/organizationMember';
import UnreadNotificationsBadge from '@/ts/components/account/UnreadNotificationsBadge.vue';
import AppMenu from '@/ts/components/common/menu/AppMenu.vue';
import useLogout from '@/ts/composables/auth/useLogout';
import useNotificationsState from '@/ts/composables/auth/useNotificationsState';
import useSwitchActingFor from '@/ts/composables/auth/useSwitchActingFor';
import useResourceRouteOne from '@/ts/composables/resources/core/useResourceRouteOne';
import { useAuthStore } from '@/ts/stores/auth';
import translate from '@/ts/utilities/lang/translate';
import { isSame } from '@foscia/core';
import {
  mdiAccountOutline,
  mdiCheckCircleOutline,
  mdiCircleOutline,
  mdiLogoutVariant,
  mdiOfficeBuildingOutline,
} from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useDisplay } from 'vuetify';

const { xs, mobile } = useDisplay();
const i18n = useI18n();
const auth = useAuthStore();
const { logout } = useLogout();
const { actingFor, canSeeActingFor, canSwitchActingFor, switchActingFor } = useSwitchActingFor();
const notificationsState = useNotificationsState();

const onSwitchActingFor = async (member: OrganizationMember) => {
  await switchActingFor(member);
};

const menuTitle = computed(() => i18n.t('navigation.items.account', {
  info: notificationsState.value.title,
}));
const menuItems = computed(() => [
  {
    title: i18n.t('navigation.items.myAccount'),
    props: {
      prependIcon: mdiAccountOutline,
      to: { name: 'account.me' },
    },
  },
  ...(actingFor.value && canSeeActingFor.value ? [{
    title: translate('navigation.items.myOrganization'),
    props: {
      prependIcon: mdiOfficeBuildingOutline,
      to: useResourceRouteOne(actingFor.value.organization),
    },
  }] : []),
  {
    title: i18n.t('navigation.items.myNotifications'),
    props: {
      prependIcon: notificationsState.value.icon,
      subtitle: notificationsState.value.title,
      to: { name: 'account.notifications' },
    },
  },
  ...(canSwitchActingFor.value ? [{ divider: true }, {
    title: i18n.t('navigation.items.myOrganizations'),
    items: auth.user.memberOfOrganizations.map((member) => ({
      title: translate(member.organization.name),
      props: {
        appendIcon: isSame(member, actingFor.value) ? mdiCheckCircleOutline : mdiCircleOutline,
        onClick: () => onSwitchActingFor(member),
      },
    })),
  }] : []),
  { divider: true },
  {
    title: i18n.t('navigation.items.signOut'),
    props: {
      prependIcon: mdiLogoutVariant,
      role: 'button',
      onClick: () => logout(),
    },
  },
]);
</script>

<template>
  <div class="d-flex justify-end">
    <app-menu
      :items="menuItems"
      location="bottom right"
      max-height="500"
      mode="menu"
    >
      <template #activator="{ props }">
        <v-btn
          :title="menuTitle"
          :icon="xs"
          :size="mobile ? 'default' : 'large'"
          color="on-primary"
          variant="outlined"
          v-bind="props"
        >
          <template v-if="xs">
            {{ auth.user.initials }}
          </template>
          <template v-else>
            <v-icon
              :icon="mdiAccountOutline"
              start
            />
            {{ auth.user.fullName }}
          </template>
          <unread-notifications-badge
            :active="notificationsState.unread"
            absolute
          />
        </v-btn>
      </template>
    </app-menu>
  </div>
</template>
