<script
  lang="ts"
  setup
>
import logoInlineSvg from '@/assets/img/logo--inline.svg?raw';
import logoSvg from '@/assets/img/logo.svg?raw';
import SkipLink from '@/ts/components/accessibility/SkipLink.vue';
import NavBarProgress from '@/ts/components/navigation/bar/NavBarProgress.vue';
import env from '@/ts/env';
import makeSvgIcon from '@/ts/icons/makeSvgIcon';
import { useAuthStore } from '@/ts/stores/auth';
import { mdiMenu } from '@mdi/js';
import { computed, defineAsyncComponent } from 'vue';
import { useDisplay, useTheme } from 'vuetify';

defineProps<{
  drawer: boolean;
  home: boolean;
}>();

const emit = defineEmits<{
  (e: 'drawer-toggle', target: EventTarget): void;
}>();

const theme = useTheme();
const { mobile, smAndUp } = useDisplay();
const auth = useAuthStore();

const NavBarAuthElements = defineAsyncComponent(
  () => import('@/ts/components/navigation/bar/NavBarAuthElements.vue'),
);
const NavBarGuestElements = defineAsyncComponent(
  () => import('@/ts/components/navigation/bar/NavBarGuestElements.vue'),
);

const LogoIcon = computed(() => makeSvgIcon(smAndUp.value ? logoInlineSvg : logoSvg));

const UserElements = computed(() => (
  auth.auth ? NavBarAuthElements : NavBarGuestElements
));

const onDrawerToggle = (event: Event) => {
  if (event.target) {
    emit('drawer-toggle', event.target);
  }
};
</script>

<template>
  <skip-link
    :title="$t('navigation.goToContent')"
    to="main"
  />
  <v-btn
    v-if="mobile"
    :title="drawer ? $t('navigation.drawer.close') : $t('navigation.drawer.open')"
    :aria-expanded="drawer ? 'true' : 'false'"
    :icon="mdiMenu"
    color="on-primary"
    aria-haspopup="true"
    aria-owns="app-drawer"
    class="ml-3"
    @click="onDrawerToggle"
  />
  <v-slide-y-transition>
    <router-link
      v-if="!home"
      :title="$t('navigation.items.home')"
      :class="{ 'ml-8': !mobile, 'bg-primary': !theme.current.value.dark }"
      class="home__link d-flex align-center text-decoration-none mr-4"
      to="/"
    >
      <logo-icon aria-hidden="true" />
      <div
        aria-hidden="true"
        class="home__logo__text"
      >
        Lieux et activités accessibles
        {{ env.app.territory }}
      </div>
    </router-link>
  </v-slide-y-transition>
  <v-spacer />
  <v-scroll-y-transition leave-absolute>
    <component
      :is="UserElements"
      class="mr-3"
    />
  </v-scroll-y-transition>
  <nav-bar-progress />
</template>

<style lang="scss">
  #app-nav {
    padding-left: var(--v-nav-bar-padding-left);

    &.v-toolbar {
      width: 100vw !important;
      left: 0 !important;
    }

    .home__link {
      position: relative;
      height: 72px;
      max-height: 72px;
    }

    .home__logo__text {
      display: none;
      position: absolute;
      left: 32px;
      bottom: 6px;
      white-space: nowrap;
      opacity: 0.8;
      font-size: 14px !important;
      line-height: 16px !important;
      letter-spacing: normal !important;

      @media screen and (min-width: 800px) {
        display: block;
      }
    }

    @media screen and (min-width: 960px) {
      .home__link {
        height: 76px;
        max-height: 76px;
      }
    }

    .home__logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
</style>
