<script
    lang="ts"
    setup
>
import AppResponsiveBtn from '@/ts/components/common/AppResponsiveBtn.vue';
import useIntended from '@/ts/composables/auth/useIntended';
import { mdiAccountOutline, mdiAccountPlusOutline } from '@mdi/js';
import { useDisplay } from 'vuetify';

const { mobile } = useDisplay();
const { toWithIntended } = useIntended();
</script>

<template>
  <div class="d-flex justify-end">
    <app-responsive-btn
      :label="$t('navigation.labels.signIn')"
      :title="$t('navigation.items.signIn')"
      :icon="mdiAccountOutline"
      :to="toWithIntended({ name: 'auth.sign-in' })"
      :size="mobile ? 'default' : 'large'"
      color="on-primary"
      variant="outlined"
      class="mr-2"
    />
    <app-responsive-btn
      :label="$t('navigation.labels.signUp')"
      :title="$t('navigation.items.signUp')"
      :icon="mdiAccountPlusOutline"
      :to="toWithIntended({ name: 'auth.sign-up' })"
      :size="mobile ? 'default' : 'large'"
      color="on-primary"
      variant="elevated"
    />
  </div>
</template>
