<script
  lang="ts"
  setup
>
import { useRoutingStore } from '@/ts/stores/routing';
import { computed } from 'vue';

const routing = useRoutingStore();

const hasProgress = computed(() => routing.isNavigating);
</script>

<template>
  <v-fade-transition>
    <v-progress-linear
      v-if="hasProgress"
      color="on-primary"
      aria-hidden="true"
      class="nav-bar-progress position-absolute bottom-0"
      indeterminate
    />
  </v-fade-transition>
</template>

<style
  lang="scss"
  scoped
>
  .nav-bar-progress {
    left: calc(-1 * var(--v-nav-bar-padding-left)) !important;
    width: 100vw !important;
    transform: none !important;
  }
</style>
