<script
  lang="ts"
  setup
>
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AppMenu from '@/ts/components/common/menu/AppMenu.vue';
import { mdiSort } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', value: string): void;
}>();

const props = defineProps<{
  modelValue: string;
}>();

const i18n = useI18n();

const onUpdateValue = (newValue: string) => {
  if (props.modelValue !== newValue) {
    emit('update:model-value', newValue);
  }
};

const items = computed(() => [
  { value: '-createdAt', title: i18n.t('actions.sorts.latest') },
  { value: 'createdAt', title: i18n.t('actions.sorts.oldest') },
  ...[...AccessibilityCategory.all.values()].map((c) => ({
    value: `has-${c.value}-accessibility`,
    title: i18n.t('actions.sorts.hasAccessibility', { typology: c.typology }),
  })),
]);
</script>

<template>
  <app-menu
    :model-value="modelValue"
    :items="items"
    mode="listbox"
    class="reviews-sort-menu"
    @update:model-value="onUpdateValue"
  >
    <template #activator="{ props: activatorProps }">
      <v-btn
        :prepend-icon="mdiSort"
        variant="tonal"
        v-bind="activatorProps"
      >
        {{ $t('actions.sort') }}
      </v-btn>
    </template>
  </app-menu>
</template>

<style
  lang="scss"
  scoped
>
  :global(.reviews-sort-menu > .v-overlay__content) {
    min-width: 300px !important;
  }
</style>
