<script
  lang="ts"
  setup
>
import ReviewRatingIcons from '@/ts/components/reviews/ReviewRatingIcons.vue';
import useRatingValue from '@/ts/composables/reviews/useRatingValue';
import isNil from '@/ts/utilities/common/isNil';
import { toRef } from 'vue';

const props = defineProps<{
  rating: number;
  total?: number;
  icon?: boolean;
}>();

const value = useRatingValue(toRef(props, 'rating'));
</script>

<template>
  <div class="d-flex align-center">
    <div
      v-if="!icon"
      class="text-medium-emphasis mr-1"
      aria-hidden="true"
    >
      {{ value }}
    </div>
    <review-rating-icons :rating="rating" />
    <div
      v-if="!isNil(total)"
      :title="$t('reviews.scoped.count', { n: total })"
      role="img"
      class="text-medium-emphasis ml-1"
    >
      <span aria-hidden="true">
        ({{ total }})
      </span>
    </div>
  </div>
</template>
