<script
  lang="ts"
  setup
>
import { Reviewable } from '@/ts/api/composables/reviewable';
import Review from '@/ts/api/models/review';
import ReviewDialog from '@/ts/components/reviews/ReviewDialog.vue';
import { fill } from '@foscia/core';
import { mdiMessageStarOutline } from '@mdi/js';
import { onMounted, ref } from 'vue';

const emit = defineEmits<{
  (e: 'created', review: Review): void;
}>();

const props = defineProps<{
  reviewable: Reviewable;
  reviewed?: boolean;
}>();

const review = ref(null as Review | null);

onMounted(() => {
  review.value = fill(new Review(), { reviewable: props.reviewable });
});

const onDone = () => {
  emit('created', review.value!);
};
</script>

<template>
  <review-dialog
    v-if="review"
    :review="review"
    @done="onDone"
  >
    <template #activator="{ props: activatorProps }">
      <v-btn
        :prepend-icon="mdiMessageStarOutline"
        :disabled="reviewed"
        v-bind="activatorProps"
      >
        {{ $t('reviews.review.create.title') }}
      </v-btn>
    </template>
  </review-dialog>
</template>
