<script
  lang="ts"
  setup
>
import { Reviewable } from '@/ts/api/composables/reviewable';
import Review from '@/ts/api/models/review';
import ReviewCreateDialog from '@/ts/components/reviews/ReviewCreateDialog.vue';
import ReviewRatingSummary from '@/ts/components/reviews/ReviewRatingSummary.vue';
import { RouteLocationRaw } from 'vue-router';

const emit = defineEmits<{
  (e: 'created', review: Review): void;
}>();

defineProps<{
  level: 1 | 2 | 3 | 4 | '1' | '2' | '3' | '4';
  reviewable: Reviewable;
  to?: RouteLocationRaw;
}>();

const onCreated = (review: Review) => {
  emit('created', review);
};
</script>

<template>
  <template v-if="reviewable.reviewsSummary">
    <v-card-title
      role="heading"
      :aria-level="level"
    >
      {{ $t('reviews.summary') }}
    </v-card-title>
    <v-card-text>
      <review-rating-summary
        :summary="reviewable.reviewsSummary"
        :to="to"
      />
    </v-card-text>
  </template>
  <v-card-text
    v-else
    class="text-center"
  >
    <review-create-dialog
      :reviewable="reviewable"
      @created="onCreated"
    />
  </v-card-text>
</template>
