<script
  lang="ts"
  setup
>
import ReviewRatingIcons from '@/ts/components/reviews/ReviewRatingIcons.vue';
import useRatingValue from '@/ts/composables/reviews/useRatingValue';
import isNil from '@/ts/utilities/common/isNil';
import { Optional } from '@/ts/utilities/types/optional';
import { mdiHelp } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  rating?: Optional<number>;
  dense?: boolean;
}>();

const value = useRatingValue(computed(() => props.rating));
</script>

<template>
  <span class="d-flex flex-column align-center justify-center my-0">
    <span
      v-if="!dense"
      class="rating-display"
      aria-hidden="true"
    >
      <v-icon
        v-if="isNil(value)"
        :icon="mdiHelp"
        size="3rem"
      />
      <span v-else>
        {{ value }}
      </span>
    </span>
    <span class="d-flex justify-center">
      <review-rating-icons :rating="rating" />
    </span>
  </span>
</template>

<style
  lang="scss"
  scoped
>
  .rating-display {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0;
  }
</style>
