<script
    lang="ts"
    setup
>
import ReviewRatingIcon from '@/ts/components/reviews/ReviewRatingIcon.vue';
import useRatingValue from '@/ts/composables/reviews/useRatingValue';
import isNil from '@/ts/utilities/common/isNil';
import { Optional } from '@/ts/utilities/types/optional';
import { computed, toRef } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  rating?: Optional<number>;
}>();

const i18n = useI18n();

const value = useRatingValue(toRef(props, 'rating'));

const title = computed(() => (
  isNil(value.value)
    ? i18n.t('reviews.rating.none')
    : i18n.t('reviews.rating.value', { value: value.value })
));
</script>

<template>
  <span
    :title="title"
    role="img"
    class="d-flex align-center"
  >
    <review-rating-icon
      v-for="index in 5"
      :key="`icons-${index}`"
      :value="((rating ?? 0) + 1) - index"
    />
  </span>
</template>
