<script
  lang="ts"
  setup
>

import { ReviewsSummary } from '@/ts/api/composables/reviewable';
import range from '@/ts/utilities/arrays/range';
import { computed } from 'vue';

const props = defineProps<{
  distribution: ReviewsSummary['distribution'];
}>();

const ratings = range(1, 5).reverse().map((i) => String(i)) as unknown as (keyof ReviewsSummary['distribution'])[];
const total = computed(() => Math.max(...Object.values(props.distribution)));
</script>

<template>
  <div>
    <div
      v-for="rating in ratings"
      :key="`ratings-${rating}`"
      class="d-flex align-center my-1"
    >
      <div
        class="text-medium-emphasis mr-2"
        aria-hidden="true"
      >
        {{ rating }}
      </div>
      <div class="flex-grow-1">
        <v-progress-linear
          :model-value="(distribution[rating] / total) * 100"
          :title="$t('reviews.rating.valueOver', { value: rating, total: distribution[rating] })"
          :aria-valuemin="undefined"
          :aria-valuemax="undefined"
          :aria-valuenow="undefined"
          :height="8"
          color="warning"
          bg-color="on-surface"
          role="img"
          rounded
        />
      </div>
    </div>
  </div>
</template>
