<script
  lang="ts"
  setup
>
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  title: string;
  active: boolean;
}>();

const i18n = useI18n();

const listItemTitle = computed(() => (
  props.active ? i18n.t('states.scoped.isSelected', { name: props.title }) : props.title
));
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <div role="listitem">
    <v-list-item
      :active="active"
      :title="listItemTitle"
      tabindex="0"
      v-bind="$attrs"
    />
  </div>
</template>
