<script
  setup
  lang="ts"
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import ReviewRating from '@/ts/components/reviews/ReviewRating.vue';
import FeatureName from '@/ts/utilities/features/featureName';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { mdiArrowRight, mdiMessageStarOutline } from '@mdi/js';

defineProps<{
  rating?: number;
  total?: number;
  role?: string;
  main?: boolean;
  large?: boolean;
  actionProps?: Dictionary;
}>();
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <div
    v-if="FeatureName.REVIEWS.check()"
    :role="role"
    :class="{ 'info-list__item--main': main }"
    class="info-list__item"
  >
    <v-list-item
      :prepend-icon="mdiMessageStarOutline"
      :title="$t('reviews.panel.title')"
      role="link"
      v-bind="actionProps"
    >
      <div class="text-subtitle-2">
        <review-rating
          v-if="rating"
          :rating="rating"
          :total="total"
        />
        <span v-else>
          {{ $t('reviews.panel.none') }}
        </span>
      </div>
      <template
        v-if="actionProps"
        #append
      >
        <v-icon
          :icon="mdiArrowRight"
          color="primary"
        />
      </template>
    </v-list-item>
    <app-divider
      v-if="main"
      class="mx-4"
    />
  </div>
</template>

<style
  scoped
  lang="scss"
>

</style>
