<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import { Reviewable } from '@/ts/api/composables/reviewable';
import withReactionsSummary from '@/ts/api/enhancers/withReactionsSummary';
import Review from '@/ts/api/models/review';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import ReviewsListItem from '@/ts/components/reviews/ReviewsListItem.vue';
import ReviewsListSort from '@/ts/components/reviews/ReviewsListSort.vue';
import useAsync from '@/ts/composables/common/useAsync';
import useInfiniteScroll from '@/ts/composables/dom/useInfiniteScroll';
import { useAuthStore } from '@/ts/stores/auth';
import removeOne from '@/ts/utilities/arrays/removeOne';
import { all, include, isSame, query } from '@foscia/core';
import { filterBy, paginate, sortBy, sortByDesc, usingDocument } from '@foscia/jsonapi';
import { ref, toRef, watch } from 'vue';

const LIMIT = 15;

const emit = defineEmits<{
  (e: 'reviewed', hasReview: boolean): void;
  (e: 'updated'): void;
}>();

const props = defineProps<{
  scrollView: Document | HTMLElement | null;
  reviewable: Reviewable;
  ariaLabelledby?: string;
  ariaDescribedby?: string;
  large?: boolean;
}>();

const auth = useAuthStore();
const { loading, asyncRun } = useAsync();

const page = ref(1);
const total = ref(0);
const more = ref(true);
const showEnd = ref(false);
const reviews = ref([] as Review[]);
const sort = ref('-createdAt');

const fetchReviews = () => asyncRun(async () => {
  const data = await action()
    .use(query(props.reviewable, 'reviews'))
    .use(include('ownerUser', 'currentReaction', 'replies'))
    .use(withReactionsSummary())
    .use(filterBy('withTrashed', true))
    .use(sortByDesc('userOwned'))
    .use(sortBy(sort.value))
    .use(sortByDesc('createdAt'))
    .use(paginate({ size: LIMIT, number: page.value }))
    .run(all(usingDocument));

  total.value = data.document.meta!.page.total;
  more.value = page.value < data.document.meta!.page.lastPage;
  page.value += 1;

  if (!more.value && props.scrollView) {
    const scrollViewEl = props.scrollView instanceof Document
      ? props.scrollView.documentElement
      : props.scrollView;
    if (scrollViewEl.clientHeight < scrollViewEl.scrollHeight) {
      showEnd.value = true;
    }
  }

  reviews.value.push(...data.instances);

  if (page.value === 2) {
    emit('reviewed', auth.auth && isSame(reviews.value[0]?.ownerUser, auth.user));
  }
});

const reFetchReviews = async () => {
  loading.value = true;
  reviews.value = [];
  page.value = 1;
  total.value = 0;
  more.value = false;
  showEnd.value = false;
  await fetchReviews();
};

const onUpdated = () => {
  emit('updated');
};

const onDeleted = (review: Review) => {
  removeOne(reviews.value, review);

  emit('updated');

  if (auth.auth && isSame(auth.user, review.ownerUser)) {
    emit('reviewed', false);
  }
};

watch(sort, async () => {
  if (!loading.value) {
    await reFetchReviews();
  }
});

useInfiniteScroll(toRef(props, 'scrollView'), () => {
  if (!loading.value && more.value) {
    fetchReviews();
  }
}, true);
</script>

<template>
  <div>
    <div class="d-flex justify-end pr-2">
      <reviews-list-sort v-model="sort" />
    </div>
    <div
      :aria-labelledby="ariaLabelledby"
      :aria-describedby="ariaDescribedby"
      role="list"
      tabindex="-1"
    >
      <template
        v-for="(review, index) in reviews"
        :key="`reviews-${review.id}`"
      >
        <app-divider
          v-if="index !== 0"
          class="mx-4"
        />
        <reviews-list-item
          :reviewable="reviewable"
          :review="review"
          :large="large"
          class="py-4"
          @updated="onUpdated"
          @deleted="onDeleted"
        />
      </template>
    </div>
    <template v-if="showEnd">
      <app-divider class="mx-4" />
      <v-card-text class="text-center">
        {{ $t('states.list.end') }}
      </v-card-text>
    </template>
  </div>
</template>
