<script
  lang="ts"
  setup
>
import { Reviewable } from '@/ts/api/composables/reviewable';
import Activity from '@/ts/api/models/activity';
import Place from '@/ts/api/models/place';
import Review from '@/ts/api/models/review';
import ReviewReply from '@/ts/api/models/reviewReply';
import fillAndSave from '@/ts/api/utilities/fillAndSave';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import RequiredInputsHint from '@/ts/components/forms/RequiredInputsHint.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import useForm from '@/ts/composables/forms/useForm';
import useInput from '@/ts/composables/forms/useInput';
import { useAuthStore } from '@/ts/stores/auth';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import actingForOrganization from '@/ts/utilities/authorizations/actingForOrganization';
import max from '@/ts/validation/rules/max';
import required from '@/ts/validation/rules/required';
import { fill } from '@foscia/core';
import { computed, watch } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits<{
  (e: 'update:model-value', v: boolean): void;
}>();

const props = defineProps<{
  modelValue?: boolean;
  reviewable: Reviewable;
  review: Review;
}>();

const i18n = useI18n();
const auth = useAuthStore();
const snackbar = useSnackbarStore();

const lazyValue = useLazyValue(computed(() => props.modelValue ?? false));

const replied = computed(() => props.review.replies.length > 0);
const canReplyToReview = computed(() => {
  const actingOrganizationId = actingForOrganization()?.organization?.id;

  return auth.verified
    && !auth.blocked
    && !replied.value
    && !!actingOrganizationId
    && actingOrganizationId === (props.reviewable as Place | Activity).ownerOrganization?.id;
});

const bodyInput = useInput({
  label: i18n.t('forms.labels.comment'),
  name: 'body',
  rules: [required, max(500)],
  value: '',
});

const { loading, btnLoading, reset, onSubmit } = useForm([
  bodyInput,
] as const, {
  async onSubmit({ allValues }) {
    const reply = await fillAndSave(new ReviewReply(), {
      ...allValues,
      review: props.review,
    });

    fill(props.review, {
      replies: [reply, ...props.review.replies],
    });

    lazyValue.value = false;

    snackbar.toast(i18n.t('reviews.reply.create.toast'));
  },
});

watch(lazyValue, (value) => {
  if (!value) {
    reset();
  }

  emit('update:model-value', value);
});

const onClose = () => {
  lazyValue.value = false;
};
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <app-dialog
    v-if="canReplyToReview"
    v-model="lazyValue"
    :title="$t('reviews.reply.create.title')"
    :subtitle="$t('reviews.reply.create.description')"
    :persistent="loading"
    :form-props="{ readonly: loading, onSubmit }"
    v-bind="$attrs"
  >
    <template #activator="activatorProps">
      <slot
        name="activator"
        v-bind="{ ...activatorProps, props: { ...activatorProps.props, role: 'button' } }"
      />
    </template>
    <app-divider />
    <v-card-text>
      <v-row dense>
        <v-col cols="12">
          <required-inputs-hint />
        </v-col>
        <v-col cols="12">
          <v-textarea
            maxlength="500"
            rows="2"
            counter
            v-bind="bodyInput.props"
          />
        </v-col>
      </v-row>
    </v-card-text>
    <app-divider />
    <v-card-actions class="justify-end">
      <v-btn @click="onClose">
        {{ $t('actions.cancel') }}
      </v-btn>
      <v-btn
        type="submit"
        variant="elevated"
        color="primary"
        v-bind="btnLoading"
      >
        {{ $t('reviews.reply.create.action') }}
      </v-btn>
    </v-card-actions>
  </app-dialog>
</template>
