<script
  lang="ts"
  setup
>
import { mdiStar, mdiStarHalf } from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  value: number;
  size?: number;
}>();

const iconSize = computed(() => props.size ?? 20);
const icon = computed(() => {
  if (props.value < 0.25) {
    return null;
  }

  return props.value < 0.75 ? mdiStarHalf : mdiStar;
});
</script>

<template>
  <span
    :style="{ height: `${iconSize}px`, width: `${iconSize}px` }"
    class="position-relative"
  >
    <v-icon
      :size="iconSize"
      :icon="mdiStar"
      class="review-rating-icon__underlay position-absolute"
    />
    <v-icon
      v-if="icon"
      :size="iconSize"
      :icon="icon"
      color="warning"
      class="review-rating-icon position-absolute"
    />
  </span>
</template>

<style
  lang="scss"
  scoped
>
  .review-rating-icon {
    color: rgb(var(--v-theme-warning)) !important;

    &__underlay {
      color: rgb(var(--v-theme-on-surface));
      opacity: var(--v-border-opacity);
    }
  }
</style>
