<script
  lang="ts"
  setup
>
import { ReviewsSummary } from '@/ts/api/composables/reviewable';
import ReviewRatingDisplay from '@/ts/components/reviews/ReviewRatingDisplay.vue';
import ReviewRatingDistribution from '@/ts/components/reviews/ReviewRatingDistribution.vue';
import { RouteLocationRaw } from 'vue-router';

defineProps<{
  summary: ReviewsSummary;
  to?: RouteLocationRaw;
}>();
</script>

<template>
  <div class="d-flex align-center">
    <review-rating-distribution
      :distribution="summary.distribution"
      class="flex-grow-1"
    />
    <p class="d-flex flex-column align-center justify-center my-0 ml-4">
      <review-rating-display :rating="summary.rating" />
      <span class="text-center mt-2">
        <v-btn
          v-if="to"
          :to="to"
          variant="text"
          size="large"
          density="comfortable"
        >
          {{ $t('reviews.scoped.count', { n: summary.total }) }}
        </v-btn>
        <span v-else>
          {{ $t('reviews.scoped.count', { n: summary.total }) }}
        </span>
      </span>
    </p>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .rating-display {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0;
  }
</style>
