<script
  lang="ts"
  setup
>

import Article from '@/ts/api/models/article';
import Category from '@/ts/api/models/category';
import ArticleCard from '@/ts/components/articles/ArticleCard.vue';
import CategoryChip from '@/ts/components/categories/CategoryChip.vue';
import AppList from '@/ts/components/data/AppList.vue';
import PinnableIndicator
  from '@/ts/components/resources/composables/pinnable/PinnableIndicator.vue';
import useArticleRoute from '@/ts/composables/articles/useArticleRoute';
import { useLangStore } from '@/ts/stores/lang';
import mainCategories from '@/ts/utilities/categories/mainCategories';
import formatDate from '@/ts/utilities/dates/formatDate';
import translate from '@/ts/utilities/lang/translate';
import computeDescription from '@/ts/utilities/strings/computeDescription';
import { Optional } from '@/ts/utilities/types/optional';
import { ModelInstance } from '@foscia/core';
import { mdiArrowRight } from '@mdi/js';
import { computed, toRef } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const emit = defineEmits<{
  (e: 'click:category', category: Category): void;
}>();

const props = defineProps<{
  about?: Optional<ModelInstance>;
  article: Article;
}>();

const router = useRouter();
const route = useRoute();
const lang = useLangStore();
const articleTo = useArticleRoute(toRef(props, 'article'), toRef(props, 'about'));

const categories = computed(() => mainCategories(props.article.categories ?? []));

const categoryTo = (category: Category) => ({
  path: route.path,
  query: {
    ...route.query,
    page: '1',
    categories: [category.id],
  },
});

const onArticleClick = () => {
  router.push(articleTo.value);
};

const onCategoryClick = (category: Category) => {
  emit('click:category', category);
};
</script>

<template>
  <article-card
    :cover="article.cover"
    @click="onArticleClick"
  >
    <template #body>
      <v-card-title class="pt-md-8">
        <div
          class="font-weight-bold"
          role="heading"
          aria-level="2"
        >
          <pinnable-indicator :pinnable="article" />
          {{ translate(article.name) }}
        </div>
      </v-card-title>
      <v-card-text
        v-if="categories.length"
        class="flex-grow-0 py-0"
      >
        <app-list :items="categories">
          <template #item="{ item }">
            <category-chip
              :to="categoryTo(item)"
              :category="item"
              @click.stop="onCategoryClick(item)"
            />
          </template>
        </app-list>
      </v-card-text>
      <v-card-text class="flex-grow-0">
        <p class="text-caption text-formatted my-0">
          {{ translate(computeDescription(article.description, article.body)) }}
        </p>
      </v-card-text>
    </template>
    <template #actions>
      <v-card-actions class="justify-space-between">
        <span class="text-body-2 text-medium-emphasis pl-2">
          {{ formatDate(article.publishedAt!, lang.locale) }}
        </span>
        <v-btn
          :to="articleTo"
          :title="$t('actions.scoped.read', { name: translate(article.name) })"
          :append-icon="mdiArrowRight"
          variant="tonal"
          size="large"
        >
          {{ $t('actions.read') }}
        </v-btn>
      </v-card-actions>
    </template>
  </article-card>
</template>
