<script
  setup
  lang="ts"
>
import Media from '@/ts/api/models/media';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import MediaCover from '@/ts/components/media/MediaCover.vue';
import { Optional } from '@/ts/utilities/types/optional';

defineProps<{
  cover?: Optional<Media>;
}>();
</script>

<template>
  <v-card class="article-card">
    <v-row no-gutters>
      <v-col
        class="article-card__cover position-relative"
        cols="12"
        sm="4"
      >
        <media-cover
          :media="cover"
          class="pa-4"
          height="268"
          no-dialog
        />
        <slot name="badge" />
      </v-col>
      <v-col
        cols="12"
        sm="8"
      >
        <div class="d-flex flex-column justify-start h-100">
          <slot name="body" />
          <app-divider class="mt-auto mx-4" />
          <slot name="actions" />
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  .article-card {
    min-height: 300px;

    .article-card__cover {
      min-height: 96px;
    }
  }
</style>
