<script
  setup
  lang="ts"
>
import Activity from '@/ts/api/models/activity';
import Article from '@/ts/api/models/article';
import Place from '@/ts/api/models/place';
import ReportDialog from '@/ts/components/reports/ReportDialog.vue';
import ClaimRequestDialog from '@/ts/components/requests/ClaimRequestDialog.vue';
import SourcesOriginsList from '@/ts/components/sources/SourcesOriginsList.vue';
import useClaimTitle from '@/ts/composables/requests/useClaimTitle';
import { useLangStore } from '@/ts/stores/lang';
import formatDate from '@/ts/utilities/dates/formatDate';
import { mdiCommentAlertOutline, mdiCommentQuestionOutline } from '@mdi/js';
import { computed, toRef } from 'vue';

const props = defineProps<{
  article: Place | Article | Activity;
  claimable?: Place | Activity;
}>();

const lang = useLangStore();

const claimTitle = useClaimTitle(toRef(props, 'claimable'));
const updatedOn = computed(() => formatDate(props.article.updatedAt, lang.locale));
</script>

<template>
  <div>
    <p class="text-body-2 text-medium-emphasis my-0">
      {{ $t('states.scoped.updatedOn', { date: updatedOn }) }}
      <template v-if="article.sourced">
        <br>
        <sources-origins-list :sourceable="article" />
      </template>
    </p>
    <report-dialog :reportable="article">
      <template #activator="{ props: activatorProps }">
        <v-btn
          :prepend-icon="mdiCommentAlertOutline"
          variant="outlined"
          color="error"
          class="mt-3"
          v-bind="activatorProps"
        >
          {{ $t('reports.report.action') }}
        </v-btn>
      </template>
    </report-dialog>
    <claim-request-dialog
      v-if="claimable"
      :requestable="claimable"
    >
      <template #activator="{ props: activatorProps }">
        <v-btn
          :prepend-icon="mdiCommentQuestionOutline"
          variant="tonal"
          class="mt-3"
          v-bind="activatorProps"
        >
          {{ claimTitle }}
        </v-btn>
      </template>
    </claim-request-dialog>
  </div>
</template>
