<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Article from '@/ts/api/models/article';
import MediaCover from '@/ts/components/media/MediaCover.vue';
import useArticleRoute from '@/ts/composables/articles/useArticleRoute';
import useArticlesRoute from '@/ts/composables/articles/useArticlesRoute';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import translate from '@/ts/utilities/lang/translate';
import computeDescription from '@/ts/utilities/strings/computeDescription';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { include, ModelInstance, one, query } from '@foscia/core';
import { filterBy, paginate } from '@foscia/jsonapi';
import { mdiArrowRight, mdiNewspaperVariantMultipleOutline } from '@mdi/js';
import { computed, ref, toRef, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:empty', empty: boolean): void;
}>();

const props = defineProps<{
  level: 1 | 2 | 3 | 4 | '1' | '2' | '3' | '4';
  instance?: ModelInstance;
  empty?: boolean;
  hide?: boolean;
  filter: Dictionary;
}>();
const lazyEmpty = useLazyValue(computed(() => props.empty ?? true));

const article = ref(null as Article | null);

const articlesTo = useArticlesRoute(toRef(props, 'instance'));
const articleTo = useArticleRoute(computed(() => article.value!), toRef(props, 'instance'));

watch(lazyEmpty, (empty) => emit('update:empty', empty));

watch(toRef(props, 'filter'), async () => {
  article.value = await action()
    .use(query(Article))
    .use(include('cover'))
    .use(filterBy(props.filter))
    .use(paginate({ size: 1, number: 1 }))
    .run(one());

  lazyEmpty.value = !article.value;
}, { immediate: true });
</script>

<template>
  <template v-if="!hide">
    <v-card-title
      :aria-level="level"
      role="heading"
    >
      {{ $t('articles.latest.title') }}
    </v-card-title>
    <v-card-subtitle
      v-if="!article"
      class="pb-2"
    >
      {{ $t('articles.none') }}
    </v-card-subtitle>
    <v-card-text v-else>
      <media-cover
        :media="article.cover"
        max-height="128"
        class="pb-2"
        no-dialog
      />
      <div
        :aria-level="Number(level) + 1"
        role="heading"
        class="text-body-1 font-weight-bold"
      >
        {{ translate(article.name) }}
      </div>
      <p class="text-formatted">
        {{ translate(computeDescription(article.description, article.body)) }}
      </p>
      <div class="d-flex align-center justify-end flex-wrap">
        <v-btn
          :to="articlesTo"
          :prepend-icon="mdiNewspaperVariantMultipleOutline"
          variant="text"
        >
          {{ $t('articles.latest.all') }}
        </v-btn>
        <v-btn
          :to="articleTo"
          :title="$t('actions.scoped.read', { name: translate(article.name) })"
          :append-icon="mdiArrowRight"
          variant="text"
          class="ml-2"
        >
          {{ $t('actions.read') }}
        </v-btn>
      </div>
    </v-card-text>
  </template>
</template>
