<script
  setup
  lang="ts"
>
/* eslint-disable import/no-duplicates */
import mapCategoriesPlusSrc from '@/assets/img/faq/map-categories-plus.png';
import mapCategoriesPlusSrcset
  from '@/assets/img/faq/map-categories-plus.png?responsive&imagetools';
import registerBtnSrc from '@/assets/img/faq/register-btn.png';
import registerBtnSrcset from '@/assets/img/faq/register-btn.png?responsive&imagetools';
import reportBtnSrc from '@/assets/img/faq/report-btn.png';
import reportBtnSrcset from '@/assets/img/faq/report-btn.png?responsive&imagetools';
import OpenInNewIcon from '@/ts/components/accessibility/OpenInNewIcon.vue';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import AppImg from '@/ts/components/common/AppImg.vue';
import FaqSection from '@/ts/components/faq/FaqSection.vue';
import FaqSectionListItem from '@/ts/components/faq/FaqSectionListItem.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import focusFaqSection from '@/ts/composables/faq/focusFaqSection';
import env from '@/ts/env';
import { onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();

const sections = [
  'Pourquoi est-il utile de créer un compte sur la plateforme ?',
  'Comment faire lorsque je rencontre un problème sur la plateforme ?',
  'D’où viennent les contenus que je peux trouver sur la plateforme (lieux/activités/évènements) ?',
  'Pourquoi est-ce que je ne vois pas un contenu que j’ai créé sur Accèslibre ou Infolocale ?',
  'Quelle est la différence entre une structure et un lieu ?',
];

onMounted(() => {
  if (route.hash) {
    focusFaqSection(route.hash.replace('#', ''));
  }
});
</script>

<template>
  <app-page-layout :title="$t('navigation.items.faq')">
    <section>
      <app-heading
        level="2"
        dense
      >
        Accès rapide
      </app-heading>
      <ul
        class="pl-0"
        style="list-style: none;"
      >
        <faq-section-list-item
          v-for="(section, index) in sections"
          :key="`${index}`"
          :title="section"
        />
      </ul>
    </section>
    <faq-section :title="sections[0]">
      <p>
        La création d’un compte n’est pas obligatoire pour consulter les contenus de la plateforme.
      </p>
      <p>
        Par contre, un compte vous permettra de contribuer à la plateforme en laissant des avis ou
        en améliorant l’information sur les contenus.
      </p>
      <p>
        Vous pourrez par exemple revendiquer ou créer un lieu, une activité ou un évènement sur
        {{ env.app.name }}, ce qui améliorera l’information disponible sur l’offre accessible du
        territoire.
      </p>
      <p>
        Vous pourrez également laisser des avis sur l’accessibilité des lieux et activités, pour
        permettre aux autres usagers de mieux se projeter dans leurs futurs déplacements et loisirs.
      </p>
      <p>
        Vous pourrez aussi nous envoyer vos remarques sur les problèmes que vous rencontrez ou les
        remarques que vous voudriez nous remonter.
      </p>
      <p>
        Pour créer un compte, il vous suffit de cliquer sur le bouton « Inscription » en haut à
        droite de votre écran et de suivre les instructions. Un lien de validation sera ensuite
        envoyé sur l’adresse mail que vous avez indiquée. Pensez à vérifier votre dossier Courrier
        indésirable si vous le recevez pas.
      </p>
      <p class="text-center">
        <app-img
          :src="registerBtnSrc"
          :srcset="registerBtnSrcset"
          class="rounded"
          style="width: 300px;max-width: 100%;"
        />
      </p>
    </faq-section>
    <faq-section :title="sections[1]">
      <p>
        Vous pouvez nous remonter tous les types de problèmes que vous rencontrez sur la plateforme
        tels que :
      </p>
      <ul>
        <li>J’ai vu une information incorrecte sur un lieu</li>
        <li>Je veux signaler un contenu offensant</li>
        <li>Je ne reçois pas mon mail de validation de compte</li>
        <li>Je veux suggérer une amélioration pour le site</li>
        <li>...</li>
      </ul>
      <p>
        Pour cela, vous trouverez le bouton « Une idée, un problème » en bas du menu de gauche. Vous
        le trouverez en bas dans les menus de gauche ou dans les fiches de lieux, activités et
        évènements.
        <br>
        Une liste des motifs les plus communs vous sera proposée.
      </p>
      <p class="text-center">
        <app-img
          :src="reportBtnSrc"
          :srcset="reportBtnSrcset"
          class="rounded"
          style="width: 300px;max-width: 100%;"
        />
      </p>
    </faq-section>
    <faq-section :title="sections[2]">
      <p>
        Les lieux tels que ceux référencés sur la carte ou dans les listes sont téléchargés
        quotidiennement depuis les bases de données
        <a
          href="https://acceslibre.beta.gouv.fr/"
          target="_blank"
          rel="noopener"
        >
          Acceslibre
          <open-in-new-icon />
        </a>
        et
        <a
          href="https://www.infolocale.fr/"
          target="_blank"
          rel="noopener"
        >
          InfoLocale
          <open-in-new-icon />
        </a>. Les données
        d’accessibilité des lieux viennent majoritairement de Acceslibre.
      </p>
      <p>
        L’information sur la provenance du contenu est affichée dans la fiche en question. Si ces
        lieux se trouvent sur les deux bases de données, nos administrateurs se chargeront de
        fusionner ceux-ci pour éviter les doublons.
      </p>
      <p>
        En tant qu’utilisateur enregistré sur la plateforme, vous pouvez demander à revendiquer un
        lieu déjà existant ou créer vos propres lieux depuis les menus du bandeau de gauche. Ces
        actions sont soumises à la validation d’un modérateur.
      </p>
      <p>
        Les activités et évènements, ainsi que les données d’accessibilité qui leurs sont associées
        sont téléchargés quotidiennement sur Infolocale.
      </p>
      <p>
        Tout comme pour les lieux, vous pouvez revendiquer une activité ou un évènement afin de le
        gérer.
      </p>
    </faq-section>
    <faq-section :title="sections[3]">
      <p>
        La plateforme Web {{ env.app.name }} n’affichent que certaines catégories de contenu,
        majoritairement celle en lien avec les loisirs, le tourisme, la culture et le sport. Par
        exemple, nous n’affichons pas à l’heure actuelle les lieux de santé ou les restaurants.
      </p>
      <p>
        Ces catégories sont celles que vous trouverez sur la page « Carte des lieux » en cliquant
        sur le bouton « Plus » à côté des boutons de catégorie déjà affichées.
      </p>
      <p class="text-center">
        <app-img
          :src="mapCategoriesPlusSrc"
          :srcset="mapCategoriesPlusSrcset"
          class="rounded"
          style="width: 600px;max-width: 100%;"
        />
      </p>
      <p>
        La catégorie de certains contenus peut être modifiée par nos administrateurs afin d’être
        affichées sur {{ env.app.name }}. Par exemple une activité avec la catégorie « Piscine »
        pourra se voir attribuer la catégorie « Centre nautique » afin d’être affichée.
      </p>
      <p>
        Les activités et évènements téléchargés sur
        <a
          href="https://www.infolocale.fr/"
          target="_blank"
          rel="noopener"
        >
          InfoLocale
          <open-in-new-icon />
        </a> ne sont affichés que si au moins un
        critère d’accessibilité y a été renseigné.
      </p>
      <p>
        Il faut noter que les mises à jour entre les plateformes peuvent prendre jusqu’à 24 heures.
      </p>
    </faq-section>
    <faq-section :title="sections[4]">
      <p>
        Une structure représente la partie administrative d’une association, d’une entreprise ou
        d’un service public. Elle permet notamment d’en gérer les membres, qui doivent également
        avoir un compte utilisateur sur la plateforme. Une structure n’a pas d’existence physique
        mais elle permet de rattacher sous une même entête des lieux, évènements et activités.
      </p>
      <p>
        Un lieu est un emplacement physique. Il permet de renseigner une adresse, des données
        d’accessibilité, des horaires d’ouvertures... Les lieux sont affichés sur la carte et
        consultables par tous.
      </p>
    </faq-section>
  </app-page-layout>
</template>
