<script
  lang="ts"
  setup
>
import NewsletterSubscribeCard from '@/ts/components/account/NewsletterSubscribeCard.vue';
import HomeFeature from '@/ts/components/home/HomeFeature.vue';
import HomeHero from '@/ts/components/home/HomeHero.vue';
import HomeMapFeature from '@/ts/components/home/HomeMapFeature.vue';
import HomeMapImage from '@/ts/components/home/HomeMapImage.vue';
import AppContainer from '@/ts/components/layouts/AppContainer.vue';
import useAnnouncer from '@/ts/composables/pages/useAnnouncer';
import useThemeVariant from '@/ts/composables/themes/useThemeVariant';
import { useAuthStore } from '@/ts/stores/auth';
import FeatureName from '@/ts/utilities/features/featureName';
import MainFeature from '@/ts/utilities/features/mainFeature';
import { computed } from 'vue';
import { useDisplay } from 'vuetify';

useAnnouncer().announceOnMounted();

const { mdAndUp } = useDisplay();
const auth = useAuthStore();
const themeLight = useThemeVariant(false);

const mdCol = computed(() => 12 / [
  FeatureName.EVENTS.check(),
  FeatureName.ACTIVITIES.check(),
  FeatureName.ARTICLES.check(),
].filter((feat) => feat).length);
</script>

<template>
  <div>
    <home-hero />
    <app-container fluid>
      <v-row>
        <template v-if="!mdAndUp && FeatureName.PLACES.check()">
          <v-col cols="12">
            <home-map-feature />
          </v-col>
          <v-col
            cols="12"
            class="text-center"
          >
            <home-map-image class="home-map-illustration--mobile" />
          </v-col>
        </template>
        <v-col
          v-if="FeatureName.EVENTS.check()"
          :md="mdCol"
          cols="12"
        >
          <home-feature
            :to="{ name: 'events' }"
            :color="MainFeature.EVENTS.props.color"
            :icon="MainFeature.EVENTS.props.icon"
            title="Événements"
            description="Consultez l’agenda des événements à proximité et programmez vos sorties."
            action="Prochains événements"
            class="pa-md-4"
          />
        </v-col>
        <v-col
          v-if="FeatureName.ACTIVITIES.check()"
          :md="mdCol"
          cols="12"
        >
          <home-feature
            :to="{ name: 'activities' }"
            :color="MainFeature.ACTIVITIES.props.color"
            :icon="MainFeature.ACTIVITIES.props.icon"
            title="Activités"
            description="
              Découvrez et participez aux activités sportives, culturelles et de loisirs
              près de chez vous.
            "
            action="Consulter les activités"
            class="pa-md-4"
          />
        </v-col>
        <v-col
          v-if="FeatureName.ARTICLES.check()"
          :md="mdCol"
          cols="12"
        >
          <home-feature
            :to="{ name: 'articles' }"
            :color="MainFeature.ARTICLES.props.color"
            :icon="MainFeature.ARTICLES.props.icon"
            title="Actualités"
            description="
              Restez informés de la vie locale et suivez l’actualité des acteurs du territoire.
            "
            action="Lire les actualités"
            class="pa-md-4"
          />
        </v-col>
        <template v-if="mdAndUp && FeatureName.PLACES.check()">
          <v-col
            cols="6"
            class="text-right"
          >
            <home-map-image class="home-map-illustration--desktop" />
          </v-col>
          <v-col cols="6">
            <home-map-feature class="pa-md-4" />
          </v-col>
        </template>
        <v-col
          v-if="FeatureName.NEWSLETTER.check()"
          cols="12"
        >
          <newsletter-subscribe-card
            :theme="themeLight"
            :prefill-email="auth.auth ? auth.user.email : undefined"
            color="#FFFA6B"
            border
            home
          />
        </v-col>
      </v-row>
    </app-container>
  </div>
</template>

<style
  lang="scss"
  scoped
>
  .home-map-illustration--mobile {
    width: 450px;
    max-width: 100%;
  }

  .home-map-illustration--desktop {
    width: 100%;
    max-width: 600px;
  }
</style>
