<script
  lang="ts"
  setup
>
import { UserOwnable } from '@/ts/api/composables/userOwnable';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: UserOwnable;
}>();
</script>

<template>
  <teleport-to-portal :to="portals.ownerUser">
    <resource-instance-value :instance="instance.ownerUser" />
  </teleport-to-portal>
</template>
