<script
  lang="ts"
  setup
>
import AccessibilityRating from '@/ts/api/enums/accessibilityRating';
import { useLangStore } from '@/ts/stores/lang';
import isNil from '@/ts/utilities/common/isNil';
import formatNumber from '@/ts/utilities/math/formatNumber';
import { mdiCircleHalfFull, mdiHelp } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { useDisplay } from 'vuetify';

const props = defineProps<{
  context: 'review' | 'original';
  rating?: number | null;
  partial?: boolean;
  main?: boolean;
}>();

const { smAndUp } = useDisplay();
const i18n = useI18n();
const lang = useLangStore();

const circleValue = computed(() => (isNil(props.rating) ? 0 : ((props.rating / 3) * 100)));
const circleColor = computed(() => AccessibilityRating.fromThreshold(props.rating).props.color);
const circleContent = computed(() => (
  isNil(props.rating) ? null : formatNumber(circleValue.value, lang.locale, {
    maximumFractionDigits: 0,
  })
));
const circleTitle = computed(() => {
  if (isNil(props.rating)) {
    return undefined;
  }

  const partialNotice = props.partial
    ? ` · ${i18n.t('forms.accessible.properties.partial')}`
    : '';

  return `${circleContent.value}%${partialNotice}`;
});
</script>

<template>
  <v-progress-circular
    :aria-hidden="String(isNil(props.rating))"
    :aria-valuemin="undefined"
    :aria-valuemax="undefined"
    :aria-valuenow="undefined"
    :model-value="circleValue"
    :title="circleTitle"
    :color="circleColor"
    :size="main && smAndUp ? 48 : 36"
    :width="main && smAndUp ? 6 : 4"
    bg-color="transparent"
    class="position-relative accessibility-icon"
    :class="{ 'accessibility-icon--main': main, 'accessibility-icon--dense': !smAndUp }"
    role="img"
  >
    <div class="position-absolute position--fill rounded-pill accessibility-icon__underlay" />
    <span
      v-if="circleContent"
      class="text-caption accessibility-text"
      aria-hidden="true"
    >
      {{ circleContent }}
    </span>
    <v-icon
      v-else
      :icon="mdiHelp"
      size="16"
    />
    <v-icon
      v-if="partial"
      :icon="mdiCircleHalfFull"
      color="primary"
      class="position-absolute accessibility-partial-icon"
      size="16"
    />
  </v-progress-circular>
</template>

<style
  lang="scss"
  scoped
>
  .accessibility-icon {
    margin-left: -4px;
    margin-right: 12px;
  }

  .accessibility-icon__underlay {
    margin: 4px;
    background: currentColor;
    opacity: 0.12;

    .accessibility-icon--main:not(.accessibility-icon--dense) & {
      margin: 6px;
    }
  }

  .accessibility-text {
    color: rgb(var(--v-theme-on-surface));
    font-size: 11px !important;

    .accessibility-icon--main & {
      font-weight: bold !important;

      @media screen and (min-width: 600px) {
        font-size: 14px !important;
      }
    }
  }

  .accessibility-partial-icon {
    top: -4px;
    right: -12px;
  }

  :deep(.v-progress-circular__underlay) {
    color: inherit;
    opacity: var(--v-border-opacity);
  }
</style>
