<script
  setup
  lang="ts"
>
import action from '@/ts/api/action';
import { AccessibilityObject } from '@/ts/api/composables/accessible';
import { Reviewable } from '@/ts/api/composables/reviewable';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import Review from '@/ts/api/models/review';
import AccessibilityRatingBody from '@/ts/components/accessibility/new/AccessibilityRatingBody.vue';
import toPascalCase from '@/ts/utilities/strings/toPascalCase';
import { all, include, query } from '@foscia/core';
import { filterBy, paginate, sortByDesc } from '@foscia/jsonapi';
import { onMounted, ref } from 'vue';

const props = defineProps<{
  category: AccessibilityCategory;
  values: AccessibilityObject;
  reviewable: Reviewable;
}>();

const reviews = ref([] as Review[]);

onMounted(async () => {
  reviews.value = await action()
    .use(query(props.reviewable, 'reviews'))
    .use(include('ownerUser'))
    .use(filterBy('withTrashed', true))
    .use(filterBy(`has${toPascalCase(props.category.value)}AccessibilityBody`, true))
    .use(sortByDesc('userOwned'))
    .use(sortByDesc('createdAt'))
    .use(paginate({ size: 5, number: 1 }))
    .run(all());
});
</script>

<template>
  <div role="list">
    <div
      v-for="review in reviews"
      :key="`reviews-${review.id}`"
      role="listitem"
    >
      <accessibility-rating-body
        :category="category"
        :values="review.accessibility ?? {}"
        :review="review"
      />
    </div>
  </div>
</template>
