<script
  setup
  lang="ts"
>
import { AccessibilityObject } from '@/ts/api/composables/accessible';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import Review from '@/ts/api/models/review';
import AccessibilityCriteriaList from '@/ts/components/accessibility/AccessibilityCriteriaList.vue';
import AppHtml from '@/ts/components/data/AppHtml.vue';
import UserListItem from '@/ts/components/users/UserListItem.vue';
import { useAuthStore } from '@/ts/stores/auth';
import { useLangStore } from '@/ts/stores/lang';
import formatDateFromNow from '@/ts/utilities/dates/formatDateFromNow';
import translate from '@/ts/utilities/lang/translate';
import makeAnonymousUser from '@/ts/utilities/users/makeAnonymousUser';
import { isSame } from '@foscia/core';
import { computed } from 'vue';

const props = defineProps<{
  category: AccessibilityCategory;
  values: AccessibilityObject;
  review?: Review;
}>();

const auth = useAuthStore();
const lang = useLangStore();
const anonymousUser = makeAnonymousUser();

const author = computed(() => props.review?.ownerUser ?? anonymousUser);
const isModerated = computed(() => props.review?.deleted ?? false);
const isAuthor = computed(() => auth.auth && isSame(auth.user, props.review?.ownerUser));
const displayedAuthor = computed(() => {
  if (!props.review) {
    return null;
  }

  return !isAuthor.value && isModerated.value ? anonymousUser : author.value;
});
</script>

<template>
  <v-card
    color="background"
    elevation="0"
  >
    <user-list-item
      v-if="displayedAuthor && review"
      :user="displayedAuthor"
      :subtitle="formatDateFromNow(review.createdAt, lang.locale)"
      class="pt-4"
    />
    <v-card-text
      v-if="translate(values[category.value]?.body)"
      class="py-0"
    >
      <app-html
        :value="translate(values[category.value]?.body)"
        class="text-body-2"
      />
    </v-card-text>
    <accessibility-criteria-list
      :values="values.criteria ?? {}"
      :only="category"
      class="pt-0 px-4"
    />
  </v-card>
</template>
