<script
  setup
  lang="ts"
>
import { AccessibilityObject } from '@/ts/api/composables/accessible';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AccessibilityRatingBody from '@/ts/components/accessibility/new/AccessibilityRatingBody.vue';

defineProps<{
  category: AccessibilityCategory;
  values: AccessibilityObject;
}>();
</script>

<template>
  <accessibility-rating-body
    :category="category"
    :values="values"
  />
</template>
