<script
  lang="ts"
  setup
>
import { AccessibilityObject } from '@/ts/api/composables/accessible';
import { Reviewable } from '@/ts/api/composables/reviewable';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AccessibilityRating from '@/ts/api/enums/accessibilityRating';
import AccessibilityRatingCircle from '@/ts/components/accessibility/new/AccessibilityRatingCircle.vue';
import AccessibilityRatingCommunityBody from '@/ts/components/accessibility/new/AccessibilityRatingCommunityBody.vue';
import AccessibilityRatingIndividualBody from '@/ts/components/accessibility/new/AccessibilityRatingIndividualBody.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppDialog from '@/ts/components/overlays/AppDialog.vue';
import useAccessibilityCriteria from '@/ts/composables/accessibility/useAccessibilityCriteria';
import isNil from '@/ts/utilities/common/isNil';
import isNone from '@/ts/utilities/common/isNone';
import translate from '@/ts/utilities/lang/translate';
import toUpperFirst from '@/ts/utilities/strings/toUpperFirst';
import { mdiInformationOutline } from '@mdi/js';
import { computed, ref } from 'vue';

const props = defineProps<{
  context: 'review' | 'original';
  category: AccessibilityCategory;
  values: AccessibilityObject;
  reviewable?: Reviewable;
}>();

const dialog = ref(false);

const criteria = useAccessibilityCriteria();

const value = computed(() => props.values[props.category.value]);
const label = computed(() => props.category.label);
const valueLabel = computed(() => (
  AccessibilityRating.fromThreshold(value.value?.rating).label(props.context)
));
const details = computed(() => {
  if (!isNil(translate(value.value?.body))) {
    return true;
  }

  if (criteria.value.some(
    (c) => c.accessibilityCategories.indexOf(props.category) !== -1
      && !isNone(props.values.criteria?.[c.id]),
  )) {
    return true;
  }

  const accessibility = props.reviewable?.reviewsSummary?.accessibility?.[props.category.value];

  return (accessibility?.details ?? 0) > 0;
});
</script>

<template>
  <app-dialog
    v-model="dialog"
    :title="$t('forms.accessible.details.title', { category: label })"
  >
    <template #activator="{ props: activatorProps }">
      <v-list-item
        :role="details ? 'button' : undefined"
        v-bind="{ ...$attrs, ...(details ? activatorProps : {}) }"
        rounded="lg"
      >
        <template #prepend>
          <accessibility-rating-circle
            :rating="value?.rating"
            :context="context"
          />
        </template>
        <v-list-item-title>
          {{ toUpperFirst(label) }}
          <v-icon
            v-if="details"
            :icon="mdiInformationOutline"
            :title="$t('forms.accessible.details.available')"
            role="img"
            aria-hidden="false"
            size="small"
            style="vertical-align: top;"
          />
        </v-list-item-title>
        <v-list-item-subtitle>
          {{ valueLabel }}
        </v-list-item-subtitle>
      </v-list-item>
    </template>
    <app-divider />
    <v-card-text class="pa-3">
      <accessibility-rating-community-body
        v-if="reviewable"
        :category="category"
        :values="values"
        :reviewable="reviewable"
      />
      <accessibility-rating-individual-body
        v-else
        :category="category"
        :values="values"
      />
    </v-card-text>
  </app-dialog>
</template>
