<script
  lang="ts"
  setup
>
import { AccessibilityObject } from '@/ts/api/composables/accessible';
import { Reviewable } from '@/ts/api/composables/reviewable';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AccessibilityRatingListItem from '@/ts/components/accessibility/new/AccessibilityRatingListItem.vue';

defineProps<{
  context: 'original' | 'review';
  values: AccessibilityObject;
  reviewable?: Reviewable;
  large?: boolean;
}>();
</script>

<template>
  <div role="list">
    <v-row no-gutters>
      <v-col
        v-for="category in AccessibilityCategory.all.values()"
        :key="`categories-${category.value}`"
        :lg="large ? 4 : undefined"
        cols="12"
        md="6"
        role="listitem"
      >
        <accessibility-rating-list-item
          :context="context"
          :category="category"
          :values="values"
          :reviewable="reviewable"
          class="px-0"
        />
      </v-col>
    </v-row>
  </div>
</template>
