<script
  lang="ts"
  setup
>
import { AccessibilityObject } from '@/ts/api/composables/accessible';
import { Reviewable } from '@/ts/api/composables/reviewable';
import AccessibilityCategory from '@/ts/api/enums/accessibilityCategory';
import AccessibilityRating from '@/ts/api/enums/accessibilityRating';
import AccessibilityRatingCircle from '@/ts/components/accessibility/new/AccessibilityRatingCircle.vue';
import AccessibilityRatingList from '@/ts/components/accessibility/new/AccessibilityRatingList.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import isNone from '@/ts/utilities/common/isNone';
import FeatureName from '@/ts/utilities/features/featureName';
import sumBy from '@/ts/utilities/math/sumBy';
import { mdiChevronDown, mdiChevronUp } from '@mdi/js';
import { v4 as uuidV4 } from 'uuid';
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  context: 'review' | 'original';
  type?: string;
  values: AccessibilityObject;
  reviewable?: Reviewable;
  role?: string;
  always?: boolean;
  main?: boolean;
  large?: boolean;
}>();

const i18n = useI18n();

const panelId = ref(`rating-panel-${uuidV4()}`);
const expanded = ref(false);

const detailsCount = computed(() => (
  props.reviewable
    ? Math.min(
      sumBy(Object.values(props.reviewable.reviewsSummary?.accessibility ?? {}), 'total'),
      props.reviewable.reviewsSummary?.total ?? 0,
    )
    : Object.values(props.values.criteria ?? {}).length
));
const ratings = computed(() => Object.values(props.values).filter((v) => !isNone(v?.rating)));
const total = computed(() => ratings.value.reduce((total, value) => (
  total + (value?.rating ?? 0)
), 0));
const averageValue = computed(() => (
  ratings.value.length ? (total.value / ratings.value.length) : null
));
const averageLabel = computed(() => (
  AccessibilityRating.fromThreshold(averageValue.value).label(props.context)
));
const title = computed(() => (
  props.reviewable
    ? i18n.t('accessibility.criteria.panel.community')
    : i18n.t(`accessibility.criteria.panel.${props.type ?? 'author'}`)
));
const subtitle = computed(() => [
  averageLabel.value,
  props.reviewable
    ? i18n.t('accessibility.criteria.panel.reviewsCount', { n: detailsCount.value })
    : i18n.t('accessibility.criteria.panel.criteriaCount', { n: detailsCount.value }),
].join(' · '));

const buttonAttrs = computed(() => (
  averageValue.value !== null || detailsCount.value > 0
    ? {
      appendIcon: expanded.value ? mdiChevronUp : mdiChevronDown,
      'aria-expanded': String(expanded.value),
      'aria-controls': panelId.value,
      role: 'button',
      tabindex: '0',
      onClick: () => {
        expanded.value = !expanded.value;
      },
    }
    : {}
));
</script>

<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<template>
  <div
    v-if="
      FeatureName.ACCESSIBILITY.check() && (always || averageValue !== null || detailsCount > 0)
    "
    :role="role"
    :class="{ 'info-list__item--main': main }"
    class="info-list__item"
  >
    <v-list-item
      :title="title"
      :subtitle="subtitle"
      :aria-expanded="String(expanded)"
      v-bind="{ ...$attrs, ...buttonAttrs }"
    >
      <template #prepend>
        <accessibility-rating-circle
          :rating="averageValue"
          :partial="ratings.length > 0 && ratings.length < AccessibilityCategory.all.size"
          :context="context"
          main
        />
      </template>
    </v-list-item>
    <v-expand-transition>
      <accessibility-rating-list
        v-show="expanded"
        :id="panelId"
        :context="context"
        :values="values"
        :reviewable="reviewable"
        :large="large"
        class="info-list__item__inner"
      />
    </v-expand-transition>
    <app-divider
      v-if="main"
      class="mx-4"
    />
  </div>
</template>
