<script
  lang="ts"
  setup
>
import ArticleInputs from '@/ts/components/resources/articles/ArticleInputs.vue';
import ArticleInputsProvider from '@/ts/components/resources/articles/ArticleInputsProvider.vue';
import ResourceEditView from '@/ts/components/resources/core/views/ResourceEditView.vue';
</script>

<template>
  <div>
    <article-inputs-provider v-slot="{ boot, ...inputs }">
      <resource-edit-view
        :inputs="inputs"
        :boot="boot"
        translatable
      >
        <article-inputs v-bind="inputs" />
      </resource-edit-view>
    </article-inputs-provider>
  </div>
</template>
