<script
  lang="ts"
  setup
>
import Article from '@/ts/api/models/article';
import ArticleDataProvider from '@/ts/components/resources/articles/ArticleDataProvider.vue';
import OrganizationSwitchableAlerts
  from '@/ts/components/resources/composables/ownable/OrganizationSwitchableAlerts.vue';
import PublishableAlerts
  from '@/ts/components/resources/composables/publishable/PublishableAlerts.vue';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import useArticleHeaders from '@/ts/composables/resources/articles/useArticleHeaders';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useCoreOneActivators from '@/ts/composables/resources/composables/core/useCoreOneActivators';
import usePinnableOneActivators
  from '@/ts/composables/resources/composables/pinnable/usePinnableOneActivators';
import usePublishableOneActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableOneActivators';
import usePublishableViewActivators
  from '@/ts/composables/resources/composables/publishable/usePublishableViewActivators';
import useSourceableOneActivators
  from '@/ts/composables/resources/composables/sourceable/useSourceableOneActivators';

const headers = useArticleHeaders();

const activators = (context: OneActivatorsContext<Article>) => [
  ...usePublishableViewActivators()(context),
  ...useCoreOneActivators()(context),
  ...usePublishableOneActivators()(context),
  ...useSourceableOneActivators()(context),
  ...usePinnableOneActivators()(context),
];
</script>

<template>
  <resource-one-view
    :activators="activators"
    translatable
  >
    <template #prepend-table="{ instance }">
      <organization-switchable-alerts />
      <publishable-alerts :instance="instance" />
    </template>
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <article-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
