<script
  lang="ts"
  setup
>
import SearchableFilters from '@/ts/components/resources/composables/searchable/SearchableFilters.vue';
import SoftDeletableFilters from '@/ts/components/resources/composables/softDeletable/SoftDeletableFilters.vue';
import ResourceCellsPortals from '@/ts/components/resources/core/portals/ResourceCellsPortals.vue';
import ResourceManyView from '@/ts/components/resources/core/views/ResourceManyView.vue';
import ReportDataProvider from '@/ts/components/resources/reports/ReportDataProvider.vue';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useViewActivator from '@/ts/composables/resources/composables/core/useViewActivator';
import useSearchableFilters from '@/ts/composables/resources/composables/searchable/useSearchableFilters';
import useSoftDeletableFilters from '@/ts/composables/resources/composables/softDeletable/useSoftDeletableFilters';
import useSoftDeleteActivator from '@/ts/composables/resources/composables/softDeletable/useSoftDeleteActivator';
import useSoftRestoreActivator from '@/ts/composables/resources/composables/softDeletable/useSoftRestoreActivator';
import useReportHeaders from '@/ts/composables/resources/reports/useReportHeaders';

const { searchInput } = useSearchableFilters();
const { softDeletableInput, softDeletableTransformer } = useSoftDeletableFilters();

const headers = useReportHeaders();
const defaultHeaders = ['reportType', 'ownerUser', 'createdAt'];
const filters = [searchInput, softDeletableInput] as const;
const filtersTransformers = [softDeletableTransformer];

const oneActivators = (context: OneActivatorsContext) => [
  ...useViewActivator(context),
  ...useSoftDeleteActivator(context),
  ...useSoftRestoreActivator(context),
];
</script>

<template>
  <resource-many-view
    :headers="headers"
    :default-headers="defaultHeaders"
    :filters="filters"
    :filters-transformers="filtersTransformers"
    :one-activators="oneActivators"
  >
    <template #filters>
      <searchable-filters :search-input="searchInput" />
      <soft-deletable-filters :soft-deletable-input="softDeletableInput" />
    </template>
    <template #data="{ instance, onlyHeaders }">
      <resource-cells-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
        :only-headers="onlyHeaders"
      >
        <report-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-cells-portals>
    </template>
  </resource-many-view>
</template>
