<script
  lang="ts"
  setup
>
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import ReportDataProvider from '@/ts/components/resources/reports/ReportDataProvider.vue';
import ReportViewActivator from '@/ts/components/resources/reports/ReportViewActivator.vue';
import ReportVisitActivator from '@/ts/components/resources/reports/ReportVisitActivator.vue';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useSoftDeleteActivator from '@/ts/composables/resources/composables/softDeletable/useSoftDeleteActivator';
import useSoftRestoreActivator from '@/ts/composables/resources/composables/softDeletable/useSoftRestoreActivator';
import useReportHeaders from '@/ts/composables/resources/reports/useReportHeaders';

const headers = useReportHeaders();

const activators = (context: OneActivatorsContext) => [
  ReportVisitActivator,
  ...(context.instance.reportable ? [ReportViewActivator] : []),
  ...useSoftDeleteActivator(context),
  ...useSoftRestoreActivator(context),
];
</script>

<template>
  <resource-one-view :activators="activators">
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <report-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
