<script
  lang="ts"
  setup
>
import { useResourcesStore } from '@/ts/stores/resources';
import { computed } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const resources = useResourcesStore();

const invalidationKey = computed(
  () => `${resources.invalidationKey(route.meta.resource as string)}-${route.path}`,
);
</script>

<template>
  <router-view>
    <template #default="{ Component }">
      <div>
        <keep-alive :max="10">
          <component
            :is="Component"
            :key="invalidationKey"
          />
        </keep-alive>
      </div>
    </template>
  </router-view>
</template>
