<script
  lang="ts"
  setup
>
import ArticlesList from '@/ts/components/articles/ArticlesList.vue';
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import MainFeature from '@/ts/utilities/features/mainFeature';
import translate from '@/ts/utilities/lang/translate';
import { Optional } from '@/ts/utilities/types/optional';
import { ModelInstance } from '@foscia/core';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  about?: Optional<ModelInstance>;
}>();

const i18n = useI18n();

const title = computed(() => (
  props.about
    ? i18n.t('views.articles.articles.titleFor', { name: translate(props.about.name) })
    : i18n.t('views.articles.articles.title')
));
</script>

<template>
  <app-page-layout
    v-if="title"
    :title="title"
    no-announce
  >
    <template #icon>
      <v-icon
        :icon="MainFeature.ARTICLES.props.icon"
        :color="MainFeature.ARTICLES.props.color"
        size="1em"
        start
      />
    </template>
    <articles-list
      :about="about"
      :title="title"
    />
  </app-page-layout>
</template>
