<script
  lang="ts"
  setup
>
import action from '@/ts/api/action';
import Article from '@/ts/api/models/article';
import Category from '@/ts/api/models/category';
import ArticleFooter from '@/ts/components/articles/ArticleFooter.vue';
import CategoryChip from '@/ts/components/categories/CategoryChip.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppHeading from '@/ts/components/common/AppHeading.vue';
import BackBtn from '@/ts/components/common/BackBtn.vue';
import CardBorder from '@/ts/components/common/CardBorder.vue';
import AppHtml from '@/ts/components/data/AppHtml.vue';
import AppList from '@/ts/components/data/AppList.vue';
import AppContainer from '@/ts/components/layouts/AppContainer.vue';
import MediaCover from '@/ts/components/media/MediaCover.vue';
import OrganizationCard from '@/ts/components/organizations/OrganizationCard.vue';
import LocalizableCard from '@/ts/components/places/LocalizableCard.vue';
import PinnableIndicator
  from '@/ts/components/resources/composables/pinnable/PinnableIndicator.vue';
import useArticlesRoute from '@/ts/composables/articles/useArticlesRoute';
import useAnnouncer from '@/ts/composables/pages/useAnnouncer';
import mainCategories from '@/ts/utilities/categories/mainCategories';
import isNone from '@/ts/utilities/common/isNone';
import MainFeature from '@/ts/utilities/features/mainFeature';
import translate from '@/ts/utilities/lang/translate';
import { Optional } from '@/ts/utilities/types/optional';
import { include, ModelInstance, oneOrFail, query } from '@foscia/core';
import { filterBy } from '@foscia/jsonapi';
import { computed, ref, toRef, watch } from 'vue';
import { useRoute } from 'vue-router';

const props = defineProps<{
  about?: Optional<ModelInstance>;
}>();

const route = useRoute();

const col = { cols: 12, md: 8, xl: 9 };
const sideCol = { cols: 12, md: 4, xl: 3 };

const article = ref(null as Article | null);

const media = computed(() => [article.value!.cover, ...(article.value!.images ?? [])]);
const categories = computed(() => mainCategories(article.value!.categories ?? []));

const articlesTo = useArticlesRoute(toRef(props, 'about'));
const categoryTo = (category: Category) => ({
  ...articlesTo.value,
  query: { categories: [category.id] },
});

const onArticleRouteChange = async () => {
  const announcer = useAnnouncer();

  const articleId = route.params.article;
  if (isNone(articleId) || typeof articleId !== 'string') {
    article.value = null;
  } else {
    article.value = await action()
      .use(
        query(Article),
        include([
          'cover',
          'images',
          'media',
          'categories',
          'places.categories.parents',
          'ownerOrganization',
          'sources',
        ]),
        filterBy('slug', articleId),
      )
      .run(oneOrFail());

    announcer.announce({
      title: translate(article.value.name),
    });
  }
};

watch(() => route.params.article, onArticleRouteChange, { immediate: true });
</script>

<template>
  <app-container
    v-if="article"
    main
  >
    <v-row>
      <v-col cols="12">
        <back-btn
          :to="articlesTo"
          :title="$t('actions.scoped.backToListOf', {
            name: $t('resources.common.types.articles.plural').toLowerCase(),
          })"
        />
      </v-col>
      <v-col v-bind="col">
        <v-card>
          <card-border :color="MainFeature.ARTICLES.props.color" />
          <v-card-text class="text-body-1 pb-0">
            <pinnable-indicator
              :pinnable="article"
              size="large"
            />
            <app-heading level="1">
              {{ translate(article.name) }}
            </app-heading>
            <app-list
              v-if="categories.length"
              :items="categories"
              class="mb-4"
            >
              <template #item="{ item }">
                <category-chip
                  :to="categoryTo(item)"
                  :category="item"
                />
              </template>
            </app-list>
            <app-html
              :value="translate(article.body)"
              :media="article.media"
              heading="2"
            />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col v-bind="sideCol">
        <media-cover
          :media="media"
          height="292"
          class="mt-6"
          full
        />
        <organization-card
          :organization="article.ownerOrganization"
          level="2"
          class="mt-6"
        />
        <localizable-card
          :places="article.places"
          level="2"
          class="mt-6"
        />
        <app-divider class="mt-6" />
        <article-footer
          :article="article"
          class="mt-6"
        />
      </v-col>
    </v-row>
  </app-container>
</template>
