<script
    lang="ts"
    setup
>
</script>

<template>
  <tr class="table-responsive-row">
    <slot />
  </tr>
</template>

<style
    lang="scss"
    scoped
>
  @media screen and (max-width: 959px) {
    tr.table-responsive-row {
      display: block;
      padding: 4px 16px;
      border-bottom: thin solid rgba(var(--v-border-color), var(--v-border-opacity));

      :deep(td.table-responsive-cell) {
        display: grid;
        grid-template-columns: 6em auto;
        grid-gap: 1em 0.5em;
        align-items: center;
        padding: 4px 0 !important;
        border-bottom: none !important;
        height: auto !important;

        &.actions-column {
          grid-template-columns: auto;
        }

        &:not(.actions-column) {
          > div {
            justify-self: right;
          }

          &:before {
            content: attr(data-label);
            display: inline;
            font-size: 0.9rem;
            font-weight: bold;
            color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
          }
        }
      }
    }
  }

  @media screen and (max-width: 599px) {
    tr.table-responsive-row :deep(td.table-responsive-cell) {
      display: block !important;
    }
  }
</style>
