<script
    lang="ts"
    setup
>

defineProps<{
  title: string;
}>();
</script>

<template>
  <tr>
    <th scope="row">
      <slot name="title">
        {{ title }}
      </slot>
    </th>
    <td>
      <slot />
    </td>
  </tr>
</template>

<style
    lang="scss"
    scoped
>
  tr {
    > th, > td {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
  }

  tr > th {
    width: 200px;
  }

  @media screen and (max-width: 599px) {
    tr {
      display: block;

      > th, > td {
        display: block;
        height: auto !important;
      }

      > th {
        border-bottom: none !important;
        width: auto;
        padding-top: 12px !important;
      }

      > td {
        padding-top: 8px !important;
        padding-bottom: 12px !important;
      }
    }
  }
</style>
