<script
    lang="ts"
    setup
>
defineProps<{
  title: string;
}>();
</script>

<template>
  <td
    :data-label="title"
    class="table-responsive-cell"
    v-bind="$attrs"
  >
    <div>
      <slot />
    </div>
  </td>
</template>

<style
    lang="scss"
    scoped
>
</style>
