<script
  lang="ts"
  setup
>
import AppDataLabel from '@/ts/components/data/AppDataLabel.vue';
import { TableHeader } from '@/ts/components/data/makeTableHeader';
import AppTableHead from '@/ts/components/data/tables/AppTableHead.vue';
import isNone from '@/ts/utilities/common/isNone';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { SortDirection } from '@/ts/utilities/types/sort';
import { computed } from 'vue';
import { useDisplay } from 'vuetify';

const emit = defineEmits<{
  (e: 'update:sorts', sorts?: Dictionary<SortDirection>): void;
}>();

const props = defineProps<{
  headers?: TableHeader[];
  loading?: boolean;
  caption?: string;
  empty?: boolean;
  sorts?: Dictionary<SortDirection>;
  responsive?: boolean;
  noOverflow?: boolean;
}>();

const { mobile } = useDisplay();

const mobileResponsive = computed(() => props.responsive && mobile.value);
const disableOverflow = computed(() => props.noOverflow || mobileResponsive.value);

const onUpdateSorts = (sorts?: Dictionary<SortDirection>) => {
  emit('update:sorts', sorts);
};
</script>

<template>
  <v-card>
    <slot name="prepend" />
    <v-table
      :class="{ 'app-table--empty': empty, 'app-table--no-overflow': disableOverflow }"
      class="app-table"
    >
      <app-data-label
        :loading="loading"
        class="text-left mx-4 mt-4"
        tag="caption"
      >
        <slot name="caption">
          {{ caption }}
        </slot>
      </app-data-label>
      <thead v-if="$slots.head">
        <slot name="head" />
      </thead>
      <app-table-head
        v-else-if="!isNone(headers)"
        :headers="headers"
        :sorts="sorts"
        :inline="mobileResponsive"
        @update:sorts="onUpdateSorts"
      />
      <tbody>
        <slot />
      </tbody>
    </v-table>
    <slot name="append" />
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  .app-table {
    > .v-table__wrapper > table {
      > thead > :deep(tr > th), > tbody > :deep(tr > th) {
        font-size: 0.90rem;
        font-weight: bold !important;
        color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
      }
    }

    &.app-table--empty > .v-table__wrapper > table > thead > :deep(tr > th) {
      border-bottom: none !important;
    }

    &.app-table--no-overflow {
      :deep(.v-table__wrapper) {
        table {
          table-layout: fixed;
        }
      }
    }
  }
</style>
