<script
    lang="ts"
    setup
>
import { TableHeader } from '@/ts/components/data/makeTableHeader';
import AppTableHeader from '@/ts/components/data/tables/AppTableHeader.vue';
import useLazyValue from '@/ts/composables/common/useLazyValue';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { SortDirection } from '@/ts/utilities/types/sort';
import { computed, watch } from 'vue';

const emit = defineEmits<{
  (e: 'update:sorts', sorts?: Dictionary<SortDirection>): void;
}>();

const props = defineProps<{
  headers: TableHeader[];
  sorts?: Dictionary<SortDirection>;
  inline?: boolean;
}>();

const lazySorts = useLazyValue(computed(() => props.sorts));

const sortValue = (header: TableHeader) => (lazySorts.value ?? {})[header.sortName as string];

watch(lazySorts, (value) => {
  emit('update:sorts', value);
});

const onToggleSort = (header: TableHeader) => {
  const sortName = header.sortName as string;
  const sort = sortValue(header);
  if (sort === 'asc') {
    lazySorts.value = { [sortName]: 'desc' };
  } else if (sort === 'desc') {
    lazySorts.value = undefined;
  } else {
    lazySorts.value = { [sortName]: 'asc' };
  }
};
</script>

<template>
  <thead :class="{ 'table-head--inline': inline }">
    <slot name="head">
      <tr>
        <app-table-header
          v-for="(header, index) in (headers ?? [])"
          :key="index"
          :header="header"
          :sort="sortValue(header)"
          @click="onToggleSort(header)"
        />
      </tr>
    </slot>
  </thead>
</template>

<style
    lang="scss"
    scoped
>
  @media screen and (max-width: 959px) {
    thead.table-head--inline > tr {
      display: block;
      padding: 8px 0;
      border-bottom: thin solid rgba(var(--v-border-color), var(--v-border-opacity));

      :deep(th) {
        display: inline-block;
        height: auto !important;
        min-width: auto !important;
        padding: 0 4px !important;
        border-bottom: none !important;
      }
    }
  }
</style>
