<script
  lang="ts"
  setup
>
import { TableHeader } from '@/ts/components/data/makeTableHeader';
import { SortDirection } from '@/ts/utilities/types/sort';
import { mdiArrowDown, mdiArrowUp } from '@mdi/js';
import { computed } from 'vue';

const emit = defineEmits<{
  (e: 'click', event: Event): void;
}>();

const props = defineProps<{
  header: TableHeader;
  sort?: SortDirection;
}>();

const sortAria = computed(() => {
  if (props.sort) {
    return props.sort === 'asc'
      ? 'ascending'
      : 'descending';
  }

  return undefined;
});
const sortIcon = computed(() => {
  if (props.sort) {
    return props.sort === 'asc'
      ? mdiArrowUp
      : mdiArrowDown;
  }

  return undefined;
});

const onClick = (event: Event) => {
  emit('click', event);
};
</script>

<template>
  <th
    :aria-sort="sortAria"
    :class="header.classes"
    class="px-1"
  >
    <button
      v-if="header.sortName"
      class="header--sortable focusable rounded-pill py-2 px-3"
      @click="onClick"
    >
      {{ header.label }}
      <v-icon
        v-if="sortIcon"
        :icon="sortIcon"
        end
      />
    </button>
    <span
      v-else
      class="d-block py-2 px-3"
    >
      {{ header.label }}
    </span>
  </th>
</template>

<style
  lang="scss"
  scoped
>
  .header {
    &--sortable {
      display: flex;
      color: rgb(var(--v-theme-primary));
      transition: background 0.2s ease-in-out;

      &:hover, &:focus {
        background: rgba(var(--v-theme-primary), 0.12);
      }
    }
  }
</style>
