<script
  lang="ts"
  setup
>
import SearchableFilters from '@/ts/components/resources/composables/searchable/SearchableFilters.vue';
import SoftDeletableFilters from '@/ts/components/resources/composables/softDeletable/SoftDeletableFilters.vue';
import ResourceCellsPortals from '@/ts/components/resources/core/portals/ResourceCellsPortals.vue';
import ResourceManyView from '@/ts/components/resources/core/views/ResourceManyView.vue';
import RequestDataProvider from '@/ts/components/resources/requests/RequestDataProvider.vue';
import RequestRefuseActivator from '@/ts/components/resources/requests/RequestRefuseActivator.vue';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useViewActivator from '@/ts/composables/resources/composables/core/useViewActivator';
import useSearchableFilters from '@/ts/composables/resources/composables/searchable/useSearchableFilters';
import useSoftDeletableFilters from '@/ts/composables/resources/composables/softDeletable/useSoftDeletableFilters';
import useRequestHeaders from '@/ts/composables/resources/requests/useRequestHeaders';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();

const { searchInput } = useSearchableFilters();
const { softDeletableInput, softDeletableTransformer } = useSoftDeletableFilters({
  label: i18n.t('resources.requests.filters.deleted'),
});

const headers = useRequestHeaders();
const defaultHeaders = ['status', 'requestType', 'ownerUser', 'createdAt'];
const filters = [searchInput, softDeletableInput] as const;
const filtersTransformers = [softDeletableTransformer];

const oneActivators = (context: OneActivatorsContext) => [
  ...useViewActivator(context),
  ...(hasPermissionOn('refuse', context.instance) ? [RequestRefuseActivator] : []),
];
</script>

<template>
  <resource-many-view
    :headers="headers"
    :default-headers="defaultHeaders"
    :filters="filters"
    :filters-transformers="filtersTransformers"
    :one-activators="oneActivators"
  >
    <template #filters>
      <searchable-filters :search-input="searchInput" />
      <soft-deletable-filters :soft-deletable-input="softDeletableInput" />
    </template>
    <template #data="{ instance, onlyHeaders }">
      <resource-cells-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
        :only-headers="onlyHeaders"
      >
        <request-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-cells-portals>
    </template>
  </resource-many-view>
</template>
