<script
  lang="ts"
  setup
>
import Request from '@/ts/api/models/request';
import ResourceRowsPortals from '@/ts/components/resources/core/portals/ResourceRowsPortals.vue';
import ResourceOneView from '@/ts/components/resources/core/views/ResourceOneView.vue';
import RequestAcceptActivator from '@/ts/components/resources/requests/RequestAcceptActivator.vue';
import RequestDataProvider from '@/ts/components/resources/requests/RequestDataProvider.vue';
import RequestRefuseActivator from '@/ts/components/resources/requests/RequestRefuseActivator.vue';
import { OneActivatorsContext } from '@/ts/composables/resources/composables/core/types';
import useRequestHeaders from '@/ts/composables/resources/requests/useRequestHeaders';
import hasPermissionOn from '@/ts/utilities/authorizations/hasPermissionOn';

const headers = useRequestHeaders();

const activators = (context: OneActivatorsContext<Request>) => [
  ...(hasPermissionOn('accept', context.instance) ? [RequestAcceptActivator] : []),
  ...(hasPermissionOn('refuse', context.instance) ? [RequestRefuseActivator] : []),
];
</script>

<template>
  <resource-one-view :activators="activators">
    <template #data="{ instance }">
      <resource-rows-portals
        v-slot="{ portals }"
        :instance="instance"
        :headers="headers"
      >
        <request-data-provider
          :instance="instance"
          :portals="portals"
        />
      </resource-rows-portals>
    </template>
  </resource-one-view>
</template>
