<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppLoader from '@/ts/components/common/AppLoader.vue';
import MapCard from '@/ts/components/places/map/MapCard.vue';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import addressToGeoCoordinates from '@/ts/utilities/places/addresses/addressToGeoCoordinates';
import directionAdapter from '@/ts/utilities/places/directions/directionAdapter';
import addressToPOI from '@/ts/utilities/places/map/addressToPOI';
import addressToQuery from '@/ts/utilities/places/map/addressToQuery';
import toStrCoordinates from '@/ts/utilities/places/map/mgl/toStrCoordinates';
import { mdiDirections, mdiMapMarkerOutline } from '@mdi/js';
import { computed, watch } from 'vue';
import { useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';

const { mapRef, mapSearch } = injectMapData();
const { xs } = useDisplay();
const router = useRouter();
const backTo = useMapPlaceRoute();

const address = computed(() => mapSearch.value.address);
const addressPoi = computed(() => addressToPOI(address.value!));
const btnSize = computed(() => (xs.value ? undefined : 'large'));
const directionsTo = computed(() => ({
  name: 'places.map',
  params: { view: 'directions' },
  query: {
    ...addressToQuery(address.value!),
    at: toStrCoordinates(addressToGeoCoordinates(address.value!)),
  },
}));

watch(address, (value) => {
  if (!value) {
    router.replace({
      name: 'places.map',
      params: { view: 'search' },
      query: router.currentRoute.value.query,
    });
  }
});
</script>

<template>
  <map-card
    v-if="mapRef"
    :back-to="backTo"
    active
  >
    <template #title>
      <app-loader
        v-if="!address"
        size="24"
      />
      <span v-else>
        {{ $t('views.places.map.address.title') }}
      </span>
    </template>
    <template v-if="address">
      <v-card-text class="px-0 pt-0 pb-2">
        <v-list-item :prepend-icon="mdiMapMarkerOutline">
          <div class="text-subtitle-1">
            {{ addressPoi.title }}
          </div>
          <div
            v-if="addressPoi.subtitle"
            class="text-body-2 text-medium-emphasis"
          >
            {{ addressPoi.subtitle }}
          </div>
        </v-list-item>
      </v-card-text>
      <template v-if="directionAdapter">
        <app-divider />
        <v-card-text class="px-3 py-2">
          <v-btn
            :to="directionsTo"
            :prepend-icon="mdiDirections"
            :size="btnSize"
            variant="tonal"
          >
            {{ $t('views.places.direction.title') }}
          </v-btn>
        </v-card-text>
      </template>
    </template>
  </map-card>
</template>
