<script
  lang="ts"
  setup
>
import Category from '@/ts/api/models/category';
import ArticleFooter from '@/ts/components/articles/ArticleFooter.vue';
import LatestArticleCardBlock from '@/ts/components/articles/LatestArticleCardBlock.vue';
import CategoryChip from '@/ts/components/categories/CategoryChip.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppLoader from '@/ts/components/common/AppLoader.vue';
import AppList from '@/ts/components/data/AppList.vue';
import MediaCover from '@/ts/components/media/MediaCover.vue';
import MapCard from '@/ts/components/places/map/MapCard.vue';
import MapPlaceActions from '@/ts/components/places/map/MapPlaceActions.vue';
import MapPlaceInformationList from '@/ts/components/places/map/MapPlaceInformationList.vue';
import ClaimRequestDialog from '@/ts/components/requests/ClaimRequestDialog.vue';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import useClaimTitle from '@/ts/composables/requests/useClaimTitle';
import mainCategories from '@/ts/utilities/categories/mainCategories';
import FeatureName from '@/ts/utilities/features/featureName';
import translate from '@/ts/utilities/lang/translate';
import { mdiCommentQuestionOutline } from '@mdi/js';
import { computed, ref } from 'vue';

const { mapRef, mapPlace, onSearchChange } = injectMapData();
const backTo = useMapPlaceRoute();
const claimTitle = useClaimTitle(mapPlace);

const articlesEmpty = ref(true);

const categories = computed(() => mainCategories(mapPlace.value?.categories ?? []));

const onCategoryClick = (category: Category) => {
  onSearchChange({ search: translate(category.name) });
};
</script>

<template>
  <map-card
    v-if="mapRef"
    :back-to="backTo"
    active
  >
    <template #title>
      <app-loader
        v-if="!mapPlace"
        size="24"
      />
      <span v-else>
        {{ translate(mapPlace.name) }}
      </span>
    </template>
    <template v-if="mapPlace">
      <media-cover
        :media="[mapPlace.cover ?? mapPlace.ownerOrganization?.cover, ...(mapPlace.images ?? [])]"
        max-height="196"
        class="pb-2"
      />
      <v-card-text
        v-if="categories.length"
        class="pt-0 pb-2"
      >
        <app-list :items="categories">
          <template #item="{ item }">
            <category-chip
              :to="backTo"
              :category="item"
              @click="onCategoryClick(item)"
            />
          </template>
        </app-list>
      </v-card-text>
      <template v-if="translate(mapPlace.description)">
        <v-card-text class="pt-0 pb-2">
          {{ translate(mapPlace.description) }}
        </v-card-text>
      </template>
      <map-place-actions
        :map="mapRef"
        :place="mapPlace"
      />
      <app-divider class="mx-4" />
      <map-place-information-list :place="mapPlace" />
      <v-card-text class="pb-2">
        <article-footer :article="mapPlace" />
      </v-card-text>
      <template v-if="FeatureName.ARTICLES.check()">
        <app-divider v-if="!articlesEmpty" />
        <latest-article-card-block
          v-model:empty="articlesEmpty"
          :instance="mapPlace"
          :filter="{ place: [mapPlace.id] }"
          :hide="articlesEmpty"
          level="3"
        />
      </template>
      <app-divider />
      <v-card-text class="py-2 text-center">
        <claim-request-dialog :requestable="mapPlace">
          <template #activator="{ props: activatorProps }">
            <v-btn
              :prepend-icon="mdiCommentQuestionOutline"
              variant="tonal"
              v-bind="activatorProps"
            >
              {{ claimTitle }}
            </v-btn>
          </template>
        </claim-request-dialog>
      </v-card-text>
    </template>
  </map-card>
</template>
