<script
  lang="ts"
  setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import MapDirectionForm from '@/ts/components/places/direction/MapDirectionForm.vue';
import MapDirectionResults from '@/ts/components/places/direction/MapDirectionResults.vue';
import MapCard from '@/ts/components/places/map/MapCard.vue';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import useIsHighContrast from '@/ts/composables/themes/useIsHighContrast';
import makeNotFoundError from '@/ts/errors/redirectable/makeNotFoundError';
import { useLangStore } from '@/ts/stores/lang';
import isNone from '@/ts/utilities/common/isNone';
import debounce from '@/ts/utilities/functions/debounce';
import Direction from '@/ts/utilities/places/directions/direction';
import directionAdapter from '@/ts/utilities/places/directions/directionAdapter';
import directionFromBase64 from '@/ts/utilities/places/directions/directionFromBase64';
import directionToBase64 from '@/ts/utilities/places/directions/directionToBase64';
import { DirectionValues } from '@/ts/utilities/places/directions/types';
import addressToPOI from '@/ts/utilities/places/map/addressToPOI';
import placeToPOI from '@/ts/utilities/places/map/placeToPOI';
import { onMounted, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const lang = useLangStore();
const router = useRouter();
const route = useRoute();
const { mapRef, mapPlace, mapSearch } = injectMapData();
const isHighContrast = useIsHighContrast();
const backTo = useMapPlaceRoute(mapPlace);

const ImplementationFormComponent = directionAdapter?.informationComponent();

const mounting = ref(true);
const loading = ref(false);
const directionValues = ref({} as Partial<DirectionValues>);
const directions = ref(null as Direction[] | null);
const initialOpenedDirection = ref(0);
const openedDirection = ref(null as number | null);

const changeDirectionValues = debounce(async (values: Partial<DirectionValues>) => {
  if (!directionAdapter || !values.origin || !values.destination) {
    directions.value = null;

    await router.replace({
      query: {
        ...route.query,
        ti: '0',
        t: directionToBase64(values),
      },
    });
  } else {
    const fullValues = {
      ...values,
      locale: lang.locale,
    } as DirectionValues;

    const fetchedDirections = await directionAdapter.computeDirection(fullValues);
    openedDirection.value = initialOpenedDirection.value < fetchedDirections.length
      ? initialOpenedDirection.value : 0;
    directions.value = fetchedDirections;
    initialOpenedDirection.value = 0;

    await router.replace({
      query: {
        ...route.query,
        ti: String(openedDirection.value),
        t: directionToBase64(values),
      },
    });
  }

  loading.value = false;
}, 250);

watch(openedDirection, async (value) => {
  if (loading.value) {
    return;
  }

  await router.replace({
    query: {
      ...route.query,
      ti: !isNone(value) ? String(value) : undefined,
    },
  });
});

watch(directionValues, (values) => {
  if (values.origin && values.destination) {
    loading.value = true;
  }

  changeDirectionValues(values);
});

watch(() => route.query.t, (encodedDirection) => {
  if (encodedDirection !== directionToBase64(directionValues.value)) {
    directionValues.value = {
      ...directionAdapter!.formDefaults(),
      ...directionValues.value,
      ...directionFromBase64(encodedDirection),
    };
  }
});

onMounted(() => {
  if (!directionAdapter) {
    throw makeNotFoundError();
  }

  try {
    initialOpenedDirection.value = (
      typeof route.query.ti === 'string' && !Number.isNaN(Number(route.query.ti))
    ) ? Number(route.query.ti) : 0;
  } catch {
    initialOpenedDirection.value = 0;
  }

  const parsedDirection = directionFromBase64(route.query.t);

  directionValues.value = directionFromBase64(route.query.t) ? {
    ...directionAdapter.formDefaults(),
    ...parsedDirection,
  } : {
    ...directionAdapter.formDefaults(),
    destination: (mapPlace.value && placeToPOI(mapPlace.value))
      ?? (mapSearch.value.address && addressToPOI(mapSearch.value.address))
      ?? undefined,
  };

  mounting.value = false;
});
</script>

<template>
  <map-card
    v-if="mapRef && !mounting"
    :back-to="backTo"
    active
  >
    <template #title>
      {{ $t('views.places.direction.title') }}
    </template>
    <app-divider />
    <map-direction-form
      v-model="directionValues"
      direction-id="map-directions-region"
    />
    <template v-if="mapRef?.loaded">
      <app-divider class="mx-4" />
      <map-direction-results
        :key="`high-contrast-${isHighContrast}`"
        v-model:opened-direction="openedDirection"
        :loading="loading"
        :origin="directionValues.origin"
        :destination="directionValues.destination"
        :directions="directions"
        direction-id="map-directions-region"
      />
    </template>
    <v-card-text v-if="ImplementationFormComponent">
      <app-divider class="pb-4" />
      <component :is="ImplementationFormComponent" />
    </v-card-text>
  </map-card>
</template>
