<script
    lang="ts"
    setup
>
import AppDivider from '@/ts/components/common/AppDivider.vue';
import AppLoader from '@/ts/components/common/AppLoader.vue';
import MapCard from '@/ts/components/places/map/MapCard.vue';
import ReviewCreateDialog from '@/ts/components/reviews/ReviewCreateDialog.vue';
import ReviewRatingSummary from '@/ts/components/reviews/ReviewRatingSummary.vue';
import ReviewsList from '@/ts/components/reviews/ReviewsList.vue';
import useMapPlaceRoute from '@/ts/composables/places/map/useMapPlaceRoute';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import translate from '@/ts/utilities/lang/translate';
import { ref } from 'vue';

const { mapRef, mapScrollViewRef, mapPlace, refreshPlaceReviewsSummary } = injectMapData();
const backTo = useMapPlaceRoute(mapPlace);

const reviewed = ref(true);
const createdKey = ref(0);
const onReviewed = (alreadyReviewed: boolean) => {
  reviewed.value = alreadyReviewed;
};

const onReviewCreated = () => {
  createdKey.value += 1;
  reviewed.value = true;
  refreshPlaceReviewsSummary();
};

const onReviewUpdated = () => {
  reviewed.value = true;
  refreshPlaceReviewsSummary();
};
</script>

<template>
  <map-card
    v-if="mapRef"
    :back-to="backTo"
    active
  >
    <template #title>
      <app-loader
        v-if="!mapPlace"
        size="24"
      />
      <span v-else>
        {{ $t('reviews.scoped.over', { name: translate(mapPlace.name) }) }}
      </span>
    </template>
    <template v-if="mapPlace">
      <app-divider />
      <v-card-text>
        <review-rating-summary
          v-if="mapPlace.reviewsSummary"
          :summary="mapPlace.reviewsSummary"
          :class="{ 'mb-3': !reviewed }"
        />
        <v-expand-transition>
          <div
            v-if="!reviewed || !mapPlace.reviewsSummary"
            class="text-center"
          >
            <review-create-dialog
              :reviewable="mapPlace"
              :reviewed="reviewed && !!mapPlace.reviewsSummary"
              @created="onReviewCreated"
            />
          </div>
        </v-expand-transition>
      </v-card-text>
      <app-divider />
      <v-card-title id="reviews-list-elements-description">
        {{ $t('reviews.scoped.count', { n: mapPlace.reviewsSummary?.total ?? 0 }) }}
      </v-card-title>
      <div
        id="reviews-list-behavior-description"
        class="d-sr-only"
      >
        {{ $t('states.list.loadOnScroll') }}
      </div>
      <reviews-list
        v-if="mapPlace.reviewsSummary"
        :key="createdKey"
        :reviewable="mapPlace"
        :scroll-view="mapScrollViewRef"
        aria-labelledby="map-card-title"
        aria-describedby="reviews-list-elements-description reviews-list-behavior-description"
        @reviewed="onReviewed"
        @updated="onReviewUpdated"
      />
    </template>
  </map-card>
</template>
