<script
  lang="ts"
  setup
>
import AccessibilityPriorizationAlert
  from '@/ts/components/accessibility/AccessibilityPriorizationAlert.vue';
import AppDivider from '@/ts/components/common/AppDivider.vue';
import MapCard from '@/ts/components/places/map/MapCard.vue';
import MapPlaceListItem from '@/ts/components/places/map/MapPlaceListItem.vue';
import useAccessibilityPrioritizeCategories
  from '@/ts/composables/accessibility/useAccessibilityPrioritizeCategories';
import useInfiniteScroll from '@/ts/composables/dom/useInfiniteScroll';
import { injectMapData } from '@/ts/composables/places/map/useMapPlaces';
import { computed, ref, watch } from 'vue';
import { useDisplay } from 'vuetify';

const DEFAULT_DISPLAYED_PLACES_LIMIT = 15;
const DEFAULT_DISPLAYED_PLACES_INCREASE = 10;

const {
  mapRef,
  mapScrollViewRef,
  mapPlaces,
  mapPlacesLimit,
  mapPlacesTotal,
  mapPlacesMore,
  mapPlacesOpened,
  mapPlacesDefault,
  onMapAutoMoving,
  onMapListToggle,
} = injectMapData();

const { smAndDown } = useDisplay();

const accessibilityPrioritizeCategories = useAccessibilityPrioritizeCategories();

const displayedPlacesLimit = ref(DEFAULT_DISPLAYED_PLACES_LIMIT);
const displayedRecentlyIncreased = ref(false);

const defaultOpenedCard = computed(() => (
  (!smAndDown.value && !mapPlacesDefault.value) || mapPlacesOpened.value
));
const openedCard = ref(defaultOpenedCard.value);
const displayedFull = computed(() => (
  displayedPlacesLimit.value >= mapPlacesLimit.value
  || displayedPlacesLimit.value >= mapPlacesTotal.value
));
const displayedPlaces = computed(
  () => (mapPlaces.value ?? []).slice(0, displayedPlacesLimit.value),
);

const onToggleMapList = (value: boolean) => {
  openedCard.value = value;
  onMapListToggle(value);
};

watch(mapPlaces, (places) => {
  if (places === null) {
    displayedPlacesLimit.value = DEFAULT_DISPLAYED_PLACES_LIMIT;
    mapScrollViewRef.value?.scroll({ behavior: 'smooth', top: 0 });
  } else if (places.length && !mapPlacesDefault.value) {
    onMapAutoMoving();

    const longitudes = places.slice(0, 15).map((p) => p.address.geometry.coordinates[0]);
    const latitudes = places.slice(0, 15).map((p) => p.address.geometry.coordinates[1]);

    mapRef.value?.fitBounds([{
      longitude: Math.min(...longitudes),
      latitude: Math.min(...latitudes),
    }, {
      longitude: Math.max(...longitudes),
      latitude: Math.max(...latitudes),
    }], { maxZoom: 13 });
  }
});

useInfiniteScroll(mapScrollViewRef, () => {
  if (!displayedRecentlyIncreased.value && !displayedFull.value) {
    displayedRecentlyIncreased.value = true;
    displayedPlacesLimit.value += DEFAULT_DISPLAYED_PLACES_INCREASE;
    setTimeout(() => {
      displayedRecentlyIncreased.value = false;
    }, 150);
  }
});
</script>

<template>
  <map-card
    v-if="mapRef && mapPlaces"
    :model-value="defaultOpenedCard"
    :active="displayedPlaces.length > 0"
    @update:model-value="onToggleMapList"
  >
    <template #title>
      <template v-if="mapPlacesDefault">
        {{
          displayedPlaces.length
            ? $t('views.places.map.list.title.default')
            : $t('views.places.map.list.title.noDefaultInZone')
        }}
      </template>
      <template v-else-if="mapPlacesMore">
        {{ $t('views.places.map.list.title.more', { n: mapPlacesLimit }) }}
      </template>
      <template v-else>
        {{ $t('views.places.map.list.title.classic', { n: mapPlacesTotal }) }}
      </template>
    </template>
    <template v-if="displayedPlaces.length">
      <v-card-text
        v-if="accessibilityPrioritizeCategories.length"
        class="pt-0 px-2 pb-2"
      >
        <accessibility-priorization-alert />
      </v-card-text>
      <div
        id="map-search-list-description"
        class="d-sr-only"
      >
        {{ $t('states.list.loadOnScroll') }}
      </div>
      <v-list
        aria-labelledby="map-card-title"
        aria-describedby="map-search-list-description"
        role="list"
        tabindex="-1"
        class="py-0"
      >
        <template
          v-for="item in displayedPlaces"
          :key="item.id"
        >
          <app-divider />
          <map-place-list-item :place="item" />
        </template>
      </v-list>
      <template v-if="displayedFull && displayedPlacesLimit > DEFAULT_DISPLAYED_PLACES_LIMIT">
        <app-divider />
        <v-card-text class="text-center">
          {{ $t('states.list.end') }}
        </v-card-text>
      </template>
    </template>
  </map-card>
</template>
