<script
  lang="ts"
  setup
>
import SkipLink from '@/ts/components/accessibility/SkipLink.vue';
import MapContextMenu from '@/ts/components/places/map/MapContextMenu.vue';
import MapPlaceMarker from '@/ts/components/places/map/MapPlaceMarker.vue';
import MapPlacesSearch from '@/ts/components/places/map/MapPlacesSearch.vue';
import MglMap from '@/ts/components/places/map/mgl/MglMap.vue';
import MglMapMarker from '@/ts/components/places/map/mgl/MglMapMarker.vue';
import useAnnouncer from '@/ts/composables/pages/useAnnouncer';
import useMapPlaces from '@/ts/composables/places/map/useMapPlaces';
import useMapView from '@/ts/composables/places/map/useMapView';
import focusElement from '@/ts/utilities/dom/focusElement';
import translate from '@/ts/utilities/lang/translate';
import addressToGeoCoordinates from '@/ts/utilities/places/addresses/addressToGeoCoordinates';
import addressToPOI from '@/ts/utilities/places/map/addressToPOI';
import addressToQuery from '@/ts/utilities/places/map/addressToQuery';
import toStrCoordinates from '@/ts/utilities/places/map/mgl/toStrCoordinates';
import { GeoCoordinates } from '@/ts/utilities/places/map/types';
import { mdiMagnifyScan } from '@mdi/js';
import { computed, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { useDisplay } from 'vuetify';

const i18n = useI18n();
const announcer = useAnnouncer();
const { smAndDown } = useDisplay();

const title = ref([i18n.t('views.places.map.title')]);

announcer.announceOnMounted({ title: title.value });

const {
  mapRef,
  mapRegionRef,
  mapScrollViewRef,
  mapTopRef,
  mapCardOpened,
  mapSearchPrependRef,
  mapSearchAppendRef,
  mapSearch,
  mapCenter,
  mapZoom,
  mapLoading,
  mapPlaces,
  mapPlace,
  onSearchChange,
} = useMapPlaces();

const mapView = useMapView();

const mapPaddingLeft = computed(() => (
  !smAndDown.value && mapCardOpened.value
    ? (mapScrollViewRef.value?.offsetWidth ?? 320) + 46
    : 30
));
const mapPadding = computed(() => (smAndDown.value ? {
  top: 180, right: 40, bottom: 60, left: 40,
} : {
  top: 60, right: 30, bottom: 60, left: mapPaddingLeft.value,
}));
const mapAddressMarker = computed(() => (
  mapSearch.value.address ? addressToPOI(mapSearch.value.address) : null
));
const mapAddressMarkerTo = computed(() => ({
  name: 'places.map',
  params: { view: 'address' },
  query: {
    ...addressToQuery(mapSearch.value.address!),
    at: toStrCoordinates(addressToGeoCoordinates(mapSearch.value.address!)),
  },
}));
const mapMarkers = computed(() => {
  const markers = [...(mapPlaces.value || [])];
  if (mapPlace.value && markers.indexOf(mapPlace.value) === -1) {
    markers.unshift(mapPlace.value);
  }

  return markers;
});

watch(mapPlace, (place) => {
  title.value = [i18n.t('views.places.map.title')];
  if (place) {
    title.value.push(translate(place.name));
  }

  announcer.announceAfterTick({
    title: title.value,
    scrollTo: null,
    focus: null,
  });
});

const onFocusMapRegionClick = () => {
  if (mapRegionRef.value) {
    focusElement(mapRegionRef.value.$el);
  }
};
</script>

<template>
  <v-card :rounded="0">
    <div class="map__container position-relative w-100">
      <h1 class="d-sr-only">
        {{ [...title].reverse().join(' | ') }}
      </h1>
      <div
        v-if="mapRef"
        class="map__tools d-flex flex-row-reverse"
      >
        <div
          ref="mapTopRef"
          class="flex-grow-1"
        />
        <div
          :class="{ 'map__aside--mobile': smAndDown }"
          class="
            map__aside d-flex flex-column top-0 left-0 mb-10 mb-md-0
            pt-2 px-1 pb-1 py-md-2 pr-md-2 pl-md-4
          "
        >
          <map-places-search
            :search="mapSearch"
            :categories="mapView?.categories"
            :loading="mapLoading"
            class="map__aside__search"
            @update:search="onSearchChange"
          />
          <div ref="mapSearchPrependRef" />
          <v-card
            v-if="mapView"
            ref="mapRegionRef"
            role="region"
            aria-labelledby="map-card-title"
            tabindex="0"
            class="map__tool map__aside__card mt-2 focusable"
          >
            <div
              ref="mapScrollViewRef"
              class="map__aside__card__content"
            >
              <component :is="mapView.component" />
            </div>
          </v-card>
          <div ref="mapSearchAppendRef" />
          <skip-link
            to="app-footer"
            :title="$t('views.places.map.skipMap')"
          />
        </div>
      </div>
      <mgl-map
        ref="mapRef"
        v-model:center="mapCenter"
        v-model:zoom="mapZoom"
        :padding="mapPadding"
        class="map__view h-100 w-100"
      >
        <template v-if="mapRef && mapView">
          <mgl-map-marker
            v-if="(mapView.markers || mapView.addressMarker) && mapAddressMarker"
            :map="mapRef?.map()"
            :to="mapAddressMarkerTo"
            :coordinates="mapAddressMarker.coordinates as GeoCoordinates"
            :icon="mdiMagnifyScan"
            :title="mapAddressMarker.title"
            color="error"
            @click="onFocusMapRegionClick"
          />
          <template v-if="mapView.markers">
            <map-place-marker
              v-for="place in mapMarkers"
              :key="place.id"
              :map="mapRef"
              :place="place"
            />
          </template>
          <map-context-menu :map="mapRef?.map()" />
        </template>
      </mgl-map>
    </div>
  </v-card>
</template>

<style
  lang="scss"
  scoped
>
  :global(.map__tool) {
    pointer-events: auto !important;
  }

  .map__container {
    height: calc(var(--viewport-height, 100vh) - var(--v-layout-top));
    border-radius: inherit;

    .map__tools {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 5;
      pointer-events: none;
    }

    .map__aside {
      min-width: 316px;
      width: 100%;
      max-width: 460px;
      max-height: 100%;

      &.map__aside--mobile {
        width: 100%;
        max-width: 100%;
      }

      :deep(form.map__aside__search > .v-card) {
        position: static;
      }

      .map__aside__card {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        .map__aside__card__content {
          overflow-y: scroll;
        }
      }
    }
  }
</style>
