<script
  lang="ts"
  setup
>
import SendingCampaign from '@/ts/api/models/sendingCampaign';
import DynamicAnchor from '@/ts/components/routes/DynamicAnchor.vue';
import { Awaitable } from '@/ts/utilities/types/awaitable';
import { mdiMagnifyScan } from '@mdi/js';
import { useDisplay } from 'vuetify';

defineProps<{
  instance: SendingCampaign;
  refresh: () => Awaitable<void>;
  invalidate: () => Awaitable<void>;
  onSingle?: boolean;
}>();

const { xs } = useDisplay();
</script>

<template>
  <dynamic-anchor
    :href="`/-actions/sending-campaigns/preview/${instance.id}`"
    :prepend-icon="mdiMagnifyScan"
    :size="!xs ? 'large' : undefined"
    btn
  >
    {{ $t('resources.sendingCampaigns.actions.preview.action') }}
  </dynamic-anchor>
</template>
