<script
  setup
  lang="ts"
>
import SendingCampaign from '@/ts/api/models/sendingCampaign';
import {
  mdiCheckCircleOutline,
  mdiDotsHorizontalCircleOutline,
  mdiPauseCircleOutline,
  mdiPlayCircleOutline,
} from '@mdi/js';

defineProps<{
  campaign: SendingCampaign;
}>();
</script>

<template>
  <v-chip
    v-if="campaign.finishedAt"
    :prepend-icon="mdiCheckCircleOutline"
    color="success"
  >
    {{ $t('resources.sendingCampaigns.states.finished') }}
  </v-chip>
  <v-chip
    v-else-if="campaign.startedAt"
    :prepend-icon="mdiPlayCircleOutline"
    color="warning"
  >
    {{ $t('resources.sendingCampaigns.states.started') }}
  </v-chip>
  <v-chip
    v-else-if="campaign.dispatchedAt"
    :prepend-icon="mdiDotsHorizontalCircleOutline"
    color="info"
  >
    {{ $t('resources.sendingCampaigns.states.dispatched') }}
  </v-chip>
  <v-chip
    v-else
    :prepend-icon="mdiPauseCircleOutline"
  >
    {{ $t('resources.sendingCampaigns.states.pending') }}
  </v-chip>
</template>

<style
  scoped
  lang="scss"
>

</style>
