<script
  setup
  lang="ts"
>
import SendingCampaign from '@/ts/api/models/sendingCampaign';
import VWrapAfter from '@/ts/components/common/VWrapAfter.vue';
import { useLangStore } from '@/ts/stores/lang';
import formatNumber from '@/ts/utilities/math/formatNumber';
import sumBy from '@/ts/utilities/math/sumBy';
import withUnit from '@/ts/utilities/math/withUnit';
import {
  mdiAccountCircleOutline,
  mdiCheckCircleOutline,
  mdiCloseCircleOutline,
  mdiDotsHorizontalCircleOutline,
  mdiSendCircleOutline,
} from '@mdi/js';
import { computed } from 'vue';

const props = defineProps<{
  campaign: SendingCampaign;
}>();

const lang = useLangStore();

const total = computed(() => sumBy(Object.values(props.campaign.recipientsCounts)));
const rate = computed(() => (
  total.value > 0 ? (props.campaign.recipientsCounts.succeeded / total.value) : null
));
const rateColor = computed(() => {
  if (rate.value === null) {
    return undefined;
  }

  if (rate.value > 0.9) {
    return 'success';
  }

  return rate.value > 0.7 ? 'warning' : 'error';
});
const ratePercentage = computed(() => (rate.value === null ? null : withUnit(
  formatNumber(rate.value * 100, lang.locale, { maximumFractionDigits: 1 }),
  'percent',
)));
</script>

<template>
  <div>
    <div class="d-flex flex-wrap mb-n1 mr-n1">
      <v-chip
        :prepend-icon="mdiAccountCircleOutline"
        class="mb-1 mr-1"
      >
        {{ $t('resources.sendingCampaigns.labels.summary.recipients', { n: total }) }}
      </v-chip>
      <v-chip
        :prepend-icon="mdiSendCircleOutline"
        :color="rateColor"
        class="mb-1 mr-1"
      >
        {{ $t('resources.sendingCampaigns.labels.summary.rate', { value: ratePercentage ?? '-' }) }}
      </v-chip>
      <template v-if="campaign.startedAt">
        <v-wrap-after />
        <v-chip
          :prepend-icon="mdiDotsHorizontalCircleOutline"
          color="info"
          class="mb-1 mr-1"
        >
          {{
            $t('resources.sendingCampaigns.labels.summary.pending', {
              n: campaign.recipientsCounts.pending,
            })
          }}
        </v-chip>
        <v-chip
          :prepend-icon="mdiCheckCircleOutline"
          color="success"
          class="mb-1 mr-1"
        >
          {{
            $t('resources.sendingCampaigns.labels.summary.succeeded', {
              n: campaign.recipientsCounts.succeeded,
            })
          }}
        </v-chip>
        <v-chip
          :prepend-icon="mdiCloseCircleOutline"
          color="error"
          class="mb-1 mr-1"
        >
          {{
            $t('resources.sendingCampaigns.labels.summary.failed', {
              n: campaign.recipientsCounts.failed,
            })
          }}
        </v-chip>
      </template>
    </div>
  </div>
</template>

<style
  scoped
  lang="scss"
>

</style>
