<script
  setup
  lang="ts"
>
import SendingCampaign from '@/ts/api/models/sendingCampaign';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import ResourceDateValue from '@/ts/components/resources/core/data/ResourceDateValue.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceTranslationValue from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import SendingCampaignStatusChip from '@/ts/components/resources/sendingCampaigns/SendingCampaignStatusChip.vue';
import SendingCampaignSummary from '@/ts/components/resources/sendingCampaigns/SendingCampaignSummary.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';

defineProps<{
  portals: ResourcePortals;
  instance: SendingCampaign;
}>();
</script>

<template>
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.name">
    <resource-translation-value :value="instance.name" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.campaignType">
    <resource-instance-value :instance="instance.campaignType" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.status">
    <sending-campaign-status-chip :campaign="instance" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.summary">
    <sending-campaign-summary :campaign="instance" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.startedAt">
    <resource-date-value
      :date="instance.startedAt"
      time
    />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.finishedAt">
    <resource-date-value
      :date="instance.finishedAt"
      time
    />
  </teleport-to-portal>
</template>
