<script
  lang="ts"
  setup
>
import VAddressInput from '@/ts/components/forms/address/VAddressInput.vue';
import VCategoryInput from '@/ts/components/forms/instances/VCategoryInput.vue';
import VSelectInput from '@/ts/components/forms/selects/VSelectInput.vue';
import VFieldset from '@/ts/components/forms/VFieldset.vue';
import { Input } from '@/ts/composables/forms/useInput';
import useCol from '@/ts/composables/layouts/useCol';
import FeatureName from '@/ts/utilities/features/featureName';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';

defineProps<{
  descriptionInput: Input;
  mapCenterInput: Input;
  mapZoomInput: Input;
  mapSearchableCategoriesInput: Input;
  mapDefaultCategories: Input;
}>();

const i18n = useI18n();

const largeCol = useCol('large');

const mapZoomItems = computed(() => [10, 11, 12, 13].map((zoom) => ({
  value: zoom, title: i18n.t(`resources.configs.values.mapZoom.${zoom}`),
})));
</script>

<template>
  <v-col cols="12">
    <v-fieldset :legend="$t('resources.configs.labels.general')">
      <v-row dense>
        <v-col v-bind="largeCol">
          <v-text-field v-bind="descriptionInput.props" />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
  <v-col
    v-if="FeatureName.PLACES.check()"
    cols="12"
  >
    <v-fieldset :legend="$t('resources.configs.labels.map')">
      <v-row dense>
        <v-col v-bind="largeCol">
          <v-address-input
            address-type="municipality"
            v-bind="mapCenterInput.props"
          />
        </v-col>
        <v-col v-bind="largeCol">
          <v-select-input
            :items="mapZoomItems"
            v-bind="mapZoomInput.props"
          />
        </v-col>
        <v-col v-bind="largeCol">
          <v-category-input
            multiple
            v-bind="mapSearchableCategoriesInput.props"
          />
        </v-col>
        <v-col v-bind="largeCol">
          <v-category-input
            multiple
            v-bind="mapDefaultCategories.props"
          />
        </v-col>
      </v-row>
    </v-fieldset>
  </v-col>
</template>
