<script
    lang="ts"
    setup
>
import useConfigInputs from '@/ts/composables/resources/configs/useConfigInputs';

const props = useConfigInputs();
</script>

<template>
  <slot v-bind="props" />
</template>
