<script
  setup
  lang="ts"
>
import Config from '@/ts/api/models/config';
import TeleportToPortal from '@/ts/components/common/TeleportToPortal.vue';
import CommonDataProvider from '@/ts/components/resources/composables/CommonDataProvider.vue';
import ResourceAddressValue from '@/ts/components/resources/core/data/ResourceAddressValue.vue';
import ResourceInstanceValue from '@/ts/components/resources/core/data/ResourceInstanceValue.vue';
import ResourceListValue from '@/ts/components/resources/core/data/ResourceListValue.vue';
import ResourceTranslationValue from '@/ts/components/resources/core/data/ResourceTranslationValue.vue';
import { ResourcePortals } from '@/ts/composables/resources/core/useResourcePortals';
import { useI18n } from 'vue-i18n';

defineProps<{
  portals: ResourcePortals;
  instance: Config;
}>();

const i18n = useI18n();

const mapZoomLabel = (zoom: number) => i18n.t(
  `resources.configs.values.mapZoom.${zoom}`,
);
</script>

<template>
  <common-data-provider
    :instance="instance"
    :portals="portals"
  />
  <teleport-to-portal :to="portals.description">
    <resource-translation-value :value="instance.description" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.mapCenter">
    <resource-address-value :address="instance.mapCenter" />
  </teleport-to-portal>
  <teleport-to-portal :to="portals.mapZoom">
    {{ mapZoomLabel(instance.mapZoom) }}
  </teleport-to-portal>
  <teleport-to-portal :to="portals.mapSearchableCategories">
    <resource-list-value
      v-slot="{ item }"
      :items="instance.mapSearchableCategories"
    >
      <resource-instance-value :instance="item" />
    </resource-list-value>
  </teleport-to-portal>
  <teleport-to-portal :to="portals.mapDefaultCategories">
    <resource-list-value
      v-slot="{ item }"
      :items="instance.mapDefaultCategories"
    >
      <resource-instance-value :instance="item" />
    </resource-list-value>
  </teleport-to-portal>
</template>
