<script
  lang="ts"
  setup
>
import Config from '@/ts/api/models/config';
import ConfigAcceslibreDialog from '@/ts/components/resources/configs/services/ConfigAcceslibreDialog.vue';
import ConfigDataGouvDialog from '@/ts/components/resources/configs/services/ConfigDataGouvDialog.vue';
import ConfigFacebookLoginDialog from '@/ts/components/resources/configs/services/ConfigFacebookLoginDialog.vue';
import ConfigFranceConnectLoginDialog
  from '@/ts/components/resources/configs/services/ConfigFranceConnectLoginDialog.vue';
import ConfigGoogleLoginDialog from '@/ts/components/resources/configs/services/ConfigGoogleLoginDialog.vue';
import ConfigHitineraireDialog from '@/ts/components/resources/configs/services/ConfigHitineraireDialog.vue';
import ConfigInfoLocaleDialog from '@/ts/components/resources/configs/services/ConfigInfoLocaleDialog.vue';
import ConfigMatomoDialog from '@/ts/components/resources/configs/services/ConfigMatomoDialog.vue';
import useCol from '@/ts/composables/layouts/useCol';
import env from '@/ts/env';
import { useAppStore } from '@/ts/stores/app';
import { useSnackbarStore } from '@/ts/stores/snackbar';
import timestampToDate from '@/ts/utilities/dates/timestampToDate';
import mapValues from '@/ts/utilities/objects/mapValues';
import { Dictionary } from '@/ts/utilities/types/dictionary';
import { computed, ref, triggerRef } from 'vue';
import { useI18n } from 'vue-i18n';

const props = defineProps<{
  config: Config;
}>();

const i18n = useI18n();
const app = useAppStore();
const snackbar = useSnackbarStore();
const col = useCol();

const services = ref(props.config.services ?? {});

const servicesComponents = {
  facebookLogin: ConfigFacebookLoginDialog,
  googleLogin: ConfigGoogleLoginDialog,
  franceConnectLogin: ConfigFranceConnectLoginDialog,
  hitineraire: ConfigHitineraireDialog,
  acceslibre: ConfigAcceslibreDialog,
  infolocale: ConfigInfoLocaleDialog,
  datagouv: ConfigDataGouvDialog,
  matomo: ConfigMatomoDialog,
};

const servicesConfigurable = computed(() => mapValues(
  servicesComponents,
  (_, service) => !env.services.configurable.length
    || env.services.configurable.indexOf(service) !== -1,
) as Dictionary<boolean>);
const servicesData = computed(() => mapValues(
  servicesComponents,
  (_, service) => (services.value[service] ?? {}),
) as Dictionary<Dictionary>);

const onUpdateConfig = () => {
  services.value = props.config.services ?? {};
  triggerRef(services);
  snackbar.toast(i18n.t('resources.configs.services.update.toast'));
  app.markUpdated();
};
</script>

<template>
  <v-card>
    <v-card-text class="pb-0">
      <div class="text-overline">
        {{ $t('resources.configs.labels.services') }}
      </div>
      <p class="text-body-1 mb-0">
        {{ $t('resources.configs.services.description') }}
      </p>
    </v-card-text>
    <v-card-text>
      <v-row dense>
        <template
          v-for="(component, service) in servicesComponents"
          :key="`services-${service}`"
        >
          <v-col
            v-if="servicesConfigurable[service]"
            v-bind="col"
          >
            <component
              :is="component"
              :config="config"
              :activated-at="timestampToDate(servicesData[service].activatedAt)"
              :expire-at="timestampToDate(servicesData[service].expireAt)"
              :data="servicesData[service]"
              @update:config="onUpdateConfig"
            />
          </v-col>
        </template>
      </v-row>
    </v-card-text>
  </v-card>
</template>
