<script
    lang="ts"
    setup
>
import AppPageLayout from '@/ts/components/layouts/AppPageLayout.vue';
import useAnnouncer from '@/ts/composables/pages/useAnnouncer';
import { mdiHomeOutline } from '@mdi/js';
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { RouteLocationRaw } from 'vue-router';

const i18n = useI18n();

const props = defineProps<{
  title: string;
  description: string;
  action?: {
    to: RouteLocationRaw;
    icon: string;
    label: string;
  };
}>();

useAnnouncer().announceOnMounted({ title: props.title });

const actionOrDefault = computed(() => (
  props.action ? props.action : {
    label: i18n.t('errors.defaults.backToHome'),
    icon: mdiHomeOutline,
    to: { name: 'home' },
  }
));
</script>

<template>
  <app-page-layout :title="title">
    <p class="text-large">
      {{ description }}
    </p>
    <v-btn
      :to="actionOrDefault.to"
      color="primary"
      exact
    >
      <v-icon
        :icon="actionOrDefault.icon"
        start
      />
      {{ actionOrDefault.label }}
    </v-btn>
  </app-page-layout>
</template>
