<script
  lang="ts"
  setup
>
import AppErrorView from '@/ts/views/errors/AppErrorView.vue';
</script>

<template>
  <app-error-view
    :title="$t('errors.forbidden.title')"
    :description="$t('errors.forbidden.description')"
  />
</template>
