<script
  lang="ts"
  setup
>
import AppErrorView from '@/ts/views/errors/AppErrorView.vue';
import { mdiAccountOutline } from '@mdi/js';
import { useI18n } from 'vue-i18n';

const i18n = useI18n();

const action = {
  label: i18n.t('errors.unauthorized.login'),
  icon: mdiAccountOutline,
  to: { name: 'auth.sign-in' },
};
</script>

<template>
  <app-error-view
    :title="$t('errors.unauthorized.title')"
    :description="$t('errors.unauthorized.description')"
    :action="action"
  />
</template>
